.bold {
    font-weight: bold
    }
.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
    margin: 0 5pt
    }
.calibre1 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 1em;
    margin: 0
    }
.calibre2 {
    display: block
    }
.calibre3 {
    font-size: 1.83333em;
    line-height: 1.2
    }
.calibre4 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 1.5em;
    margin: 0
    }
.calibre5 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0;
    margin: 0
    }
.calibre6 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    padding-bottom: 0;
    padding-top: 0;
    text-indent: 1.5em;
    margin: 0 0 0 19pt
    }
.calibre7 {
    display: block;
    text-indent: 0;
    margin: 0 0 0 2em
    }
.italic {
    font-style: italic
    }
.mbppagebreak {
    border-bottom: 0;
    border-top: 0;
    display: block;
    padding-bottom: 0;
    padding-top: 0;
    text-indent: 1.5em;
    margin: 0
    }

h1
{
text-align:center;
Font-size:1.3em;
}
p{
text-align:justify;
text-indent:1.5em;
}
