p {
  margin:0 auto 0 auto;  
  font-size:0.8em;
  text-indent:0em;
  text-align:center;
}

.bos06{margin-top:0.6em;}
.bos1{margin-top:1em;}
.bos2{margin-top:2em;}
.bos12{margin-top:12em;}
.bos16{margin-top:16em;}

.yazar p {text-align:justify;}
.y_baslik{font-size:1em;font-weight:bold;margin-bottom:0.6em;}

.yevi{text-align:center;}
.k0{font-size:1.5em;font-weight:bold;}
.k1{font-size:2.5em;font-weight:bold;}
.k2{font-size:1.1em;}
.b1{font-size:1.3em;font-weight:bold;}
.b2{font-size:1em;}
