.calibre {
  display: block;
  font-size: 1.29167em;
  line-height: 1.2;
  padding-left: 0;
  padding-right: 0;
  margin: 0 5pt;
}
.calibre1 {
  display: block;
}
.calibre2 {
  height: auto;
  max-width: 100%;
  width: auto;
}
.calibre6 {
  display: block;
  margin: 1em 0;
  text-indent: 0.5em;
}
.calibre9 {
  display: block;
  font-size: 1.54839em;
  font-weight: bold;
  line-height: 1.2;
  margin: 0.67em 0;
}
.calibre10 {
  line-height: 1.2;
}
.calibre11 {
  display: block;
  font-size: 1.29032em;
  font-weight: bold;
  line-height: 1.2;
  margin: 0.83em 0;
}
.calibre12 {
  font-size: 0.75em;
  line-height: 1.2;
  vertical-align: super;
}
.font {
  font-family: "Arial", sans-serif;
  font-size: 1.29032em;
  font-weight: bold;
  line-height: 1.2;
}
.font1 {
  font-family: "Tahoma", sans-serif;
  font-size: 0.58065em;
  font-weight: bold;
}
.font2 {
  font-family: "Times New Roman", serif;
  font-size: 0.77419em;
}
.font3 {
  font-family: "Arial", sans-serif;
  font-size: 0.64583em;
  font-weight: bold;
  line-height: 1.2;
}
.font5 {
  font-family: "Times New Roman", serif;
  font-size: 0.77419em;
  font-style: italic;
}
.font6 {
  font-family: "Arial", sans-serif;
  font-size: 0.58065em;
  font-weight: bold;
}
.font7 {
  font-family: "Arial", sans-serif;
  font-size: 0.775em;
  font-weight: bold;
  line-height: 1.2;
}
.font9 {
  font-family: "Times New Roman", serif;
  font-size: 0.77419em;
  font-style: italic;
  font-weight: bold;
}
.font10 {
  font-family: "Georgia", serif;
  font-size: 0.58065em;
  font-weight: bold;
}
.font11 {
  font-family: "Georgia", serif;
  font-size: 0.58065em;
  font-style: italic;
  font-weight: bold;
}
.font12 {
  font-family: "Calibri", sans-serif;
  font-size: 0.77419em;
  font-weight: bold;
}
