@font-face {
	font-family: "Georgia";
	src: url(../Fonts/Georgia.ttf)
}

@font-face {
	font-family: "Georgia";
	font-style: italic;
	src: url(../Fonts/Georgia-Italic.ttf)
}

@font-face {
	font-family: "Georgia";
	font-weight: bold;
	src: url(../Fonts/Georgia-Bold.ttf)
}