<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistName</key>
	<string>Yavuz Bahadıroğlu</string>
	<key>book-info</key>
	<dict>
		<key>cover-image-hash</key>
		<string>A9E216CE352F88E743AA218D635D124A</string>
		<key>cover-image-path</key>
		<string>cover.jpeg</string>
		<key>package-file-hash</key>
		<string>C05224EA4CC8E8ACACB76FD9407E60EB</string>
		<key>publisher-unique-id</key>
		<string>7de3b173-1ef7-4f22-91a7-5202958d9925</string>
		<key>unique-id</key>
		<integer>2968245541348272112</integer>
	</dict>
	<key>itemName</key>
	<string>Mısır'a Doğru</string>
	<key>playlistName</key>
	<string>Mısır'a Doğru</string>
	<key>releaseDate</key>
	<string>2011-07-30T15:31:06+00:00</string>
	<key>sort-artist</key>
	<string>Bahadıroğlu, Yavuz</string>
	<key>sort-artist-status</key>
	<integer>3</integer>
</dict>
</plist>
