@namespace h "http://www.w3.org/1999/xhtml";
h1 { font-size: 20pt;
	 font-weight: bold;
	 text-align: center;
	}

h2 { font-size: 16pt;
	 font-weight: bold;
	 text-align: center;
	}

p { text-align: justify;
	text-indent : 20px
}

.p1{font-size: 12pt;
	font-weight: normal;
	text-align: center;
}

.firstletter {
	float: left;
	font-size: 3em;
	line-height: 1;
	font-weight: bold;
	margin-right: 0.2em;
}