@charset utf-8;
p {
  font-size:0.85em;
	margin-top:0em;
  margin-bottom:0em;
  text-indent:0em;
  text-align:left;
}
.baslik{margin-top:1em;margin-bottom:0.8em;font-weight:bold;font-size: 100%;}
.baslik2{text-align:center;margin-top:1em;font-weight:bold;font-size: 100%;}

.baslik3{text-align:center;margin-bottom:0.8em;font-size: 90%;}

.tablo{
  border: 0px;
  width:100%;
  }