.calibre {
  display: block;
  font-size: 1.125em;
  line-height: 1.2;
  padding-left: 0;
  padding-right: 0;
  margin: 0 5pt;
}
.calibre1 {
  border-bottom: 0;
  border-top: 0;
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  text-indent: 1.5em;
  margin: 0;
}
.calibre2 {
  font-family: "Sylfaen", "serif";
  font-size: 0.88889em;
  line-height: 1.2;
}
.calibre3 {
  font-style: italic;
}
.calibre4 {
  display: block;
}
.calibre5 {
  height: 258px;
  width: 359px;
}
.calibre6 {
  border-bottom: 0;
  border-top: 0;
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  text-align: center;
  text-indent: 15pt;
  margin: 0;
}
.calibre7 {
  height: 106px;
  width: 361px;
}
.calibre8 {
  font-weight: bold;
}
.calibre9 {
  font-family: "Times New Roman", "serif";
  font-size: 1.22222em;
  line-height: 1.2;
}
.calibre10 {
  font-size: 1.22222em;
  line-height: 1.2;
}
.calibre11 {
  border-bottom: 0;
  border-top: 0;
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  text-align: justify;
  text-indent: 1.5em;
  margin: 0;
}
.calibre12 {
  background: black;
  color: white;
  font-size: 0.88889em;
  line-height: 1.2;
}
.calibre13 {
  color: white;
  font-family: "Sylfaen", "serif";
  font-size: 0.88889em;
  line-height: 1.2;
}
.calibre14 {
  font-size: 0.88889em;
  line-height: 1.2;
}
.calibre15 {
  color: white;
  font-size: 0.88889em;
  line-height: 1.2;
}
.calibre16 {
  font-size: 0.75em;
  line-height: 1.2;
  vertical-align: super;
}
.calibre17 {
  font-size: 0.88889em;
  line-height: 1.2;
  vertical-align: super;
}
.calibre18 {
  font-size: 1em;
  line-height: 1.2;
}
.calibre19 {
  font-family: "MS Mincho";
  font-size: 0.88889em;
  line-height: 1.2;
}
.calibre20 {
  font-family: "TR LCD", "sans-serif";
  font-size: 0.88889em;
  line-height: 1.2;
}
.calibre21 {
  border-bottom: 0;
  border-top: 0;
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  text-align: center;
  text-indent: 8pt;
  margin: 0;
}
.calibre22 {
  border-bottom: 0;
  border-top: 0;
  display: block;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  text-indent: 1.5em;
}
.calibre23 {
  height: 168px;
  width: 333px;
}
.calibre24 {
  display: block;
}
.calibre25 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1.22222em;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  margin: 0.83em 0;
}
.calibre26 {
  line-height: 1.2;
}
.calibre27 {
  height: 170px;
  width: 223px;
}
.calibre28 {
  height: 69px;
  width: 227px;
}
.calibre29 {
  border-bottom: 0;
  border-top: 0;
  display: block;
  float: left;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  text-indent: 1.5em;
}
.calibre30 {
  height: 168px;
  width: 221px;
}
.calibre31 {
  height: 68px;
  width: 223px;
}
.calibre32 {
  border-bottom: 0;
  border-top: 0;
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  text-align: justify;
  text-indent: 1.5em;
  margin: 0 0 0 11pt;
}
.calibre33 {
  font-size: 1em;
  line-height: 1.2;
  vertical-align: sub;
}
.calibre34 {
  font-style: normal;
}
.calibre35 {
  display: block;
  line-height: 1.2;
}
.calibre36 {
  color: windowtext;
  display: none;
  text-decoration: none;
}
.calibre37 {
  font-size: 0.88889em;
  line-height: 1.2;
  vertical-align: sub;
}
.font {
  font-family: "Century Gothic", "sans-serif";
}
.font1 {
  font-family: "Constantia", "serif";
}
.font2 {
  font-family: "Impact", "sans-serif";
}
.font3 {
  font-family: "Sylfaen", "serif";
}
.font4 {
  font-family: "Arial Narrow", "sans-serif";
}
.font5 {
  font-family: "Courier New";
}
.font6 {
  font-family: "Times New Roman", "serif";
}
.font7 {
  font-family: "Lucida Sans Unicode", "sans-serif";
}
.font8 {
  font-family: "Franklin Gothic Medium", "sans-serif";
}
.font9 {
  font-family: "AngsanaUPC", "serif";
}
.font10 {
  font-family: "Tahoma", "sans-serif";
}
.msohyperlink {
  color: blue;
  text-decoration: underline;
}
.msonormal {
  border-bottom: 0;
  border-top: 0;
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  text-align: center;
  margin: 0;
}
.msotoc {
  border-bottom: 0;
  border-top: 0;
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  tab-stops: right dotted 277.3pt;
  text-indent: 1.5em;
  margin: 0 0 0 12pt;
}
.msotocheading {
  border-bottom: 0;
  border-top: 0;
  color: #2E74B5;
  display: block;
  font-family: "Calibri Light", "sans-serif";
  font-size: 1.22222em;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  page-break-after: avoid;
  text-align: center;
  margin: 0;
}
.wordsection {
  border-bottom: 0;
  border-top: 0;
  display: block;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  page: WordSection1;
  text-indent: 1.5em;
}
.pcalibre:visited {
  color: purple;
  text-decoration: underline;
}
.pcalibre1:link {
  color: blue;
  text-decoration: underline;
}
