.block_ {
    display: block;
    font-weight: bold;
    text-align: center;
    text-indent: 0;
    margin: 6pt 0;
    padding: 0
    }
.block_1 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.875em;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 6pt 0;
    padding: 0
    }
.block_2 {
    display: block;
    font-size: 0.875em;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 0;
    padding: 0
    }
.block_3 {
    display: block;
    font-style: italic;
    text-align: justify;
    text-indent: 8.5pt;
    margin: 6pt 0;
    padding: 0
    }
.block_4 {
    display: block;
    font-style: italic;
    text-align: right;
    text-indent: 36pt;
    margin: 0;
    padding: 0
    }
.block_5 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.875em;
    line-height: 1.2;
    text-align: right;
    text-indent: 36pt;
    margin: 0;
    padding: 0
    }
.block_6 {
    color: #365F91;
    display: block;
    font-family: "Cambria", serif;
    font-size: 1.25em;
    line-height: 1.2;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: left;
    text-indent: 0;
    margin: 12pt 0 0;
    padding: 0
    }
.block_7 {
    color: black;
    display: block;
    font-family: "Cambria", serif;
    text-align: justify;
    text-indent: 8.5pt;
    margin: 6pt 0 5pt;
    padding: 0
    }
.block_8 {
    display: block;
    font-family: "Cambria", serif;
    font-weight: bold;
    text-align: justify;
    text-indent: 8.5pt;
    margin: 6pt 0;
    padding: 0
    }
.block_9 {
    display: block;
    font-weight: bold;
    page-break-after: avoid;
    text-align: center;
    text-indent: 8.5pt;
    text-transform: uppercase;
    margin: 12pt 0 3pt;
    padding: 0
    }
.block_10 {
    display: block;
    text-align: justify;
    text-indent: 36pt;
    margin: 0;
    padding: 0
    }
.block_11 {
    display: block;
    text-align: right;
    text-indent: 36pt;
    margin: 0;
    padding: 0
    }
.block_12 {
    display: block;
    text-align: justify;
    text-indent: 8.5pt;
    margin: 6pt 0;
    padding: 0
    }
.block_13 {
    display: block;
    font-style: italic;
    text-align: justify;
    text-indent: 36pt;
    margin: 0;
    padding: 0
    }
.block_14 {
    color: black;
    display: block;
    text-align: justify;
    text-indent: 36pt;
    margin: 0;
    padding: 0
    }
.block_15 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.875em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 36pt;
    margin: 0;
    padding: 0
    }
.block_16 {
    display: block;
    font-weight: bold;
    text-align: justify;
    text-indent: 36pt;
    margin: 0;
    padding: 0
    }
.calibre {
    color: #000;
    display: block;
    font-family: "Calibri", sans-serif;
    font-size: 1em;
    line-height: 1.2;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    text-decoration: none
    }
.calibre2 {
    font-style: italic
    }
.calibre3 {
    white-space: pre-wrap
    }
.tab {
    white-space: pre-wrap
    }
.text_ {
    color: #000
    }
.text_1 {
    color: #06C;
    text-decoration: underline
    }
