body{margin-left:2%;margin-right:2%;margin-top:2%;margin-bottom:2%}
p{text-indent:2em;margin-left:0;margin-right:0;text-align:justify;margin-top:0;margin-bottom:0;font-family:Cambria,serif;font-size:127%;background:white}
.p0{text-indent:0;margin-left:0;text-align:center}
.p1{text-indent:0;margin-left:0}
.p2{text-indent:-.2em;margin-left:0;text-align:center}
.p4{text-indent:-.2em;margin-left:0}
.p5{text-align:center}
.p6{text-indent:1.1em;margin-left:0}
.t2{font-size:1.9em}
.t3{font-size:3.1em}
.t4{font-size:1.3em}
.t5{font-size:.65em;vertical-align:super}
.t7{font-size:.86em}