p{font-family:"Century751 SeBd BT";font-size:100%}
.p0{text-indent:0;margin-left:0;line-height:108%;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:.73em}
.p1{text-indent:0;margin-left:0;line-height:108%;margin-right:0;text-align:center;widows:1;orphans:1;margin-top:0;margin-bottom:.73em}
.p2{text-indent:0;margin-left:0;line-height:108%;margin-right:0;text-align:center;widows:1;orphans:1;margin-top:0;margin-bottom:0}
.p3{text-indent:1.3em;margin-left:0;line-height:108%;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:.73em}
h1{font-family:"Century751 SeBd BT";font-size:109%;font-weight:normal}
.h10{text-indent:0;margin-left:0;line-height:108%;margin-right:0;text-align:center;widows:1;orphans:1;margin-top:0;margin-bottom:.67em}
.t2{font-size:2.4em;line-height:108%;font-weight:bold}
.t3{font-size:.73em;line-height:108%}
.t4{font-size:.73em;line-height:108%;font-weight:bold}
.t5{font-size:.64em;line-height:108%}