.calibre {
    display: block;
    font-size: 1.125em;
    line-height: 1.2;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    line-height: 1.2;
    padding-bottom: 0;
    padding-top: 0;
    text-indent: 1.5em;
    margin: 0
    }
.calibre2 {
    font-size: 0.66667em
    }
.calibre3 {
    font-style: italic
    }
.calibre4 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    line-height: 1.2;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 1.5em;
    margin: 0
    }
.calibre5 {
    font-weight: bold
    }
.calibre6 {
    display: block
    }
.calibre7 {
    font-size: 1em;
    line-height: 1.2;
    vertical-align: super
    }
.calibre8 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    line-height: 1.2;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
    margin: 0
    }
.calibre9 {
    font-size: 1em;
    line-height: 1.2
    }
.calibre10 {
    font-family: "Book Antiqua", "serif";
    font-size: 1em;
    line-height: 1.2
    }
.calibre11 {
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1.33333em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 0.67em 0
    }
.calibre12 {
    line-height: 1.2
    }
.calibre13 {
    font-size: 0.91667em;
    line-height: 1.2
    }
.calibre14 {
    font-size: 0.88889em;
    line-height: 1.2
    }
.calibre15 {
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 1.67em 0
    }
.calibre16 {
    font-family: "Sylfaen", "serif";
    font-size: 1.33333em;
    line-height: 1.2
    }
.calibre17 {
    font-size: 1.33333em;
    line-height: 1.2
    }
.calibre18 {
    display: block;
    line-height: 1.2
    }
.calibre19 {
    font-family: "Sylfaen", "serif"
    }
.calibre20 {
    font-family: "Sylfaen", "serif";
    font-weight: normal
    }
.calibre21 {
    font-family: "Sylfaen", "serif";
    font-size: 1em;
    line-height: 1.2
    }
.calibre22 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
    text-indent: 1.5em
    }
.calibre23 {
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1.22222em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 0.83em 0
    }
.calibre24 {
    font-family: "Sylfaen", "serif";
    font-size: 1.09091em;
    line-height: 1.2
    }
.calibre25 {
    display: block
    }
.calibre26 {
    font-family: "Book Antiqua", "serif";
    font-size: 0.88889em;
    line-height: 1.2
    }
.calibre27 {
    font-size: 0.88889em;
    line-height: 1.2;
    vertical-align: super
    }
.calibre28 {
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 17pt;
    margin: 1.67em 0
    }
.calibre29 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    line-height: 1.2;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 16pt;
    margin: 0
    }
.calibre30 {
    text-decoration: underline
    }
.calibre31 {
    line-height: 1.2;
    text-decoration: none
    }
.calibre32 {
    font-family: "Franklin Gothic Medium Cond", "sans-serif";
    font-size: 0.88889em;
    line-height: 1.2
    }
.calibre33 {
    font-family: "Franklin Gothic Medium Cond", "sans-serif"
    }
.calibre34 {
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 0.77778em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 2.33em 0
    }
.calibre35 {
    font-family: "Sylfaen", "serif";
    font-size: 1.28571em;
    font-weight: normal;
    line-height: 1.2
    }
.calibre36 {
    font-family: "Sylfaen", "serif";
    font-size: 1.14286em;
    font-weight: normal;
    line-height: 1.2
    }
.calibre37 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    line-height: 1.2;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 15pt;
    margin: 0
    }
.calibre38 {
    display: block;
    line-height: 1.2
    }
.calibre39 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    line-height: 1.2;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 14pt;
    margin: 0
    }
.calibre40 {
    font-size: 0.75em;
    line-height: 1.2;
    vertical-align: super
    }
.calibre41 {
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 1.33em 0
    }
.calibre42 {
    font-family: "Sylfaen", "serif";
    font-size: 1em;
    font-weight: normal;
    line-height: 1.2
    }
.calibre43 {
    font-family: "Sylfaen", "serif";
    font-size: 0.88889em;
    line-height: 1.2
    }
.calibre44 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    line-height: 1.2;
    padding-bottom: 0;
    padding-top: 0;
    text-align: right;
    margin: 0
    }
.calibre45 {
    font-size: 0.88889em;
    line-height: 1.2;
    text-transform: uppercase
    }
.calibre46 {
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 14pt;
    margin: 1.67em 0
    }
.calibre47 {
    font-weight: normal
    }
.calibre48 {
    color: gray;
    display: block;
    height: 2px;
    text-align: left;
    border-top: currentColor solid 1px;
    border-right: currentColor none 1px;
    border-bottom: currentColor none 1px;
    border-left: currentColor none 1px;
    margin: 0.5em auto
    }
.calibre49 {
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    line-height: 1.2
    }
.font {
    font-family: "Book Antiqua", "serif"
    }
.font1 {
    font-family: "Book Antiqua", "serif";
    line-height: 1.2
    }
.font2 {
    font-family: "Impact", "sans-serif"
    }
.font3 {
    font-family: "Impact", "sans-serif";
    line-height: 1.2
    }
.font4 {
    font-family: "Constantia", "serif"
    }
.font5 {
    font-family: "Franklin Gothic Heavy", "sans-serif"
    }
.font6 {
    font-family: "Arial Narrow", "sans-serif"
    }
.msoendnotereference {
    vertical-align: super
    }
.wordsection {
    border-bottom: 0;
    border-top: 0;
    display: block;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
    page: WordSection1;
    text-indent: 1.5em
    }
.pcalibre:visited {
    color: purple;
    text-decoration: underline
    }
.pcalibre1:link {
    color: blue;
    text-decoration: underline
    }
