@page {
  margin: 0.5em;
  }
span.e-italik {
  font-weight: normal;
  font-style: italic;
}
span.e-bold {
  font-weight: bold;
  font-style: normal;
}
span.dipnotno {
  font-size: 0.58em;
  vertical-align: super;
}
p.Basic-Paragraph {
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  text-decoration: none;
  font-variant: normal;
  line-height: 1.2;
  text-align: left;
  color: #000;
  text-indent: 0;
  margin: 0;
}
p.e-paragraf {
  font-weight: normal;
  font-style: normal;
  font-size: 0.88em;
  text-decoration: none;
  font-variant: normal;
  line-height: 1.48;
  text-align: justify;
  color: #000;
  text-indent: 14px;
  margin: 6px 0 0 0;
}
p.e-altbaslik {
  font-weight: bold;
  font-style: normal;
  font-size: 0.75em;
  text-decoration: none;
  font-variant: normal;
  line-height: 2.22;
  text-align: center;
  color: #000;
  text-indent: 0;
  margin: 14px 0 6px 0;
}
p.e-sayfabasibaslik {
  font-weight: bold;
  font-style: normal;
  font-size: 0.83em;
  text-decoration: none;
  font-variant: normal;
  line-height: 1.8;
  text-align: center;
  color: #000;
  text-indent: 0;
  margin: 14px 0 20px 0;
}
p.e-iyikikitaplarvar {
  font-weight: normal;
  font-style: italic;
  font-size: 1.33em;
  text-decoration: none;
  font-variant: normal;
  line-height: 1.5;
  text-align: center;
  color: #000;
  text-indent: 0;
  margin: 40px 0 0 0;
}
p.e-jenerikbaslik {
  font-weight: bold;
  font-style: normal;
  font-size: 1.17em;
  text-decoration: none;
  font-variant: normal;
  line-height: 1.71;
  text-align: center;
  color: #000;
  text-indent: 0;
  margin: 40px 0 0 0;
}
p.e-jenerik {
  font-weight: normal;
  font-style: normal;
  font-size: 0.63em;
  text-decoration: none;
  font-variant: normal;
  line-height: 1.47;
  text-align: left;
  color: #000;
  text-indent: 0;
  margin: 6px 0 0 0;
}
p.e-dipnot {
  font-weight: normal;
  font-style: italic;
  font-size: 0.67em;
  text-decoration: none;
  font-variant: normal;
  line-height: 1.2;
  text-align: justify;
  color: #000;
  text-indent: -11px;
  margin: 0 0 0 11px;
}
p.e-makale {
  font-weight: normal;
  font-style: normal;
  font-size: 0.88em;
  text-decoration: none;
  font-variant: normal;
  line-height: 1.48;
  text-align: justify;
  color: #000;
  text-indent: 0;
  margin: 6px 20px 6px 14px;
}
p.e-italic-paragraf {
  font-weight: normal;
  font-style: italic;
  font-size: 0.88em;
  text-decoration: none;
  font-variant: normal;
  line-height: 1.48;
  text-align: justify;
  color: #000;
  text-indent: 0;
  margin: 6px 0 6px 14px;
}
p.e-indeksmetin {
  font-weight: normal;
  font-style: normal;
  font-size: 0.88em;
  text-decoration: none;
  font-variant: normal;
  line-height: 1.48;
  text-align: justify;
  color: #000;
  text-indent: 0;
  margin: 0;
}
p.e-indeksbaslik {
  font-weight: bold;
  font-style: normal;
  font-size: 0.83em;
  text-decoration: none;
  font-variant: normal;
  line-height: 2;
  text-align: left;
  color: #000;
  text-indent: 0;
  margin: 3px 0 6px 0;
}
p.e-icindekiler2 {
  font-weight: normal;
  font-style: normal;
  font-size: 0.88em;
  text-decoration: none;
  font-variant: normal;
  line-height: 1.48;
  text-align: left;
  color: #000;
  text-indent: 0;
  margin: 6px 0 0 0;
}
p.e-sagparagraf {
  font-weight: normal;
  font-style: normal;
  font-size: 0.88em;
  text-decoration: none;
  font-variant: normal;
  line-height: 1.48;
  text-align: right;
  color: #000;
  text-indent: 14px;
  margin: 3px 0;
}
p.para-style-override-1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  page-break-after: always;
}
p.para-style-override-2 {
  text-align: center;
  margin-top: 4em;
  margin-bottom: 4em;
  page-break-after: always;
}
