.bold {
    font-weight: bold
    }
.calibre {
    display: block;
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    text-indent: 0;
    margin: 0
    }
.calibre2 {
    font-size: 13.5pt;
    line-height: 1.2
    }
.calibre3 {
    display: block;
    text-indent: 0;
    margin: 6pt 0 0
    }
.calibre4 {
    color: #c00000
    }
.calibre5 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 0
    }
.calibre6 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 2em 0 0
    }
.calibre7 {
    display: block
    }
.calibre8 {
    display: block;
    margin: 0 0 0 2em
    }
.calibre9 {
    display: block;
    text-indent: 5em;
    margin: 0 0 0 2em
    }
.calibre10 {
    display: block;
    text-indent: 4em;
    margin: 4pt 0 0 2em
    }
.calibre11 {
    display: block;
    text-indent: 1em;
    margin: 4pt 0 0 2em
    }
.calibre12 {
    font-size: smaller;
    line-height: normal;
    vertical-align: super
    }
.calibre13 {
    font-size: smaller
    }
.calibre14 {
    font-size: 5pt
    }
.calibre15 {
    color: #000
    }
.calibre16 {
    display: block;
    text-indent: 2em;
    margin: 4pt 0 0 2em
    }
.calibre17 {
    display: block;
    text-indent: 0;
    margin: 4pt 0 0 2em
    }
.calibre18 {
    display: block;
    text-indent: 0;
    margin: 4pt 0 0
    }
.calibre19 {
    display: block;
    text-indent: -19pt;
    margin: 4pt 0 0 19pt
    }
.calibre20 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 0 0 0 2em
    }
.calibre21 {
    display: block;
    text-indent: 0;
    margin: 5pt 0 0
    }
.calibre22 {
    display: block;
    text-indent: -18pt;
    margin: 4pt 0 0 18pt
    }
.calibre23 {
    display: block;
    text-indent: -18pt;
    margin: 9pt 0 0 18pt
    }
.calibre24 {
    display: block;
    text-indent: -18pt;
    margin: 11pt 0 0 18pt
    }
.calibre25 {
    display: block;
    text-indent: -18pt;
    margin: 1pt 0 0 18pt
    }
.calibre26 {
    display: block;
    text-indent: -18pt;
    margin: 0 0 0 18pt
    }
.calibre27 {
    display: block;
    text-indent: 0;
    margin: 0 0 0 2em
    }
.calibre28 {
    display: block;
    text-indent: 2em;
    margin: 0 0 0 2em
    }
.calibre29 {
    display: block;
    text-indent: 1em;
    margin: 0 0 0 2em
    }
.calibre30 {
    display: block;
    text-indent: 0;
    margin: 9pt 0 0 2em
    }
.calibre31 {
    display: block;
    text-indent: 0;
    margin: 11pt 0 0 2em
    }
.calibre32 {
    display: block;
    text-indent: 0;
    margin: 13pt 0 0 2em
    }
.calibre33 {
    display: block;
    text-indent: 0;
    margin: 5pt 0 0 2em
    }
.calibre34 {
    display: block;
    text-indent: 4em;
    margin: 0 0 0 2em
    }
.calibre35 {
    display: block;
    text-indent: 0;
    margin: 9pt 0 0
    }
.calibre36 {
    display: block;
    text-indent: 0;
    margin: 10pt 0 0
    }
.calibre37 {
    display: block;
    text-indent: 0;
    margin: 8pt 0 0 2em
    }
.calibre38 {
    display: block;
    text-indent: 0;
    margin: 7pt 0 0 2em
    }
.calibre39 {
    display: block;
    text-indent: 3em;
    margin: 0 0 0 2em
    }
.calibre40 {
    display: block;
    text-indent: 0;
    margin: 12pt 0 0 2em
    }
.calibre41 {
    display: block;
    text-indent: 7em;
    margin: 0 0 0 2em
    }
.calibre42 {
    display: block;
    text-indent: 0;
    margin: 1pt 0 0 2em
    }
.calibre43 {
    display: block;
    text-indent: -16pt;
    margin: 12pt 0 0 16pt
    }
.calibre44 {
    display: block;
    text-align: justify;
    text-indent: 0;
    margin: 0 0 0 2em
    }
.calibre45 {
    display: block;
    text-indent: 0;
    margin: 10pt 0 0 2em
    }
.calibre46 {
    display: block;
    text-indent: 0;
    margin: 15pt 0 0 2em
    }
.calibre47 {
    display: block;
    text-align: right;
    text-indent: 0;
    margin: 0
    }
.calibre48 {
    display: block;
    text-indent: 0;
    margin: 1em 0 0 2em
    }
.calibre49 {
    display: block;
    text-indent: 0;
    margin: 3em 0 0 2em
    }
.calibre50 {
    display: block;
    text-indent: 3em;
    margin: 9pt 0 0
    }
.calibre51 {
    display: block;
    text-indent: 3em;
    margin: 0
    }
.calibre52 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 1em 0 0
    }
.calibre53 {
    font-size: 22pt;
    line-height: 1.2
    }
.calibre54 {
    display: block;
    text-indent: -19pt;
    margin: 1em 0 0 19pt
    }
.calibre55 {
    display: block;
    text-indent: -19pt;
    margin: 0 0 0 19pt
    }
.italic {
    font-style: italic
    }
.mbppagebreak {
    display: block;
    margin: 0
    }
.underline {
    text-decoration: underline
    }
