<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistName</key>
	<string>Cem Aydın</string>
	<key>book-info</key>
	<dict>
		<key>cover-image-hash</key>
		<string>2A390BDDE94250BF176198921A43B9D6</string>
		<key>cover-image-path</key>
		<string>cover.jpeg</string>
		<key>mime-type</key>
		<string>application/epub+zip</string>
		<key>package-file-hash</key>
		<string>184D192EB0A81A21322D6D65F742C039</string>
		<key>publisher-unique-id</key>
		<string>fc8ae51e-080a-4498-8228-d23b99286862</string>
		<key>unique-id</key>
		<integer>-7589630622269586453</integer>
	</dict>
	<key>itemName</key>
	<string>Ergenekon'un Derinliklerinde</string>
	<key>playlistName</key>
	<string>Ergenekon'un Derinliklerinde</string>
	<key>releaseDate</key>
	<string>2011-10-25T12:40:19+00:00</string>
	<key>sort-artist</key>
	<string>Aydın, Cem</string>
	<key>sort-artist-status</key>
	<integer>3</integer>
</dict>
</plist>
