<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistName</key>
	<string>Derleme</string>
	<key>book-info</key>
	<dict>
		<key>cover-image-hash</key>
		<string>A03BEB8A47AA5B9D9E92712196072496</string>
		<key>cover-image-path</key>
		<string>cover.jpeg</string>
		<key>mime-type</key>
		<string>application/epub+zip</string>
		<key>package-file-hash</key>
		<string>A8DD675BABAEA66BB0876B965F64CD5E</string>
		<key>publisher-unique-id</key>
		<string>e796c7c3-316c-4b41-8f0a-24139539077c</string>
		<key>unique-id</key>
		<integer>5953806072247391533</integer>
		<key>update-level</key>
		<integer>2</integer>
	</dict>
	<key>itemName</key>
	<string>Türk Edebiyatında Unutulamayan Aşk Şiirleri Antolojisi</string>
	<key>playlistName</key>
	<string>Türk Edebiyatında Unutulamayan Aşk Şiirleri Antolojisi</string>
	<key>releaseDate</key>
	<string>2010-12-11T08:00:00+00:00</string>
</dict>
</plist>
