a {text-decoration: none}
span.sz {}
p.tc {margin: 0.0px 0.0px 0.0px 0.0px; text-align: center; text-indent: 0.0px; font: 135% 'Times New Roman'}
p.tcd {margin: 0.0px 0.0px 0.0px 0.0px; text-indent: 0.0px; font: 100% 'Times New Roman'}
p.p1 {margin: 0.0px 0.0px 0.0px 0.0px; text-align: center; text-indent: 0.0px; font: 100% 'Times New Roman'}
p.p2 {margin: 0.0px 0.0px 0.0px 0.0px; text-align: center; text-indent: 0.0px; font: 100% 'Times New Roman'; min-height: 21.0px}
p.p3 {margin: 0.0px 0.0px 0.0px 0.0px; text-indent: 0.0px; font: 100% 'Times New Roman'; min-height: 21.0px}
p.p4 {margin: 0.0px 0.0px 0.0px 0.0px; text-indent: 0.0px; font: 100% 'Times New Roman'}
p.p5 {margin: 0.0px 0.0px 0.0px 0.0px; text-indent: 0.0px; font: 100% 'Times New Roman'}
p.p6 {margin: 0.0px 0.0px 0.0px 0.0px; text-align: right; text-indent: 0.0px; font: 100% 'Times New Roman'}
p.p7 {margin: 0.0px 0.0px 0.0px 0.0px; text-align: right; text-indent: 0.0px; font: 100% 'Times New Roman'; min-height: 21.0px}
p.p8 {margin: 0.0px 0.0px 0.0px 0.0px; text-align: left; text-indent: 0.0px; font: 100% 'Times New Roman'}
p.p9 {margin: 0.0px 0.0px 0.0px 0.0px; text-align: left; text-indent: 0.0px; font: 100% 'Times New Roman'; min-height: 21.0px}
li.li3 {margin: 0.0px 0.0px 0.0px 0.0px; font: 100% 'Times New Roman'; min-height: 21.0px}
li.li4 {margin: 0.0px 0.0px 0.0px 0.0px; font: 100% 'Times New Roman'}
span.s1 {font: 100% Mshtakan}
span.s2 {font: 100% 'Devanagari MT'}
span.s3 {font: 100% Kefa}
span.s4 {font: 100% Helvetica}
span.s5 {font: 100% 'Hiragino Mincho ProN'}
ul.ul1 {list-style-type: disc}
