.Balk {
    color: black;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.2;
    text-decoration: none none
    }
.Balk3KkBykHarf {
    color: black;
    font-style: normal;
    font-variant: small-caps;
    font-weight: bold;
    letter-spacing: 0;
    position: relative;
    text-decoration: none none;
    top: 0
    }
.calibre {
    display: block;
    font-size: 1.125em;
    line-height: 1.2;
    padding-left: 0;
    padding-right: 0;
    text-justify-trim: punctuation;
    margin: 0 5pt
    }
.calibre1 {
    font-variant: normal;
    line-height: 1.2;
    text-transform: uppercase
    }
.calibre2 {
    color: windowtext;
    }
.calibre3 {
    display: block
    }
.calibre4 {
    color: black;
    font-size: 0.66667em
    }
.calibre5 {
    display: block
    }
.calibre6 {
    font-size: 0.66667em
    }
.calibre7 {
    font-weight: normal
    }
.calibre8 {
    font-weight: normal;
    line-height: 1.2
    }
.calibre9 {
    font-size: 1em;
    line-height: 1.2
    }
.calibre10 {
    color: black;
    font-size: 0.66667em
    }
.calibre11 {
    font-weight: bold
    }
.calibre12 {
    font-style: italic
    }
.calibre13 {
    font-size: 0.77778em;
    line-height: 1.2
    }
.calibre14 {
    display: block;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
    page-break-after: avoid;
    text-indent: 19pt;
    margin: 12pt 0 0.0001pt
    }
.calibre15 {
    color: windowtext;
    font-variant: normal;
    line-height: 1.2
    }
.calibre16 {
    font-size: 0.66667em
    }
.calibre17 {
    display: block;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
    page-break-after: avoid;
    text-indent: 18pt;
    margin: 12pt 0 0.0001pt
    }
.calibre18 {
    line-height: 1.2
    }
.calibre19 {
    color: windowtext;
    line-height: 1.2
    }
.calibre20 {
    font-size: 0.875em;
    line-height: 1.2;
    vertical-align: super
    }
.calibre21 {
    color: black;
    text-decoration: none
    }
.calibre22 {
    letter-spacing: -0.5pt
    }
.calibre23 {
    color: black;
    font-style: normal;
    text-decoration: none
    }
.calibre24 {
    font-size: 1em;
    line-height: 1.2
    }
.calibre25 {
    display: block;
    line-height: 1.2
    }
.calibre26 {
    display: block;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
    page-break-after: avoid;
    margin: 12pt 0 0.0001pt 19pt
    }
.calibre27 {
    font-size: 0.75em
    }
.calibre28 {
    font-size: 1em;
    font-style: normal;
    line-height: 1.2
    }
.calibre29 {
    font-size: 1.14286em;
    font-style: normal;
    line-height: 1.2
    }
.calibre30 {
    display: block;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
    page-break-after: avoid;
    margin: 2pt 0 0.0001pt 19pt
    }
.calibre31 {
    color: windowtext;
    font-variant: normal
    }
.calibre32 {
    display: block;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
    page-break-after: avoid;
    margin: 2pt 0 0.0001pt 18pt
    }
.calibre33 {
    font-size: 0.75em;
    line-height: 1.2
    }
.calibre34 {
    font-size: 0.75em
    }
.calibre35 {
    color: gray;
    display: block;
    height: 2px;
    text-align: left;
    border-top: currentColor solid 1px;
    border-right: currentColor none 1px;
    border-bottom: currentColor none 1px;
    border-left: currentColor none 1px;
    margin: 0.5em auto
    }
.calibre36 {
    font-style: normal
    }
.calibre37 {
    font-size: 1em;
    font-style: normal;
    line-height: 1.2
    }
.calibre38 {
    font-size: 1em;
    font-weight: normal;
    line-height: 1.2
    }
.calibre39 {
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2
    }
.calibre40 {
    font-size: 1em;
    font-style: normal;
    line-height: 1.2
    }
.Dipnot {
    color: black;
    font-style: italic;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: 0;
    text-decoration: none none
    }
.Dipnot1 {
    background: transparent;
    color: black;
    display: block;
    font-size: 0.66667em;
    line-height: 1.2;
    text-align: left;
    text-indent: -14.2pt;
    text-justify: inter-ideograph;
    margin: 0 0 0.0001pt 14.2pt
    }
.Dipnot2 {
    background: transparent;
    color: black;
    display: block;
    font-size: 0.66667em;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    text-indent: -14.2pt;
    margin: 0 0 0.0001pt 14.2pt
    }
.Dipnot3 {
    background: transparent;
    color: black;
    display: block;
    font-size: 0.66667em;
    line-height: 1.2;
    text-align: left;
    text-indent: -14.2pt;
    text-justify: inter-ideograph;
    margin: 0 0 1.4pt 14.2pt
    }
.Dipnot4 {
    background: transparent;
    color: black;
    display: block;
    font-size: 0.66667em;
    line-height: 1.2;
    text-align: left;
    text-indent: -14.2pt;
    text-justify: inter-ideograph;
    margin: 0 0 1.65pt 14.2pt
    }
.Dipnot5 {
    background: transparent;
    color: black;
    display: block;
    font-size: 0.66667em;
    line-height: 1.2;
    text-align: left;
    text-indent: -14.2pt;
    text-justify: inter-ideograph;
    margin: 0 0 1.6pt 14.2pt
    }
.Gvdemetni {
    background: transparent;
    color: black;
    display: block;
    font-size: 1.33333em;
    font-weight: bold;
    line-height: 32.9pt;
    text-align: center;
    margin: 0 0 0.0001pt
    }
.Gvdemetni1 {
    background: transparent;
    color: black;
    display: block;
    font-size: 1.33333em;
    font-weight: bold;
    line-height: 32.9pt;
    text-align: center;
    margin: 0 0 36.7pt
    }
.Gvdemetni2 {
    background: transparent;
    color: black;
    display: block;
    font-size: 1.22222em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 0 0 30pt
    }
.Gvdemetni2-1ptbolukbraklyor {
    color: black;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: -1pt;
    line-height: 1.2;
    position: relative;
    text-decoration: none none;
    top: 0
    }
.Gvdemetni2Kaln {
    color: black;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: 0;
    position: relative;
    text-decoration: none none;
    top: 0
    }
.Gvdemetni3 {
    background: transparent;
    color: black;
    display: block;
    font-size: 0.66667em;
    line-height: 14.9pt;
    text-align: center;
    margin: 29.85pt 0 36.6pt
    }
.Gvdemetni3KkBykHarf {
    color: black;
    font-style: normal;
    font-variant: small-caps;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.2;
    position: relative;
    text-decoration: none none;
    top: 0
    }
.Gvdemetni4 {
    color: black;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    position: relative;
    text-decoration: none none;
    top: 0
    }
.Gvdemetni5 {
    background: transparent;
    color: black;
    display: block;
    font-size: 0.66667em;
    line-height: 1.2;
    text-align: center;
    margin: 0 0 26.75pt
    }
.Gvdemetni5talik {
    color: black;
    font-style: italic;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: 0;
    position: relative;
    text-decoration: none none;
    top: 0
    }
.Gvdemetni5talik1 {
    color: black;
    font-style: italic;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.2;
    position: relative;
    text-decoration: none none;
    top: 0
    }
.Gvdemetni6 {
    background: transparent;
    color: black;
    display: block;
    font-size: 0.66667em;
    line-height: 1.2;
    text-align: center;
    margin: 0 0 11.5pt
    }
.Gvdemetni7 {
    color: black;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 1.2;
    text-decoration: none none
    }
.Gvdemetni8 {
    background: transparent;
    color: black;
    display: block;
    font-size: 0.66667em;
    line-height: 1.2;
    text-align: center;
    margin: 0 0 0.0001pt
    }
.Gvdemetni9 {
    color: black;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 1.2;
    position: relative;
    text-decoration: none none;
    top: 0
    }
.Gvdemetni10 {
    background: transparent;
    color: black;
    display: block;
    font-size: 0.66667em;
    line-height: 1.2;
    text-align: center;
    margin: 0 0 24.5pt
    }
.Gvdemetni10PalatinoLinotype {
    color: black;
    font-style: italic;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    position: relative;
    text-decoration: none none;
    top: 0
    }
.Gvdemetni11 {
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none none
    }
.Gvdemetni12 {
    background: transparent;
    color: black;
    display: block;
    font-size: 0.77778em;
    line-height: 1.2;
    text-align: center;
    margin: 0 0 0.0001pt
    }
.Gvdemetni13 {
    color: black;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    text-decoration: none none
    }
.Gvdemetni13KalnDeil {
    color: black;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.2;
    position: relative;
    text-decoration: none none;
    top: 0
    }
.Gvdemetni14 {
    background: transparent;
    color: black;
    display: block;
    font-size: 0.66667em;
    line-height: 1.2;
    text-align: center;
    margin: 0 0 12pt
    }
.Gvdemetni15 {
    background: transparent;
    color: black;
    display: block;
    font-size: 0.77778em;
    font-style: italic;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 0 7pt 0.0001pt 0
    }
.Gvdemetni16 {
    color: black;
    font-style: italic;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.2;
    text-decoration: none none
    }
.Gvdemetni17 {
    background: transparent;
    color: black;
    display: block;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 19pt;
    text-justify: inter-ideograph;
    margin: 0 0 0.0001pt
    }
.Gvdemetni18 {
    background: transparent;
    color: black;
    display: block;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 19pt;
    text-justify: inter-ideograph;
    margin: 0 0 2.8pt
    }
.Gvdemetni19 {
    background: transparent;
    color: black;
    display: block;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 18pt;
    text-justify: inter-ideograph;
    margin: 0 0 0.0001pt
    }
.Gvdemetni20 {
    background: transparent;
    color: black;
    display: block;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 18pt;
    text-justify: inter-ideograph;
    margin: 0 0 3.6pt
    }
.Gvdemetni21 {
    background: transparent;
    color: black;
    display: block;
    font-size: 0.88889em;
    font-style: italic;
    line-height: 1.2;
    text-align: justify;
    text-indent: 20pt;
    text-justify: inter-ideograph;
    margin: 0 0 8.25pt
    }
.Gvdemetni22 {
    color: black;
    font-style: italic;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    text-decoration: none none
    }
.Gvdemetni23 {
    background: transparent;
    color: black;
    display: block;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 20pt;
    text-justify: inter-ideograph;
    margin: 0 0 2.85pt
    }
.Gvdemetni24 {
    background: transparent;
    color: black;
    display: block;
    font-size: 0.88889em;
    font-style: italic;
    line-height: 1.2;
    text-align: justify;
    text-indent: 20pt;
    text-justify: inter-ideograph;
    margin: 0 0 3pt
    }
.Gvdemetni25 {
    background: transparent;
    color: black;
    display: block;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 20pt;
    text-justify: inter-ideograph;
    margin: 0 0 0.0001pt
    }
.Gvdemetni26 {
    background: transparent;
    color: black;
    display: block;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: left;
    text-indent: 19pt;
    text-justify: inter-ideograph;
    margin: 0 0 3.2pt
    }
.Gvdemetni27 {
    background: transparent;
    color: black;
    display: block;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: justify;
    text-indent: -17pt;
    text-justify: inter-ideograph;
    margin: 0 0 3pt 36pt
    }
.Gvdemetni28 {
    background: transparent;
    color: black;
    display: block;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: justify;
    text-indent: -34pt;
    text-justify: inter-ideograph;
    margin: 0 0 0.0001pt 70pt
    }
.Gvdemetni29 {
    background: transparent;
    color: black;
    display: block;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: justify;
    text-indent: -34pt;
    text-justify: inter-ideograph;
    margin: 0 0 3pt 70pt
    }
.Gvdemetni30 {
    background: transparent;
    color: black;
    display: block;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: justify;
    text-indent: -17pt;
    text-justify: inter-ideograph;
    margin: 0 0 0.0001pt 36pt
    }
.Gvdemetni31 {
    background: transparent;
    color: black;
    display: block;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 19pt;
    text-justify: inter-ideograph;
    margin: 0 0 3pt
    }
.Gvdemetni32 {
    background: transparent;
    color: black;
    display: block;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 19pt;
    text-justify: inter-ideograph;
    margin: 0 0 3.2pt
    }
.Gvdemetni33 {
    background: transparent;
    color: black;
    display: block;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0 0.0001pt
    }
.Gvdemetni34 {
    background: transparent;
    color: black;
    display: block;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 18pt;
    text-justify: inter-ideograph;
    margin: 0 0 2.05pt
    }
.Gvdemetni35 {
    background: transparent;
    color: black;
    display: block;
    font-size: 0.88889em;
    font-style: italic;
    line-height: 1.2;
    text-align: justify;
    text-indent: 19pt;
    text-justify: inter-ideograph;
    margin: 0 0 3pt
    }
.Gvdemetni36 {
    background: transparent;
    color: black;
    display: block;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 21pt;
    text-justify: inter-ideograph;
    margin: 0 0 3pt
    }
.Gvdemetni37 {
    background: transparent;
    color: black;
    display: block;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 18pt;
    text-justify: inter-ideograph;
    margin: 0 0 3pt
    }
.Gvdemetni38 {
    background: transparent;
    color: black;
    display: block;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: justify;
    text-indent: -16pt;
    text-justify: inter-ideograph;
    margin: 0 0 2.8pt 35pt
    }
.Gvdemetni39 {
    background: transparent;
    color: black;
    display: block;
    font-size: 0.88889em;
    font-style: italic;
    line-height: 1.2;
    text-align: left;
    text-indent: 19pt;
    text-justify: inter-ideograph;
    margin: 0 0 6.2pt
    }
.Gvdemetni40 {
    background: transparent;
    color: black;
    display: block;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: justify;
    text-indent: -16pt;
    text-justify: inter-ideograph;
    margin: 0 0 7.65pt 35pt
    }
.Gvdemetni41 {
    background: transparent;
    color: black;
    display: block;
    font-size: 0.88889em;
    font-style: italic;
    line-height: 1.2;
    text-align: justify;
    text-indent: 19pt;
    text-justify: inter-ideograph;
    margin: 0 0 4.35pt
    }
.Gvdemetni42 {
    color: black;
    font-style: italic;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 1.2;
    text-decoration: none none
    }
.Gvdemetni43 {
    background: transparent;
    color: black;
    display: block;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 21pt;
    text-justify: inter-ideograph;
    margin: 0 0 3.6pt
    }
.Gvdemetni44 {
    background: transparent;
    color: black;
    display: block;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 19pt;
    text-justify: inter-ideograph;
    margin: 0 0 3.4pt
    }
.Gvdemetni45 {
    background: transparent;
    color: black;
    display: block;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 22pt;
    text-justify: inter-ideograph;
    margin: 0 0 3.4pt
    }
.Gvdemetni46 {
    background: transparent;
    color: black;
    display: block;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0 3.4pt
    }
.Gvdemetni47 {
    background: transparent;
    color: black;
    display: block;
    font-size: 0.88889em;
    font-style: italic;
    line-height: 1.2;
    text-align: justify;
    text-indent: 19pt;
    text-justify: inter-ideograph;
    margin: 0 0 0.0001pt
    }
.Gvdemetni48 {
    background: transparent;
    color: black;
    display: block;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 21pt;
    text-justify: inter-ideograph;
    margin: 0 0 3.2pt
    }
.Gvdemetni49 {
    background: transparent;
    color: black;
    display: block;
    font-size: 0.88889em;
    font-style: italic;
    line-height: 1.2;
    text-align: justify;
    text-indent: 21pt;
    text-justify: inter-ideograph;
    margin: 0 0 3pt
    }
.Gvdemetni50 {
    background: transparent;
    color: black;
    display: block;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 21pt;
    text-justify: inter-ideograph;
    margin: 0 0 3.4pt
    }
.Gvdemetni51 {
    background: transparent;
    color: black;
    display: block;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 23pt;
    text-justify: inter-ideograph;
    margin: 0 0 0.0001pt
    }
.Gvdemetni52 {
    background: transparent;
    color: black;
    display: block;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 18pt;
    text-justify: inter-ideograph;
    margin: 0 0 3.4pt
    }
.Gvdemetni53 {
    background: transparent;
    color: black;
    display: block;
    font-size: 0.88889em;
    font-style: italic;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0 3.2pt
    }
.Gvdemetni54 {
    background: transparent;
    color: black;
    display: block;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 21pt;
    text-justify: inter-ideograph;
    margin: 0 0 2.8pt
    }
.Gvdemetni55 {
    background: transparent;
    color: black;
    display: block;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: justify;
    text-indent: -17pt;
    text-justify: inter-ideograph;
    margin: 2.25pt 0 2.25pt 36pt
    }
.Gvdemetni56 {
    background: transparent;
    color: black;
    display: block;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 19pt;
    text-justify: inter-ideograph;
    margin: 0 0 3.6pt
    }
.Gvdemetni57 {
    background: transparent;
    color: black;
    display: block;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 25pt;
    text-justify: inter-ideograph;
    margin: 0 0 2.8pt
    }
.Gvdemetni58 {
    background: transparent;
    color: black;
    display: block;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 19pt;
    text-justify: inter-ideograph;
    margin: 0 0 2.65pt
    }
.Gvdemetni59 {
    background: transparent;
    color: black;
    display: block;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0 3pt
    }
.Gvdemetni60 {
    background: transparent;
    color: black;
    display: block;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 26pt;
    text-justify: inter-ideograph;
    margin: 0 0 0.0001pt
    }
.Gvdemetni61 {
    background: transparent;
    color: black;
    display: block;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 19pt;
    text-justify: inter-ideograph;
    margin: 0 0 7.85pt
    }
.Gvdemetni62 {
    background: transparent;
    color: black;
    display: block;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: justify;
    text-indent: -17pt;
    text-justify: inter-ideograph;
    margin: 0 0 8.1pt 36pt
    }
.Gvdemetni63 {
    background: transparent;
    color: black;
    display: block;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: justify;
    text-indent: -17pt;
    text-justify: inter-ideograph;
    margin: 0 0 1.85pt 36pt
    }
.Gvdemetni64 {
    background: transparent;
    color: black;
    display: block;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: left;
    text-indent: -17pt;
    text-justify: inter-ideograph;
    margin: 0 0 3.2pt 36pt
    }
.Gvdemetni65 {
    background: transparent;
    color: black;
    display: block;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 19pt;
    text-justify: inter-ideograph;
    margin: 0 0 8.05pt
    }
.Gvdemetni66 {
    background: transparent;
    color: black;
    display: block;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: justify;
    text-indent: -17pt;
    text-justify: inter-ideograph;
    margin: 0 0 4.65pt 36pt
    }
.Gvdemetni67 {
    background: transparent;
    color: black;
    display: block;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: justify;
    text-indent: -17pt;
    text-justify: inter-ideograph;
    margin: 0 0 3.2pt 36pt
    }
.Gvdemetni68 {
    background: transparent;
    color: black;
    display: block;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: justify;
    text-indent: -17pt;
    text-justify: inter-ideograph;
    margin: 0 0 7.7pt 36pt
    }
.Gvdemetni69 {
    background: transparent;
    color: black;
    display: block;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: justify;
    text-indent: -17pt;
    text-justify: inter-ideograph;
    margin: 4.55pt 0 4.55pt 36pt
    }
.Gvdemetni70 {
    background: transparent;
    color: black;
    display: block;
    font-size: 0.88889em;
    font-weight: bold;
    line-height: 1.2;
    text-align: justify;
    text-indent: 19pt;
    text-justify: inter-ideograph;
    margin: 0 0 0.0001pt
    }
.Gvdemetni71 {
    color: black;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: 0;
    text-decoration: none none
    }
.Gvdemetni72 {
    background: transparent;
    color: black;
    display: block;
    font-size: 0.88889em;
    font-weight: bold;
    line-height: 1.2;
    text-align: justify;
    text-indent: 19pt;
    text-justify: inter-ideograph;
    margin: 0 0 3.45pt
    }
.Gvdemetni73 {
    background: transparent;
    color: black;
    display: block;
    font-size: 0.88889em;
    font-weight: bold;
    line-height: 1.2;
    text-align: justify;
    text-indent: 19pt;
    text-justify: inter-ideograph;
    margin: 0 0 1.65pt
    }
.Gvdemetni74 {
    background: transparent;
    color: black;
    display: block;
    font-size: 0.88889em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    text-justify: inter-ideograph;
    margin: 0 0 0.0001pt
    }
.MsoNormal {
    color: black;
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin: 0 0 0.0001pt
    }
.WordSection {
    display: block;
    page: WordSection1
    }
.pcalibre:visited {
    color: #954F72;
    text-decoration: underline
    }
.pcalibre1:link {
    color: #06C;
    text-decoration: underline
    }
