.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    text-align: center;
    margin: 1em 0
    }
.calibre2 {
    height: auto;
    width: auto
    }
.calibre3 {
    font-weight: bold
    }
.calibre4 {
    display: block
    }
.calibre5 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 0.67em 0
    }
.calibre6 {
    font-weight: bold;
    line-height: 1.2
    }
.calibre7 {
    display: block;
    line-height: 1.2
    }
.calibre8 {
    display: block;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 1em 0
    }
.calibre9 {
    line-height: 1.2
    }
.calibre10 {
    display: block;
    text-align: center
    }
.calibre11 {
    font-style: italic
    }
.calibre12 {
    display: block;
    margin: 1em 0
    }
.calibre13 {
    display: block;
    text-align: justify;
    margin: 1em 0
    }
.calibre14 {
    height: auto;
    text-align: center;
    width: auto
    }
.calibre15 {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 3em 0
    }
.calibre16 {
    display: block;
    text-align: justify;
    text-indent: 1em;
    margin: 0.3em 0
    }
.calibre17 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre18 {
    font-style: italic;
    font-weight: bold
    }
.calibre19 {
    display: block;
    text-align: center;
    text-indent: 1em;
    margin: 0.3em 0
    }
.calibre20 {
    display: block;
    text-align: left;
    text-indent: 1em;
    margin: 0.3em 0
    }
.calibre21 {
    text-align: justify;
    text-indent: 1em
    }
.calibre22 {
    font-style: italic;
    line-height: 1.2
    }
.calibre23 {
    text-indent: 1em
    }
.calibre24 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: sub
    }
.calibre25 {
    line-height: 1.2;
    text-indent: 1em
    }
