.calibre {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: justify
    }
.calibre1 {
    display: block
    }
.calibre10 {
    display: block;
    text-align: center
    }
.calibre11 {
    height: 102pt;
    width: 315pt
    }
.calibre12 {
    font-size: 0.75em;
    line-height: 1.2;
    vertical-align: super
    }
.calibre13 {
    text-decoration: underline
    }
.calibre14 {
    font-variant: small-caps;
    font-weight: bold
    }
.calibre15 {
    font-style: italic;
    font-weight: bold
    }
.calibre16 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0
    }
.calibre17 {
    display: table-row;
    vertical-align: middle
    }
.calibre18 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: bottom
    }
.calibre19 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit
    }
.calibre2 {
    height: 693pt;
    width: 451pt
    }
.calibre20 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: middle
    }
.calibre3 {
    display: block;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
	text-indent:1em;
    margin-top: 0.5em
    }
.calibre4 {
    font-weight: bold
    }
.calibre5 {
    font-style: italic
    }
.calibre6 {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.calibre7 {
    line-height: 1.2
    }
.calibre8 {
    font-weight: bold;
    line-height: 1.2
    }
.calibre9 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
