body{margin-left:2%;margin-right:2%;margin-top:2%;margin-bottom:2%}
.nomargin{margin:0}
p{text-indent:0;margin-left:0;margin-right:0;text-align:justify;margin-top:0;margin-bottom:8.5pt;font-family:"Times New Roman TUR";font-size:109%}
.p0{text-align:center;margin-bottom:0}
.p2{margin-bottom:0}
.p3{text-align:center;margin-top:56.7pt;margin-bottom:28.4pt}
.p4{line-height:200%;text-align:center;margin-top:30pt;margin-bottom:30pt}
.p5{text-align:center}
.p6{text-align:center;margin-bottom:28.4pt}
.p7{margin-left:2.52in;text-align:left;margin-bottom:0}
.p8{margin-left:2.52in;text-align:left}
.p9{text-align:center;margin-top:42.5pt;margin-bottom:0}
.p10{text-align:center;margin-bottom:56.7pt}
.p11{text-align:center;margin-top:70.9pt;margin-bottom:5.7pt}
.p12{text-align:center;margin-top:113.4pt;margin-bottom:0}
.p13{text-align:center;margin-bottom:14.2pt}
.p14{line-height:150%;margin-top:18pt;margin-bottom:18pt}
.p15{margin-bottom:28.4pt}
.p16{margin-left:0.39in;margin-right:0.39in;margin-bottom:28.4pt}
.p17{margin-bottom:22.7pt}
.p18{margin-left:0.39in;margin-right:0.39in;margin-bottom:22.7pt}
.p19{margin-left:0.39in}
.p20{margin-right:0.39in}
.p21{margin-left:0.39in;margin-bottom:0}
.p22{margin-right:0.39in;margin-bottom:0}
.p23{margin-top:28.4pt}
.p24{line-height:200%;text-align:center;margin-top:24pt;margin-bottom:30pt}
.p25{margin-bottom:2.9pt}
.p26{margin-bottom:14.2pt}
.p27{margin-bottom:34pt}
.p28{margin-bottom:39.7pt}
.p29{margin-left:0.39in;margin-right:0.39in}
.p30{margin-top:14.2pt;margin-bottom:2.9pt}
.p31{line-height:150%;margin-top:6pt;margin-bottom:0}
.t0{font-family:Calibri,sans-serif;font-size:.92em}
.t1{font-family:"Times New Roman",serif;font-size:1.33em}
.t2{font-size:1.33em}
.t3{font-size:1.33em}
.t4{font-size:1.33em}
.t5{font-size:1.33em}
.t6{font-family:"Times New Roman",serif;font-size:1.67em}
.t7{font-family:Cambria,serif;font-size:1.33em;color:#c00000}
.t8{font-family:Cambria,serif;font-size:1.33em;color:#c00000}
.t9{font-family:Cambria,serif;font-size:1.33em;color:#c00000}
.t10{font-family:"Times New Roman",serif;font-size:1.17em}
.t11{font-size:1.17em}
.t12{font-size:1.17em}
.t13{font-size:1.17em}
.t14{font-size:1.17em}
.t15{font-family:"Times New Roman",serif;font-size:1.17em}
.t16{font-family:"Times New Roman",serif;font-size:2.33em}
.t17{font-family:"Times New Roman",serif;font-size:2.33em}
.t18{font-size:2.33em}
.t19{font-size:2.33em}
.t20{font-size:2.33em}
.t21{font-family:"Times New Roman",serif;font-size:1.67em;letter-spacing:3pt}
.t22{font-size:1.67em;letter-spacing:3pt}
.t23{font-size:1.67em;letter-spacing:3pt}
.t24{font-size:1.67em;letter-spacing:3pt}
.t25{font-family:"Times New Roman",serif;font-size:1.67em;letter-spacing:3pt}
.t26{font-family:"Times New Roman",serif;font-size:1.83em;letter-spacing:3pt}
.t27{font-family:"Times New Roman",serif;font-size:1.83em;letter-spacing:3pt}
.t28{font-family:"Arial TUR";font-size:1em;letter-spacing:3pt}
.t29{font-family:"Arial TUR";font-size:1em;letter-spacing:3pt}
.t30{font-family:"Arial TUR";font-size:1em;letter-spacing:3pt}
.t31{font-family:"Times New Roman",serif;font-size:1.67em}
.t32{font-family:"Times New Roman",serif;font-size:1em}
.t33{font-size:1em}
.t35{font-size:1em}
.t36{font-size:1em}
.t37{font-family:"Times New Roman",serif;font-size:1em}
.t38{font-family:"Times New Roman",serif;font-size:1em}
.t39{font-family:"Times New Roman",serif;font-size:1em}
.t40{font-family:"Times New Roman",serif;font-size:1em;color:blue;text-decoration:underline}
.t41{font-size:1em;color:blue;text-decoration:underline}
.t42{font-family:Cambria,serif;font-size:1em;color:#c00000}
.t43{font-family:Cambria,serif;font-size:1em;color:#c00000}
.t44{font-family:Calibri,sans-serif;font-size:1em}
.t45{font-family:"Times New Roman",serif;font-size:1em;text-decoration:underline}
.t46{font-family:"Times New Roman",serif;font-size:1em;color:#c00000}
.t47{font-family:Cambria,serif;font-size:1em;color:#c00000}
.t48{font-family:Cambria,serif;font-size:1em;color:#c00000}
.t49{font-family:"Times New Roman",serif;font-size:1em;color:#0070c0}
.t50{font-family:Cambria,serif;font-size:1em;color:#0070c0}
.t51{font-family:Cambria,serif;font-size:1em;color:#0070c0}
.t52{font-family:Cambria,serif;font-size:1em;color:#0070c0}
.t53{font-size:1em;color:#0070c0}
.t54{font-size:1em;color:#0070c0}
.t55{font-size:1em;color:#0070c0}
.t56{font-size:1em;color:#c00000}
.t57{font-size:1em;color:#c00000}
.t58{font-size:1em;color:#c00000}
.t59{font-family:Tahoma,sans-serif;font-size:1em}