@page {
	margin : 0.5em;
}
tbody, thead, tfoot, tr, td, th {
	border-style : inherit;
	border-width : inherit;
	border-color : inherit;
}
.leftFloat {
	float : left;
}
.rightFloat {
	float : right;
}
span.x2---talik {
	font-family : "Times New Roman", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.92em;
	font-variant : normal;
	color : #000000;
}
span.x-c-c-----s-a-s-----a-s-----r-a-----r-anh-- {
	font-family : "Times New Roman", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.83em;
	text-decoration : none;
	font-variant : normal;
	color : #000000;
}
span.x5--Dipnot--talik {
	font-family : "Times New Roman", serif;
	font-weight : normal;
	font-style : italic;
	font-size : 0.75em;
	font-variant : normal;
	color : #000000;
}
span.x7--Dipnot-Ba-vurusu {
	font-family : "Times New Roman", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.83em;
	font-variant : normal;
	vertical-align : super;
	color : #000000;
}
span.G--l- {
	font-family : "Times New Roman", serif;
	font-weight : bold;
	font-style : normal;
}
span.x9--arap-a--metin- {
	font-family : Uhuvvet, serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	color : #000000;
}
span.x4--Bold-italik {
	font-family : "Times New Roman", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1em;
	font-variant : normal;
}
span.x3--Bold {
	font-weight : bold;
	font-style : normal;
	color : #000000;
}
span.x8--Ayet-adresleri---mitat {
	font-family : "Times New Roman", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.67em;
	color : #000000;
}
span.x05--Dipnot---italik {
	font-weight : normal;
	font-style : italic;
	color : #cd5600;
}
span.char-style-override-1 {
	font-size : 0.75em;
	font-style : normal;
	font-weight : bold;
}
span.char-style-override-2 {
	color : #000000;
	font-size : 0.75em;
	font-style : normal;
	font-weight : bold;
}
p.No-Paragraph-Style {
	font-family : "Times New Roman", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : right;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
	direction : rtl;
}
p.x1--Ba-l-k-I-IK {
	font-family : "Times New Roman", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.17em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.71;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 120px 0px 6px 0px;
}
p.x-ndeks-I-IK {
	font-family : "Times New Roman", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.88em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.33;
	text-align : justify;
	color : #000000;
	text-indent : -20px;
	margin : 0px 0px 3px 20px;
}
p.Dipnot-Metni {
	font-family : "Times New Roman", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.75em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.44;
	text-align : justify;
	color : #000000;
	text-indent : -14px;
	margin : 0px 0px 3px 14px;
}
p.a--Paragraf-I-IK {
	font-family : "Times New Roman", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.92em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.36;
	text-align : justify;
	color : #000000;
	text-indent : 20px;
	margin : 0px 0px 3px 0px;
}
p.x2--Ba-l-k-I-IK {
	font-family : "Times New Roman", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.17em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.1999969482421875;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 14px 0px 6px 0px;
}
p.Arap-a-2--ortal-- {
	font-family : Uhuvvet, serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.67;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 0px 14px 6px 14px;
	direction : rtl;
}
p.Arap-a--1- {
	font-family : Uhuvvet, serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.5;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 0px 0px 6px 14px;
	direction : rtl;
}
p.x3--Ba-l-k-I-IK {
	font-family : "Times New Roman", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.1999969482421875;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 7px 0px 6px 20px;
}
p.x4--Ba-l-k- {
	font-family : "Times New Roman", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.25;
	text-align : justify;
	color : #000000;
	text-indent : 20px;
	margin : 11px 0px 6px 0px;
}
p.x--------y-ld-z- {
	font-family : "Times New Roman", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.92em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.1999969482421875;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 0px 0px 3px 0px;
}
p.Jen-kapak {
	font-family : "Times New Roman", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.67em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 5px 0px;
}
p.baslik-giris {
	font-family : "Times New Roman", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.83em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.1999969482421875;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 5px 0px 6px 0px;
}
p.baslik-giris-alt {
	font-family : "Times New Roman", serif;
	font-weight : normal;
	font-style : italic;
	font-size : 1.5em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.1999969482421875;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 5px 0px 6px 0px;
}
p.yazar {
	font-family : "Times New Roman", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1.17em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 15px 0px 10px 0px;
}
p.jen-copy {
	font-family : "Times New Roman", serif;
	font-weight : normal;
	font-style : italic;
	font-size : 0.63em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.jenerik {
	font-family : "Times New Roman", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.63em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 6px 0px 0px 0px;
}
p.ithaf {
	font-family : "Times New Roman", serif;
	font-weight : normal;
	font-style : italic;
	font-size : 0.83em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.3;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 30px 0px 20px 0px;
}
p.yaZAR-OZ {
	font-family : "Times New Roman", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.83em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : justify;
	color : #000000;
	text-indent : 0px;
	margin : 0px 0px 3px 0px;
}
p.yazar-kitap {
	font-family : "Times New Roman", serif;
	font-weight : normal;
	font-style : italic;
	font-size : 0.83em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.3;
	text-align : justify;
	color : #000000;
	text-indent : -14px;
	margin : 0px 0px 3px 14px;
}
p.para-style-override-1 {
	margin-bottom : 9px;
	margin-top : 25px;
	text-align : center;
}
p.para-style-override-2 {
	margin-bottom : 3px;
	text-align : justify;
}
p.para-style-override-3 {
	margin-top : 6px;
	text-align : justify;
}
p.para-style-override-4 {
	margin-top : 9px;
}
p.para-style-override-5 {
	margin-bottom : 3px;
	margin-top : 9px;
}
p.para-style-override-6 {
	margin-bottom : 0px;
}
p.para-style-override-7 {
	margin-top : 6px;
}
p.para-style-override-8 {
	margin-bottom : 0px;
	margin-top : 6px;
}
p.para-style-override-9 {
	margin-top : 3px;
}
div.Basic-Text-Frame {
}
