<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistName</key>
	<string>Agatha Christie</string>
	<key>book-info</key>
	<dict>
		<key>cover-image-hash</key>
		<string>B48A57880A42F31AA16A53081ABF1659</string>
		<key>cover-image-path</key>
		<string>cover.jpeg</string>
		<key>mime-type</key>
		<string>application/epub+zip</string>
		<key>package-file-hash</key>
		<string>78A2FD537E147C95BEDA4B4AF9542376</string>
		<key>publisher-unique-id</key>
		<string>433b181a-0479-49ff-a3ec-ab80b2b950fc</string>
		<key>unique-id</key>
		<integer>7633146388142149554</integer>
	</dict>
	<key>itemName</key>
	<string>Zehiri Kim Verdi</string>
	<key>playlistName</key>
	<string>Zehiri Kim Verdi</string>
	<key>releaseDate</key>
	<string>2011-10-11T14:56:45+00:00</string>
	<key>sort-artist</key>
	<string>Christie, Agatha</string>
	<key>sort-artist-status</key>
	<integer>3</integer>
</dict>
</plist>
