.block {
    border-bottom: 0;
    border-top: 0;
    color: black;
    display: block;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.block1 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-family: "Calibri", sans-serif;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.block10 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 1.5em
    }
.block11 {
    border-bottom: 0;
    border-top: 0;
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.875em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: 1.5em
    }
.block12 {
    display: block;
    font-size: 1.25em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 3pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 12pt;
    text-align: center
    }
.block13 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-size: 0.875em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 1.5em
    }
.block14 {
    border-bottom: 0;
    border-top: 0;
    color: black;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 1.5em
    }
.block15 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 18pt
    }
.block16 {
    border-bottom: 0;
    border-top: 0;
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.875em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 18pt
    }
.block17 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 18pt
    }
.block18 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-family: "Courier New", monospace;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: 1.5em
    }
.block19 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-size: 0.875em;
    font-style: italic;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 1.5em
    }
.block2 {
    border-bottom: 0;
    border-top: 0;
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.875em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.block20 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-family: serif;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 1.5em
    }
.block21 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-family: serif;
    font-size: 0.875em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 1.5em
    }
.block22 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    margin-bottom: 0;
    margin-left: 18pt;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 1.5em
    }
.block23 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.block24 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 1.5em
    }
.block3 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-family: "Book Antiqua", serif;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.block4 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-family: "Calibri", sans-serif;
    font-size: 1.125em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.block5 {
    border-bottom: 0;
    border-top: 0;
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.875em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 1.5em
    }
.block6 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.block7 {
    border-bottom: 0;
    border-top: 0;
    color: black;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.block8 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-family: "Courier New", monospace;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.block9 {
    display: block;
    font-family: "Calibri Light", sans-serif;
    font-size: 1.25em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 3pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 12pt;
    text-align: center
    }
.calibre {
    color: #000;
    display: block;
    font-family: "Cambria", serif;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    display: block
    }
.calibre10 {
    display: block;
    float: left;
    height: 40.9pt;
    line-height: 1.2;
    width: 37.6pt
    }
.calibre11 {
    height: 54.8pt;
    width: 451pt
    }
.calibre12 {
    height: 298pt;
    width: 340pt
    }
.calibre13 {
    height: 52.6pt;
    width: 451pt
    }
.calibre14 {
    font-size: 0.75em;
    line-height: 1.2;
    vertical-align: super
    }
.calibre15 {
    height: 47.3pt;
    width: 451pt
    }
.calibre16 {
    display: block;
    float: left;
    height: 39.8pt;
    line-height: 1.2;
    width: 37.6pt
    }
.calibre17 {
    height: 58pt;
    width: 451pt
    }
.calibre18 {
    height: 48.4pt;
    width: 451pt
    }
.calibre2 {
    height: 277pt;
    line-height: 1.2;
    width: 277pt
    }
.calibre3 {
    font-weight: bold
    }
.calibre4 {
    font-style: italic
    }
.calibre5 {
    display: block;
    line-height: 1.2
    }
.calibre6 {
    font-weight: bold;
    line-height: 1.2
    }
.calibre7 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: 1.5em
    }
.calibre8 {
    height: 57pt;
    width: 451pt
    }
.calibre9 {
    height: 50.5pt;
    width: 451pt
    }
.text {
    font-weight: bold;
    text-decoration: underline
    }
.text1 {
    color: #000
    }
.text10 {
    font-family: "Cambria", serif;
    font-size: 1.42857em;
    font-weight: bold;
    line-height: 1.2
    }
.text11 {
    font-family: "Cambria", serif;
    font-size: 1.14286em;
    line-height: 1.2
    }
.text2 {
    color: #06C;
    text-decoration: underline
    }
.text3 {
    font-size: 1.42857em;
    font-weight: bold;
    line-height: 1.2
    }
.text4 {
    font-size: 1.14286em;
    line-height: 1.2
    }
.text5 {
    color: black
    }
.text6 {
    font-family: "Cambria", serif
    }
.text7 {
    font-family: "Cambria", serif;
    font-size: 0.75em;
    line-height: 1.2;
    vertical-align: sub
    }
.text8 {
    font-family: "Times New Roman", serif
    }
.text9 {
    font-family: "Courier New", monospace;
    font-size: 1.42857em;
    line-height: 1.2
    }
