@page{margin-left:0.2cm;margin-right:0.2cm;margin-top:0.2cm;margin-bottom:0.2cm}
body{margin:0}
p{text-indent:2.4em;margin-left:0;margin-right:-.0042em;text-align:justify;margin-top:.5em;margin-bottom:.5em;font-family:Cambria,serif;font-size:109%}
.p0{text-indent:0;margin-left:0;text-align:center;margin-top:0;margin-bottom:0}
.p1{text-indent:2.4em;text-align:center}
.p3{text-indent:2.4em;margin-top:0;margin-bottom:0}
.p4{text-indent:2.4em;text-align:right}
.p5{text-indent:0;margin-left:0;line-height:115%;margin-right:0;margin-top:0;margin-bottom:0}
.p6{text-indent:0;margin-left:0;line-height:115%;margin-right:2.9em;margin-top:0;margin-bottom:0}
.p7{text-indent:0;margin-left:0;line-height:115%;margin-right:.24em;margin-top:0;margin-bottom:0}
.p8{text-indent:0;margin-left:0;line-height:115%;margin-right:.25em;margin-top:0;margin-bottom:0}
.p9{text-indent:0;margin-left:0;line-height:115%;margin-right:.25em;margin-top:0;margin-bottom:0}
.p10{text-indent:0;margin-left:0;line-height:115%;margin-right:-.083em;margin-top:0;margin-bottom:0}
.p11{text-indent:0;margin-left:0;line-height:115%;margin-right:.25em;margin-top:0;margin-bottom:0}
.p12{text-indent:0;margin-left:0;line-height:115%;margin-right:15em;margin-top:0;margin-bottom:0}
.p13{text-indent:0;margin-left:0;line-height:115%;margin-right:16em;margin-top:0;margin-bottom:0}
.p14{text-indent:0}
h1{text-indent:2.4em;margin-left:0;margin-right:-.0042em;text-align:justify;margin-top:.5em;margin-bottom:.5em;font-family:Cambria,serif;font-size:109%;font-weight:bold}
.h11{text-indent:0}
.t0{color:#1f1f1f}
.t2{font-weight:bold}
.t3{font-weight:bold;font-style:italic;color:#0d0d0d}
.t4{color:#0d0d0d}
.t5{font-size:.65em;line-height:100%;vertical-align:super}
.t6{font-size:2.5em;line-height:100%;font-weight:bold}
.t7{font-size:.65em;line-height:100%;font-weight:bold;font-style:italic;color:#0d0d0d;vertical-align:super}
.t8{font-size:.65em;line-height:115%;vertical-align:super}
.t10{font-weight:bold;font-style:italic;color:#0d0d0d}