p.ParaOverride-1 {
	margin-top:100px;
}
p.ParaOverride-2 {
	margin-bottom:20px;
}
p.ParaOverride-3 {
	margin-bottom:0px;
}
p.ParaOverride-4 {
	margin-top:0px;
}
li.ParaOverride-5 {
	list-style-position:outside;
	list-style-type:disc;
	margin-left:68px;
	text-indent:0px;
}
li.ParaOverride-6 {
	list-style-position:outside;
	list-style-type:disc;
	margin-bottom:20px;
	margin-left:68px;
	text-indent:0px;
}
p.ParaOverride-7 {
	margin-bottom:20px;
	text-align:right;
}
p.ParaOverride-8 {
	text-align:right;
}
li.ParaOverride-9 {
	list-style-position:outside;
	list-style-type:decimal;
	margin-left:68px;
	text-indent:0px;
}
li.ParaOverride-10 {
	list-style-position:outside;
	list-style-type:decimal;
	margin-bottom:20px;
	margin-left:68px;
	text-indent:0px;
}
span.CharOverride-1 {
	font-family:"Liberation Serif";
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-2 {
	font-family:"Liberation Serif";
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	text-transform:uppercase;
}
span.CharOverride-3 {
	font-family:"Liberation Serif";
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-4 {
	color:#ffffff;
}
img._idGenObjectAttribute-1 {
	height:226px;
	width:388px;
}
img._idGenObjectAttribute-2 {
	height:99px;
	width:67px;
}
img._idGenObjectAttribute-3 {
	height:52px;
	width:55px;
}
img._idGenObjectAttribute-4 {
	height:51px;
	width:257px;
}
img._idGenObjectAttribute-5 {
	height:313px;
	width:315px;
}
img._idGenObjectAttribute-6 {
	height:83px;
	width:388px;
}
img._idGenObjectAttribute-7 {
	height:21px;
	width:142px;
}
img._idGenObjectAttribute-8 {
	height:704px;
	width:456px;
}
img._idGenObjectAttribute-9 {
	height:721px;
	width:453px;
}
img._idGenObjectAttribute-10 {
	height:305px;
	width:507px;
}
img._idGenObjectAttribute-11 {
	height:669px;
	width:456px;
}
img._idGenObjectAttribute-12 {
	height:670px;
	width:455px;
}
img._idGenObjectAttribute-13 {
	height:671px;
	width:456px;
}
