.calibre {
    display: block;
    font-family: "LiberationSerif", serif;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block
    }
.calibre2 {
    height: 195pt;
    width: 255pt
    }
.calibre3 {
    height: 78pt;
    width: 74pt
    }
.calibre4 {
    height: 393pt;
    width: 184pt
    }
.calibre5 {
    display: block;
    margin: 1em 0
    }
.calibre6 {
    font-weight: bold
    }
.calibre7 {
    font-style: italic
    }
.calibre8 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre9 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre10 {
    display: list-item
    }
.calibre11 {
    display: block;
    list-style-type: circle;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0
    }
.calibre12 {
    display: block;
    list-style-type: square;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0
    }
.calibre13 {
    height: 437pt;
    width: 270pt
    }
.calibre14 {
    height: 461pt;
    width: 269pt
    }
.calibre15 {
    height: 469pt;
    width: 289pt
    }
.calibre16 {
    height: 465pt;
    width: 288pt
    }
.calibre17 {
    height: 461pt;
    width: 270pt
    }
.calibre18 {
    height: 456pt;
    width: 272pt
    }
.calibre19 {
    height: 452pt;
    width: 275pt
    }
.calibre20 {
    height: 282pt;
    width: 270pt
    }
.calibre21 {
    height: 205pt;
    width: 262pt
    }
.calibre22 {
    height: 547pt;
    width: 344pt
    }
