.calibre {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    height: 745px;
    width: 548px
    }
.calibre2 {
    display: block;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 1em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 1.8em;
    margin: 0.55em 0
    }
.calibre3 {
    height: 714px;
    width: 480px
    }
.h {
    display: block;
    font-family: Elephant, serif;
    font-size: 1.25em;
    font-weight: bold;
    line-height: 1.2;
    page-break-after: avoid;
    text-align: justify;
    text-indent: 0;
    margin: 0.38em 0 2.3em 2.7em
    }
.p {
    display: block;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 1em;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 0.55em 0
    }
.p1 {
    display: block;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 1em;
    line-height: 1.2;
    text-align: right;
    text-indent: 1.8em;
    margin: 0.55em 0
    }
.p2 {
    display: block;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 1em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    margin: 0.27em 0 0.27em 3.9em
    }
.t {
    font-family: Elephant, serif;
    font-size: 0.75em;
    font-weight: bold;
    line-height: 1.2
    }
.t1 {
    font-family: Elephant, serif;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 120%
    }
.t10 {
    font-weight: bold
    }
.t11 {
    font-size: 1.125em;
    line-height: 1.2
    }
.t12 {
    font-style: italic;
    font-weight: bold
    }
.t13 {
    font-family: Trebuchet MS, serif;
    font-size: 1.25em;
    line-height: 1.2
    }
.t2 {
    font-family: Trebuchet MS, serif;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 120%
    }
.t3 {
    font-family: Elephant, serif;
    font-size: 1.5em;
    line-height: 120%
    }
.t4 {
    font-family: "Monotype Corsiva", cursive;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2
    }
.t5 {
    font-family: "Monotype Corsiva", cursive;
    font-size: 1.5em;
    font-style: italic;
    font-weight: bold;
    line-height: 120%
    }
.t6 {
    font-family: "Monotype Corsiva", cursive;
    font-size: 1.25em;
    font-weight: bold;
    line-height: 1.2
    }
.t7 {
    font-family: "Monotype Corsiva", cursive;
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
    line-height: 1.2
    }
.t8 {
    font-style: italic
    }
.t9 {
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2
    }
