.calibre {
    color: inherit;
    cursor: inherit;
    text-decoration: inherit
    }
.calibre1 {
    height: 100%;
    max-width: 100%;
    width: auto
    }
.calibre2 {
    display: block;
    font-family: Amasis, serif;
    font-size: 100%;
    font-weight: bold;
    line-height: 130%;
    margin-bottom: 0.55em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.1em;
    text-align: center;
    text-indent: 0
    }
.calibre3 {
    height: auto;
    width: auto
    }
.calibre4 {
    color: blue;
    cursor: pointer;
    text-decoration: underline
    }
.calibre5 {
    display: block;
    font-family: Amasis, serif;
    font-size: 91%;
    line-height: 130%;
    margin-bottom: 0.4em;
    margin-left: 0.1em;
    margin-right: 0.1em;
    margin-top: 0;
    text-align: justify;
    text-indent: 1.4em
    }
.h {
    display: block;
    font-family: Amasis, serif;
    font-size: 100%;
    font-weight: bold;
    line-height: 100%;
    margin-bottom: 0.55em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.1em;
    text-align: center;
    text-indent: 0
    }
.nomargin {
    display: block;
    font-family: "amasis", serif;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.p {
    display: block;
    font-family: Amasis, serif;
    font-size: 91%;
    line-height: 100%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 1.4em
    }
.p1 {
    display: block;
    font-family: Amasis, serif;
    font-size: 91%;
    line-height: 1.3em;
    margin-bottom: 0.4em;
    margin-left: 0.1em;
    margin-right: 0.1em;
    margin-top: 0;
    text-align: justify;
    text-indent: 1.4em
    }
.p10 {
    display: block;
    font-family: Amasis, serif;
    font-size: 91%;
    line-height: 130%;
    margin-bottom: 0.4em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    margin-top: 0;
    text-align: justify;
    text-indent: 1.4em
    }
.p11 {
    display: block;
    font-family: Amasis, serif;
    font-size: 91%;
    line-height: 130%;
    margin-bottom: 0.4em;
    margin-left: 0.2em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 1.4em
    }
.p12 {
    display: block;
    font-family: Amasis, serif;
    font-size: 91%;
    line-height: 130%;
    margin-bottom: 0.4em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: right;
    text-indent: 1.4em
    }
.p13 {
    display: block;
    font-family: Amasis, serif;
    font-size: 91%;
    line-height: 130%;
    margin-bottom: 0.4em;
    margin-left: 0;
    margin-right: 0.4em;
    margin-top: 0;
    text-align: justify;
    text-indent: 1.4em
    }
.p14 {
    display: block;
    font-family: Amasis, serif;
    font-size: 91%;
    line-height: 130%;
    margin-bottom: 0.4em;
    margin-left: 0.1em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 1.4em
    }
.p15 {
    display: block;
    font-family: Amasis, serif;
    font-size: 91%;
    line-height: 130%;
    margin-bottom: 0.4em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 1.4em
    }
.p16 {
    display: block;
    font-family: Amasis, serif;
    font-size: 91%;
    line-height: 130%;
    margin-bottom: 0.4em;
    margin-left: 0.1em;
    margin-right: 0.7em;
    margin-top: 0;
    text-align: justify;
    text-indent: 1.4em
    }
.p17 {
    display: block;
    font-family: Amasis, serif;
    font-size: 91%;
    line-height: 130%;
    margin-bottom: 0.4em;
    margin-left: 0.2em;
    margin-right: 0.1em;
    margin-top: 0;
    text-align: justify;
    text-indent: 1.4em
    }
.p18 {
    display: block;
    font-family: Amasis, serif;
    font-size: 91%;
    line-height: 130%;
    margin-bottom: 0.4em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 2.1em
    }
.p19 {
    display: block;
    font-family: Amasis, serif;
    font-size: 91%;
    line-height: 130%;
    margin-bottom: 0.4em;
    margin-left: 0.3em;
    margin-right: 0.2em;
    margin-top: 0;
    text-align: justify;
    text-indent: 1.4em
    }
.p2 {
    display: block;
    font-family: Amasis, serif;
    font-size: 91%;
    line-height: 150%;
    margin-bottom: 0.4em;
    margin-left: 0.1em;
    margin-right: 0.1em;
    margin-top: 0;
    text-align: justify;
    text-indent: 1.4em
    }
.p20 {
    display: block;
    font-family: Amasis, serif;
    font-size: 91%;
    line-height: 130%;
    margin-bottom: 0.4em;
    margin-left: 0;
    margin-right: 0.1em;
    margin-top: 0;
    text-align: justify;
    text-indent: 1.4em
    }
.p21 {
    display: block;
    font-family: Amasis, serif;
    font-size: 91%;
    line-height: 130%;
    margin-bottom: 0.4em;
    margin-left: 0.1em;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 1.4em
    }
.p22 {
    display: block;
    font-family: Amasis, serif;
    font-size: 91%;
    line-height: 0.8em;
    margin-bottom: 0.4em;
    margin-left: 0.1em;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 1.4em
    }
.p23 {
    display: block;
    font-family: Amasis, serif;
    font-size: 91%;
    line-height: 130%;
    margin-bottom: 0.4em;
    margin-left: 5.4em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 1.4em
    }
.p24 {
    display: block;
    font-family: Amasis, serif;
    font-size: 91%;
    line-height: 130%;
    margin-bottom: 0.4em;
    margin-left: 5.3em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 1.4em
    }
.p25 {
    display: block;
    font-family: Amasis, serif;
    font-size: 91%;
    line-height: 130%;
    margin-bottom: 0.4em;
    margin-left: 5.3em;
    margin-right: 8.6em;
    margin-top: 0;
    text-align: justify;
    text-indent: 1.4em
    }
.p26 {
    display: block;
    font-family: Amasis, serif;
    font-size: 91%;
    line-height: 130%;
    margin-bottom: 0.4em;
    margin-left: 0.1em;
    margin-right: 0.2em;
    margin-top: 0;
    text-align: justify;
    text-indent: 1.4em
    }
.p27 {
    display: block;
    font-family: Amasis, serif;
    font-size: 91%;
    line-height: 130%;
    margin-bottom: 0.4em;
    margin-left: 0.1em;
    margin-right: 0.3em;
    margin-top: 0;
    text-align: justify;
    text-indent: 1.4em
    }
.p28 {
    display: block;
    font-family: Amasis, serif;
    font-size: 91%;
    line-height: 130%;
    margin-bottom: 0.4em;
    margin-left: 0.2em;
    margin-right: 0.4em;
    margin-top: 0;
    text-align: justify;
    text-indent: 1.4em
    }
.p29 {
    display: block;
    font-family: Amasis, serif;
    font-size: 91%;
    line-height: 130%;
    margin-bottom: 0.4em;
    margin-left: 0.4em;
    margin-right: 0.3em;
    margin-top: 0;
    text-align: justify;
    text-indent: 1.4em
    }
.p3 {
    display: block;
    font-family: Amasis, serif;
    font-size: 91%;
    line-height: 130%;
    margin-bottom: 0.4em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 1.4em
    }
.p30 {
    display: block;
    font-family: Amasis, serif;
    font-size: 91%;
    line-height: 130%;
    margin-bottom: 0.4em;
    margin-left: 0.2em;
    margin-right: 0.3em;
    margin-top: 0;
    text-align: justify;
    text-indent: 1.4em
    }
.p31 {
    display: block;
    font-family: Amasis, serif;
    font-size: 91%;
    line-height: 130%;
    margin-bottom: 0.4em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.p32 {
    display: block;
    font-family: Amasis, serif;
    font-size: 91%;
    line-height: 130%;
    margin-bottom: 0.4em;
    margin-left: 0.3em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 1.4em
    }
.p33 {
    display: block;
    font-family: Amasis, serif;
    font-size: 91%;
    line-height: 130%;
    margin-bottom: 0.4em;
    margin-left: 0.3em;
    margin-right: 0.1em;
    margin-top: 0;
    text-align: justify;
    text-indent: 1.4em
    }
.p34 {
    display: block;
    font-family: Amasis, serif;
    font-size: 91%;
    line-height: 130%;
    margin-bottom: 0.4em;
    margin-left: 0.1em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: -0.1em
    }
.p35 {
    display: block;
    font-family: Amasis, serif;
    font-size: 91%;
    line-height: 130%;
    margin-bottom: 0.4em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    margin-top: 0;
    text-align: justify;
    text-indent: -0.2em
    }
.p36 {
    display: block;
    font-family: Amasis, serif;
    font-size: 91%;
    line-height: 130%;
    margin-bottom: 0.4em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0.71em
    }
.p37 {
    display: block;
    font-family: Amasis, serif;
    font-size: 91%;
    line-height: 130%;
    margin-bottom: 0.4em;
    margin-left: 0;
    margin-right: 0.2em;
    margin-top: 0;
    text-align: justify;
    text-indent: 1.4em
    }
.p38 {
    display: block;
    font-family: Amasis, serif;
    font-size: 91%;
    line-height: 130%;
    margin-bottom: 0;
    margin-left: 0.1em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 1.4em
    }
.p39 {
    display: block;
    font-family: Amasis, serif;
    font-size: 91%;
    line-height: 130%;
    margin-bottom: 0.4em;
    margin-left: 1.7em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 1.4em
    }
.p4 {
    display: block;
    font-family: Amasis, serif;
    font-size: 91%;
    line-height: 130%;
    margin-bottom: 0.4em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 1.4em
    }
.p40 {
    display: block;
    font-family: Amasis, serif;
    font-size: 91%;
    line-height: 130%;
    margin-bottom: 0.4em;
    margin-left: 5.1em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 1.4em
    }
.p41 {
    display: block;
    font-family: Amasis, serif;
    font-size: 91%;
    line-height: 130%;
    margin-bottom: 0.4em;
    margin-left: 7.6em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 1.4em
    }
.p42 {
    display: block;
    font-family: Amasis, serif;
    font-size: 91%;
    line-height: 130%;
    margin-bottom: 0.4em;
    margin-left: 7.6em;
    margin-right: 6.1em;
    margin-top: 0;
    text-align: justify;
    text-indent: 1.4em
    }
.p43 {
    display: block;
    font-family: Amasis, serif;
    font-size: 91%;
    line-height: 130%;
    margin-bottom: 0.4em;
    margin-left: 3.6em;
    margin-right: 0.1em;
    margin-top: 0;
    text-align: justify;
    text-indent: 1.4em
    }
.p44 {
    display: block;
    font-family: Amasis, serif;
    font-size: 91%;
    line-height: 130%;
    margin-bottom: 0.4em;
    margin-left: 0;
    margin-right: 0.6em;
    margin-top: 0;
    text-align: justify;
    text-indent: 1.4em
    }
.p45 {
    display: block;
    font-family: Amasis, serif;
    font-size: 91%;
    line-height: 130%;
    margin-bottom: 0.4em;
    margin-left: 0;
    margin-right: 0.3em;
    margin-top: 0;
    text-align: justify;
    text-indent: 1.4em
    }
.p46 {
    display: block;
    font-family: Amasis, serif;
    font-size: 91%;
    line-height: 130%;
    margin-bottom: 0.4em;
    margin-left: 3.5em;
    margin-right: 0.2em;
    margin-top: 0;
    text-align: justify;
    text-indent: 1.4em
    }
.p47 {
    display: block;
    font-family: Amasis, serif;
    font-size: 91%;
    line-height: 130%;
    margin-bottom: 0.4em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.p48 {
    display: block;
    font-family: Amasis, serif;
    font-size: 91%;
    line-height: 130%;
    margin-bottom: 0.4em;
    margin-left: 11em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 1.4em
    }
.p49 {
    display: block;
    font-family: Amasis, serif;
    font-size: 91%;
    line-height: 130%;
    margin-bottom: 0.4em;
    margin-left: 0.3em;
    margin-right: 0.3em;
    margin-top: 0;
    text-align: justify;
    text-indent: 1.4em
    }
.p5 {
    display: block;
    font-family: Amasis, serif;
    font-size: 91%;
    line-height: 130%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.p50 {
    display: block;
    font-family: Amasis, serif;
    font-size: 91%;
    line-height: 100%;
    margin-bottom: 0.4em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 1.4em
    }
.p51 {
    display: block;
    font-family: Amasis, serif;
    font-size: 91%;
    line-height: 130%;
    margin-bottom: 0.4em;
    margin-left: 0.1em;
    margin-right: 0.1em;
    margin-top: 0;
    text-align: justify;
    text-indent: -0.1em
    }
.p52 {
    display: block;
    font-family: Amasis, serif;
    font-size: 91%;
    line-height: 130%;
    margin-bottom: 0.4em;
    margin-left: 0;
    margin-right: 0.9em;
    margin-top: 0;
    text-align: justify;
    text-indent: 1.4em
    }
.p53 {
    display: block;
    font-family: Amasis, serif;
    font-size: 91%;
    line-height: 130%;
    margin-bottom: 0.4em;
    margin-left: 0.5em;
    margin-right: 0.3em;
    margin-top: 0;
    text-align: justify;
    text-indent: 1.4em
    }
.p54 {
    display: block;
    font-family: Amasis, serif;
    font-size: 91%;
    line-height: 130%;
    margin-bottom: 0;
    margin-left: 0.2em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 1.4em
    }
.p55 {
    display: block;
    font-family: Amasis, serif;
    font-size: 91%;
    line-height: 130%;
    margin-bottom: 0;
    margin-left: 0.2em;
    margin-right: 0.1em;
    margin-top: 0;
    text-align: justify;
    text-indent: 1.4em
    }
.p56 {
    display: block;
    font-family: Amasis, serif;
    font-size: 91%;
    line-height: 130%;
    margin-bottom: 0.4em;
    margin-left: 0.4em;
    margin-right: 0.4em;
    margin-top: 0;
    text-align: justify;
    text-indent: 1.4em
    }
.p57 {
    display: block;
    font-family: Amasis, serif;
    font-size: 91%;
    line-height: 130%;
    margin-bottom: 0.4em;
    margin-left: 0.4em;
    margin-right: 0.2em;
    margin-top: 0;
    text-align: justify;
    text-indent: 1.4em
    }
.p58 {
    display: block;
    font-family: Amasis, serif;
    font-size: 91%;
    line-height: 130%;
    margin-bottom: 0.4em;
    margin-left: 5.6em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 1.4em
    }
.p59 {
    display: block;
    font-family: Amasis, serif;
    font-size: 91%;
    line-height: 130%;
    margin-bottom: 0.4em;
    margin-left: 6.7em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 1.4em
    }
.p6 {
    display: block;
    font-family: Amasis, serif;
    font-size: 91%;
    line-height: 130%;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.p60 {
    display: block;
    font-family: Amasis, serif;
    font-size: 91%;
    line-height: 130%;
    margin-bottom: 0.4em;
    margin-left: 3.5em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 1.4em
    }
.p61 {
    display: block;
    font-family: Amasis, serif;
    font-size: 91%;
    line-height: 130%;
    margin-bottom: 0.4em;
    margin-left: 0.4em;
    margin-right: 0.1em;
    margin-top: 0;
    text-align: justify;
    text-indent: 1.4em
    }
.p62 {
    display: block;
    font-family: Amasis, serif;
    font-size: 91%;
    line-height: 130%;
    margin-bottom: 0.4em;
    margin-left: 0.4em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 1.4em
    }
.p63 {
    display: block;
    font-family: Amasis, serif;
    font-size: 91%;
    line-height: 130%;
    margin-bottom: 0.4em;
    margin-left: 8.7em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.p64 {
    display: block;
    font-family: Amasis, serif;
    font-size: 91%;
    line-height: 130%;
    margin-bottom: 0.4em;
    margin-left: 7em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.p65 {
    display: block;
    font-family: Amasis, serif;
    font-size: 91%;
    line-height: 130%;
    margin-bottom: 0.9em;
    margin-left: 0;
    margin-right: 0.3em;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.p66 {
    display: block;
    font-family: Amasis, serif;
    font-size: 91%;
    line-height: 130%;
    margin-bottom: 0.4em;
    margin-left: 8.7em;
    margin-right: 7.9em;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.p67 {
    display: block;
    font-family: Amasis, serif;
    font-size: 91%;
    line-height: 130%;
    margin-bottom: 0.92em;
    margin-left: 0;
    margin-right: 0.3em;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.p68 {
    display: block;
    font-family: Amasis, serif;
    font-size: 91%;
    line-height: 130%;
    margin-bottom: 0.4em;
    margin-left: 5.3em;
    margin-right: 0.1em;
    margin-top: 0;
    text-align: justify;
    text-indent: 1.4em
    }
.p69 {
    display: block;
    font-family: Amasis, serif;
    font-size: 91%;
    line-height: 130%;
    margin-bottom: 0.4em;
    margin-left: 0.3em;
    margin-right: 0.4em;
    margin-top: 0;
    text-align: justify;
    text-indent: 1.4em
    }
.p7 {
    display: block;
    font-family: Amasis, serif;
    font-size: 91%;
    line-height: 100%;
    margin-bottom: 0.4em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.p70 {
    display: block;
    font-family: Amasis, serif;
    font-size: 91%;
    line-height: 0.45em;
    margin-bottom: 0.4em;
    margin-left: 7.5em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 1.4em
    }
.p8 {
    display: block;
    font-family: Amasis, serif;
    font-size: 91%;
    line-height: 130%;
    margin-bottom: 0.4em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.p9 {
    display: block;
    font-family: Amasis, serif;
    font-size: 91%;
    line-height: 130%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.t {
    font-size: 0.1em;
    line-height: 100%
    }
.t1 {
    font-size: 1.1em;
    line-height: 150%
    }
.t10 {
    font-size: 0.75em;
    font-style: italic;
    font-weight: bold;
    line-height: 130%
    }
.t11 {
    font-size: 1.4em;
    line-height: 130%
    }
.t12 {
    font-size: 0.65em;
    line-height: 130%;
    vertical-align: super
    }
.t13 {
    font-size: 0.9em;
    font-weight: bold;
    line-height: 130%
    }
.t14 {
    font-size: 0.75em;
    font-weight: bold;
    line-height: 130%
    }
.t15 {
    font-size: 0.65em;
    line-height: 130%
    }
.t16 {
    font-size: 0.65em;
    line-height: 130%;
    vertical-align: sub
    }
.t17 {
    font-size: 1.1em;
    line-height: 130%
    }
.t18 {
    font-size: 1.2em;
    line-height: 100%
    }
.t19 {
    font-size: 0.9em;
    line-height: 130%
    }
.t2 {
    font-size: 1.2em;
    font-weight: bold;
    line-height: 130%
    }
.t20 {
    letter-spacing: -0.005em
    }
.t21 {
    font-size: 0.45em;
    font-style: italic
    }
.t22 {
    font-style: italic
    }
.t3 {
    font-size: 1.4em;
    font-weight: bold;
    line-height: 130%
    }
.t4 {
    font-weight: bold
    }
.t5 {
    font-size: 1.1em;
    font-weight: bold;
    line-height: 130%
    }
.t6 {
    font-size: 0.85em;
    line-height: 130%
    }
.t7 {
    font-size: 0.8em
    }
.t8 {
    font-size: 0.8em;
    line-height: 130%
    }
.t9 {
    font-size: 0.75em;
    line-height: 130%
    }
