p{font-family:Cambria,serif;font-size:100%;font-weight:bold;letter-spacing:.071em}
.p0{text-indent:0;margin-left:0;line-height:150%;margin-right:0;text-align:center;widows:1;orphans:1;margin-top:0;margin-bottom:0}
.p1{text-indent:0;margin-left:0;line-height:150%;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:0}
.p2{text-indent:0;margin-left:0;line-height:115%;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:0}
.p3{text-indent:0;margin-left:0;line-height:115%;margin-right:0;text-align:center;widows:1;orphans:1;margin-top:0;margin-bottom:0}
.p4{text-indent:0;margin-left:0;line-height:150%;margin-right:0;widows:1;orphans:1;margin-top:0;margin-bottom:0}
.p5{text-indent:0;margin-left:0;margin-right:0;widows:1;orphans:1;margin-top:0;margin-bottom:0}
.p6{text-indent:0;margin-left:0;line-height:150%;margin-right:0;text-align:right;widows:1;orphans:1;margin-top:0;margin-bottom:0}
.t1{font-weight:normal;letter-spacing:0}
.t2{font-size:.86em;line-height:150%;font-weight:normal;letter-spacing:0}
.t3{letter-spacing:0}
.t4{font-size:.93em;line-height:115%;font-weight:normal;letter-spacing:0}
.t5{font-size:2.1em;line-height:115%;letter-spacing:0}
.t6{font-family:Xirwena;font-size:2.1em;line-height:115%;letter-spacing:0}
.t7{font-family:Xirwena;font-size:.93em;line-height:115%;font-weight:normal;letter-spacing:0}
.t8{font-size:1.4em;line-height:150%;letter-spacing:0}
.t9{font-size:1.1em;line-height:150%;letter-spacing:0}
.t10{font-size:1.1em;line-height:150%;font-weight:normal;letter-spacing:0}
.t11{font-size:.93em;line-height:100%;font-weight:normal;letter-spacing:0}
.t12{font-size:.93em;line-height:100%;letter-spacing:0}
.t13{font-size:.93em;line-height:100%;letter-spacing:0;text-decoration:underline}
.t14{font-family:Xirwena;font-size:2.6em;line-height:115%;letter-spacing:0}
.t15{font-size:2.1em;line-height:150%;letter-spacing:0}
.t16{font-size:1.4em;line-height:150%;font-weight:normal;letter-spacing:0}
.t17{font-size:1.6em;line-height:150%;letter-spacing:0}
.t18{font-size:1.3em;line-height:150%;font-weight:normal;letter-spacing:0}
.t19{font-weight:normal;font-style:italic;letter-spacing:0}
.t20{letter-spacing:0}
.t22{font-family:"Times New Roman",serif}