.bold {
    font-weight: bold
    }
.calibre {
    display: block;
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    text-indent: 0;
    margin: 0
    }
.calibre2 {
    font-size: 13.5pt;
    line-height: 1.2
    }
.calibre3 {
    display: block;
    text-align: center;
    text-indent: 2em;
    margin: 0
    }
.calibre4 {
    display: block;
    text-align: center;
    text-indent: 2em;
    margin: 1em 0 0
    }
.calibre5 {
    display: block
    }
.calibre6 {
    display: block;
    text-align: center;
    text-indent: 2em;
    margin: 10pt 0 0
    }
.calibre7 {
    display: block;
    text-align: justify;
    text-indent: 2em;
    margin: 10pt 0 0
    }
.calibre8 {
    font-size: 9pt
    }
.calibre9 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 0
    }
.calibre10 {
    font-size: 17pt;
    line-height: 1.2
    }
.calibre11 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 10pt 0 0
    }
.calibre12 {
    font-size: 20pt;
    line-height: 1.2
    }
.calibre13 {
    height: 25px;
    vertical-align: baseline;
    width: 106px
    }
.calibre14 {
    color: #06c
    }
.calibre15 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 1em 0 0
    }
.calibre16 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 5pt 0 0
    }
.calibre17 {
    display: block;
    text-align: justify;
    text-indent: 2em;
    margin: 0
    }
.calibre18 {
    height: 366px;
    vertical-align: baseline;
    width: 417px
    }
.calibre19 {
    height: 212px;
    vertical-align: baseline;
    width: 366px
    }
.calibre20 {
    display: block;
    text-align: left;
    text-indent: 0;
    margin: 10pt 0 0 2em
    }
.calibre21 {
    height: 316px;
    vertical-align: baseline;
    width: 295px
    }
.calibre22 {
    display: block;
    text-align: justify;
    text-indent: 2em;
    margin: 2em 0 0
    }
.calibre23 {
    height: 428px;
    vertical-align: baseline;
    width: 311px
    }
.calibre24 {
    height: 364px;
    vertical-align: baseline;
    width: 360px
    }
.calibre25 {
    height: 518px;
    vertical-align: baseline;
    width: 200px
    }
.calibre26 {
    display: block;
    text-align: justify;
    text-indent: 2em;
    margin: 1em 0 0
    }
.calibre27 {
    height: 251px;
    vertical-align: baseline;
    width: 346px
    }
.calibre28 {
    height: 500px;
    vertical-align: baseline;
    width: 292px
    }
.calibre29 {
    height: 245px;
    vertical-align: baseline;
    width: 309px
    }
.calibre30 {
    height: 270px;
    vertical-align: baseline;
    width: 308px
    }
.calibre31 {
    height: 405px;
    vertical-align: baseline;
    width: 248px
    }
.calibre32 {
    height: 299px;
    vertical-align: baseline;
    width: 180px
    }
.calibre33 {
    height: 257px;
    vertical-align: baseline;
    width: 136px
    }
.calibre34 {
    height: 250px;
    vertical-align: baseline;
    width: 145px
    }
.calibre35 {
    height: 230px;
    vertical-align: baseline;
    width: 135px
    }
.calibre36 {
    height: 190px;
    vertical-align: baseline;
    width: 109px
    }
.calibre37 {
    height: 204px;
    vertical-align: baseline;
    width: 113px
    }
.calibre38 {
    height: 225px;
    vertical-align: baseline;
    width: 131px
    }
.calibre39 {
    height: 241px;
    vertical-align: baseline;
    width: 141px
    }
.calibre40 {
    height: 238px;
    vertical-align: baseline;
    width: 139px
    }
.calibre41 {
    height: 213px;
    vertical-align: baseline;
    width: 125px
    }
.calibre42 {
    height: 306px;
    vertical-align: baseline;
    width: 295px
    }
.calibre43 {
    font-size: 22pt;
    line-height: 1.2
    }
.calibre44 {
    display: block;
    text-indent: -19pt;
    margin: 1em 0 0 19pt
    }
.calibre45 {
    display: block;
    text-indent: -19pt;
    margin: 0 0 0 19pt
    }
.italic {
    font-style: italic
    }
.mbppagebreak {
    display: block;
    margin: 0
    }
.underline {
    text-decoration: underline
    }
