p {
  margin:0 auto 0 auto;  
  font-size:0.8em;
  text-indent:0em;
  text-align:left;
}
.sayfa_kes{page-break-before: always;}
.logo1{text-indent:0em;margin-top:1em;margin-bottom:1em;}

.bos05{margin-top:0.5em;}
.bos02{margin-top:0.2em;}
.bos1{margin-top:1em;}
.bos8{margin-top:8em;}

.ortak{padding: 25px;}

.kunye0{text-align:center;font-weight:bold;font-size:2.5em;}
.kunye1{text-align:center;font-weight:bold;font-size:1em;}
.kunye2{text-align:right;font-size:1.2em;}
.kunye3{text-align:center;font-size:1em;}
.logo{text-align:center;margin-top:8em;}
.yazar1{font-size:1.2em;}
.yazar2{font-size:1em;text-align:justify;margin-right:3em;}
