p {
margin:0 auto 0 auto;
text-indent:1.5em;
text-align:justify;}
sub, sup { 
font-size: 70%;
line-height: 0; 
}
sup {top: -0.25em;}
sub {bottom: -0.25em;}

.footnote {text-indent: 0em; margin-bottom: 0em; margin-top: 0em; page-break-before: always;font-size:0.8em;}

.ilk{text-indent:0em; }
.bos02{margin-top:0.2em;}
.bos2{margin-top:2em;}
.bos3{margin-top:3em;}
.bos6{margin-top:6em;}

.baslik1{text-indent:0em;text-align:center;font-size:1.5em;font-weight:bold;}