p {
  margin:0 auto 0 auto;  
  font-size:0.8em;
  text-indent:0em;
  text-align:center;
}
.bos1{margin-top:1em;}
.bos3{margin-top:3em;}
.bos5{margin-top:5em;}
.bos8{margin-top:8em;}
.bos20{margin-top:20em;}

.baslik1{font-size:1.8em;font-weight:bold;}
.baslik2{font-size:2em;font-weight:bold;}
.baslik3{font-size:1em;}
.yazar{text-align:justify;}
div.centered {text-align: center;margin-left:2em;margin-right:2em;}
div.centered table {margin: 0 auto;}
table p{text-align:left;}