p {
  margin:0 auto 0 auto;  
  font-size:0.8em;
  text-indent:0em;
  text-align:left;
}

.bos06{margin-top:0.6em;}
.bos2{margin-top:2em;}
.bos3{margin-top:3em;}
.bos5{margin-top:3em;}
.bos10{margin-top:10em;}
.bos14{margin-top:14em;}

.ortali{text-align:center;}
.kunye0{text-align:center;font-size:1.8em;}
.kunye1{text-align:center;font-size:2em;}
.kunye2{text-align:center;font-size:1em;}
.kunye3{text-align:justify;font-size:1em;}

