.MsoNormal {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: right
    }
.MsoNormal1 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.MsoNormalTable {
    border-collapse: collapse;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-left: -1.5pt;
    margin-top: 0;
    text-indent: 0
    }
.calibre {
    background-color: rgb(255, 255, 204);
    color: rgb(0, 0, 0);
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    display: block;
    font-family: Cambria;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.83em;
    text-align: center
    }
.calibre10 {
    font-size: 0.90909em;
    line-height: 1.2
    }
.calibre11 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: sub
    }
.calibre12 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre13 {
    display: block;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre14 {
    font-style: italic
    }
.calibre15 {
    display: block;
    font-style: italic
    }
.calibre16 {
    display: block;
    font-style: italic;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre17 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0
    }
.calibre18 {
    display: table-row-group;
    vertical-align: middle
    }
.calibre19 {
    display: table-row;
    vertical-align: inherit
    }
.calibre2 {
    display: block;
    font-family: Cambria;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.83em;
    text-align: center
    }
.calibre20 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit
    }
.calibre21 {
    display: table-row;
    height: 14.5pt;
    vertical-align: inherit
    }
.calibre22 {
    display: table-cell;
    height: 14.5pt;
    padding-bottom: 0;
    padding-left: 3.5pt;
    padding-right: 3.5pt;
    padding-top: 0;
    text-align: inherit;
    vertical-align: inherit;
    width: 95.9pt
    }
.calibre23 {
    color: black
    }
.calibre24 {
    display: table-cell;
    height: 14.5pt;
    padding-bottom: 0;
    padding-left: 3.5pt;
    padding-right: 3.5pt;
    padding-top: 0;
    text-align: inherit;
    vertical-align: inherit;
    width: 51.6pt
    }
.calibre3 {
    display: block
    }
.calibre4 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em;
    text-align: center
    }
.calibre5 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre6 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em
    }
.calibre7 {
    display: block;
    line-height: 1.2
    }
.calibre8 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em;
    text-align: center
    }
.calibre9 {
    font-size: 0.91667em;
    line-height: 1.2
    }
