.calibre {
    display: block;
    font-family: "LiberationSerif", serif;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    margin: 1em 0
    }
.calibre2 {
    font-weight: bold
    }
.calibre3 {
    display: block
    }
.calibre4 {
    height: 179pt;
    width: 319pt
    }
.calibre5 {
    font-style: italic
    }
.calibre6 {
    height: 153pt;
    width: 276pt
    }
.calibre7 {
    height: 180pt;
    width: 276pt
    }
.calibre8 {
    height: 171pt;
    width: 276pt
    }
.calibre9 {
    height: 207pt;
    width: 318pt
    }
.calibre10 {
    height: 198pt;
    width: 277pt
    }
.calibre11 {
    height: 181pt;
    width: 277pt
    }
.calibre12 {
    height: 198pt;
    width: 321pt
    }
.calibre13 {
    height: 187pt;
    width: 277pt
    }
.calibre14 {
    height: 199pt;
    width: 318pt
    }
.calibre15 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre16 {
    height: 172pt;
    width: 277pt
    }
.calibre17 {
    height: 211pt;
    width: 318pt
    }
.calibre18 {
    height: 212pt;
    width: 276pt
    }
.calibre19 {
    height: 197pt;
    width: 276pt
    }
.calibre20 {
    height: 197pt;
    width: 275pt
    }
.calibre21 {
    height: 196pt;
    width: 277pt
    }
.calibre22 {
    height: 230pt;
    width: 330pt
    }
.calibre23 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre24 {
    display: list-item
    }
.calibre25 {
    display: block;
    list-style-type: circle;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0
    }
.calibre26 {
    display: block;
    list-style-type: square;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0
    }
.calibre27 {
    height: 127pt;
    width: 277pt
    }
.calibre28 {
    height: 138pt;
    width: 318pt
    }
.calibre29 {
    font-variant: small-caps;
    font-weight: bold
    }
.calibre30 {
    height: 210pt;
    width: 318pt
    }
.calibre31 {
    height: 186pt;
    width: 277pt
    }
.calibre32 {
    height: 185pt;
    width: 277pt
    }
.calibre33 {
    height: 183pt;
    width: 277pt
    }
.calibre34 {
    height: 212pt;
    width: 318pt
    }
.calibre35 {
    height: 184pt;
    width: 277pt
    }
.calibre36 {
    height: 180pt;
    width: 277pt
    }
.calibre37 {
    height: 223pt;
    width: 320pt
    }
.calibre38 {
    height: 182pt;
    width: 277pt
    }
.calibre39 {
    height: 184pt;
    width: 276pt
    }
.calibre40 {
    height: 182pt;
    width: 318pt
    }
.calibre41 {
    height: 173pt;
    width: 277pt
    }
.calibre42 {
    height: 209pt;
    width: 318pt
    }
.calibre43 {
    font-style: italic;
    font-weight: bold
    }
.calibre44 {
    height: 158pt;
    width: 277pt
    }
.calibre45 {
    height: 154pt;
    width: 276pt
    }
.calibre46 {
    height: 160pt;
    width: 277pt
    }
.calibre47 {
    height: 159pt;
    width: 277pt
    }
.calibre48 {
    height: 228pt;
    width: 321pt
    }
.calibre49 {
    height: 213pt;
    width: 318pt
    }
.calibre50 {
    height: 215pt;
    width: 320pt
    }
.calibre51 {
    height: 170pt;
    width: 277pt
    }
.calibre52 {
    height: 158pt;
    width: 318pt
    }
.calibre53 {
    height: 135pt;
    width: 277pt
    }
.calibre54 {
    height: 145pt;
    width: 277pt
    }
.calibre55 {
    height: 145pt;
    width: 276pt
    }
.calibre56 {
    height: 213pt;
    width: 319pt
    }
.calibre57 {
    height: 177pt;
    width: 277pt
    }
.calibre58 {
    height: 160pt;
    width: 321pt
    }
.calibre59 {
    height: 160pt;
    width: 282pt
    }
.calibre60 {
    height: 140pt;
    width: 277pt
    }
.calibre61 {
    height: 192pt;
    width: 315pt
    }
