p {
  font-size:0.8em;
	margin-top:0.1em;
  margin-bottom:0.1em;
  text-indent:0em;
  text-align:justify;
}
.ekdg{margin-top:5em;text-align:center;}
.sayfa_kes{page-break-before: always;}

.kunye0{text-align:center;font-size:0.9em;font-weight:bold;margin-bottom:0.8em;margin-top:2em;}

.kunye1{font-size:0.8em;}
.kunye2{font-size:0.9em;text-align:center;letter-spacing:0.3em;margin-top:12em;margin-bottom:0.8em;}
.kunye3{text-align:center;margin-top:-0.16em;}
.kunye4{text-align:center;margin-top:0.7em;}
.kunye5{font-size:0.9em;text-align:center;margin-top:0.5em;letter-spacing:0.6em;}
.kunye6{font-size:1.3em;text-align:center;margin-top:3em;font-weight:bold;letter-spacing:0.06em;}
.kunye7{font-size:1.3em;text-align:center;font-weight:bold;letter-spacing:0.06em;}

.kunye8{font-size:0.9em;text-align:center;letter-spacing:0.48em;}
.kunye9{text-align:center;font-size:0.7em;margin-top:-0.16em;}

.kunye10{margin-top:3em;font-size:1.8em;text-align:center;font-weight:bold;}
.kunye11{font-size:1.8em;text-align:center;font-weight:bold;}
.kunye12{font-size:1.1em;text-align:center;margin-top:1em;}
.kunye13{font-size:1.2em;text-align:center;margin-top:2em;font-weight:bold;}

.logo{margin-top:10em;text-align:center;}

.ithaf1{font-size:1.2em;text-align:center;margin-top:8em;font-weight:bold;}
.ithaf2{font-size:1.2em;text-align:center;font-weight:bold;}
.ithaf3{font-size:1em;text-align:center;font-weight:bold;}