.calibre {
    display: block;
    font-family: "LiberationSerif", serif;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    margin: 1em 0
    }
.calibre2 {
    font-style: italic
    }
.calibre3 {
    font-weight: bold
    }
.calibre4 {
    font-variant: small-caps;
    font-weight: bold
    }
.calibre5 {
    display: block
    }
.calibre6 {
    height: 399pt;
    width: 293pt
    }
.calibre7 {
    height: 409pt;
    width: 298pt
    }
.calibre8 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre9 {
    font-style: italic;
    font-weight: bold
    }
.calibre10 {
    text-decoration: underline
    }
.calibre11 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre12 {
    display: list-item
    }
.calibre13 {
    display: block;
    list-style-type: circle;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0
    }
.calibre14 {
    height: 389pt;
    width: 244pt
    }
.calibre15 {
    height: 274pt;
    width: 293pt
    }
.calibre16 {
    font-style: italic;
    font-variant: small-caps;
    font-weight: bold
    }
.calibre17 {
    height: 188pt;
    width: 274pt
    }
.calibre18 {
    height: 492pt;
    width: 331pt
    }
.calibre19 {
    height: 474pt;
    width: 288pt
    }
.calibre20 {
    height: 444pt;
    width: 287pt
    }
.calibre21 {
    height: 414pt;
    width: 291pt
    }
.calibre22 {
    height: 280pt;
    width: 290pt
    }
.calibre23 {
    height: 205pt;
    width: 285pt
    }
.calibre24 {
    height: 166pt;
    width: 239pt
    }
.calibre25 {
    height: 322pt;
    width: 198pt
    }
.calibre26 {
    height: 205pt;
    width: 273pt
    }
.calibre27 {
    height: 196pt;
    width: 285pt
    }
.calibre28 {
    height: 418pt;
    width: 291pt
    }
.calibre29 {
    height: 205pt;
    width: 284pt
    }
.calibre30 {
    height: 199pt;
    width: 283pt
    }
.calibre31 {
    height: 470pt;
    width: 288pt
    }
.calibre32 {
    height: 485pt;
    width: 292pt
    }
.calibre33 {
    height: 475pt;
    width: 289pt
    }
.calibre34 {
    height: 418pt;
    width: 290pt
    }
.calibre35 {
    height: 211pt;
    width: 291pt
    }
.calibre36 {
    height: 231pt;
    width: 285pt
    }
.calibre37 {
    height: 474pt;
    width: 290pt
    }
.calibre38 {
    display: block;
    border: currentColor solid medium
    }
.calibre39 {
    height: 469pt;
    width: 291pt
    }
.calibre40 {
    height: 479pt;
    width: 289pt
    }
.calibre41 {
    height: 447pt;
    width: 283pt
    }
.calibre42 {
    height: 406pt;
    width: 289pt
    }
.calibre43 {
    height: 213pt;
    width: 170pt
    }
.calibre44 {
    height: 197pt;
    width: 264pt
    }
.calibre45 {
    height: 367pt;
    width: 296pt
    }
.calibre46 {
    height: 486pt;
    width: 297pt
    }
.calibre47 {
    height: 218pt;
    width: 288pt
    }
.calibre48 {
    height: 234pt;
    width: 282pt
    }
.calibre49 {
    height: 405pt;
    width: 282pt
    }
.calibre50 {
    height: 228pt;
    width: 265pt
    }
.calibre51 {
    height: 219pt;
    width: 283pt
    }
.calibre52 {
    height: 392pt;
    width: 292pt
    }
.calibre53 {
    height: 406pt;
    width: 286pt
    }
.calibre54 {
    height: 551pt;
    width: 257pt
    }
.calibre55 {
    height: 450pt;
    width: 289pt
    }
.calibre56 {
    height: 462pt;
    width: 299pt
    }
.calibre57 {
    height: 481pt;
    width: 297pt
    }
.calibre58 {
    height: 419pt;
    width: 269pt
    }
