.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block
    }
.calibre2 {
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    margin: 0 0 0.0001pt
    }
.calibre3 {
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    text-align: right;
    margin: 0 0 0.0001pt
    }
.calibre4 {
    font-style: italic
    }
.calibre5 {
    font-family: "Times New Roman", "serif";
    font-size: 1em
    }
.calibre6 {
    display: block
    }
.WordSection {
    display: block;
    page: WordSection1
    }
h1
{
margin-top:3em;
margin-bottom:3em;
text-align:center;
Font-size:1.5em;
}
p{
text-align:justify;
text-indent:1em;
margin-top:0.3em;
margin-bottom:0.3em;
}
