p{text-indent:0;margin-left:0;line-height:120%;margin-right:0;text-align:justify;margin-top:0;margin-bottom:.45em;font-family:Cambria,serif;font-size:100%}
.p0{text-indent:0;text-align:center;margin-bottom:0}
.p1{text-indent:0;text-align:center}
.p2{text-indent:0;text-align:left}
.p4{text-indent:0;line-height:115%;text-align:left;margin-bottom:.91em}
.p5{text-indent:0;margin-right:5.9em}
.p6{text-indent:0;margin-left:7.1em;text-align:left}
.p7{text-indent:0;margin-left:7.1em}
.p8{text-indent:-1.9em;margin-left:2.6em;line-height:100%;margin-right:2.6em;margin-top:.27em;margin-bottom:.27em}
.p9{text-indent:-1.9em;margin-left:3.2em;line-height:115%}
.p10{text-indent:-1.9em;margin-left:2.6em;line-height:100%;margin-right:2.6em;text-align:right;margin-top:.27em;margin-bottom:.27em}
.p11{text-indent:-1.9em;margin-left:5.8em;line-height:100%;margin-right:2.6em;margin-top:.27em;margin-bottom:.27em}
.p12{text-indent:-.9em;margin-left:.9em;line-height:100%;margin-bottom:.27em}
.p13{text-indent:0}
h1{text-indent:0;margin-left:0;margin-right:0;text-align:center;page-break-after:avoid;margin-top:.75em;margin-bottom:3.4em;font-family:Cambria,serif;font-size:145%;font-weight:bold}
.h11{text-indent:0}
h2{text-indent:0;margin-left:0;line-height:120%;margin-right:0;text-align:center;page-break-after:avoid;margin-top:1.6em;margin-bottom:.55em;font-family:Cambria,serif;font-size:100%;font-weight:bold}
.h21{text-indent:0}
.t1{font-size:1.1em;line-height:120%}
.t2{font-size:2em;line-height:120%}
.t3{font-family:Arial,sans-serif;font-size:2.5em;line-height:120%}
.t4{font-family:Arial,sans-serif;font-size:3.2em;line-height:120%;font-weight:bold}
.t5{font-family:Arial,sans-serif;font-size:1.3em;line-height:120%;font-weight:bold}
.t6{font-family:Arial,sans-serif;font-size:1.3em;line-height:120%;font-weight:bold}
.t9{font-weight:bold}
.t10{font-style:italic}
.t11{font-family:"Times New Roman",serif}
.t12{font-size:.65em;line-height:120%;vertical-align:super}
.t13{letter-spacing:-.0091em}
.t14{font-size:.95em;line-height:100%}
.t15{font-size:1.5em;line-height:115%;font-weight:bold}
.t16{font-size:.73em;line-height:120%}
.t17{font-size:.91em;line-height:115%}
.t18{font-size:1.5em;line-height:120%;font-weight:bold}
.t19{font-size:1.2em;line-height:120%}
.t20{font-size:.95em;line-height:100%;font-style:italic}
.t21{font-size:.82em;line-height:115%}
.t22{font-size:.82em;line-height:120%}
.t23{font-style:italic;letter-spacing:-.018em}
.t24{letter-spacing:-.018em}
.t25{font-style:italic;letter-spacing:-.0091em}
.t26{font-size:.65em;line-height:120%;vertical-align:super;letter-spacing:-.014em}
.t27{font-size:.65em;line-height:120%;font-style:italic;vertical-align:super}
.t28{font-weight:bold}
.t29{font-size:.62em;line-height:100%;vertical-align:super}
.t30{font-family:"MS Mincho",monospace}
.t31{font-size:.47em;line-height:100%;vertical-align:super}
.t32{font-size:.73em;line-height:100%}
.t33{font-size:.73em;line-height:100%;font-style:italic}
.t34{font-size:.73em;line-height:100%;letter-spacing:-.013em}
.t35{font-size:.73em;line-height:100%;font-style:italic;letter-spacing:-.013em}
.t36{font-size:.73em;line-height:100%;letter-spacing:-.038em}
.t37{font-size:.73em;line-height:100%;font-style:italic;letter-spacing:-.038em}
.th22{font-size:.65em;line-height:120%;vertical-align:super}