.calibre {
  display: block;
  font-size: 1.25em;
  line-height: 1.2;
  padding-left: 0;
  padding-right: 0;
  margin: 0 5pt;
}
.calibre1 {
  display: block;
}
.calibre2 {
  font-size: 0.77778em;
}
.calibre3 {
  font-size: 0.66667em;
}
.calibre4 {
  font-weight: bold;
}
.calibre5 {
  font-style: italic;
}
.calibre6 {
  font-size: 0.6em;
}
.calibre7 {
  display: block;
}
.calibre8 {
  border-bottom: 0;
  border-top: 0;
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 0.9em;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  text-align: center;
  margin: 0;
}
.calibre9 {
  font-family: Verve-RegularAltSTF;
  font-size: 1.33333em;
  line-height: 1.2;
}
.calibre10 {
  font-size: 1em;
  line-height: 1.2;
}
.calibre11 {
  font-size: 0.88889em;
}
.calibre12 {
  font-family: "Edwardian Script ITC";
  font-size: 1.33333em;
  line-height: 1.2;
}
.calibre13 {
  display: block;
  line-height: 1.2;
}
.calibre14 {
  line-height: 1.2;
}
.calibre15 {
  text-decoration: none;
}
.calibre16 {
  font-family: Verve-RegularAltSTF;
  text-decoration: none;
}
.calibre17 {
  color: windowtext;
  display: none;
  text-decoration: none;
}
.calibre18 {
  font-family: Verve-RegularAltSTF;
}
.calibre19 {
  font-size: 0.7em;
}
.calibre20 {
  font-size: 0.875em;
  line-height: 1.2;
  vertical-align: super;
}
.calibre21 {
  border-bottom: 0;
  border-top: 0;
  display: block;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  text-indent: 1.5em;
}
.calibre22 {
  height: 258px;
  width: 569px;
}
.calibre23 {
  height: 206px;
  width: 558px;
}
.calibre24 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  margin: 0.83em 0;
}
.calibre25 {
  font-family: Verve-RegularAltSTF;
  font-size: 1.09091em;
  font-weight: normal;
  line-height: 1.2;
}
.calibre26 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  margin: 0.83em 0;
}
.calibre27 {
  height: 6px;
  width: 484px;
}
.calibre28 {
  font-family: "Times New Roman", "serif";
  font-size: 0.9em;
  line-height: 1.2;
}
.calibre29 {
  font-family: Verve-RegularAltSTF;
  font-size: 1.09091em;
  line-height: 1.2;
}
.calibre30 {
  height: 62px;
  width: 137px;
}
.calibre31 {
  border-bottom: 0;
  border-top: 0;
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 0.9em;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  text-align: right;
  text-indent: 35.4pt;
  margin: 0;
}
.calibre32 {
  border-bottom: 0;
  border-top: 0;
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 0.9em;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  text-align: right;
  margin: 0;
}
.calibre33 {
  font-family: "Whitechapel BB", "sans-serif";
  font-size: 1.33333em;
  line-height: 1.2;
}
.calibre34 {
  font-family: "Sylfaen", "serif";
  font-size: 0.88889em;
}
.calibre35 {
  font-size: 1.33333em;
  line-height: 1.2;
}
.calibre36 {
  font-family: Aharoni;
  font-size: 1.33333em;
  line-height: 1.2;
}
.calibre37 {
  height: 525px;
  line-height: 1.2;
  width: 520px;
}
.calibre38 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1.2;
  margin: 0.83em 0;
}
.calibre39 {
  font-family: "Calibri Light", "sans-serif";
}
.calibre40 {
  font-family: "Calibri Light", "sans-serif";
  font-size: 0.88889em;
}
.calibre41 {
  font-size: 0.8em;
}
.calibre42 {
  border-bottom: 0;
  border-top: 0;
  display: block;
  padding-bottom: 0;
  padding-top: 0;
  text-indent: 1.5em;
  margin: 0;
}
.calibre43 {
  font-size: 1em;
  line-height: 1.2;
  vertical-align: super;
}
.calibre44 {
  height: 48pt;
  width: 24pt;
}
.calibre45 {
  height: 81pt;
  width: 139pt;
}
.calibre46 {
  height: 55pt;
  width: 86pt;
}
.calibre47 {
  display: block;
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1.2;
  margin: 1em 0;
}
.calibre48 {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2;
  margin: 0.83em 0;
}
.calibre49 {
  height: 118pt;
  width: 37pt;
}
.calibre50 {
  height: 47pt;
  width: 285pt;
}
.calibre51 {
  font-size: 0.85714em;
  line-height: 1.2;
  vertical-align: super;
}
.calibre52 {
  height: 124pt;
  width: 68pt;
}
.calibre53 {
  height: 29pt;
  width: 65pt;
}
.calibre54 {
  height: 29pt;
  width: 40pt;
}
.calibre55 {
  height: 36pt;
  width: 156pt;
}
.calibre56 {
  height: 43pt;
  width: 63pt;
}
.calibre57 {
  height: 162pt;
  width: 194pt;
}
.calibre58 {
  height: 28pt;
  width: 39pt;
}
.calibre59 {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2;
  margin: 0.67em 0;
}
.calibre60 {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2;
  margin: 0.83em 0;
}
.calibre61 {
  height: 34pt;
  width: 28pt;
}
.calibre62 {
  font-size: 0.9em;
  line-height: 1.2;
  vertical-align: super;
}
.font {
  font-family: "Trebuchet MS", "sans-serif";
}
.font1 {
  font-family: "Century Gothic", "sans-serif";
}
.font2 {
  font-family: "Times New Roman", "serif";
}
.font3 {
  font-family: "Sylfaen", "serif";
}
.font4 {
  font-family: "Impact", "sans-serif";
}
.font5 {
  font-family: "Century Gothic", "sans-serif";
  line-height: 1.2;
}
.font6 {
  font-family: "Tahoma", "sans-serif";
  line-height: 1.2;
}
.font7 {
  font-family: "Sylfaen", "serif";
  line-height: 1.2;
}
.font8 {
  font-family: "Verdana", "sans-serif";
  line-height: 1.2;
}
.font9 {
  font-family: Impact, sans-serif;
  font-size: 1.2em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
}
.font10 {
  font-family: Sylfaen, serif;
  font-size: 0.9em;
  font-style: italic;
  font-variant: normal;
  font-weight: bold;
  line-height: 1.2;
}
.font11 {
  font-family: Times, New, Roman, serif;
  font-size: 0.9em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 1.2;
}
.font12 {
  font-family: Trebuchet, MS, sans-serif;
  font-size: 0.9em;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.2;
}
.font13 {
  font-family: Sylfaen, serif;
  font-size: 0.9em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 1.2;
}
.font14 {
  font-family: Sylfaen, serif;
  font-size: 0.9em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.2;
}
.font15 {
  font-family: Sylfaen, serif;
  font-size: 0.9em;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.2;
}
.font16 {
  font-family: Century, Gothic, sans-serif;
  font-size: 0.6em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.2;
}
.font17 {
  font-family: Trebuchet, MS, sans-serif;
  font-size: 0.6em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.2;
}
.font18 {
  font-family: Trebuchet, MS, sans-serif;
  font-size: 0.7em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.2;
}
.font19 {
  font-family: Century, Gothic, sans-serif;
  font-size: 0.6em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 1.2;
}
.font20 {
  font-family: Century, Gothic, sans-serif;
  font-size: 0.6em;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.2;
}
.font21 {
  font-family: Century, Gothic, sans-serif;
  font-size: 0.8em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.2;
}
.font22 {
  font-family: Sylfaen, serif;
  font-size: 0.8em;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.2;
}
.font23 {
  font-family: Impact, sans-serif;
  font-size: 1em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.2;
}
.font24 {
  font-family: Sylfaen, serif;
  font-size: 0.7em;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.2;
}
.font25 {
  font-family: Sylfaen, serif;
  font-size: 0.7em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.2;
}
.font26 {
  font-family: Sylfaen, serif;
  font-size: 0.8em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.2;
}
.font27 {
  font-family: Century, Gothic, sans-serif;
  font-size: 0.9em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 1.2;
}
.font28 {
  font-family: Trebuchet, MS, sans-serif;
  font-size: 0.9em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.2;
}
.font29 {
  font-family: Sylfaen, serif;
  font-size: 0.63636em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.2;
}
.font30 {
  font-family: Century, Gothic, sans-serif;
  font-size: 1em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: normal;
}
.font31 {
  font-family: Verdana, sans-serif;
  font-size: 1.2em;
  font-style: italic;
  font-variant: normal;
  font-weight: bold;
  line-height: normal;
}
.font32 {
  font-family: Sylfaen, serif;
  font-size: 1.1em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 1.2;
}
.font33 {
  font-family: Times, New, Roman, serif;
  font-size: 1.1em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 1.2;
}
.font34 {
  font-family: Sylfaen, serif;
  font-size: 1.1em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.2;
}
.font35 {
  font-family: Century, Gothic, sans-serif;
  font-size: 1.2em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: normal;
}
.font36 {
  font-family: Sylfaen, serif;
  font-size: 0.6em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.2;
}
.font37 {
  font-family: Lucida, Sans, Unicode, sans-serif;
  font-size: 0.6em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.2;
}
.font38 {
  font-family: Bookman, Old, Style, serif;
  font-size: 1.2em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 1.2;
}
.font39 {
  font-family: Times, New, Roman, serif;
  font-size: 0.6em;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.2;
}
.font40 {
  font-family: Century, Gothic, sans-serif;
  font-size: 0.6em;
  font-style: normal;
  font-variant: small-caps;
  font-weight: bold;
  line-height: 1.2;
}
.font41 {
  font-family: Times, New, Roman, serif;
  font-size: 0.6em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.2;
}
.font42 {
  font-family: Times, New, Roman, serif;
  font-size: 1.2em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: normal;
}
.font43 {
  font-family: Tahoma, sans-serif;
  font-size: 1em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
}
.font44 {
  font-family: Century, Gothic, sans-serif;
  font-size: 1.1em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 1.2;
}
.font45 {
  font-family: Times, New, Roman, serif;
  font-size: 0.7em;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.2;
}
.font46 {
  font-family: Sylfaen, serif;
  font-size: 1em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
}
.font47 {
  font-family: Candara, sans-serif;
  font-size: 0.7em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.2;
}
.font48 {
  font-family: Verdana, sans-serif;
  font-size: 0.7em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.2;
}
.font49 {
  font-family: Times, New, Roman, serif;
  font-size: 0.9em;
  font-style: italic;
  font-variant: normal;
  font-weight: bold;
  line-height: 1.2;
}
.font50 {
  font-family: Impact, sans-serif;
  font-size: 0.6em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.2;
}
.font51 {
  font-family: Sylfaen, serif;
  font-size: 0.8em;
  font-style: normal;
  font-variant: small-caps;
  font-weight: normal;
  line-height: 1.2;
}
.font52 {
  font-family: Sylfaen, serif;
  font-size: 0.6em;
  font-style: italic;
  font-variant: normal;
  font-weight: bold;
  line-height: 1.2;
}
.font53 {
  font-family: Sylfaen, serif;
  font-size: 0.6em;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.2;
}
.font54 {
  font-family: Sylfaen, serif;
  font-size: 1em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.2;
}
.font55 {
  font-family: Verdana, sans-serif;
  font-size: 0.6em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.2;
}
.font56 {
  font-family: Sylfaen, serif;
  font-size: 1.2em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
}
.font57 {
  font-family: Impact, sans-serif;
  font-size: 1.09091em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
}
.font58 {
  font-family: Arial, sans-serif;
  font-size: 1.2em;
  font-style: italic;
  font-variant: normal;
  font-weight: bold;
  line-height: normal;
}
.font59 {
  font-family: Batang, serif;
  font-size: 0.6em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.2;
}
.font60 {
  font-family: Trebuchet, MS, sans-serif;
  font-size: 1.2em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: normal;
}
.font61 {
  font-family: Sylfaen, serif;
  font-size: 1.09091em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
}
.font62 {
  font-family: Franklin, Gothic, Heavy, sans-serif;
  font-size: 1.09091em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
}
.font63 {
  font-family: Times, New, Roman, serif;
  font-size: 1.2em;
  font-style: italic;
  font-variant: normal;
  font-weight: bold;
  line-height: normal;
}
.font64 {
  font-family: Constantia, serif;
  font-size: 0.6em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.2;
}
.font65 {
  font-family: Consolas, monospace;
  font-size: 1.2em;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
}
.font66 {
  font-family: Century, Gothic, sans-serif;
  font-size: 1em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
}
.font67 {
  font-family: Consolas, monospace;
  font-size: 0.6em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.2;
}
.font68 {
  font-family: Verdana, sans-serif;
  font-size: 1.09091em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: normal;
}
.msohyperlink {
  color: blue;
  text-decoration: underline;
}
.msonormal {
  border-bottom: 0;
  border-top: 0;
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 0.9em;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  text-indent: 1.5em;
  margin: 0;
}
.msotoc {
  border-bottom: 0;
  border-top: 0;
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 0.9em;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  tab-stops: right dotted 453.1pt;
  text-indent: 1.5em;
  margin: 0 0 0 12pt;
}
.msotocheading {
  border-bottom: 0;
  border-top: 0;
  color: #2E74B5;
  display: block;
  font-family: "Calibri Light", "sans-serif";
  font-size: 1em;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  page-break-after: avoid;
  text-indent: 1.5em;
  margin: 0;
}
.wordsection {
  border-bottom: 0;
  border-top: 0;
  display: block;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  page: WordSection1;
  text-indent: 1.5em;
}
.pcalibre:link {
  color: blue;
  text-decoration: underline;
}
.pcalibre1:visited {
  color: purple;
  text-decoration: underline;
}
