.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 1em
    }
.calibre2 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-weight: bold;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
    margin: 0
    }
.calibre3 {
    font-size: 1em;
    line-height: 1.2
    }
.calibre4 {
    font-size: 1em;
    line-height: 1.2
    }
.calibre5 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    padding-bottom: 0;
    padding-top: 0;
    text-indent: 1em;
    margin: 0
    }
.calibre6 {
 font-size: 1em;
    display: block
    }
.calibre7 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center
    }
.calibre8 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.67em 0
    }
.calibre9 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 0.67em 0
    }
