.bold {
    font-weight: bold
    }
.calibre {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: justify
    }
.calibre1 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.calibre2 {
    font-size: 1.375em;
    line-height: 1.2
    }
.calibre3 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 0
    }
.calibre4 {
    font-size: 1.5em;
    line-height: 1.2
    }
.calibre5 {
    display: block;
    margin-bottom: 0;
    margin-left: 19pt;
    margin-right: 0;
    margin-top: 1em;
    text-indent: -19pt
    }
.calibre6 {
    color: blue;
    cursor: pointer;
    text-decoration: underline
    }
.calibre7 {
    color: blue
    }
.calibre8 {
    color: inherit;
    cursor: inherit;
    text-decoration: inherit
    }
.mbppagebreak {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
.underline {
    text-decoration: underline
    }
