.block {
    display: block;
    text-indent: 0;
    padding: 0;
    margin: 0 0 3.9pt -56.7pt
    }
.block1 {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    text-indent: 0;
    padding: 0;
    margin: 0 0 3.7pt
    }
.block2 {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    text-indent: 0;
    padding: 0;
    margin: 0 0 3.95pt
    }
.block3 {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 -0.75pt 3.8pt -0.25pt
    }
.block4 {
    color: black;
    display: block;
    font-family: serif;
    text-indent: 0;
    padding: 0;
    margin: 0 0 1.8pt
    }
.block5 {
    display: block;
    text-indent: 0;
    padding: 0;
    margin: 0 0 1.6pt
    }
.block6 {
    display: block;
    text-indent: 0;
    padding: 0;
    margin: 0 0 1.8pt
    }
.block7 {
    display: block;
    text-indent: 0;
    padding: 0;
    margin: 0
    }
.block8 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 4.6pt 1.7pt -0.25pt
    }
.block9 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 0.65pt 1.7pt -0.25pt
    }
.block10 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 24.4pt 1.7pt -0.25pt
    }
.block11 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 70.7pt 1.7pt -0.25pt
    }
.block12 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 8.6pt 1.7pt -0.25pt
    }
.block13 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 145pt 1.7pt -0.25pt
    }
.block14 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 11.7pt 1.7pt -0.25pt
    }
.block15 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 26.8pt 1.7pt -0.25pt
    }
.block16 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 10.5pt 1.7pt -0.25pt
    }
.block17 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 5.2pt 1.7pt -0.25pt
    }
.block18 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 191pt 1.7pt -0.25pt
    }
.block19 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 0.4pt 1.7pt -0.25pt
    }
.block20 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 16.9pt 1.7pt -0.25pt
    }
.block21 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 12.9pt 1.7pt -0.25pt
    }
.block22 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 189pt 1.7pt -0.25pt
    }
.block23 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 15.1pt 1.7pt -0.25pt
    }
.block24 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 18.2pt 1.7pt -0.25pt
    }
.block25 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 12.3pt 1.7pt -0.25pt
    }
.block26 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 16.7pt 1.7pt -0.25pt
    }
.block27 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 31.4pt 1.7pt -0.25pt
    }
.block28 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 184pt 1.7pt -0.25pt
    }
.block29 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 8.2pt 1.7pt -0.25pt
    }
.block30 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 28.2pt 1.7pt -0.25pt
    }
.block31 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 20.1pt 1.7pt -0.25pt
    }
.block32 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 432pt 1.7pt -0.25pt
    }
.block33 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 8.05pt 1.7pt -0.25pt
    }
.block34 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 33.7pt 1.7pt -0.25pt
    }
.block35 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 43pt 1.7pt -0.25pt
    }
.block36 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 9.3pt 1.7pt -0.25pt
    }
.block37 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 32.3pt 1.7pt -0.25pt
    }
.block38 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 25.4pt 1.7pt -0.25pt
    }
.block39 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 5.45pt 1.7pt -0.25pt
    }
.block40 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 471pt 1.7pt -0.25pt
    }
.block41 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 16.5pt 1.7pt -0.25pt
    }
.block42 {
    display: table-row;
    line-height: 1.2;
    margin-bottom: 1.7pt;
    margin-right: 95pt
    }
.block43 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 257pt 1.7pt -0.25pt
    }
.block44 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 13.6pt 1.7pt -0.25pt
    }
.block45 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 79.6pt 1.7pt -0.25pt
    }
.block46 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 34.2pt 1.7pt -0.25pt
    }
.block47 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 9.25pt 1.7pt -0.25pt
    }
.block48 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 14.4pt 1.7pt -0.25pt
    }
.block49 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 62.4pt 1.7pt -0.25pt
    }
.block50 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 14.8pt 1.7pt -0.25pt
    }
.block51 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 26.6pt 1.7pt -0.25pt
    }
.block52 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 15.2pt 1.7pt -0.25pt
    }
.block53 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 230pt 1.7pt -0.25pt
    }
.block54 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 34pt 1.7pt -0.25pt
    }
.block55 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 65.8pt 1.7pt -0.25pt
    }
.block56 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 101pt 1.7pt -0.25pt
    }
.block57 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 13.6pt 1.7pt -0.25pt
    }
.block58 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 37.4pt 1.7pt -0.25pt
    }
.block59 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 6.75pt 1.7pt -0.25pt
    }
.block60 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 276pt 1.7pt -0.25pt
    }
.block61 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 81.2pt 1.7pt -0.25pt
    }
.block62 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 26.8pt 1.7pt -0.25pt
    }
.block63 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 13.4pt 1.7pt -0.25pt
    }
.block64 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 12.9pt 1.7pt -0.25pt
    }
.block65 {
    display: table-row;
    line-height: 1.2;
    margin-bottom: 1.7pt;
    margin-right: 86.4pt
    }
.block66 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 24.9pt 1.7pt -0.25pt
    }
.block67 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 24.2pt 1.7pt -0.25pt
    }
.block68 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 19.6pt 1.7pt -0.25pt
    }
.block69 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 248pt 1.7pt -0.25pt
    }
.block70 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 55.1pt 1.7pt -0.25pt
    }
.block71 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 25.9pt 1.7pt -0.25pt
    }
.block72 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 7.85pt 1.7pt -0.25pt
    }
.block73 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 177pt 1.7pt -0.25pt
    }
.block74 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 9.7pt 1.7pt -0.25pt
    }
.block75 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 18.6pt 1.7pt -0.25pt
    }
.block76 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 9.5pt 1.7pt -0.25pt
    }
.block77 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 59.2pt 1.7pt -0.25pt
    }
.block78 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 39.4pt 1.7pt -0.25pt
    }
.block79 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 148pt 1.7pt -0.25pt
    }
.block80 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 8.35pt 1.7pt -0.25pt
    }
.block81 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 50.1pt 1.7pt -0.25pt
    }
.block82 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 9.3pt 1.7pt -0.25pt
    }
.block83 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 115pt 1.7pt -0.25pt
    }
.block84 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 11.2pt 1.7pt -0.25pt
    }
.block85 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 5.15pt 1.7pt -0.25pt
    }
.block86 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 62.6pt 1.7pt -0.25pt
    }
.block87 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 32.8pt 1.7pt -0.25pt
    }
.block88 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 125pt 1.7pt -0.25pt
    }
.block89 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 4.25pt 1.7pt -0.25pt
    }
.block90 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 35.7pt 1.7pt -0.25pt
    }
.block91 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 78pt 1.7pt -0.25pt
    }
.block92 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 43.8pt 1.7pt -0.25pt
    }
.block93 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 16.4pt 1.7pt -0.25pt
    }
.block94 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 194pt 1.7pt -0.25pt
    }
.block95 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 11.5pt 1.7pt -0.25pt
    }
.block96 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 174pt 1.7pt -0.25pt
    }
.block97 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 8.1pt 1.7pt -0.25pt
    }
.block98 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 65.5pt 1.7pt -0.25pt
    }
.block99 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 207pt 1.7pt -0.25pt
    }
.block100 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 4.9pt 1.7pt -0.25pt
    }
.block101 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 64.7pt 1.7pt -0.25pt
    }
.block102 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 147pt 1.7pt -0.25pt
    }
.block103 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 278pt 1.7pt -0.25pt
    }
.block104 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 152pt 1.7pt -0.25pt
    }
.block105 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 427pt 1.7pt -0.25pt
    }
.block106 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 110pt 1.7pt -0.25pt
    }
.block107 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 160pt 1.7pt -0.25pt
    }
.block108 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 211pt 1.7pt -0.25pt
    }
.block109 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 251pt 1.7pt -0.25pt
    }
.block110 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 7.6pt 1.7pt -0.25pt
    }
.block111 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 30.9pt 1.7pt -0.25pt
    }
.block112 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 21.6pt 1.7pt -0.25pt
    }
.block113 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 227pt 1.7pt -0.25pt
    }
.block114 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 92.8pt 1.7pt -0.25pt
    }
.block115 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 272pt 1.7pt -0.25pt
    }
.block116 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 38.1pt 1.7pt -0.25pt
    }
.block117 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 15pt 1.7pt -0.25pt
    }
.block118 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 3.75pt 1.7pt -0.25pt
    }
.block119 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 19.4pt 1.7pt -0.25pt
    }
.block120 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 474pt 1.7pt -0.25pt
    }
.block121 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 7.4pt 1.7pt -0.25pt
    }
.block122 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 262pt 1.7pt -0.25pt
    }
.block123 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 116pt 1.7pt -0.25pt
    }
.block124 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 28pt 1.7pt -0.25pt
    }
.block125 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 81.1pt 1.7pt -0.25pt
    }
.block126 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 7.55pt 1.7pt -0.25pt
    }
.block127 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 36.5pt 1.7pt -0.25pt
    }
.block128 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 27.7pt 1.7pt -0.25pt
    }
.block129 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 53.7pt 1.7pt -0.25pt
    }
.block130 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 15pt 1.7pt -0.25pt
    }
.block131 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 18.9pt 1.7pt -0.25pt
    }
.block132 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 41.6pt 1.7pt -0.25pt
    }
.block133 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 17.9pt 1.7pt -0.25pt
    }
.block134 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 17.2pt 1.7pt -0.25pt
    }
.block135 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 106pt 1.7pt -0.25pt
    }
.block136 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 25.4pt 1.7pt -0.25pt
    }
.block137 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 170pt 1.7pt -0.25pt
    }
.block138 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 12.2pt 1.7pt -0.25pt
    }
.block139 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 61.4pt 1.7pt -0.25pt
    }
.block140 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 46.2pt 1.7pt -0.25pt
    }
.block141 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 128pt 1.7pt -0.25pt
    }
.block142 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 5.95pt 1.7pt -0.25pt
    }
.block143 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 166pt 1.7pt -0.25pt
    }
.block144 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 154pt 1.7pt -0.25pt
    }
.block145 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 13.8pt 1.7pt -0.25pt
    }
.block146 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 5.15pt 1.7pt -0.25pt
    }
.block147 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 173pt 1.7pt -0.25pt
    }
.block148 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 9.65pt 1.7pt -0.25pt
    }
.block149 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 7.4pt 1.7pt -0.25pt
    }
.block150 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 180pt 1.7pt -0.25pt
    }
.block151 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 23.4pt 1.7pt -0.25pt
    }
.block152 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 13.3pt 1.7pt -0.25pt
    }
.block153 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 159pt 1.7pt -0.25pt
    }
.block154 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 11pt 1.7pt -0.25pt
    }
.block155 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 192pt 1.7pt -0.25pt
    }
.block156 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 15.8pt 1.7pt -0.25pt
    }
.block157 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 51.1pt 1.7pt -0.25pt
    }
.block158 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 23.4pt 1.7pt -0.25pt
    }
.block159 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 156pt 1.7pt -0.25pt
    }
.block160 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 11pt 1.7pt -0.25pt
    }
.block161 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 14.6pt 1.7pt -0.25pt
    }
.block162 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 3.95pt 1.7pt -0.25pt
    }
.block163 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 98.6pt 1.7pt -0.25pt
    }
.block164 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 4.75pt 1.7pt -0.25pt
    }
.block165 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 396pt 1.7pt -0.25pt
    }
.block166 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 4pt 1.7pt -0.25pt
    }
.block167 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 10.8pt 1.7pt -0.25pt
    }
.block168 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 137pt 1.7pt -0.25pt
    }
.block169 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 164pt 1.7pt -0.25pt
    }
.block170 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 140pt 1.7pt -0.25pt
    }
.block171 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 120pt 1.7pt -0.25pt
    }
.block172 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 25.6pt 1.7pt -0.25pt
    }
.block173 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 112pt 1.7pt -0.25pt
    }
.block174 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 151pt 1.7pt -0.25pt
    }
.block175 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 25.1pt 1.7pt -0.25pt
    }
.block176 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 217pt 1.7pt -0.25pt
    }
.block177 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 35.6pt 1.7pt -0.25pt
    }
.block178 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 126pt 1.7pt -0.25pt
    }
.block179 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 36.4pt 1.7pt -0.25pt
    }
.block180 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 19.2pt 1.7pt -0.25pt
    }
.block181 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 155pt 1.7pt -0.25pt
    }
.block182 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 56.4pt 1.7pt -0.25pt
    }
.block183 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 175pt 1.7pt -0.25pt
    }
.block184 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 88.7pt 1.7pt -0.25pt
    }
.block185 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 141pt 1.7pt -0.25pt
    }
.block186 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 12pt 1.7pt -0.25pt
    }
.block187 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 111pt 1.7pt -0.25pt
    }
.block188 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 44pt 1.7pt -0.25pt
    }
.block189 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 209pt 1.7pt -0.25pt
    }
.block190 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 37.6pt 1.7pt -0.25pt
    }
.block191 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 450pt 1.7pt -0.25pt
    }
.block192 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 245pt 1.7pt -0.25pt
    }
.block193 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 6.85pt 1.7pt -0.25pt
    }
.block194 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 7.6pt 1.7pt -0.25pt
    }
.block195 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 100pt 1.7pt -0.25pt
    }
.block196 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 87.4pt 1.7pt -0.25pt
    }
.block197 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 228pt 1.7pt -0.25pt
    }
.block198 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 51pt 1.7pt -0.25pt
    }
.block199 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 17pt 1.7pt -0.25pt
    }
.block200 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 65.9pt 1.7pt -0.25pt
    }
.block201 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 5.6pt 1.7pt -0.25pt
    }
.block202 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 86.8pt 1.7pt -0.25pt
    }
.block203 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 321pt 1.7pt -0.25pt
    }
.block204 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 5.6pt 1.7pt -0.25pt
    }
.block205 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 200pt 1.7pt -0.25pt
    }
.block206 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 51.7pt 1.7pt -0.25pt
    }
.block207 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 5.4pt 1.7pt -0.25pt
    }
.block208 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 10pt 1.7pt -0.25pt
    }
.block209 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 176pt 1.7pt -0.25pt
    }
.block210 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 79.5pt 1.7pt -0.25pt
    }
.block211 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 292pt 1.7pt -0.25pt
    }
.block212 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 40.5pt 1.7pt -0.25pt
    }
.block213 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 10.8pt 1.7pt -0.25pt
    }
.block214 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 23.7pt 1.7pt -0.25pt
    }
.block215 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 7.35pt 1.7pt -0.25pt
    }
.block216 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 7.15pt 1.7pt -0.25pt
    }
.block217 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 19.1pt 1.7pt -0.25pt
    }
.block218 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 44pt 1.7pt -0.25pt
    }
.block219 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 82.9pt 1.7pt -0.25pt
    }
.block220 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 197pt 1.7pt -0.25pt
    }
.block221 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 172pt 1.7pt -0.25pt
    }
.block222 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 46.6pt 1.7pt -0.25pt
    }
.block223 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 238pt 1.7pt -0.25pt
    }
.block224 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 6.15pt 1.7pt -0.25pt
    }
.block225 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 27.5pt 1.7pt -0.25pt
    }
.block226 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 300pt 1.7pt -0.25pt
    }
.block227 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 61.3pt 1.7pt -0.25pt
    }
.block228 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 6.6pt 1.7pt -0.25pt
    }
.block229 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 20.8pt 1.7pt -0.25pt
    }
.block230 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 8.5pt 1.7pt -0.25pt
    }
.block231 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 178pt 1.7pt -0.25pt
    }
.block232 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 169pt 1.7pt -0.25pt
    }
.block233 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 119pt 1.7pt -0.25pt
    }
.block234 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 42.2pt 1.7pt -0.25pt
    }
.block235 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 152pt 1.7pt -0.25pt
    }
.block236 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 448pt 1.7pt -0.25pt
    }
.block237 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 23.5pt 1.7pt -0.25pt
    }
.block238 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 16.5pt 1.7pt -0.25pt
    }
.block239 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 121pt 1.7pt -0.25pt
    }
.block240 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 13.1pt 1.7pt -0.25pt
    }
.block241 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 11.9pt 1.7pt -0.25pt
    }
.block242 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 122pt 1.7pt -0.25pt
    }
.block243 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 5.25pt 1.7pt -0.25pt
    }
.block244 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 6.65pt 1.7pt -0.25pt
    }
.block245 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 62pt 1.7pt -0.25pt
    }
.block246 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 27.5pt 1.7pt -0.25pt
    }
.block247 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 216pt 1.7pt -0.25pt
    }
.block248 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 193pt 1.7pt -0.25pt
    }
.block249 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 223pt 1.7pt -0.25pt
    }
.block250 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 26.3pt 1.7pt -0.25pt
    }
.block251 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 22pt 1.7pt -0.25pt
    }
.block252 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 95.4pt 1.7pt -0.25pt
    }
.block253 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 12.2pt 1.7pt -0.25pt
    }
.block254 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 7.75pt 1.7pt -0.25pt
    }
.block255 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 92.7pt 1.7pt -0.25pt
    }
.block256 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 93pt 1.7pt -0.25pt
    }
.block257 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 256pt 1.7pt -0.25pt
    }
.block258 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 240pt 1.7pt -0.25pt
    }
.block259 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 12.7pt 1.7pt -0.25pt
    }
.block260 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 301pt 1.7pt -0.25pt
    }
.block261 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 57.3pt 1.7pt -0.25pt
    }
.block262 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 41.9pt 1.7pt -0.25pt
    }
.block263 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 11.8pt 1.7pt -0.25pt
    }
.block264 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 316pt 1.7pt -0.25pt
    }
.block265 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 75.4pt 1.7pt -0.25pt
    }
.block266 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 472pt 1.7pt -0.25pt
    }
.block267 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 44.6pt 1.7pt -0.25pt
    }
.block268 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 59.2pt 1.7pt -0.25pt
    }
.block269 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 171pt 1.7pt -0.25pt
    }
.block270 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 279pt 1.7pt -0.25pt
    }
.block271 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 35.1pt 1.7pt -0.25pt
    }
.block272 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 9.55pt 1.7pt -0.25pt
    }
.block273 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 103pt 1.7pt -0.25pt
    }
.block274 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 10.2pt 1.7pt -0.25pt
    }
.block275 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 51.6pt 1.7pt -0.25pt
    }
.block276 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 13.4pt 1.7pt -0.25pt
    }
.block277 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 95.5pt 1.7pt -0.25pt
    }
.block278 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 13.2pt 1.7pt -0.25pt
    }
.block279 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 16.8pt 1.7pt -0.25pt
    }
.block280 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 17.9pt 1.7pt -0.25pt
    }
.block281 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 182pt 1.7pt -0.25pt
    }
.block282 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 4.5pt 1.7pt -0.25pt
    }
.block283 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 188pt 1.7pt -0.25pt
    }
.block284 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 4.2pt 1.7pt -0.25pt
    }
.block285 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 21.8pt 1.7pt -0.25pt
    }
.block286 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 22.3pt 1.7pt -0.25pt
    }
.block287 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 22.7pt 1.7pt -0.25pt
    }
.block288 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 107pt 1.7pt -0.25pt
    }
.block289 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 16.2pt 1.7pt -0.25pt
    }
.block290 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 9.75pt 1.7pt -0.25pt
    }
.block291 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 7.8pt 1.7pt -0.25pt
    }
.block292 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 39.8pt 1.7pt -0.25pt
    }
.block293 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 138pt 1.7pt -0.25pt
    }
.block294 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 6.3pt 1.7pt -0.25pt
    }
.block295 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 143pt 1.7pt -0.25pt
    }
.block296 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 16.1pt 1.7pt -0.25pt
    }
.block297 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 89.9pt 1.7pt -0.25pt
    }
.block298 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 220pt 1.7pt -0.25pt
    }
.block299 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 127pt 1.7pt -0.25pt
    }
.block300 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 118pt 1.7pt -0.25pt
    }
.block301 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 162pt 1.7pt -0.25pt
    }
.block302 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 123pt 1.7pt -0.25pt
    }
.block303 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 144pt 1.7pt -0.25pt
    }
.block304 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 105pt 1.7pt -0.25pt
    }
.block305 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 204pt 1.7pt -0.25pt
    }
.block306 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 90.3pt 1.7pt -0.25pt
    }
.block307 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 135pt 1.7pt -0.25pt
    }
.block308 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 124pt 1.7pt -0.25pt
    }
.block309 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 26pt 1.7pt -0.25pt
    }
.block310 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 41.7pt 1.7pt -0.25pt
    }
.block311 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 9.8pt 1.7pt -0.25pt
    }
.block312 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 129pt 1.7pt -0.25pt
    }
.block313 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 4.85pt 1.7pt -0.25pt
    }
.block314 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 90pt 1.7pt -0.25pt
    }
.block315 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 108pt 1.7pt -0.25pt
    }
.block316 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 92.4pt 1.7pt -0.25pt
    }
.block317 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 23pt 1.7pt -0.25pt
    }
.block318 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 35.2pt 1.7pt -0.25pt
    }
.block319 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 28.5pt 1.7pt -0.25pt
    }
.block320 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 167pt 1.7pt -0.25pt
    }
.block321 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 14.1pt 1.7pt -0.25pt
    }
.block322 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 22.6pt 1.7pt -0.25pt
    }
.block323 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 11.7pt 1.7pt -0.25pt
    }
.block324 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 132pt 1.7pt -0.25pt
    }
.block325 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 219pt 1.7pt -0.25pt
    }
.block326 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 28.9pt 1.7pt -0.25pt
    }
.block327 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 55.4pt 1.7pt -0.25pt
    }
.block328 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 6.8pt 1.7pt -0.25pt
    }
.block329 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 344pt 1.7pt -0.25pt
    }
.block330 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 17.1pt 1.7pt -0.25pt
    }
.block331 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 7.65pt 1.7pt -0.25pt
    }
.block332 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 22.8pt 1.7pt -0.25pt
    }
.block333 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 20pt 1.7pt -0.25pt
    }
.block334 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 8.85pt 1.7pt -0.25pt
    }
.block335 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 96.4pt 1.7pt -0.25pt
    }
.block336 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 95.6pt 1.7pt -0.25pt
    }
.block337 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 60.4pt 1.7pt -0.25pt
    }
.block338 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 7.1pt 1.7pt -0.25pt
    }
.block339 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 42.8pt 1.7pt -0.25pt
    }
.block340 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 85.7pt 1.7pt -0.25pt
    }
.block341 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 7.95pt 1.7pt -0.25pt
    }
.block342 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 16pt 1.7pt -0.25pt
    }
.block343 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 157pt 1.7pt -0.25pt
    }
.block344 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 56.2pt 1.7pt -0.25pt
    }
.block345 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 27pt 1.7pt -0.25pt
    }
.block346 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 366pt 1.7pt -0.25pt
    }
.block347 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 6.65pt 1.7pt -0.25pt
    }
.block348 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 38.8pt 1.7pt -0.25pt
    }
.block349 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 18.1pt 1.7pt -0.25pt
    }
.block350 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 61.9pt 1.7pt -0.25pt
    }
.block351 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 23.9pt 1.7pt -0.25pt
    }
.block352 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 168pt 1.7pt -0.25pt
    }
.block353 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 15.7pt 1.7pt -0.25pt
    }
.block354 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 29.5pt 1.7pt -0.25pt
    }
.block355 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 133pt 1.7pt -0.25pt
    }
.block356 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 7.35pt 1.7pt -0.25pt
    }
.block357 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 198pt 1.7pt -0.25pt
    }
.block358 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 104pt 1.7pt -0.25pt
    }
.block359 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 10.9pt 1.7pt -0.25pt
    }
.block360 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 20.3pt 1.7pt -0.25pt
    }
.block361 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 5.9pt 1.7pt -0.25pt
    }
.block362 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 7.1pt 1.7pt -0.25pt
    }
.block363 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 19.8pt 1.7pt -0.25pt
    }
.block364 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 17.5pt 1.7pt -0.25pt
    }
.block365 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 29.7pt 1.7pt -0.25pt
    }
.block366 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 7.65pt 1.7pt -0.25pt
    }
.block367 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 5.45pt 1.7pt -0.25pt
    }
.block368 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 5.65pt 1.7pt -0.25pt
    }
.block369 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 48.5pt 1.7pt -0.25pt
    }
.block370 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 186pt 1.7pt -0.25pt
    }
.block371 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 98pt 1.7pt -0.25pt
    }
.block372 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 22.7pt 1.7pt -0.25pt
    }
.block373 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 297pt 1.7pt -0.25pt
    }
.block374 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 67.1pt 1.7pt -0.25pt
    }
.block375 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 158pt 1.7pt -0.25pt
    }
.block376 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 8.55pt 1.7pt -0.25pt
    }
.block377 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 54.5pt 1.7pt -0.25pt
    }
.block378 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 41.6pt 1.7pt -0.25pt
    }
.block379 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 26.7pt 1.7pt -0.25pt
    }
.block380 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 4.15pt 1.7pt -0.25pt
    }
.block381 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 10.5pt 1.7pt -0.25pt
    }
.block382 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 185pt 1.7pt -0.25pt
    }
.block383 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 8.9pt 1.7pt -0.25pt
    }
.block384 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 15.9pt 1.7pt -0.25pt
    }
.block385 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 6.15pt 1.7pt -0.25pt
    }
.block386 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 75.2pt 1.7pt -0.25pt
    }
.block387 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 32.1pt 1.7pt -0.25pt
    }
.block388 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 9.9pt 1.7pt -0.25pt
    }
.block389 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 31.2pt 1.7pt -0.25pt
    }
.block390 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 58.1pt 1.7pt -0.25pt
    }
.block391 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 18.4pt 1.7pt -0.25pt
    }
.block392 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 16.4pt 1.7pt -0.25pt
    }
.block393 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 6.2pt 1.7pt -0.25pt
    }
.block394 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 32.6pt 1.7pt -0.25pt
    }
.block395 {
    display: block;
    line-height: 1.2;
    text-align: justify;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 174pt 1.7pt -0.25pt
    }
.block396 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 241pt 1.7pt -0.25pt
    }
.block397 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 40.2pt 1.7pt -0.25pt
    }
.block398 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 51.3pt 1.7pt -0.25pt
    }
.block399 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 29.9pt 1.7pt -0.25pt
    }
.block400 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 42.1pt 1.7pt -0.25pt
    }
.block401 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 8.85pt 1.7pt -0.25pt
    }
.block402 {
    display: block;
    line-height: 1.2;
    text-indent: -0.5pt;
    padding: 0;
    margin: 0 22.2pt 1.7pt -0.25pt
    }
.bullet {
    background-color: transparent;
    color: #000;
    display: table-cell;
    font-size: 1em;
    line-height: 1.2;
    text-decoration: none;
    padding: 0;
    border: black none 1pt
    }
.calibre {
    color: #000;
    display: block;
    font-family: "Verdana", sans-serif;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: table;
    padding-left: 0
    }
.calibre2 {
    display: table-cell;
    line-height: 1.2
    }
.calibre3 {
    line-height: 1.2;
    white-space: pre-wrap
    }
