<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistName</key>
	<string>Bilinmeyen yazar</string>
	<key>book-info</key>
	<dict>
		<key>cover-image-hash</key>
		<string>6F9795A08309D140F66D0A160A8F8E40</string>
		<key>cover-image-path</key>
		<string>cover.jpg</string>
		<key>mime-type</key>
		<string>application/epub+zip</string>
		<key>package-file-hash</key>
		<string>B7984F724729521A15DC9FF52861FAC1</string>
		<key>publisher-unique-id</key>
		<string>{DB8EBC46-AC22-4E81-A5CE-095D45854339}</string>
		<key>unique-id</key>
		<integer>3689285907550563633</integer>
		<key>update-level</key>
		<integer>2</integer>
	</dict>
	<key>itemName</key>
	<string>Chuck Palahniuk - Ninni</string>
	<key>playlistName</key>
	<string>Chuck Palahniuk - Ninni</string>
</dict>
</plist>
