.bold{font-weight:700}
.calibre{display:block;font-size:1em;padding-left:0;padding-right:0;text-align:justify;margin:0 5pt}
.calibre_{display:block;text-align:center;text-indent:2em;margin:0}
.calibre_1{height:384px;vertical-align:baseline;width:250px}
.calibre_2{display:block;text-align:justify;text-indent:2em;margin:0}
.calibre1{display:block}
.italic{font-style:italic}
.mbp_pagebreak{display:block;margin:0}