h1 {margin-top:2em;margin-bottom:3em;font-size:1.8em;text-align:center;text-indent:0em;font-weight:bold;}

h2 {margin-top:5em;margin-bottom:2em;font-size:1.4em;text-align:center;text-indent:0em;font-weight:bold;}

h3 {margin-top:1em;margin-bottom:5em;font-size:1,4em;text-align:center;text-indent:0em;font-weight:bold;}

h4 {margin-top:-5.5em;margin-bottom:5em;font-size:1em;text-align:center;font-style:normal;font-weight:normal}

h5 {margin-top:1em;margin-bottom:1em;font-size:0.8em;text-align:justify;text-indent:0em; margin-left:2em; margin-right:2em;}
h6 {margin-top:2em;margin-bottom:2em;font-size:0.8em;text-align:justify;text-indent:0em; margin-left:2em; margin-right:2em;}

.baslik1 {font-size:1.4em;margin-top:2em;margin-bottom:0.5em;text-align:center;text-indent:0em;}

.baslik2 {font-size:1.2em;margin-top:0em;margin-bottom:0.6em;text-align:center;text-indent:0em;font-weight:bold;}

.baslik3 {font-size:.9em;margin-top:4em;margin-bottom:2em;text-align:center;text-indent:0em;}

p {font-size:.9em;text-indent:2em;text-align:justify;margin-top:0.5em;margin-bottom:0.5em;}
.yazar {font-size:.9em;text-indent:0em;text-align:right;margin-top:0.5em;margin-bottom:0.5em;}

.gir{font-size:.9em;text-indent:0em;text-align:justify; margin-top:1.3em;text-indent:0em;}

.kunye {text-align:center;text-indent:0em;margin-top:0em;margin-left:0em;margin-bottom:0em;font-size: 0.8em;}

.dipnot {text-align:left;text-indent:2em;margin-top:1em;margin-bottom:1em;margin-left:2em;}

.dipnot1 {text-align:left;text-indent:2em;margin-top:1em;margin-bottom:1em;page-break-before: always;margin-left:2em; border-top:2pt solid gray;margin:2em;padding:1em 0;}

sup {margin-top: -.5em;margin-bottom: -.25em;}

supb {margin-top: -.5em;margin-bottom: -.25em;font-size:.6em;vertical-align:10px;}

.logo {text-indent:0em;text-align:center;}

.kunye2 {margin-top:2em;margin-bottom:0em;margin-left:3em;font-size:.8em;text-indent:0em;margin-right:3em;text-align:justify;font-style:normal}

.block {margin-top:0.5em;margin-bottom:0.5em;margin-left:2em;font-size:.85em;text-indent:0em;margin-right:2em;text-align:justify;font-style:normal}

.epi{margin-top:1em;margin-bottom:1em;margin-left:4em;font-size:.8em;text-align:justify;font-style:italic; text-indent:0em;}

.epi2{margin-top:0.5em;margin-bottom:0.5em;margin-left:4em;font-size:.8em;text-align:justify;font-style:italic; text-indent:-2em;}

td {font-size:.9em;text-indent:3em;text-align:justify;margin-top:0.5em;margin-bottom:0.5em;}