p {
  font-size:0.9em;
	margin-top:0em;
  margin-bottom:0.8em;
  margin-left:1.5em;
  text-indent:-1.5em;
  text-align:justify;
}
.baslik2{text-indent: 0em; margin-top: 7em;text-align:center;margin-bottom:2em;font-weight:bold;font-size: 1.1em;}

.baslik4{text-indent: 0em; text-align:center;margin-bottom:1em;font-style:italic;font-size:105%;}

.baslik5{text-indent: 0em; text-align:center;margin-bottom:2em;margin-top:2em;font-style:italic;font-size:105%;}