
@font-face{
	font-family: "Berling";
	font-weight: normal;
	font-style: italic;
	src:url("../Fonts/BerlingLTStd-Italic.ttf") format("truetype");
}


@font-face{
	font-family: "Gill Sans";
	font-weight: normal;
	font-style: normal;
	src:url("../Fonts/GillSansStd.ttf") format("truetype");
}

@font-face{
	font-family: "Gill Sans";
	font-weight: normal;
	font-style: italic;
	src:url("../Fonts/GillSansStd-Italic.ttf") format("truetype");
}

@font-face{
	font-family: "Goudy Cat";
	font-weight: bold;
	font-style: normal;
	src:url("../Fonts/GoudyCatTReg.ttf") format("truetype");
}


/*cover*/

.cover-container{
	margin: 0 auto;
	max-width: 500px;
	page-break-inside: avoid;
}

.cover-container img {
	width: 100%;
}

/*copyright-page*/


.press {
	margin-bottom: 1em;
}

.copyright-page .copy{
	margin-top: 1em;
}
.copyright-page .publisher{
	margin-top: 2em;
}

.copyright-page span{
	font-family: "Gill Sans";
	font-size:0.66em;
	line-height: 1.375em;
	display: block;
}

.copyright-page .pull {
	padding-left: .51em;
}

.copyright-page a{
	color:#777;
	text-decoration: none;
	
}

/*titlepage*/

.title{
	text-align: center;
	margin-top: 5em;
}

.aut{
	margin-top: 1.5em;
	font:normal bold 2.125em/1.2em "Goudy Cat";
	text-align: center;
}

.aut .bfl {
	font-size: 1.2em;
}

.work{
	font:normal bold 2.437em/.9em "Goudy Cat";
	margin-top: .7em;
}

.odul{
	font: normal normal 1.04em/1.2em "Gill Sans";
	margin-top: 5em;
}

.seri{
	font-family: "Gill Sans";
	font-size: .92em;
	margin-top: 3em;
}



.logo{
	margin: 3em auto 0 auto;
}

/*works*/

.works p{
	margin-top: 5em;
	font-family: "Gill Sans";
	font-size: .75em;
	text-indent: 0;
}

.works ul {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}

.works ul li {
	font-family: "Gill Sans";
	font-size: .75em;
	padding-bottom: .3em;
}

/*biography*/

.biography p{
	font-family: "Gill Sans";
	font-size: .75em;
	line-height: 1.4em;
	text-indent: 0;
	margin-top: 5em;
}

/*dedication*/

.dedication .container{
	margin-top: 5em;
}

.dedication p{
	font: normal normal .83em/1.25em;
	text-align: right;
}

/*epigraph*/

.epigraph .container{
	margin-top: 5em;
text-align: right;
}
 .epigraph span{
 	font-size: .83em;
 	display: block;
 }

 .yazan{
 	text-align: right;
 	margin-top: 1em;
 }
/*
CHAPTER
*/

.chapter .container{
	margin-top: 5em;
}

h1{
	font:normal normal 1.125em/1.18em "Berling";
	margin: 0;
	text-align: center;
}

h1+p{
	margin-top: 2em;
}

p{
	font:normal normal .875em/1.3em "Berling";
	margin: 0;
	text-indent: 2em;
}

.bosluk{
	margin-top: 1em;
}

blockquote{
	margin:1em 0 1em .8em;
	float: right;
	max-width: 13em;
}

blockquote p {
	font:normal normal .83em/1.25em "Berling";
	text-indent: 0;
}

blockquote .yazan {
	font-family: "Berling";
	margin: 1em 0 1.8em 0;
	text-align: right;
}


/*common*/
.si-noteref{
	text-decoration: none;
	color: #7A7A7A;
	font-size: .75em;
	vertical-align: super;
	padding-left: .1em;
	line-height: 1em;
}
.si-footnotes{
	margin:4em 0 1em;
}
.si-backref{
	font-weight: bold;
	font-family: sans-serif;
	text-decoration: none;
	color: #000;
	font-size: 1.1em;
}
.si-footnote{
	font-family: "Gill Sans";
	font-weight: normal;
	font-style: normal;
	font-size: .75em;
	margin-bottom: .25em;
}

.clear{
	clear: both;
}