body {
    margin-left:2%;
    margin-right:2%;
    margin-top:2%;
    margin-bottom:2%
    }
p {
    text-indent:2.4em;
    margin-left:0;
    margin-right:0;
    text-align:justify;
    margin-top:0;
    margin-bottom:0;
    font-family:"Times New Roman",serif;
    font-size:100%
    }
.p0 {
    text-indent:0;
    margin-left:0;
    text-align:center;
    margin-top:1.2em;
    margin-bottom:1.2em
    }
.p1 {
    text-indent:0;
    margin-left:0
    }
.p2 {
    text-indent:0;
    margin-left:0;
    margin-top:1.2em
    }
.p3 {
    text-indent:0;
    margin-left:0;
    text-align:center
    }
.p4 {
    text-indent:0;
    margin-left:0;
    text-align:center;
    margin-top:.71em;
    margin-bottom:.71em
    }
.p5 {
    text-indent:0;
    margin-left:0;
    text-align:center;
    margin-top:.71em
    }
.p6 {
    text-indent:0;
    margin-left:0;
    text-align:center;
    margin-top:1.7em
    }
.p7 {
    text-indent:0;
    margin-left:0;
    text-align:center;
    margin-bottom:1.4em
    }
.p9 {
    text-indent:0;
    margin-left:0;
    text-align:center;
    margin-top:1.2em
    }
.p10 {
    text-indent:0;
    margin-left:0;
    text-align:center;
    margin-top:3.5em
    }
.p11 {
    text-indent:0;
    margin-left:0;
    text-align:center;
    margin-top:7.1em
    }
.p12 {
    text-indent:0;
    margin-left:0;
    text-align:center;
    margin-top:4.7em;
    margin-bottom:5.9em
    }
.p13 {
    text-indent:0;
    margin-left:0;
    text-align:center;
    margin-top:1.2em;
    margin-bottom:2.4em
    }
.p14 {
    text-indent:0;
    margin-left:0;
    text-align:center;
    margin-bottom:2.4em
    }
.p16 {
    margin-top:1.2em
    }
.t1 {
    font-size:.83em;
    line-height:100%
    }
.t2 {
    font-size:.67em;
    line-height:100%
    }
.t3 {
    font-size:1.3em;
    line-height:100%;
    letter-spacing:.2em
    }
.t4 {
    font-size:1.8em;
    line-height:100%;
    letter-spacing:.2em
    }
.t5 {
    font-size:1.5em;
    line-height:100%
    }