<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistName</key>
	<string>George Orwell</string>
	<key>book-info</key>
	<dict>
		<key>cover-image-hash</key>
		<string>80E4F63880080A90F677307E1D1B2E1B</string>
		<key>cover-image-path</key>
		<string>cover1.jpeg</string>
		<key>package-file-hash</key>
		<string>49169F76661168C13835B3745A219CBF</string>
		<key>publisher-unique-id</key>
		<string>27dbe047-0479-41cc-af58-9b897948652e</string>
		<key>unique-id</key>
		<integer>-8672514976621056812</integer>
	</dict>
	<key>composerName</key>
	<string>27dbe047-0479-41cc-af58-9b897948652e</string>
	<key>itemName</key>
	<string>1984</string>
	<key>playlistName</key>
	<string>1984</string>
	<key>releaseDate</key>
	<string>2011-03-03T22:55:52.222875+00:00</string>
	<key>sort-artist</key>
	<string>Orwell, George</string>
	<key>sort-artist-status</key>
	<integer>3</integer>
	<key>sort-composer</key>
	<string></string>
	<key>sort-composer-status</key>
	<integer>128</integer>
	<key>sort-name</key>
	<string>1984</string>
	<key>sort-name-status</key>
	<integer>1</integer>
</dict>
</plist>
