<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistName</key>
	<string>Bilinmeyen yazar</string>
	<key>book-info</key>
	<dict>
		<key>cover-image-hash</key>
		<string>227E4CF87BE42FF22F8A93017267D697</string>
		<key>cover-image-path</key>
		<string>cover.jpg</string>
		<key>mime-type</key>
		<string>application/epub+zip</string>
		<key>package-file-hash</key>
		<string>FC0A6B44CD0F796D5FCB1DC66BDCBEB8</string>
		<key>publisher-unique-id</key>
		<string>{34BD4B9D-479C-4DCA-B8CC-196CC368FF78}</string>
		<key>unique-id</key>
		<integer>4195898438938570605</integer>
		<key>update-level</key>
		<integer>2</integer>
	</dict>
	<key>itemName</key>
	<string>Alejandro Zambra - Eve Donmenin Yollari</string>
	<key>playlistName</key>
	<string>Alejandro Zambra - Eve Donmenin Yollari</string>
</dict>
</plist>
