.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    text-align: center;
    margin: 1em 0
    }
.calibre10 {
    display: block;
    font-size: 1em;
    text-align: right;
    margin: 1em 0
    }
.calibre11 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 1em 0
    }
.calibre12 {
    height: 138pt;
    width: 217pt
    }
.calibre13 {
    font-size: 1em
    }
.calibre14 {
    height: 218pt;
    width: 230pt
    }
.calibre15 {
    height: 137pt;
    width: 276pt
    }
.calibre16 {
    height: 154pt;
    width: 221pt
    }
.calibre17 {
    height: 154pt;
    width: 203pt
    }
.calibre18 {
    height: 200pt;
    width: 217pt
    }
.calibre19 {
    height: 201pt;
    width: 213pt
    }
.calibre2 {
    font-size: 1em;
    font-weight: bold
    }
.calibre20 {
    height: 69pt;
    width: 224pt
    }
.calibre21 {
    height: 125pt;
    width: 109pt
    }
.calibre22 {
    height: 76pt;
    width: 110pt
    }
.calibre23 {
    display: block;
    height: 1em;
    border: currentColor none 0;
    margin: 0
    }
.calibre24 {
    height: 141pt;
    width: 155pt
    }
.calibre25 {
    height: 168pt;
    width: 130pt
    }
.calibre26 {
    height: 162pt;
    width: 86pt
    }
.calibre27 {
    height: 142pt;
    width: 202pt
    }
.calibre28 {
    height: 201pt;
    width: 189pt
    }
.calibre29 {
    height: 132pt;
    width: 216pt
    }
.calibre3 {
    display: block
    }
.calibre30 {
    height: 136pt;
    width: 139pt
    }
.calibre31 {
    height: 209pt;
    width: 210pt
    }
.calibre32 {
    height: 399pt;
    width: 215pt
    }
.calibre33 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre34 {
    height: 145pt;
    width: 172pt
    }
.calibre35 {
    height: 104pt;
    width: 189pt
    }
.calibre36 {
    height: 198pt;
    width: 168pt
    }
.calibre37 {
    font-size: 1em;
    height: 76pt;
    width: 229pt
    }
.calibre38 {
    height: 171pt;
    width: 219pt
    }
.calibre39 {
    height: 184pt;
    width: 196pt
    }
.calibre4 {
    display: block;
    font-size: 1em;
    text-align: center;
    margin: 1em 0
    }
.calibre40 {
    height: 132pt;
    width: 180pt
    }
.calibre41 {
    height: 251pt;
    width: 231pt
    }
.calibre42 {
    height: 222pt;
    width: 218pt
    }
.calibre43 {
    display: block;
    line-height: 1.2
    }
.calibre44 {
    height: 249pt;
    width: 218pt
    }
.calibre45 {
    height: 141pt;
    width: 222pt
    }
.calibre46 {
    height: 180pt;
    width: 234pt
    }
.calibre47 {
    height: 106pt;
    width: 55pt
    }
.calibre48 {
    height: 161pt;
    width: 223pt
    }
.calibre49 {
    height: 201pt;
    width: 156pt
    }
.calibre5 {
    height: 35pt;
    width: 38pt
    }
.calibre50 {
    height: 61pt;
    width: 153pt
    }
.calibre51 {
    font-weight: bold
    }
.calibre6 {
    font-style: italic
    }
.calibre7 {
    height: auto;
    width: auto
    }
.calibre8 {
    display: block;
    margin:0;
    text-indent:30px;
    text-align: justify;
    }
.calibre9 {
    display: block;
    font-size: 1em;
    margin: 1em 0
    }
