@namespace h "http://www.w3.org/1999/xhtml";
.bolum {
    display: block;
    font-size: 1.2em;
    font-weight: normal;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.calibre {
    display: block;
    margin-bottom: 0;
    margin-left: 10pt;
    margin-right: 10pt;
    margin-top: 0;
    page-break-before: always
    }
.calibre1 {
    display: block;
    page-break-after: always
    }
.calibre10 {
    height: 140;
    width: 239
    }
.calibre11 {
    height: 155;
    width: 239
    }
.calibre12 {
    height: 141;
    width: 234
    }
.calibre13 {
    height: 126;
    width: 234
    }
.calibre14 {
    height: 131;
    width: 234
    }
.calibre15 {
    height: 142;
    width: 231
    }
.calibre16 {
    height: 137;
    width: 231
    }
.calibre17 {
    height: 75;
    width: 231
    }
.calibre18 {
    height: 78;
    width: 220
    }
.calibre19 {
    height: 128;
    width: 220
    }
.calibre2 {
    display: block;
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em;
    page-break-before: always;
    text-align: center
    }
.calibre20 {
    height: 137;
    width: 220
    }
.calibre21 {
    height: 129;
    width: 253
    }
.calibre22 {
    height: 126;
    width: 253
    }
.calibre23 {
    height: 65;
    width: 253
    }
.calibre24 {
    height: 70;
    width: 235
    }
.calibre25 {
    height: 138;
    width: 235
    }
.calibre26 {
    height: 143;
    width: 235
    }
.calibre27 {
    height: 141;
    width: 251
    }
.calibre28 {
    height: 136;
    width: 251
    }
.calibre29 {
    height: 133;
    width: 223
    }
.calibre3 {
    height: auto;
    width: auto
    }
.calibre30 {
    height: 131;
    width: 223
    }
.calibre31 {
    height: 70;
    width: 223
    }
.calibre32 {
    height: 66;
    width: 212
    }
.calibre33 {
    height: 128;
    width: 212
    }
.calibre34 {
    height: 132;
    width: 212
    }
.calibre35 {
    height: 129;
    width: 248
    }
.calibre36 {
    height: 126;
    width: 248
    }
.calibre37 {
    height: 130;
    width: 248
    }
.calibre38 {
    height: 142;
    width: 212
    }
.calibre39 {
    height: 131;
    width: 212
    }
.calibre4 {
    height: 50;
    width: 143
    }
.calibre40 {
    height: 71;
    width: 212
    }
.calibre41 {
    height: 67;
    width: 222
    }
.calibre42 {
    height: 126;
    width: 222
    }
.calibre43 {
    height: 131;
    width: 222
    }
.calibre44 {
    height: 136;
    width: 224
    }
.calibre45 {
    height: 135;
    width: 224
    }
.calibre46 {
    height: 141;
    width: 224
    }
.calibre47 {
    height: 134;
    width: 232
    }
.calibre48 {
    height: 126;
    width: 232
    }
.calibre49 {
    height: 69;
    width: 232
    }
.calibre5 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre50 {
    height: 125;
    width: 227
    }
.calibre51 {
    height: 126;
    width: 227
    }
.calibre52 {
    height: 129;
    width: 243
    }
.calibre53 {
    height: 134;
    width: 243
    }
.calibre54 {
    height: 131;
    width: 243
    }
.calibre55 {
    height: 125;
    width: 220
    }
.calibre56 {
    height: 129;
    width: 220
    }
.calibre57 {
    height: 134;
    width: 238
    }
.calibre58 {
    height: 137;
    width: 238
    }
.calibre59 {
    height: 137;
    width: 212
    }
.calibre6 {
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.83em;
    page-break-before: always;
    text-align: center
    }
.calibre60 {
    height: 136;
    width: 211
    }
.calibre61 {
    height: 127;
    width: 211
    }
.calibre62 {
    height: 132;
    width: 211
    }
.calibre63 {
    height: 123;
    width: 224
    }
.calibre64 {
    height: 134;
    width: 224
    }
.calibre65 {
    height: 135;
    width: 228
    }
.calibre66 {
    height: 128;
    width: 228
    }
.calibre67 {
    height: 126;
    width: 228
    }
.calibre68 {
    height: 143;
    width: 262
    }
.calibre69 {
    height: 128;
    width: 262
    }
.calibre7 {
    height: 147;
    width: 215
    }
.calibre70 {
    height: 123;
    width: 211
    }
.calibre71 {
    height: 136;
    width: 232
    }
.calibre72 {
    height: 133;
    width: 232
    }
.calibre73 {
    height: 141;
    width: 232
    }
.calibre74 {
    height: 133;
    width: 220
    }
.calibre75 {
    height: 138;
    width: 222
    }
.calibre76 {
    height: 130;
    width: 311
    }
.calibre77 {
    height: 130;
    width: 255
    }
.calibre78 {
    height: 131;
    width: 248
    }
.calibre79 {
    height: 154;
    width: 287
    }
.calibre8 {
    height: 139;
    width: 228
    }
.calibre80 {
    height: 168;
    width: 245
    }
.calibre81 {
    height: 246;
    width: 284
    }
.calibre82 {
    height: 151;
    width: 270
    }
.calibre83 {
    height: 157;
    width: 246
    }
.calibre84 {
    height: 75;
    width: 246
    }
.calibre85 {
    height: 100;
    width: 281
    }
.calibre86 {
    height: 267;
    width: 283
    }
.calibre87 {
    height: 218;
    width: 262
    }
.calibre88 {
    font-style: italic
    }
.calibre9 {
    height: 142;
    width: 228
    }
.chapter {
    display: block
    }
.idebold {
    display: block;
    font-weight: bold;
    margin-bottom: 0.25em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.25em;
    text-indent: 0.75em
    }
.idebold1 {
    font-weight: bold;
    margin-bottom: 0.25em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.25em;
    text-indent: 0.75em
    }
.ideitalik {
    font-style: italic;
    margin-bottom: 0.25em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.25em;
    text-indent: 0.75em
    }
.ideitalik1 {
    display: block;
    font-style: italic;
    margin-bottom: 0.25em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.25em;
    text-indent: 0.75em
    }
.indentmetin {
    display: block;
    font-size: 1em;
    margin-bottom: 0.25em;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0.25em;
    text-align: justify;
    text-indent: 0.75em
    }
.indentmetinitalik {
    display: block;
    font-size: 1em;
    font-style: italic;
    margin-bottom: 0.25em;
    margin-left: 3em;
    margin-right: 0;
    margin-top: 0.25em;
    text-align: justify;
    text-indent: 0.75em
    }
.kitapickapak {
    display: block;
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 0.25em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.25em;
    text-align: center
    }
.kunye {
    display: block;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 3em;
    margin-right: 0;
    margin-top: 0;
    text-align: left
    }
.normal {
    display: block;
    font-size: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: justify;
    text-indent: 0.75em
    }
.resim {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.resim1 {
    display: block;
    text-align: center
    }
.sagda {
    display: block;
    font-style: normal;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: right
    }
.sagdanithaf {
    display: block;
    font-style: italic;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: right
    }
a {
    color: inherit;
    text-decoration: inherit;
    cursor: default
    }
a[href] {
    color: blue;
    text-decoration: underline;
    cursor: pointer
    }
    @font-face {
font-style: normal;
font-family: 'Liberation', serif, sans-serif;
font-weight: normal;

}
@font-face {
font-style: italic;
font-family: 'Liberation', serif, sans-serif;
font-weight: normal;

}
@font-face {
font-style: bold;
font-family: 'Liberation', serif, sans-serif;
font-weight: bold;

}
