<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistName</key>
	<string>Beydeba</string>
	<key>book-info</key>
	<dict>
		<key>cover-image-hash</key>
		<string>7F1258C5B08A17623229806F1FB4E8FC</string>
		<key>cover-image-path</key>
		<string>cover.jpeg</string>
		<key>mime-type</key>
		<string>application/epub+zip</string>
		<key>package-file-hash</key>
		<string>5A63543B0ADC53644CDBB1478F162BEB</string>
		<key>publisher-unique-id</key>
		<string>54756796-a80b-4e71-a8b7-5fc50405b88a</string>
		<key>unique-id</key>
		<integer>5941096681033929861</integer>
		<key>update-level</key>
		<integer>2</integer>
	</dict>
	<key>itemName</key>
	<string>Kelile ve Dimne</string>
	<key>playlistName</key>
	<string>Kelile ve Dimne</string>
	<key>releaseDate</key>
	<string>2010-11-30T08:00:00+00:00</string>
</dict>
</plist>
