.calibre {
  display: block;
  font-size: 1em;
  line-height: 1.2;
  padding-left: 0;
  padding-right: 0;
  margin: 0 5pt;
}
.calibre1 {
  border-bottom: 0;
  border-top: 0;
  display: block;
  padding-bottom: 0;
  padding-top: 0;
  text-indent: 1.5em;
  margin: 0;
}
.calibre2 {
  line-height: 1.2;
}
.calibre3 {
  border-bottom: 0;
  border-top: 0;
  display: block;
  padding-bottom: 0;
  padding-top: 0;
  text-align: center;
  margin: 0;
}
.calibre4 {
  font-style: italic;
}
.calibre5 {
  border-bottom: 0;
  border-top: 0;
  display: block;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  text-align: center;
}
.calibre6 {
  height: auto;
  max-width: 100%;
  width: auto;
}
.calibre7 {
  border-bottom: 0;
  border-top: 0;
  display: block;
  padding-bottom: 0;
  padding-top: 0;
  text-align: justify;
  text-indent: 1.5em;
  margin: 0;
}
.calibre8 {
  font-weight: bold;
}
.calibre9 {
  font-variant: small-caps;
  line-height: 1.2;
}
.calibre10 {
  display: block;
  border: currentColor none medium;
  padding: 0;
  margin: 0 0 0 40px;
}
.calibre11 {
  display: block;
}
.calibre12 {
  display: block;
  font-size: 1.125em;
  font-weight: bold;
  line-height: 1.2;
  text-align: justify;
  margin: 1em 0;
}
.calibre13 {
  font-size: 0.75em;
  line-height: 1.2;
  vertical-align: super;
}
.calibre14 {
  font-weight: bold;
  line-height: 1.2;
}
.calibre15 {
  font-style: italic;
  font-weight: bold;
}
.calibre16 {
  border-bottom: 0;
  border-top: 0;
  display: block;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
 
  text-indent: 1.5em;
}
.calibre17 {
  font-size: 0.85714em;
  line-height: 1.2;
  vertical-align: super;
}
.calibre18 {
  display: block;
  line-height: 1.2;
}
.calibre19 {
  font-variant: small-caps;
  font-weight: bold;
  text-align: justify;
}
.calibre20 {
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
}
.calibre21 {
  font-style: italic;
  font-weight: bold;
  line-height: 1.2;
}
.calibre22 {
  text-align: justify;
}
.calibre23 {
  font-style: italic;
  text-align: justify;
}
.calibre24 {
 
}
.calibre25 {
  font-style: italic;
  
}
.calibre26 {
  border-bottom: 0;
  border-top: 0;
  display: block;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  text-indent: 1.5em;
}
.calibre27 {
  text-align: justify;
  vertical-align: super;
}
.sgc-toc-level {
  border-bottom: 0;
  border-top: 0;
  display: block;
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  text-indent: 1.5em;
}
.sgc-toc-level1 {
  border-bottom: 0;
  border-top: 0;
  display: block;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  text-indent: 1.5em;
}
.sgc-toc-title {
  border-bottom: 0;
  border-top: 0;
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  text-align: center;
}
.sigil_not_in_toc {
  display: block;
  font-size: 1.375em;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  margin: 0.83em 0;
}
.sigil_not_in_toc1 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  margin: 0.67em 0;
}
.sigil_not_in_toc2 {
  display: block;
  font-size: 1.125em;
  font-weight: bold;
  line-height: 1.2;
  margin: 1em 0;
}
.sigil_not_in_toc3 {
  display: block;
  font-weight: bold;
  text-align: justify;
  margin: 1.33em 0;
}
.sigil_not_in_toc4 {
  display: block;
  font-weight: bold;
  margin: 1.33em 0;
}
.sigil_not_in_toc5 {
  display: block;
  font-size: 0.875em;
  font-weight: bold;
  line-height: 1.2;
  text-align: justify;
  margin: 1.67em 0;
}
