@charset utf-8;
/* Styles for Kızlarıma Mektuplar */
body {
  margin: 0.5%;
  font-family: sans-serif;
}
h1 {
  text-align: center;
  margin-bottom: 0px;
}
h2 {
  text-align: center;
  margin-bottom: 0px;
}
p {
  margin: 0px 0.5% 0px 0.5%;
  text-indent: 1.5em;
  text-align: justify;
}
.ickapak {
  display: block;
  max-width: 90%;
  max-height: 80%;
  margin: 0px auto;
}
.seperator {
  margin: 0px 0.5% 0px 0.5%;
  text-indent: 0px;
  text-align: center;  
}
.dize {
  margin: 1em 0.5% 1em 0.5%;
  padding-left: 2.5em;
  text-indent: 0px;
  text-align: left;
  font-weight:bold;
}