.bkauthor {
    display: block;
    font-size: 1.29032em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.bksubtitle {
    display: block;
    font-size: 1.29032em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.bksubtitle1 {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.bktitle {
    display: block;
    font-size: 1.54839em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    text-align: center;
    text-indent: 0
    }
.calibre {
    display: block;
    font-family: serif;
    font-size: 1.29167em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    font-style: italic
    }
.calibre2 {
    font-weight: bold
    }
.calibre3 {
    font-size: 0.625em;
    line-height: 1.2;
    vertical-align: super
    }
.calibre4 {
    display: block;
    list-style-type: disc;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0
    }
.calibre5 {
    display: list-item;
    margin-bottom: 0.2em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.calibre6 {
    display: block;
    list-style-type: decimal;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.calibre7 {
    display: block
    }
.calibre8 {
    background-color: #000007;
    display: block;
    font-family: serif;
    font-size: 1.29167em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.caption {
    display: block;
    font-size: 0.64516em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 0
    }
.caption1 {
    display: block;
    font-size: 0.64516em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.caption2 {
    display: block;
    font-size: 0.64516em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.center {
    display: block;
    font-size: 0.77419em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.center-bs {
    display: block;
    font-size: 0.77419em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.center-ts {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 4.5em;
    text-align: center;
    text-indent: 0
    }
.center-ts1 {
    display: block;
    font-size: 0.77419em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 3em;
    text-align: center;
    text-indent: 0
    }
.centered-image {
    display: block;
    margin-bottom: 1em;
    margin-top: 0;
    text-align: center
    }
.centered-image1 {
    display: block;
    margin-bottom: 1em;
    margin-top: 1em;
    text-align: center
    }
.chapnum {
    display: block;
    font-size: 1.29032em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    text-align: center;
    text-indent: 0
    }
.chaptitle {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 1.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.contentsListStyle {
    display: block;
    font-size: 0.77419em;
    margin-bottom: 0.2em;
    margin-left: 2.8em;
    margin-right: 1em;
    margin-top: 0.2em;
    text-align: justify
    }
.contentsListStyle1 {
    display: block;
    font-size: 0.77419em;
    margin-bottom: 1em;
    margin-left: 2.5em;
    margin-right: 1em;
    margin-top: 1em;
    text-align: justify
    }
.cover {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center
    }
.cover1 {
    height: 100%;
    width: auto
    }
.cpytxt-bs {
    display: block;
    font-size: 0.77419em;
    font-weight: normal;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.cpytxt-ts {
    display: block;
    font-size: 0.77419em;
    font-weight: normal;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 0
    }
.footnote {
    display: block;
    font-size: 0.77419em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.footnote-ts {
    display: block;
    font-size: 0.77419em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.2em;
    text-indent: 0
    }
.full-page-image {
    display: block;
    margin-bottom: 0;
    margin-top: 0;
    page-break-inside: avoid;
    text-align: center
    }
.gloss {
    display: block;
    margin-bottom: 0;
    margin-left: 1em;
    margin-top: 0
    }
.glossentry {
    display: block;
    font-size: 0.77419em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: -1em
    }
.h {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: justify;
    text-indent: 0
    }
.h3a {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 3.5em;
    text-align: center;
    text-indent: 0
    }
.h3c {
    display: block;
    font-size: 1.29032em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 1.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2.5em;
    text-align: center;
    text-indent: 0
    }
.h3k {
    display: block;
    font-size: 1em;
    font-style: normal;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.hang {
    display: block;
    margin-left: 1.2em
    }
.image {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.imagefix {
    height: 1px;
    max-width: 100%;
    width: 91px
    }
.imagefix1 {
    height: 580px;
    max-width: 100%;
    width: 478px
    }
.imagefix10 {
    height: 400px;
    max-width: 100%;
    width: 289px
    }
.imagefix11 {
    height: 264px;
    max-width: 100%;
    width: 300px
    }
.imagefix12 {
    height: 259px;
    max-width: 100%;
    width: 276px
    }
.imagefix13 {
    height: 219px;
    max-width: 100%;
    width: 400px
    }
.imagefix14 {
    height: 277px;
    max-width: 100%;
    width: 300px
    }
.imagefix15 {
    height: 278px;
    max-width: 100%;
    width: 400px
    }
.imagefix16 {
    height: 500px;
    max-width: 100%;
    width: 422px
    }
.imagefix17 {
    height: 234px;
    max-width: 100%;
    width: 400px
    }
.imagefix18 {
    height: 270px;
    max-width: 100%;
    width: 400px
    }
.imagefix19 {
    height: 230px;
    max-width: 100%;
    width: 400px
    }
.imagefix2 {
    height: 196px;
    max-width: 100%;
    width: 453px
    }
.imagefix20 {
    height: 350px;
    max-width: 100%;
    width: 300px
    }
.imagefix21 {
    height: 476px;
    max-width: 100%;
    width: 383px
    }
.imagefix22 {
    height: 320px;
    max-width: 100%;
    width: 453px
    }
.imagefix23 {
    height: 217px;
    max-width: 100%;
    width: 383px
    }
.imagefix24 {
    height: 342px;
    max-width: 100%;
    width: 200px
    }
.imagefix25 {
    height: 254px;
    max-width: 100%;
    width: 350px
    }
.imagefix26 {
    height: 279px;
    max-width: 100%;
    width: 450px
    }
.imagefix27 {
    height: 194px;
    max-width: 100%;
    width: 350px
    }
.imagefix28 {
    height: 392px;
    max-width: 100%;
    width: 525px
    }
.imagefix29 {
    height: 440px;
    max-width: 100%;
    width: 525px
    }
.imagefix3 {
    height: 188px;
    max-width: 100%;
    width: 314px
    }
.imagefix30 {
    height: 330px;
    max-width: 100%;
    width: 250px
    }
.imagefix31 {
    height: 350px;
    max-width: 100%;
    width: 366px
    }
.imagefix32 {
    height: 307px;
    max-width: 100%;
    width: 350px
    }
.imagefix33 {
    height: 400px;
    max-width: 100%;
    width: 389px
    }
.imagefix34 {
    height: 449px;
    max-width: 100%;
    width: 350px
    }
.imagefix35 {
    height: 363px;
    max-width: 100%;
    width: 500px
    }
.imagefix36 {
    height: 254px;
    max-width: 100%;
    width: 180px
    }
.imagefix37 {
    height: 282px;
    max-width: 100%;
    width: 180px
    }
.imagefix38 {
    height: 323px;
    max-width: 100%;
    width: 450px
    }
.imagefix39 {
    height: 460px;
    max-width: 100%;
    width: 450px
    }
.imagefix4 {
    height: 182px;
    max-width: 100%;
    width: 358px
    }
.imagefix40 {
    height: 280px;
    max-width: 100%;
    width: 450px
    }
.imagefix41 {
    height: 239px;
    max-width: 100%;
    width: 250px
    }
.imagefix42 {
    height: 450px;
    max-width: 100%;
    width: 349px
    }
.imagefix43 {
    height: 282px;
    max-width: 100%;
    width: 400px
    }
.imagefix44 {
    height: 450px;
    max-width: 100%;
    width: 318px
    }
.imagefix45 {
    height: 350px;
    max-width: 100%;
    width: 270px
    }
.imagefix46 {
    height: 296px;
    max-width: 100%;
    width: 450px
    }
.imagefix47 {
    height: 268px;
    max-width: 100%;
    width: 350px
    }
.imagefix48 {
    height: 362px;
    max-width: 100%;
    width: 500px
    }
.imagefix49 {
    height: 254px;
    max-width: 100%;
    width: 370px
    }
.imagefix5 {
    height: 460px;
    max-width: 100%;
    width: 334px
    }
.imagefix50 {
    height: 590px;
    max-width: 100%;
    width: 385px
    }
.imagefix51 {
    height: 350px;
    max-width: 100%;
    width: 295px
    }
.imagefix52 {
    height: 550px;
    max-width: 100%;
    width: 454px
    }
.imagefix53 {
    height: 298px;
    max-width: 100%;
    width: 450px
    }
.imagefix54 {
    height: 450px;
    max-width: 100%;
    width: 282px
    }
.imagefix55 {
    height: 400px;
    max-width: 100%;
    width: 272px
    }
.imagefix56 {
    height: 328px;
    max-width: 100%;
    width: 500px
    }
.imagefix57 {
    height: 218px;
    max-width: 100%;
    width: 400px
    }
.imagefix58 {
    height: 309px;
    max-width: 100%;
    width: 500px
    }
.imagefix59 {
    height: 550px;
    max-width: 100%;
    width: 440px
    }
.imagefix6 {
    height: 286px;
    max-width: 100%;
    width: 467px
    }
.imagefix60 {
    height: 312px;
    max-width: 100%;
    width: 450px
    }
.imagefix61 {
    height: 300px;
    max-width: 100%;
    width: 227px
    }
.imagefix62 {
    height: 228px;
    max-width: 100%;
    width: 300px
    }
.imagefix63 {
    height: 274px;
    max-width: 100%;
    width: 500px
    }
.imagefix64 {
    height: 271px;
    max-width: 100%;
    width: 500px
    }
.imagefix65 {
    height: 391px;
    max-width: 100%;
    width: 450px
    }
.imagefix66 {
    height: 464px;
    max-width: 100%;
    width: 500px
    }
.imagefix67 {
    height: 355px;
    max-width: 100%;
    width: 450px
    }
.imagefix68 {
    height: 339px;
    max-width: 100%;
    width: 475px
    }
.imagefix69 {
    height: 212px;
    max-width: 100%;
    width: 300px
    }
.imagefix7 {
    height: 400px;
    max-width: 100%;
    width: 388px
    }
.imagefix70 {
    height: 370px;
    max-width: 100%;
    width: 527px
    }
.imagefix71 {
    height: 370px;
    max-width: 100%;
    width: 253px
    }
.imagefix72 {
    height: 400px;
    max-width: 100%;
    width: 280px
    }
.imagefix73 {
    height: 350px;
    max-width: 100%;
    width: 253px
    }
.imagefix74 {
    height: 600px;
    max-width: 100%;
    width: 519px
    }
.imagefix8 {
    height: 600px;
    max-width: 100%;
    width: 321px
    }
.imagefix9 {
    height: 497px;
    max-width: 100%;
    width: 508px
    }
.indent {
    display: block;
    font-size: 0.77419em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 1.5em
    }
.indent-bs {
    display: block;
    font-size: 0.77419em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 1.5em
    }
.indenthanging {
    display: block;
    font-size: 0.77419em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: -1.5em
    }
.indenthanging1 {
    display: block;
    font-size: 0.77419em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: justify;
    text-indent: -1.5em
    }
.indexmain {
    display: block;
    font-size: 0.77419em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-left: 1em;
    text-align: left;
    text-indent: -1em
    }
.indexmain-bs {
    display: block;
    font-size: 0.77419em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-left: 1em;
    text-align: left;
    text-indent: -1em
    }
.indexsub {
    display: block;
    font-size: 0.77419em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 1em
    }
.indexsub-bs {
    display: block;
    font-size: 0.77419em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 1em
    }
.indexsubsub {
    display: block;
    font-size: 0.77419em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 2em
    }
.noindent {
    display: block;
    font-size: 0.77419em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.noindent-bs {
    display: block;
    font-size: 0.77419em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.noindent-ts {
    display: block;
    font-size: 0.77419em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: justify;
    text-indent: 0
    }
.noindent1 {
    display: block;
    font-size: 0.77419em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.noindent2 {
    display: block;
    font-size: 0.77419em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 1.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.nondec {
    color: #000;
    text-decoration: none
    }
.partnum {
    display: block;
    font-size: 1.29032em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 4em;
    text-align: center;
    text-indent: 0
    }
.partnum1 {
    display: block;
    font-size: 1.29032em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.quote {
    display: block;
    font-size: 0.77419em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 5em;
    margin-right: 1.5em;
    margin-top: 0;
    text-align: justify;
    text-indent: -1em
    }
.quote-indent-jy {
    display: block;
    font-size: 0.77419em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-top: 0;
    text-align: justify;
    text-indent: 1.5em
    }
.quote-indent-jy-bs {
    display: block;
    font-size: 0.77419em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 1em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-top: 0;
    text-align: justify;
    text-indent: 1.5em
    }
.quote-jy {
    display: block;
    font-size: 0.77419em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.quote-jy-bs {
    display: block;
    font-size: 0.77419em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 1em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.quote1 {
    display: block;
    font-size: 0.77419em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0.2em;
    margin-left: 3em;
    margin-right: 2em;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.refentry {
    display: block;
    font-size: 0.77419em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: -1.4em
    }
.right {
    display: block;
    font-size: 0.77419em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: right;
    text-indent: 0
    }
.small {
    font-size: 0.75em
    }
.toc-entry {
    display: block;
    font-size: 0.77419em;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: -1.2em
    }
.toc-entry1 {
    display: block;
    font-size: 0.77419em;
    font-weight: normal;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: -1.2em
    }
