.calibre {
    display: block;
    font-family: "LiberationSerif", serif;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    margin: 1em 0
    }
.calibre2 {
    font-weight: bold
    }
.calibre3 {
    font-style: italic
    }
.calibre4 {
    display: block
    }
.calibre5 {
    height: 253pt;
    width: 184pt
    }
.calibre6 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre7 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre8 {
    display: list-item
    }
.calibre9 {
    height: 163pt;
    width: 194pt
    }
.calibre10 {
    height: 216pt;
    width: 151pt
    }
.calibre11 {
    height: 264pt;
    width: 207pt
    }
.calibre12 {
    height: 348pt;
    width: 222pt
    }
.calibre13 {
    height: 296pt;
    width: 181pt
    }
.calibre14 {
    height: 342pt;
    width: 250pt
    }
.calibre15 {
    height: 237pt;
    width: 176pt
    }
.calibre16 {
    height: 431pt;
    width: 281pt
    }
