@font-face {
	font-family:"Liberation Serif";
	font-style:normal;
	font-weight:normal;
	src : url("../Fonts/LiberationSerif.ttf");
}
@font-face {
	font-family:"Liberation Serif";
	font-style:normal;
	font-weight:bold;
	src : url("../Fonts/LiberationSerif-Bold.ttf");
}
@font-face {
	font-family:"Liberation Serif";
	font-style:italic;
	font-weight:normal;
	src : url("../Fonts/LiberationSerif-Italic.ttf");
}
@font-face {
	font-family:"Liberation Serif";
	font-style:oblique;
	font-weight:normal;
	src : url("../Fonts/LiberationSerif-Italic.ttf");
}
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
td, th {
	border-style:solid;
	border-width:1px;
}
table {
	border-collapse:collapse;
}
body {
	-epub-hyphens:auto;
	-webkit-hyphens:auto;
}
@page {
	margin : 0px 0px 0px 0px;
}
p.Basic-Paragraph {
	color:#000000;
	font-family:"Liberation Serif", serif;
	font-size:0.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:2px;
	margin-left:0;
	margin-right:0;
	margin-top:2px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	widows:1;
}
p.anabaslik {
	color:#000000;
	font-family:"Liberation Serif", serif;
	font-size:1.25em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.333;
	margin-bottom:20px;
	margin-left:0;
	margin-right:0;
	margin-top:150px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	widows:1;
}
p.arayazi {
	color:#000000;
	font-family:"Liberation Serif", serif;
	font-size:0.917em;
	font-style:italic;
	font-variant:normal;
	font-weight:normal;
	line-height:1.273;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	widows:1;
}
p.bos {
	color:#000000;
	font-family:"Liberation Serif", serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.364;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:20px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:20px;
	widows:1;
}
p.paragraf {
	color:#000000;
	font-family:"Liberation Serif", serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.364;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:20px;
	widows:1;
}
span.bolditalik {
	font-family:"Liberation Serif", serif;
	font-size:1em;
	font-style:italic;
	font-weight:bold;
}
span.dipp {
	font-family:"Liberation Serif", serif;
	font-size:0.75em;
	font-style:normal;
	font-weight:normal;
	vertical-align:super;
}
p.ParaOverride-1 {
	margin-top:150px;
	text-align:center;
	text-indent:0px;
}
p.ParaOverride-2 {
	margin-top:20px;
}
p.ParaOverride-3 {
	margin-top:120px;
}
p.ParaOverride-4 {
	margin-top:200px;
}
p.ParaOverride-5 {
	margin-top:150px;
	text-align:center;
}
p.ParaOverride-6 {
	margin-top:40px;
	text-align:center;
	text-indent:0px;
}
p.ParaOverride-7 {
	text-align:center;
	text-indent:0px;
}
p.ParaOverride-8 {
	margin-top:70px;
	text-align:center;
}
p.ParaOverride-9 {
	text-align:center;
}
p.ParaOverride-10 {
	margin-top:350px;
	text-align:center;
}
p.ParaOverride-11 {
	margin-top:150px;
	text-align:right;
}
p.ParaOverride-12 {
	margin-top:150px;
}
p.ParaOverride-13 {
	margin-top:15px;
	text-align:right;
}
p.ParaOverride-14 {
	margin-top:30px;
}
p.ParaOverride-15 {
	margin-top:10px;
}
p.ParaOverride-16 {
	text-align:right;
}
p.ParaOverride-17 {
	margin-top:15px;
}
p.ParaOverride-18 {
	margin-top:15px;
	text-align:center;
	text-indent:0px;
}
span.CharOverride-1 {
	font-family:"Liberation Serif";
	font-size:1.182em;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-2 {
	color:#000000;
}
span.CharOverride-3 {
	color:#000000;
	font-family:"Liberation Serif";
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-4 {
	font-family:"Liberation Serif";
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-5 {
	font-size:1em;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-6 {
	font-family:"Liberation Serif";
	font-size:0.75em;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-7 {
	font-family:"Liberation Serif", serif;
	font-size:0.75em;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-8 {
	color:#0000ff;
	font-family:"Liberation Serif";
	font-size:0.75em;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-9 {
	font-size:0.75em;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-10 {
	font-family:"Liberation Serif", serif;
	font-size:1.167em;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-11 {
	font-family:"Liberation Serif", serif;
	font-size:2.222em;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-12 {
	font-family:"Liberation Serif", serif;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-13 {
	font-family:"Liberation Serif";
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-14 {
	color:#000000;
	font-size:0.909em;
}
span.CharOverride-15 {
	font-size:0.53em;
	vertical-align:super;
}
span.CharOverride-16 {
	font-size:1.091em;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-17 {
	font-size:0.583em;
	vertical-align:super;
}
span.CharOverride-18 {
	color:#222222;
}
span.CharOverride-19 {
	font-family:"Liberation Serif";
	font-style:normal;
	font-weight:bold;
}
img._idGenPageitem-1 {
	height:1024px;
	width:768px;
}
div._idGenPageitem-2 {
	text-align:center;
}
img._idGenPageitem-3 {
	height:39px;
	width:86px;
}
