@font-face {
	font-family : "Liberation Serif";
	font-style : normal;
	font-weight : normal;
	src : url("fonts/LiberationSerif.ttf");
}
@font-face {
	font-family : "Liberation Serif";
	font-style : normal;
	font-weight : bold;
	src : url("fonts/LiberationSerif-Bold.ttf");
}
@font-face {
	font-family : "Liberation Serif";
	font-style : italic ;
	font-weight : normal;
	src : url("fonts/LiberationSerif-Italic.ttf");
}
@page {
	margin : 0.5em;
}
tbody, thead, tfoot, tr, td, th {
	border-style : inherit;
	border-width : inherit;
	border-color : inherit;
}
.leftFloat {
	float : left;
}
.rightFloat {
	float : right;
}
span.bold {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1em;
}
span.italik {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : italic;
	font-size : 1em;
}
span.dip-notlar {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.75em;
}
span.Vurgu {
	font-weight : normal;
	font-style : italic;
}
span.apple-style-span {
}
span.Character-Style-1 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.75em;
}
span.char-style-override-1 {
	font-size : 1.5em;
	font-style : normal;
	font-weight : bold;
}
span.char-style-override-2 {
	font-style : normal;
	font-weight : bold;
}
span.char-style-override-3 {
	color : #0000ff;
}
span.char-style-override-4 {
	font-size : 0.6em;
}
span.char-style-override-5 {
	font-size : 0.7em;
}
span.char-style-override-6 {
	font-size : 0.92em;
}
span.char-style-override-7 {
	vertical-align : super;
}
span.char-style-override-8 {
	font-size : 0.92em;
	font-style : normal;
	font-weight : normal;
}
p.Basic-Paragraph {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.perde-yazar {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1.5em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.22;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 30px 0px 0px 0px;
}
p.Basic-Paragraph-1 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.perde-yazar-1 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1.5em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.22;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 30px 0px 0px 0px;
}
p.kitap-adi--2 {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 2.5em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.79;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.yazar-adi {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.67em;
	text-decoration : none;
	font-variant : normal;
	line-height : 0.59;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.kisim {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.08em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.cevir {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.kunye {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.67em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.25;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px 0px 0px 30px;
}
p.Basic-Paragraph-2 {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 0px;
}
p.paragraf {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.25;
	text-align : justify;
	color : #000000;
	text-indent : 20px;
	margin : 0px 30px;
}
p.split {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.04em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.2;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 70px 30px 0px 30px;
}
p.anabaslik {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.25em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.33;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 30px 0px 70px 0px;
}
p.siir-ustbosluk {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.25;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 20px 0px 0px 0px;
}
p.dipnot {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.75em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.44;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 5px 30px 0px 30px;
}
p.bolum {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.17em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.46;
	text-align : center;
	color : #000000;
	text-indent : 20px;
	margin : 0px 30px;
}
p.basliklar {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.13;
	text-align : justify;
	color : #000000;
	text-indent : 20px;
	margin : 0px 30px 30px 30px;
}
p.dip-not {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.75em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.5;
	text-align : justify;
	color : #000000;
	text-indent : 14px;
	margin : 0px 30px;
}
p.sayi {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.13;
	text-align : justify;
	color : #000000;
	text-indent : 20px;
	margin : 0px 30px;
}
p.para-style-override-1 {
	text-align : center;
	margin-top : 0em;
	margin-bottom : 0em;
}
p.para-style-override-2 {
	margin-top : 70px;
	text-align : center;
}
p.para-style-override-3 {
	margin-top : 70px;
}
p.para-style-override-4 {
	margin-bottom : 22px;
	margin-top : 60px;
}
p.para-style-override-5 {
	margin-bottom : 22px;
	margin-top : 22px;
}
p.para-style-override-6 {
	margin-top : 22px;
}
p.para-style-override-7 {
	margin-top : 50px;
}
p.para-style-override-8 {
	text-indent : 14px;
}
p.para-style-override-9 {
	margin-bottom : 22px;
	margin-top : 22px;
	text-indent : 14px;
}
p.para-style-override-10 {
	margin-top : 22px;
	text-indent : 14px;
}
p.para-style-override-11 {
	margin-bottom : 22px;
	text-indent : 14px;
}
p.para-style-override-12 {
	margin-top : 2px;
	text-indent : 14px;
}
p.para-style-override-13 {
	margin-top : 20px;
	text-indent : 14px;
}
div.Basic-Text-Frame {
}
