h1.b-l-m-ba-l- {
  font-weight: bold;
  font-style: normal;
  font-size: 2.83em;
  line-height: 1.2em;
  text-decoration: none;
  font-variant: normal;
  text-indent: 0;
  text-align: center;
  color: #000;
  margin: 0.59em 0.29em 1.03em 0.29em;
}
h2.stil1 {
  font-weight: bold;
  font-style: normal;
  font-size: 1.83em;
  line-height: 1.22em;
  text-decoration: none;
  font-variant: normal;
  text-indent: 0;
  text-align: center;
  color: #000;
  margin: 0;
}
p.g-vde-metin-ortala {
  font-weight: normal;
  font-style: normal;
  font-size: 1.17em;
  line-height: 1.29em;
  text-decoration: none;
  font-variant: normal;
  text-indent: 0;
  text-align: center;
  color: #000;
  margin: 0 0.71em 0.57em 0.71em;
}
p.g-vde-metin-ortala-override {
  margin: 0 0.4em 0.32em 0.4em;
}
p.g-vde-metin-ortala-override-1 {
  margin: 0 0.2em 0.16em 0.2em;
}
p.normal {
  font-weight: normal;
  font-style: normal;
  font-size: 1.17em;
  line-height: 1.14em;
  text-decoration: none;
  font-variant: normal;
  text-indent: 1.01em;
  text-align: justify;
  color: #000;
  margin: 0;
}
h2.stil1-override {
  text-indent: 0.39em;
}
p.normal-override-1 {
  text-indent: 0.61em;
}
span.no-style-override-1 {
  font-size: 2.08em;
  line-height: 1.16em;
}
span.no-style-override-2 {
  font-weight: bold;
  font-size: 4.17em;
  line-height: 0.58em;
}
span.no-style-override-5 {
  font-weight: normal;
}
span.no-style-override-6 {
  line-height: 0.93em;
}
span.no-style-override-7 {
  line-height: 0.75em;
}
