<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistName</key>
	<string>Turgut Özakman</string>
	<key>book-info</key>
	<dict>
		<key>cover-image-hash</key>
		<string>61B14A7A3EB9DF48A90B3FC9CAA4125F</string>
		<key>cover-image-path</key>
		<string>cover.jpeg</string>
		<key>mime-type</key>
		<string>application/epub+zip</string>
		<key>package-file-hash</key>
		<string>CCEC4020974D17DFB43378D1C08C00F3</string>
		<key>publisher-unique-id</key>
		<string>6859e7a7-0653-4e8e-ba54-1147c9e6cd19</string>
		<key>unique-id</key>
		<integer>6326060149177885008</integer>
	</dict>
	<key>itemName</key>
	<string>Şu Çılgın Türkler</string>
	<key>playlistName</key>
	<string>Şu Çılgın Türkler</string>
	<key>releaseDate</key>
	<string>2010-11-20T08:00:00+00:00</string>
</dict>
</plist>
