



body{margin-left:5%;margin-right:5%;margin-top:5%;margin-bottom:5%}
p{text-indent:0.12in;margin-left:0;line-height:140%;margin-right:0;text-align:justify;margin-top:6pt;margin-bottom:6pt;font-family:Amasis,serif;font-size:91%;color:black}
.p1{text-indent:0.12in;margin-left:0.19in}
.p2{text-indent:0.12in;margin-left:0.16in}
.p3{margin-right:1.08in}
.p4{text-indent:0;margin-left:0;line-height:100%;text-align:left;margin-top:12pt;margin-bottom:3pt}
.p5{margin-right:0}
.p6{text-indent:0.12in;margin-left:0.2in}
.p7{margin-right:0.01in}
.p8{margin-right:0.01in}
.p9{text-indent:0.12in;margin-left:0.2in}
.p10{margin-right:0.01in}
.p11{text-indent:0.12in;margin-left:1.96in}
.p12{text-indent:0.12in;margin-left:0.21in}
.p13{text-indent:0.12in;margin-left:0.2in}
.p14{text-indent:0.12in;margin-left:0.11in}
.p15{text-indent:0.12in;margin-left:0.12in;margin-right:0.01in}
.p16{text-indent:0.12in;margin-left:0.11in;margin-right:0.01in}
.p17{text-indent:0.12in;margin-left:0.11in;margin-right:0.01in}
.p18{margin-right:0.02in}
.p19{text-indent:0.12in;margin-left:0.21in}
.p20{text-indent:0.12in;margin-left:0.22in}
.p21{text-indent:0.12in;margin-left:0.22in;margin-right:1.33in}
.p22{margin-right:0.02in}
.p23{text-indent:0.12in;margin-left:0.21in}
.p24{text-indent:0.12in;margin-left:0.22in}
.p25{text-indent:0.12in;margin-left:0.11in;margin-right:0.03in}
.p26{text-indent:0.11in;margin-left:0}
.p27{margin-right:0.03in}
.p28{margin-right:0.03in}
.p29{text-indent:0.12in;margin-left:0.22in}
.p30{text-indent:0.12in;margin-left:0.23in}
.p31{text-indent:0.12in;margin-left:0.23in}
.p32{text-indent:0.12in;margin-left:0.17in}
.p33{text-indent:0.12in;margin-left:0.21in;margin-right:1.68in}
.p34{margin-right:0.04in}
.p35{text-indent:0.12in;margin-left:0.18in}
.p36{text-indent:0.12in;margin-left:0.19in}
.p37{text-indent:0.12in;margin-left:0.18in}
.p38{text-indent:0;margin-left:0}
.p39{text-indent:0.12in;margin-left:0.2in;margin-right:0.84in}
.p40{text-indent:0.12in;margin-left:0.19in}
.p41{text-indent:0.12in;margin-left:0.2in;margin-right:0.84in}
.p42{text-indent:0.12in;margin-left:0.19in;margin-right:0.02in}
.p43{text-indent:0.12in;margin-left:0.21in;margin-right:1.07in}
.p44{text-indent:0.12in;margin-left:0.23in}
.p45{text-indent:0.12in;margin-left:0.21in;margin-right:1.6in}
.p46{margin-right:0.02in}
.p47{text-indent:0.12in;margin-left:0.19in;margin-right:0.03in}
.p48{text-indent:0.12in;margin-left:0.21in;margin-right:0.8in}
.p49{text-indent:0.12in;margin-left:0.2in;margin-right:1.68in}
.p50{margin-right:0.07in}
.p51{text-indent:0.12in;margin-left:0.2in;margin-right:0.84in}
.p52{text-indent:0.12in;margin-left:0.21in;margin-right:1.6in}
.p53{text-indent:0.12in;margin-left:0.2in;margin-right:1.12in}
.p54{text-indent:0.12in;margin-left:0.2in;margin-right:1.4in}
.p55{text-indent:0.12in;margin-left:0.2in;margin-right:1.87in}
.p56{margin-right:0.03in}
.p57{text-indent:0.12in;margin-left:0.2in;margin-right:1.12in}
.p58{margin-right:0.05in}
.p59{text-indent:0.12in;margin-left:0.19in;margin-right:0.01in}
.p60{text-indent:0.12in;margin-left:0.21in;margin-right:0.8in}
.p61{text-indent:0.12in;margin-left:0.23in;margin-right:2.1in}
.p62{margin-right:0.05in}
.p63{text-indent:0.12in;margin-left:0.33in}
.p64{text-indent:0.12in;margin-left:0.33in}
.p65{text-indent:0.12in;margin-left:0.41in}
.p66{text-indent:0.12in;margin-left:0.41in}
.p67{text-indent:0.12in;margin-left:0.4in}
.p68{text-indent:0.12in;margin-left:0.4in}
.p69{text-indent:0.12in;margin-left:0.4in}
.p70{text-indent:0.12in;margin-left:0.39in}
.p71{text-indent:0.12in;margin-left:0.39in}
.p72{text-indent:0.12in;margin-left:0.19in;margin-right:0.01in}
.p73{text-indent:0.12in;margin-left:0.18in}
.p74{text-indent:0.12in;margin-left:0.18in;margin-right:0}
.p75{text-indent:0.12in;margin-left:0.18in;margin-right:0.01in}
.p76{text-indent:0.12in;margin-left:0.2in;margin-right:0.01in}
.p77{text-indent:0.12in;margin-left:0.22in;margin-right:0.84in}
.p78{text-indent:0.12in;margin-left:0.2in;margin-right:0.8in}
.p79{text-indent:0.12in;margin-left:0.24in}
.p80{text-indent:0.12in;margin-left:0.2in;margin-right:2.24in}
.p81{text-indent:0.12in;margin-left:0.2in;margin-right:0.56in}
.p82{text-indent:0.12in;margin-left:1.98in}
.p83{text-indent:0.12in;margin-left:0.21in;margin-right:0.84in}
.p84{text-indent:0.12in;margin-left:0.44in;margin-right:1.12in}
.p85{margin-right:0.12in}
.p86{text-indent:0.12in;margin-left:0.21in;margin-right:1.12in}
.p87{margin-right:0.13in}
.p88{text-indent:0.12in;margin-left:0.22in;margin-right:2.13in}
.p89{text-indent:0.12in;margin-left:0.22in;margin-right:1.33in}
.p90{text-indent:0.12in;margin-left:0.19in;margin-right:1.96in}
.p91{text-indent:0.12in;margin-left:0.21in;margin-right:1.68in}
.p92{text-indent:0.12in;margin-left:0.2in;margin-right:1.4in}
.p93{text-indent:0.12in;margin-left:0.2in;margin-right:1.4in}
.p94{text-indent:0.12in;margin-left:0.21in;margin-right:1.4in}
.p95{text-indent:0.12in;margin-left:0.21in;margin-right:1.96in}
.p96{text-indent:0.12in;margin-left:0.21in;margin-right:1.12in}
.p97{line-height:100%}
.t0{font-size:1em;color:#000000}
.t1{font-size:1em;color:#000000}
.t2{font-size:1em;color:#000000}
.t3{font-size:1em;color:#000000}
.t5{font-size:1em}
.t6{font-size:1em}
.t7{font-size:1em}
.t8{font-size:1em;color:#0066cc;text-decoration:underline}
.t9{font-family:Arial,sans-serif;font-size:1.4em;color:#000000}
.t10{font-family:Arial,sans-serif;font-size:1.4em;color:#000000}
.t11{font-size:.52em;vertical-align:super}
.t12{font-size:.65em;vertical-align:super}
.t13{font-size:1em;letter-spacing:0.5pt}
.t14{font-size:.65em;vertical-align:super}
.t15{font-family:Arial,sans-serif;font-size:1.4em;color:#000000}
.t16{font-size:1em;letter-spacing:0.5pt}
.t17{font-size:1em;letter-spacing:0.5pt}
.t18{font-family:Arial,sans-serif;font-size:1.4em;color:#000000}
.t19{font-size:1em;letter-spacing:1.5pt}
.t20{font-family:Symbol;font-size:1em}
.t21{font-size:1em;background:yellow}
.t22{font-size:1em;background:yellow}
.t23{font-size:1em;background:yellow}
.t24{font-size:1em;background:yellow}
.t25{font-size:.65em;vertical-align:sub}
.t26{font-size:1em;letter-spacing:1.5pt}
.t27{font-size:1em;letter-spacing:-0.5pt}
.t28{font-size:1em;text-decoration:underline}
.t29{font-size:1em;text-decoration:underline}
.t30{font-family:Arial,sans-serif;font-size:1em;color:#000000}