.block_ {
    display: block;
    font-family: "Georgia", serif;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 0;
    padding: 0
    }
.block_1 {
    display: block;
    font-family: "Georgia", serif;
    font-size: 0.75em;
    text-align: center;
    text-indent: 0;
    margin: 6pt 0 0;
    padding: 0 0 1pt
    }
.block_2 {
    display: block;
    font-weight: bold;
    text-align: center;
    text-indent: -0.75pt;
    margin: 6pt 0.75pt 0;
    padding: 0
    }
.block_3 {
    display: block;
    text-align: justify;
    text-indent: 36pt;
    margin: 0 0.75pt;
    padding: 0
    }
.block_4 {
    display: block;
    text-align: justify;
    text-indent: 36pt;
    margin: 6pt 0.75pt 0;
    padding: 0
    }
.block_5 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.75em;
    text-align: justify;
    text-indent: 36pt;
    margin: 0 0.75pt;
    padding: 0
    }
.block_6 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.75em;
    text-align: center;
    text-indent: 36pt;
    margin: 6pt 0.75pt 0;
    padding: 0
    }
.block_7 {
    display: block;
    text-align: justify;
    text-indent: 71.4pt;
    margin: 0 0.75pt;
    padding: 0
    }
.block_8 {
    display: block;
    font-weight: bold;
    text-align: center;
    text-indent: -0.75pt;
    margin: 0 0.75pt;
    padding: 0
    }
.block_9 {
    display: list-item;
    margin-left: 28.4pt;
    margin-right: 0.75pt;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify
    }
.block_10 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.75em;
    text-align: justify;
    text-indent: 36pt;
    margin: 6pt 0.75pt 0;
    padding: 0
    }
.block_11 {
    display: block;
    text-align: justify;
    text-indent: 0;
    margin: 0 0.75pt;
    padding: 0
    }
.block_12 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.75em;
    text-align: center;
    text-indent: 36pt;
    margin: 0 0.75pt;
    padding: 0
    }
.block_13 {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    text-indent: 0;
    border-bottom: black solid 1pt;
    margin: 18pt 0 0;
    padding: 0 0 1pt
    }
.block_14 {
    display: block;
    font-size: 0.75em;
    text-align: justify;
    text-indent: 36pt;
    margin: 0;
    padding: 0
    }
.block_15 {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    text-align: justify;
    text-indent: 36pt;
    margin: 0;
    padding: 0
    }
.block_16 {
    display: block;
    font-size: 1.125em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 36pt;
    margin: 0;
    padding: 0
    }
.block_17 {
    display: block;
    font-family: "Nyala", serif;
    text-align: justify;
    text-indent: 36pt;
    margin: 6pt 0 0;
    padding: 0
    }
.calibre {
    color: #000;
    display: block;
    font-family: "Constantia", serif;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    line-height: 1.2;
    white-space: pre-wrap
    }
.calibre2 {
    font-style: italic
    }
.calibre3 {
    font-weight: bold
    }
.calibre4 {
    white-space: pre-wrap
    }
.frame_ {
    display: block;
    border-bottom: black solid 1pt;
    margin: 0;
    padding: 0
    }
.list_ {
    display: block;
    list-style-type: disc;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0
    }
.text_ {
    font-size: 1.5em;
    font-style: italic;
    font-weight: bold;
    line-height: 1.2
    }
.text_1 {
    font-size: 1.33333em;
    font-weight: bold
    }
.text_2 {
    font-weight: bold;
    text-decoration: underline
    }
.text_3 {
    font-style: italic;
    text-decoration: underline
    }
.text_4 {
    font-style: italic;
    font-weight: bold;
    text-decoration: underline
    }
.text_5 {
    font-style: italic;
    font-weight: bold
    }
.text_6 {
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2
    }
.text_7 {
    font-size: 1.5em;
    line-height: 1.2
    }
.text_8 {
    font-size: 1.33333em;
    font-style: italic
    }
