p {
  margin:0 auto 0 auto;  
  font-size:0.8em;
  text-indent:0em;
  text-align:center;
}
.bos06 {margin-top:0.6em;}
.bos08 {margin-top:0.8em;}
.bos2 {margin-top:2em;}
.bos18 {margin-top:18em;}
.bos22 {margin-top:90%;}
.kunye0{margin-top:10em;font-size:1.4em;font-weight:bold;}
.kunye00{margin-top:0.5em;font-size:1em;}
.kunye1{margin-top:1em;font-size:1.8em;font-weight:bold;}
.kunye2{margin-top:0.5em;font-size:1.5em;font-weight:bold;}
.kunye3{margin-top:4em;font-size:3em;font-weight:bold;}
.kunye4{font-size:1em;text-align:right;}
.yayinevi{text-align:center;}
.yazar p{text-align:justify;text-indent:1.5em;}
.yazar .ilk{text-indent:0em;}
.yazar .y_adi{text-indent:0em;font-size:0.9em;font-weight:bold;}
.buyuk{font-size:1.1em;}
