p {
margin:0 auto 0 auto;
text-indent:1.5em;
text-align:justify;}
a:link {text-decoration: none;}
sub, sup { 
font-size: 75%;
line-height: 0; 
}
sup {top: -0.25em;}
sub {bottom: -0.25em;}

.footnote {text-indent: 0em; margin-bottom: 0em; margin-top: 0em; page-break-before: always;font-size:0.8em;}

.logo {text-align:center;margin:5em 0 1em;}

.bas1{text-indent:0em;text-align:center;font-size:1.3em;font-weight:bold;}
.bas2{text-indent:0em;text-align:center;font-size:1.2em;font-weight:bold;margin-top:1.5em;margin-bottom:0.5em;}
.sekil{text-indent:0em;text-align:center;margin-top:0.5em;margin-bottom:10em;}

.gir1 p{text-indent:-1.5em;text-align:left;margin-left:6em;}