@font-face {
	font-family:"Adobe Garamond Pro Bold";
	font-style:normal;
	font-weight:bold;
	src : url("../font/AGaramondPro-Bold.otf");
}
@font-face {
	font-family:"Adobe Garamond Pro";
	font-style:normal;
	font-weight:normal;
	src : url("../font/AGaramondPro-Regular.otf");
}
@font-face {
	font-family:Palatino;
	font-style:normal;
	font-weight:normal;
	src : url("../font/Palatino.otf");
}
@font-face {
	font-family:Palatino;
	font-style:italic;
	font-weight:bold;
	src : url("../font/Palatino-BoldItalic.ttf");
}
@font-face {
	font-family:Palatino;
	font-style:oblique;
	font-weight:bold;
	src : url("../font/Palatino-BoldItalic.ttf");
}
@font-face {
	font-family:Palatino;
	font-style:italic;
	font-weight:normal;
	src : url("../font/Palatino-Italic.ttf");
}
@font-face {
	font-family:Palatino;
	font-style:oblique;
	font-weight:normal;
	src : url("../font/Palatino-Italic.ttf");
}
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
@page {
	margin : 0px 0px 0px 0px;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.Basic-Paragraph {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.e-iyikikitaplarvar {
	color:#000000;
	font-family:"DINT  Light", sans-serif;
	font-size:1.667em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.1;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.paragraf {
	-epub-text-align-last:left;
	color:#000000;
	font-family:Palatino, serif;
	font-size:0.833em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.45;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:3px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:14px;
	text-transform:none;
	widows:2;
}
p.perde {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Adobe Garamond Pro Bold", serif;
	font-size:1.083em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.077;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:57px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.sayfabasindanbasla {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Adobe Garamond Pro", serif;
	font-size:1.667em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.1;
	margin-bottom:14px;
	margin-left:0;
	margin-right:0;
	margin-top:43px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.siir {
	color:#000000;
	font-family:Palatino, serif;
	font-size:0.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.611;
	margin-bottom:3px;
	margin-left:14px;
	margin-right:0;
	margin-top:6px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
span.bolditalik {
	font-style:italic;
	font-weight:bold;
}
span.italik {
	font-style:italic;
	font-weight:normal;
}
p.ParaOverride-1 {
	-epub-hyphens:none;
	margin-top:43px;
	text-align:center;
}
p.ParaOverride-2 {
	-epub-hyphens:none;
	margin-top:3px;
	text-align:center;
}
p.ParaOverride-3 {
	margin-top:43px;
	text-align:center;
}
p.ParaOverride-4 {
	text-align:center;
}
p.ParaOverride-5 {
	margin-top:14px;
	text-align:center;
}
span.CharOverride-1 {
	font-family:"Adobe Garamond Pro", serif;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-2 {
	font-family:"Adobe Garamond Pro Bold", serif;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-3 {
	font-family:"Adobe Garamond Pro Bold", serif;
	font-size:1.167em;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-4 {
	font-family:"Adobe Garamond Pro";
	font-size:1.167em;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-5 {
	font-family:"Adobe Garamond Pro Bold", serif;
	font-size:0.458em;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-6 {
	font-family:"Adobe Garamond Pro";
	font-size:0.625em;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-7 {
	font-family:Palatino;
}
span._idGenCharOverride-1 {
	font-family:Palatino;
}
img._idGenPageitem-1 {
	height:100%;
	width:100%;
}
div._idGenPageitem-2 {
	display:inline-block;
	height:63px;
	width:36px;
}
div._idGenObjectLayout-1 {
	margin:4px auto 4px auto;
	page-break-after:always;
	text-align:center;
}
