p{text-indent:1em;margin-left:0;line-height:130%;margin-right:0;text-align:justify;margin-top:0;margin-bottom:.55em;font-family:Trebuchet,sans-serif;font-size:100%}
.p0{text-align:center;margin-bottom:0}
.p2{text-indent:0;margin-left:2.6em}
.p3{text-indent:0;margin-left:0}
.p4{text-indent:3.2em;margin-left:0}
.p5{text-align:center}
.p6{text-indent:0;margin-left:0;text-align:center}
.p7{text-indent:0;margin-left:0;text-align:left}
.p8{text-indent:1em;margin-left:1em;margin-top:1.1em}
.p9{text-align:right}
.p10{text-indent:1em;margin-left:1em}
.p11{margin-top:1.1em}
h1{text-indent:.63em;margin-left:0;line-height:130%;margin-right:0;text-align:center;margin-top:.67em;margin-bottom:.33em;font-family:Trebuchet,sans-serif;font-size:164%;font-weight:bold}
.h10{text-indent:0;margin-left:0}
.h12{text-indent:0;margin-left:0;text-align:left}
.t0{font-size:.36em;line-height:130%}
.t1{font-style:italic}
.t2{font-family:"Times New Roman TUR"}
.t3{font-family:Verdana,sans-serif;font-size:.86em;line-height:130%;font-weight:bold;font-style:italic}
.t4{font-family:Verdana,sans-serif;font-size:1.6em;line-height:130%;font-weight:bold;font-style:italic}
.t5{font-family:Verdana,sans-serif;font-size:.95em;line-height:130%;font-weight:bold;font-style:italic}
.t6{font-size:.91em;line-height:130%;font-weight:bold}
.t8{font-family:Calibri,sans-serif}
.t9{font-size:1.3em;line-height:130%;font-weight:bold}
.t10{font-size:.82em;line-height:130%}
.t11{font-size:1.3em;line-height:130%}
.t12{font-size:.82em;line-height:130%;font-style:italic}
.t13{font-weight:bold}
.t14{text-decoration:underline}
.t15{font-size:1.5em;line-height:130%}
.t16{font-size:1.5em;line-height:130%;font-weight:bold}
.t17{font-size:1em;line-height:130%;font-weight:bold}
.t18{font-size:3.3em;line-height:130%;font-weight:bold}
.t19{font-size:1em;line-height:130%;font-style:italic}
.t20{font-size:1em;line-height:130%}
.t21{font-weight:bold;font-style:italic}
.t22{font-size:1.6em;line-height:130%}
.t23{font-size:1.6em;line-height:130%;font-weight:bold}
.t24{font-size:1.3em;line-height:130%}
.t25{font-size:1.3em;line-height:130%;font-weight:bold}
.t26{font-size:.65em;line-height:130%;vertical-align:super;text-decoration:underline}
.t27{font-size:.65em;line-height:130%;vertical-align:super}
.t28{font-size:1.8em;line-height:130%}
.t29{font-size:1.8em;line-height:130%;font-weight:bold}
.t30{font-style:italic;letter-spacing:.045em}
.t31{font-size:.65em;line-height:130%;vertical-align:super;letter-spacing:.071em;text-decoration:underline}
.t32{font-weight:bold;text-decoration:underline}
.th11{font-size:.89em;line-height:130%}
.th12{font-size:.81em;line-height:130%}
.th13{font-size:.72em;line-height:130%}
.th14{font-size:1.1em;line-height:130%}
.th15{font-size:.61em;line-height:130%}