<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistName</key>
	<string>Murat Belge</string>
	<key>book-info</key>
	<dict>
		<key>cover-image-hash</key>
		<string>4A92E07EC2178335F63E313EDC05CA10</string>
		<key>cover-image-path</key>
		<string>cover1.jpeg</string>
		<key>package-file-hash</key>
		<string>92601E39F0B401F75A260B17D57E8789</string>
		<key>publisher-unique-id</key>
		<string>62ea9b71-b529-4b87-8fff-b83ad8b7a005</string>
		<key>unique-id</key>
		<integer>-2239235856569051476</integer>
	</dict>
	<key>composerName</key>
	<string>62ea9b71-b529-4b87-8fff-b83ad8b7a005</string>
	<key>genre</key>
	<string>Istanbul (Turkey)</string>
	<key>itemName</key>
	<string>İstanbul gezi rehberi</string>
	<key>playlistName</key>
	<string>İstanbul gezi rehberi</string>
	<key>releaseDate</key>
	<string>2007-07-14T21:00:00+00:00</string>
	<key>sort-artist</key>
	<string>Belge, Murat</string>
	<key>sort-artist-status</key>
	<integer>3</integer>
	<key>sort-composer</key>
	<string></string>
	<key>sort-composer-status</key>
	<integer>128</integer>
	<key>sort-name</key>
	<string>İstanbul gezi rehberi</string>
	<key>sort-name-status</key>
	<integer>1</integer>
</dict>
</plist>
