.block {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.83333em;
    text-align: center;
    padding: 0;
    margin: 0
    }
.block1 {
    display: block;
    font-family: "Garamond", serif;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: -1pt;
    line-height: 1.2;
    text-align: center;
    padding: 0;
    margin: 0
    }
.block2 {
    color: black;
    display: block;
    font-size: 1em;
    letter-spacing: -0.05pt;
    text-align: center;
    padding: 0;
    margin: 0
    }
.block3 {
    color: black;
    display: block;
    font-family: "Calibri", sans-serif;
    font-size: 1em;
    text-align: center;
    padding: 0;
    margin: 0
    }
.block4 {
    display: block;
    font-family: "Book Antiqua", serif;
    font-size: 2em;
    font-style: italic;
    line-height: 1.2;
    text-align: center;
    padding: 0;
    margin: 0
    }
.block5 {
    color: black;
    display: block;
    font-family: "Calibri", sans-serif;
    font-size: 1em;
    padding: 0;
    margin: 0
    }
.block6 {
    color: black;
    display: block;
    font-size: 0.83333em;
    padding: 0;
    margin: 0
    }
.block7 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.83333em;
    padding: 0;
    margin: 0
    }
.block8 {
    color: black;
    display: block;
    font-size: 1em;
    font-weight: bold;
    padding: 0;
    margin: 0
    }
.block9 {
    color: black;
    display: block;
    font-family: "Corbel", sans-serif;
    font-size: 1em;
    font-style: italic;
    text-align: right;
    text-decoration: underline;
    text-indent: 14.2pt;
    padding: 0;
    margin: 0
    }
.block10 {
    color: black;
    display: block;
    font-size: 1em;
    text-align: justify;
    text-indent: 14.2pt;
    padding: 0;
    margin: 0
    }
.block11 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.83333em;
    text-align: justify;
    text-indent: 14.2pt;
    padding: 0;
    margin: 0
    }
.block12 {
    color: black;
    display: block;
    font-size: 0.83333em;
    text-align: justify;
    text-indent: 14.2pt;
    padding: 0;
    margin: 0
    }
.block13 {
    color: black;
    display: block;
    font-size: 0.75em;
    text-align: justify;
    text-indent: 14.2pt;
    padding: 0;
    margin: 0
    }
.block14 {
    color: black;
    display: block;
    font-size: 1em;
    font-style: italic;
    text-align: justify;
    text-indent: 14.2pt;
    padding: 0;
    margin: 0
    }
.block15 {
    color: black;
    display: block;
    text-align: justify;
    text-indent: 14.2pt;
    padding: 0;
    margin: 0
    }
.block16 {
    color: black;
    display: block;
    font-size: 0.83333em;
    font-style: italic;
    font-weight: bold;
    text-align: justify;
    text-indent: 14.2pt;
    padding: 0;
    margin: 0
    }
.block17 {
    color: black;
    display: block;
    font-family: "Sylfaen", serif;
    text-align: justify;
    text-indent: 14.2pt;
    padding: 0;
    margin: 0
    }
.block18 {
    color: black;
    display: block;
    font-size: 0.75em;
    font-weight: bold;
    text-align: justify;
    text-indent: 14.2pt;
    padding: 0;
    margin: 0
    }
.block19 {
    color: black;
    display: block;
    font-family: "Garamond", serif;
    font-size: 1em;
    padding: 0;
    margin: 0
    }
.block20 {
    color: black;
    display: block;
    font-family: "Calibri", sans-serif;
    font-size: 1em;
    padding: 0;
    margin: 0
    }
.calibre {
    color: #000;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    line-height: 1.2
    }
.calibre2 {
    height: 49.7pt;
    width: 63.4pt
    }
.calibre3 {
    font-style: italic
    }
.calibre4 {
    display: block;
    float: right;
    height: 446pt;
    width: 269pt
    }
.text {
    font-family: "Times New Roman", serif;
    font-size: 1.2em
    }
.text1 {
    color: #000;
    font-family: "Book Antiqua", serif;
    font-size: 2.4em;
    line-height: 1.2
    }
.text2 {
    color: #000;
    font-family: "Arial Black", sans-serif;
    font-size: 2.4em;
    letter-spacing: -1pt;
    line-height: 1.2
    }
.text3 {
    font-family: "Sylfaen", serif;
    font-size: 0.9em
    }
.text4 {
    font-size: 1.55em;
    font-weight: bold;
    line-height: 1.2
    }
.text5 {
    font-size: 1.2em
    }
.text6 {
    font-size: 0.9em
    }
.text7 {
    font-size: 1.2em;
    font-style: italic
    }
.text8 {
    font-family: "Times New Roman", serif;
    font-size: 0.9em
    }
.text9 {
    font-family: "Corbel", sans-serif;
    font-size: 0.9em;
    font-weight: bold
    }
.text10 {
    font-family: "Corbel", sans-serif;
    font-size: 1.2em;
    font-style: italic
    }
.text11 {
    font-size: 1em;
    font-style: italic;
    font-weight: bold
    }
.text12 {
    font-size: 0.75em
    }
.text13 {
    font-family: "Sylfaen", serif;
    font-size: 1.2em
    }
.text14 {
    font-family: "Lucida Sans Unicode", sans-serif;
    font-size: 0.75em
    }
.text15 {
    font-family: "Times New Roman", serif;
    font-size: 1em;
    font-style: italic;
    font-weight: bold
    }
.text16 {
    font-size: 0.75em;
    font-style: italic;
    font-weight: bold
    }
.text17 {
    font-size: 0.9em;
    font-weight: bold
    }
.text18 {
    font-family: "Sylfaen", serif;
    font-size: 0.75em
    }
.text19 {
    font-family: "Candara", sans-serif;
    font-size: 0.9em
    }
.text20 {
    font-family: "Georgia", serif;
    font-size: 1.2em;
    font-style: italic
    }
