p.ParaOverride-1 {
	margin-top:100px;
}
p.ParaOverride-2 {
	margin-bottom:20px;
}
p.ParaOverride-3 {
	margin-bottom:5px;
	margin-top:5px;
}
p.ParaOverride-4 {
	margin-top:20px;
	text-align:right;
}
p.ParaOverride-5 {
	margin-bottom:5px;
	margin-top:30px;
	text-align:center;
	text-indent:0px;
}
p.ParaOverride-6 {
	margin-bottom:20px;
	text-align:center;
	text-indent:0px;
}
p.ParaOverride-7 {
	margin-left:150px;
	margin-right:150px;
	text-indent:0px;
}
p.ParaOverride-8 {
	margin-bottom:20px;
	margin-left:150px;
	margin-right:150px;
	text-align:right;
}
p.ParaOverride-9 {
	margin-bottom:20px;
	margin-top:30px;
	text-align:center;
	text-indent:0px;
}
li.ParaOverride-10 {
	list-style-position:outside;
	list-style-type:decimal;
	margin-left:68px;
	text-indent:0px;
}
li.ParaOverride-11 {
	list-style-position:outside;
	list-style-type:decimal;
	margin-bottom:20px;
	margin-left:68px;
	text-indent:0px;
}
p.ParaOverride-12 {
	text-align:center;
	text-indent:0px;
}
p.ParaOverride-13 {
	margin-bottom:20px;
	text-align:right;
}
p.ParaOverride-14 {
	text-align:right;
}
span.CharOverride-1 {
	color:#000000;
}
span.CharOverride-2 {
	font-family:"Liberation Serif";
	font-size:1.333em;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-3 {
	font-family:"Liberation Serif";
	font-size:1.167em;
	font-style:italic;
	font-weight:bold;
}
span.CharOverride-4 {
	font-family:"Liberation Serif";
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-5 {
	font-family:"Liberation Serif";
	font-style:italic;
	font-weight:bold;
}
span.CharOverride-6 {
	text-decoration:underline;
}
span.CharOverride-7 {
	font-size:0.917em;
}
span.CharOverride-8 {
	font-size:0.437em;
}
img._idGenObjectAttribute-1 {
	height:218px;
	width:288px;
}
img._idGenObjectAttribute-2 {
	height:64px;
	width:43px;
}
img._idGenObjectAttribute-3 {
	height:99px;
	width:465px;
}
img._idGenObjectAttribute-4 {
	height:97px;
	width:450px;
}
img._idGenObjectAttribute-5 {
	height:121px;
	width:453px;
}
img._idGenObjectAttribute-6 {
	height:71px;
	width:455px;
}
hr.HorizontalRule-1 {
	border-bottom:none;
	border-left:none;
	border-right:none;
	border-top:solid #000000 1px;
}
