.calibre {
    display: block;
    font-size: 0.875em;
    line-height: 1.2;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    height: 866px;
    width: 626px
    }
.calibre2 {
    height: 792px;
    width: 600px
    }
.p {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 6.9em;
    orphans: 1;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: center;
    text-indent: 0;
    widows: 1;
    margin: 0 0 2.1em 0.083em
    }
.p1 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: center;
    text-indent: 0;
    widows: 1;
    margin: 0 0 1.1em
    }
.p10 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 1.7em;
    widows: 1;
    margin: 0 0.083em
    }
.p100 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    page-break-after: avoid;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 0 0 0.17em
    }
.p101 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 2.5em;
    orphans: 1;
    page-break-after: avoid;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 0 0 0.17em
    }
.p102 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 1.6em;
    widows: 1;
    margin: 0 0 0 0.17em
    }
.p103 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 1.6em;
    widows: 1;
    margin: 0 0.083em 0 0.17em
    }
.p104 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 5.6em 0 1.8em
    }
.p105 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 11em 2.1em 1.7em
    }
.p106 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 11em 0 1.7em
    }
.p107 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 1.7em;
    widows: 1;
    margin: 0 0.17em 0 0
    }
.p108 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 1.7em;
    widows: 1;
    margin: 0 0 0.25em 0.083em
    }
.p109 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 1.7em;
    widows: 1;
    margin: 0 0 1.1em 0.083em
    }
.p11 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 1.7em;
    widows: 1;
    margin: 0 0 1em 0.083em
    }
.p110 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 1.8em
    }
.p111 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 1.7em;
    widows: 1;
    margin: 0 0.17em 0 1.7em
    }
.p112 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 1.7em;
    widows: 1;
    margin: 0 0 0 1.7em
    }
.p113 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 12em 3.2em 1.7em
    }
.p114 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 12em 0 1.7em
    }
.p115 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 1.7em;
    widows: 1;
    margin: 0 0 1em 0.17em
    }
.p116 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 2.5em;
    orphans: 1;
    page-break-after: avoid;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0
    }
.p117 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 0 0 7.4em
    }
.p118 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 0.083em 3.3em 1.8em
    }
.p119 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 0 0 0.17em
    }
.p12 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 1.7em;
    widows: 1;
    margin: 0 0 0 0.083em
    }
.p120 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 1.5em;
    widows: 1;
    margin: 0 0.083em 0 0.17em
    }
.p121 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 1.5em;
    widows: 1;
    margin: 0 0 0 0.17em
    }
.p122 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 2.8em 0 1.8em
    }
.p123 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 9.8em 2.1em 1.8em
    }
.p124 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 9.8em 0 1.8em
    }
.p125 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 10em 0 1.8em
    }
.p126 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 0.92em 0 0
    }
.p127 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 0.17em 0 1.8em
    }
.p128 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 13em 2.9em 1.8em
    }
.p129 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 2.9em;
    orphans: 1;
    page-break-after: avoid;
    text-align: justify;
    text-indent: 1.7em;
    widows: 1;
    margin: 0 0 0 0.083em
    }
.p13 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: right;
    text-indent: 0;
    widows: 1;
    margin: 0 0 0 18em
    }
.p130 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 1.7em;
    widows: 1;
    margin: 0 0 1.3em 0.083em
    }
.p131 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 8.9em 2.1em 1.8em
    }
.p132 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 8.9em 0 1.8em
    }
.p133 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 0 3.4em 1.7em
    }
.p134 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 0 0 1.7em
    }
.p135 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 3.6em 0 1.7em
    }
.p136 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 13em 2.2em 1.8em
    }
.p137 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 0.083em 1em 1.8em
    }
.p138 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 8.1em 2.3em 1.8em
    }
.p139 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 8.1em 0 1.8em
    }
.p14 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 2;
    text-align: left;
    text-indent: 0;
    widows: 2;
    margin: 0
    }
.p140 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 10em 2.1em 1.8em
    }
.p141 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 2.4em 0 1.8em
    }
.p142 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 0 3.5em 1.7em
    }
.p143 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 2.9em 0 1.8em
    }
.p144 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 3.3em 2.2em 1.8em
    }
.p145 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 3.3em 0 1.8em
    }
.p146 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 5.7em 2.1em 1.8em
    }
.p147 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 5.7em 0 1.8em
    }
.p148 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 13em 3.3em 1.7em
    }
.p149 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 1.8em;
    widows: 1;
    margin: 0
    }
.p15 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 200%;
    orphans: 1;
    text-align: justify;
    text-indent: 3em;
    widows: 1;
    margin: 0 0 0 5.9em
    }
.p150 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    page-break-after: avoid;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0
    }
.p151 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 0.083em 1em
    }
.p152 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 3.8em 2.4em 1.8em
    }
.p153 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 3.8em 0 1.8em
    }
.p154 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 5.3em 0 1.8em
    }
.p155 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 0.42em 0 0
    }
.p156 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 200%;
    orphans: 1;
    text-align: center;
    text-indent: 0;
    widows: 1;
    margin: 0 0.42em 0 0
    }
.p157 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 0 1.2em
    }
.p158 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: center;
    text-indent: 0;
    widows: 1;
    margin: 0 0 1.2em
    }
.p159 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 0.083em 1em 0
    }
.p16 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0.15em 0
    }
.p160 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 0.083em 0.99em 0
    }
.p161 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 0.5em 0 0
    }
.p162 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 2;
    text-align: left;
    text-indent: 0;
    widows: 2;
    margin: 0 0 0.83em
    }
.p163 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: left;
    text-indent: 0;
    widows: 1;
    margin: 0
    }
.p17 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 200%;
    orphans: 1;
    text-align: justify;
    text-indent: -8.8em;
    widows: 1;
    margin: 0 7.9em 0 8.8em
    }
.p18 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 200%;
    orphans: 1;
    text-align: justify;
    text-indent: -5.8em;
    widows: 1;
    margin: 0 7.9em 0 5.9em
    }
.p19 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 200%;
    orphans: 1;
    text-align: justify;
    text-indent: 2.9em;
    widows: 1;
    margin: 0 7.9em 0 5.9em
    }
.p2 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: center;
    text-indent: 0;
    widows: 1;
    margin: 0
    }
.p20 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.9em;
    orphans: 1;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 0 2em
    }
.p21 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.9em;
    orphans: 1;
    text-align: center;
    text-indent: 0;
    widows: 1;
    margin: 0 0 2em
    }
.p22 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 200%;
    orphans: 1;
    text-align: center;
    text-indent: 0;
    widows: 1;
    margin: 0 0 2em
    }
.p23 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 200%;
    orphans: 1;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: center;
    text-indent: 0;
    widows: 1;
    margin: 0
    }
.p24 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 200%;
    orphans: 1;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify;
    text-indent: 1.7em;
    widows: 1;
    margin: 0 0 0 0.083em
    }
.p25 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify;
    text-indent: 1.7em;
    widows: 1;
    margin: 0 0 0 0.083em
    }
.p26 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 16em 2.1em 1.8em
    }
.p27 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 2.4em;
    orphans: 1;
    page-break-after: avoid;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 0 0 0.083em
    }
.p28 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 0.083em
    }
.p29 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 1.7em;
    widows: 1;
    margin: 0 0.083em 0 0
    }
.p3 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: center;
    text-indent: 0;
    widows: 1;
    margin: 0 0 0.53em
    }
.p30 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 1.7em;
    widows: 1;
    margin: 0
    }
.p31 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 1.7em;
    widows: 1;
    margin: 0 0.083em 1.3em
    }
.p32 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 1.7em;
    widows: 1;
    margin: 0 0.083em 1em
    }
.p33 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 1.8em;
    widows: 1;
    margin: 0 0 0 0.083em
    }
.p34 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 1.8em;
    widows: 1;
    margin: 0 0.083em
    }
.p35 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0
    }
.p36 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 2.6em;
    orphans: 1;
    page-break-after: avoid;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 0 0 0.083em
    }
.p37 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 0.083em 0 0
    }
.p38 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 1.8em;
    widows: 1;
    margin: 0 0 1em 0.083em
    }
.p39 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 1.7em;
    widows: 1;
    margin: 0 0.083em 0 0.17em
    }
.p4 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0
    }
.p40 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 1.7em;
    widows: 1;
    margin: 0 0 0 0.17em
    }
.p41 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 1.7em;
    widows: 1;
    margin: 0 0.083em 0.98em
    }
.p42 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 0 0 1.8em
    }
.p43 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 0.083em 0 1.8em
    }
.p44 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 2.2em 0 1.8em
    }
.p45 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 13em 2.1em 1.8em
    }
.p46 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 1.7em;
    widows: 1;
    margin: 0 0 1em
    }
.p47 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 1.3em 0 1.8em
    }
.p48 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 1.7em;
    widows: 1;
    margin: 0 0.083em 1em 0
    }
.p49 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 1.8em;
    widows: 1;
    margin: 0 0.083em 1em
    }
.p5 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 2.3em;
    orphans: 1;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0
    }
.p50 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 8.3em 2.7em 1.8em
    }
.p51 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 0 0 0.083em
    }
.p52 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 0.083em 0.69em
    }
.p53 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 1.7em;
    widows: 1;
    margin: 0 0.083em 1.2em
    }
.p54 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 1.8em;
    widows: 1;
    margin: 0 0.083em 0 0
    }
.p55 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 10em 2.2em 1.8em
    }
.p56 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    page-break-after: avoid;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 0 0 0.083em
    }
.p57 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 1.6em;
    widows: 1;
    margin: 0 0 0 0.083em
    }
.p58 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 1.6em;
    widows: 1;
    margin: 0 0.083em
    }
.p59 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 1.6em;
    widows: 1;
    margin: 0 0 1.3em 0.083em
    }
.p6 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 1.7em;
    widows: 1;
    margin: 0 0.083em 0.49em 0
    }
.p60 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 1.6em;
    widows: 1;
    margin: 0 0 1.2em 0.083em
    }
.p61 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 1.7em;
    widows: 1;
    margin: 0 0 0.59em
    }
.p62 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 2.6em 2.1em 1.7em
    }
.p63 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 2.9em 0 1.8em
    }
.p64 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 2.5em;
    orphans: 1;
    page-break-after: avoid;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 0 0 0.083em
    }
.p65 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 5.2em 0 1.8em
    }
.p66 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 0.083em 2.1em 1.8em
    }
.p67 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 0.083em 0 1.8em
    }
.p68 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 1.7em;
    widows: 1;
    margin: 0 0.92em 0 0.083em
    }
.p69 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 13em 0 1.8em
    }
.p7 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: right;
    text-indent: 0;
    widows: 1;
    margin: 0 0.083em 0 0
    }
.p70 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: left;
    text-indent: 0;
    widows: 1;
    margin: 0 0.083em
    }
.p71 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 1.7em;
    widows: 1;
    margin: 0 0.083em 1.1em 0
    }
.p72 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 4.4em 0 1.8em
    }
.p73 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 2.4em;
    orphans: 1;
    page-break-after: avoid;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0
    }
.p74 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 1.7em;
    widows: 1;
    margin: 0 0.083em 1em 0.17em
    }
.p75 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 9.5em 0 1.8em
    }
.p76 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 0.083em 0 0.25em
    }
.p77 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 1.5em;
    widows: 1;
    margin: 0 0.083em 0 0.25em
    }
.p78 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 1.5em;
    widows: 1;
    margin: 0 0 0 0.25em
    }
.p79 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 4.4em 0 1.8em
    }
.p8 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify;
    text-indent: 1.7em;
    widows: 1;
    margin: 0 0 1.5em 0.083em
    }
.p80 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 0.083em 0 0.17em
    }
.p81 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 2.4em;
    orphans: 1;
    page-break-after: avoid;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 0 0 0.17em
    }
.p82 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 1.7em;
    widows: 1;
    margin: 0 0 0.86em 0.083em
    }
.p83 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 0.17em 0 0.083em
    }
.p84 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 1.7em;
    widows: 1;
    margin: 0 0.17em 0 0.083em
    }
.p85 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 12em 2.2em 1.8em
    }
.p86 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 12em 0 1.8em
    }
.p87 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 2.3em;
    orphans: 1;
    page-break-after: avoid;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 0 0 0.083em
    }
.p88 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 0 2.1em
    }
.p89 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: center;
    text-indent: 0;
    widows: 1;
    margin: 0 0 2.1em
    }
.p9 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 1.7em;
    widows: 1;
    margin: 0 0 1.7em 0.083em
    }
.p90 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: center;
    text-indent: 0;
    widows: 1;
    margin: 0 0 0.28em
    }
.p91 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.9em;
    orphans: 1;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0
    }
.p92 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 2.8em 0 1.7em
    }
.p93 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 13em 2.1em 1.7em
    }
.p94 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 13em 0 1.7em
    }
.p95 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 0.083em 0 1.7em
    }
.p96 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 5.8em 0 1.8em
    }
.p97 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 1.7em;
    widows: 1;
    margin: 0 0.083em 0.97em
    }
.p98 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 9.5em 2.1em 1.8em
    }
.p99 {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 1.14286em;
    line-height: 1.2;
    orphans: 1;
    text-align: justify;
    text-indent: 0;
    widows: 1;
    margin: 0 1.2em 0 1.8em
    }
.t {
    font-family: "Arial Black", sans-serif;
    font-size: 1.25em;
    letter-spacing: 0.18em
    }
.t1 {
    font-size: 1.25em;
    font-weight: bold;
    letter-spacing: -0.014em;
    line-height: 1.2
    }
.t10 {
    font-family: "Times New Roman", serif;
    line-height: 1.2
    }
.t11 {
    font-size: 1.125em;
    font-weight: bold;
    line-height: 200%
    }
.t12 {
    font-size: 0.75em;
    line-height: 1.2
    }
.t13 {
    font-weight: bold
    }
.t14 {
    font-style: italic
    }
.t15 {
    font-size: 1.25em;
    font-weight: bold;
    line-height: 200%
    }
.t16 {
    font-size: 1.25em;
    font-weight: bold;
    letter-spacing: -0.014em;
    line-height: 200%
    }
.t17 {
    font-size: 1.125em;
    font-weight: bold;
    letter-spacing: 0.028em;
    line-height: 200%
    }
.t18 {
    font-size: 1.125em;
    font-weight: bold;
    letter-spacing: 0.032em;
    line-height: 1.2
    }
.t19 {
    font-size: 1.25em;
    vertical-align: -0.056em
    }
.t2 {
    font-size: 1.25em;
    font-weight: bold;
    line-height: 1.2
    }
.t20 {
    font-size: 0.75em
    }
.t21 {
    font-size: 0.875em;
    font-style: italic;
    line-height: 1.2
    }
.t22 {
    font-size: 1.25em;
    vertical-align: -0.098em
    }
.t23 {
    font-size: 1.25em;
    vertical-align: -0.087em
    }
.t24 {
    font-size: 1.25em;
    vertical-align: -0.057em
    }
.t25 {
    font-weight: bold;
    line-height: 1.2
    }
.t26 {
    font-size: 1.25em;
    vertical-align: -0.08em
    }
.t27 {
    font-size: 1.25em;
    vertical-align: -0.082em
    }
.t28 {
    font-size: 1.25em;
    font-weight: bold;
    letter-spacing: 0.018em;
    line-height: 1.2
    }
.t29 {
    font-size: 1.25em;
    font-weight: bold;
    letter-spacing: 0.01em;
    line-height: 1.2
    }
.t3 {
    font-family: "Arial Black", sans-serif;
    font-size: 1.25em;
    letter-spacing: 0.11em;
    line-height: 1.2
    }
.t30 {
    font-size: 1.125em
    }
.t31 {
    font-size: 1.25em;
    line-height: 1.2;
    vertical-align: -0.18em
    }
.t32 {
    font-size: 1.25em;
    vertical-align: -0.081em
    }
.t33 {
    font-size: 1.25em;
    vertical-align: -0.055em
    }
.t34 {
    font-size: 1.25em;
    line-height: 1.2;
    vertical-align: -0.1em
    }
.t35 {
    font-size: 1.25em;
    font-weight: bold;
    letter-spacing: 0.014em;
    line-height: 1.2
    }
.t36 {
    font-style: italic;
    line-height: 1.2
    }
.t37 {
    font-size: 1.25em;
    vertical-align: -0.079em
    }
.t38 {
    font-family: "MS Gothic", monospace;
    font-size: 0.75em
    }
.t39 {
    font-size: 1.25em;
    vertical-align: -0.054em
    }
.t4 {
    font-size: 1.125em;
    font-weight: bold;
    letter-spacing: 0.063em;
    line-height: 1.2
    }
.t40 {
    font-size: 1.25em;
    vertical-align: -0.11em
    }
.t41 {
    font-size: 1.25em;
    vertical-align: -0.078em
    }
.t42 {
    font-size: 1.25em;
    vertical-align: -0.083em
    }
.t43 {
    font-family: "MS Gothic", monospace;
    font-size: 0.75em;
    line-height: 1.2
    }
.t44 {
    font-size: 1.25em;
    vertical-align: -0.085em
    }
.t45 {
    font-size: 1.25em;
    vertical-align: 0.067em
    }
.t46 {
    font-size: 1.125em;
    letter-spacing: 0.25em;
    line-height: 1.2
    }
.t47 {
    font-size: 1.125em;
    font-weight: bold;
    letter-spacing: 0.22em;
    line-height: 200%
    }
.t48 {
    font-size: 1.125em;
    font-style: italic;
    line-height: 1.2
    }
.t49 {
    font-family: "Courier New", monospace;
    font-size: 1.125em;
    line-height: 1.2
    }
.t5 {
    font-size: 1.125em;
    font-weight: bold;
    letter-spacing: 0.077em;
    line-height: 1.2
    }
.t6 {
    font-family: "Courier New", monospace
    }
.t7 {
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2
    }
.t8 {
    font-size: 0.875em;
    line-height: 1.2
    }
.t9 {
    font-size: 1.125em;
    line-height: 1.2
    }
