p{text-indent:0;margin-left:0;;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:0;font-size:100%}
.p0{text-indent:0;text-align:center}
.p1{text-indent:0;;text-align:center}
.p2{text-indent:0;}
.p4{text-indent:0;text-align:left}
.p5{text-indent:-1.3em;margin-left:1.3em}
.p6{text-indent:0;text-align:right}
.p7{text-indent:0;margin-left:12em}
.p8{text-indent:-1.3em;margin-left:1.3em;text-align:left}
.p9{text-indent:-1.9em;margin-left:1.9em;text-align:left}
.p10{text-indent:-1.9em;margin-left:1.9em;text-align:center}
.p11{text-indent:0;margin-left:2.1em;margin-right:2.1em;text-align:right}
.p12{text-indent:-1.3em;margin-left:1.3em;;margin-bottom:.27em}
.p13{text-indent:0}
h1{text-indent:0;margin-left:0;margin-right:0;text-align:center;page-break-after:avoid;widows:1;orphans:1;margin-top:0;margin-bottom:3.3em;font-size:164%;font-weight:bold}
.h11{text-indent:0}
h2{text-indent:0;margin-left:0;margin-right:0;text-align:right;page-break-after:avoid;page-break-inside:avoid;widows:1;orphans:1;margin-top:2.1em;margin-bottom:2.1em;font-size:127%;font-weight:bold}
.h21{text-indent:0}
h3{text-indent:0;margin-left:0;;margin-right:0;page-break-after:avoid;page-break-inside:avoid;widows:1;orphans:1;margin-top:1.5em;margin-bottom:1.7em;font-size:109%;font-weight:bold;font-style:italic}
.h31{text-indent:0;text-align:center}
.h32{text-indent:0}
.t1{font-size:2em;}
.t2{font-size:.36em;}
.t3{font-size:.45em;;font-weight:bold}
.t4{font-size:2.5em;;font-weight:bold}
.t5{font-size:1.4em;;font-weight:bold;font-style:italic}
.t6{font-size:5.5em;}
.t7{font-size:1.8em;}
.t8{font-size:1.2em;}
.t9{font-size:1.2em;}
.t10{font-size:1.3em;}
.t12{font-weight:bold}
.t14{font-style:italic}
.t15{font-style:italic}
.t16{font-size:.82em;}
.t17{font-size:.95em;;font-style:italic}
.t18{letter-spacing:.091em}
.t19{font-size:.45em;}
.t20{font-size:.53em;;vertical-align:super}
.t21{font-size:.82em;}
.th22{font-size:.65em;vertical-align:super}