p{text-indent:0;margin-left:1.4em;line-height:1.4em;margin-right:1.4em;text-align:justify;margin-top:.6em;margin-bottom:0;font-size:91%}
.p1{text-indent:0;text-align:center;margin-top:1.8em;margin-bottom:1.2em}
.p2{text-indent:0;text-align:center}
.p3{text-indent:0;margin-left:0;line-height:100%;margin-right:0;text-align:center;margin-top:0}
.p4{text-indent:0;line-height:100%;margin-top:0}
.p5{text-indent:0}
h1{text-indent:0;margin-left:.89em;line-height:150%;margin-right:.89em;text-align:justify;page-break-after:avoid;margin-top:1.1em;margin-bottom:1.1em;font-size:145%;font-weight:bold;color:#0070c0}
.h11{text-indent:0}
.t1{font-weight:bold}
.t2{font-size:2em;font-weight:bold;color:red;letter-spacing:-.025em}
.t3{font-size:2em;font-weight:bold;color:blue;letter-spacing:-.025em}
.t5{font-size:1.1em;line-height:100%}
.t7{font-size:.9em;line-height:100%}
.t8{font-size:.65em;vertical-align:super}
.t9{font-weight:bold;font-style:italic}
.t10{font-style:italic}