<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistName</key>
	<string>Peyami Safa</string>
	<key>book-info</key>
	<dict>
		<key>cover-image-hash</key>
		<string>25775C743352EC0F1A8AE96CBD54FB67</string>
		<key>cover-image-path</key>
		<string>cover.jpeg</string>
		<key>mime-type</key>
		<string>application/epub+zip</string>
		<key>package-file-hash</key>
		<string>3BB4CE384143BB073E1041827DC17CBD</string>
		<key>publisher-unique-id</key>
		<string>0f9b8335-5a36-4ad1-a3cc-b6dfb43b9505</string>
		<key>unique-id</key>
		<integer>2371049768603804001</integer>
		<key>update-level</key>
		<integer>2</integer>
	</dict>
	<key>itemName</key>
	<string>Türk İnkılabına Bakışlar</string>
	<key>playlistName</key>
	<string>Türk İnkılabına Bakışlar</string>
	<key>releaseDate</key>
	<string>0101-01-01T00:00:00+00:00</string>
	<key>sort-artist</key>
	<string>Safa, Peyami</string>
	<key>sort-artist-status</key>
	<integer>3</integer>
</dict>
</plist>
