<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistName</key>
	<string>Franz Kafka</string>
	<key>book-info</key>
	<dict>
		<key>cover-image-hash</key>
		<string>AF5EE73814E93E369F3C741F198A0A1A</string>
		<key>cover-image-path</key>
		<string>cover.jpeg</string>
		<key>package-file-hash</key>
		<string>2E710B2EF2E3471A0929CE1E7752F440</string>
		<key>publisher-unique-id</key>
		<string>ab80067c-d1c5-44be-99de-9d45319462bc</string>
		<key>unique-id</key>
		<integer>1934693154270015422</integer>
	</dict>
	<key>itemName</key>
	<string>Milena'ya Mektuplar</string>
	<key>playlistName</key>
	<string>Milena'ya Mektuplar</string>
	<key>releaseDate</key>
	<string>2011-03-12T12:08:00+00:00</string>
	<key>sort-artist</key>
	<string>Kafka, Franz</string>
	<key>sort-artist-status</key>
	<integer>3</integer>
</dict>
</plist>
