@font-face {
	font-family : "Liberation Serif";
	font-style : normal;
	font-weight : normal;
	src : url("../Fonts/LiberationSerif.ttf");
}
@font-face {
	font-family : "Liberation Serif";
	font-style : normal;
	font-weight : bold;
	src : url("../Fonts/LiberationSerif-Bold.ttf");
}
@font-face {
	font-family : "Liberation Serif";
	font-style : italic ;
	font-weight : bold;
	src : url("../Fonts/LiberationSerif-BoldItalic.ttf");
}
@font-face {
	font-family : "Liberation Serif";
	font-style : italic ;
	font-weight : normal;
	src : url("../Fonts/LiberationSerif-Italic.ttf");
}
@font-face {
	font-family : Palatino;
	font-style : italic ;
	font-weight : normal;
	src : url("../Fonts/Palatino-Italic.ttf");
}
@page {
	margin : 0.5em;
}
tbody, thead, tfoot, tr, td, th {
	border-style : inherit;
	border-width : inherit;
	border-color : inherit;
}
.leftFloat {
	float : left;
}
.rightFloat {
	float : right;
}
span.dip {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.75em;
	vertical-align : super;
}
span.char-style-override-1 {
	font-style : normal;
	font-weight : bold;
}
span.char-style-override-2 {
	font-style : italic;
	font-weight : normal;
}
span.char-style-override-3 {
	color : #0000ff;
}
span.char-style-override-4 {
	font-size : 1.25em;
	font-style : normal;
	font-weight : bold;
}
span.char-style-override-5 {
	font-style : italic;
	font-weight : bold;
}
span.char-style-override-6 {
	vertical-align : super;
}
span.char-style-override-7 {
	text-decoration : underline;
}
span.char-style-override-8 {
	color : #0000ff;
	text-decoration : underline;
}
span.char-style-override-9 {
	color : #0000ff;
	font-style : italic;
	font-weight : normal;
	text-decoration : underline;
}
span.char-style-override-10 {
	color : #000000;
	font-style : normal;
	font-weight : bold;
}
span.char-style-override-11 {
	color : #000000;
	font-style : italic;
	font-weight : bold;
}
span.char-style-override-12 {
	font-family : Palatino;
	font-size : 1.06em;
	font-style : normal;
	font-weight : normal;
}
span.char-style-override-13 {
	font-size : 1.33em;
}
span.char-style-override-14 {
	font-size : 1.33em;
	font-style : italic;
	font-weight : normal;
}
span.char-style-override-15 {
	color : #0000ff;
	font-style : normal;
	font-weight : bold;
	text-decoration : underline;
}
span.char-style-override-16 {
	font-family : Palatino;
	font-style : normal;
	font-weight : normal;
}
p.kunye {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.67em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.38;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 3px 30px 0px 30px;
}
p.paragraf {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.25;
	text-align : justify;
	color : #000000;
	text-indent : 20px;
	margin : 0px 30px;
}
p.split {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.25em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 100px 30px 0px 30px;
}
p.resimalti-italik {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : italic;
	font-size : 0.75em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.56;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 5px 30px 20px 30px;
}
p.anabaslik {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.42em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.18;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 0px 50px;
}
p.arabaslik-orta {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.17em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.21;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 30px 30px 20px 30px;
}
p.arabaslik-sol-kucuk {
	font-family : "Liberation Serif", serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.25;
	text-align : left;
	color : #000000;
	text-indent : 20px;
	margin : 20px 0px 0px 30px;
}
p.resim {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : italic;
	font-size : 0.75em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.56;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 20px 30px;
}
p.resim-alyazili {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : italic;
	font-size : 0.75em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.56;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 20px 30px 5px 30px;
}
p.yildiz {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.08;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 15px 30px;
}
p.dipnot {
	font-family : "Liberation Serif", serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.75em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.44;
	text-align : justify;
	color : #000000;
	text-indent : 0px;
	margin : 3px 30px 0px 30px;
}
p.para-style-override-1 {
	text-align : center;
	margin-top : 0em;
	margin-bottom : 0em;
}
p.para-style-override-2 {
	margin-top : 20px;
}
p.para-style-override-3 {
	margin-top : 50px;
}
p.para-style-override-4 {
	text-align : left;
}
p.para-style-override-5 {
	text-align : center;
	text-indent : 0px;
}
p.para-style-override-6 {
	margin-top : 30px;
	text-align : center;
	text-indent : 0px;
}
p.para-style-override-7 {
	margin-top : 20px;
	text-align : center;
	text-indent : 0px;
}
p.para-style-override-8 {
	margin-top : 50px;
	text-align : center;
	text-indent : 0px;
}
p.para-style-override-9 {
	margin-top : 70px;
}
p.para-style-override-10 {
	margin-top : 100px;
	text-align : right;
}
p.para-style-override-11 {
	margin-bottom : 30px;
}
div.Basic-Text-Frame {
}
