.body {
    display: block;
    line-break: strict;
    line-height: 1.2;
    white-space: pre-wrap
    }
.c {
    font-style: italic
    }
.c1 {
    font-style: italic;
    font-weight: bold
    }
.c2 {
    text-decoration: underline
    }
.c3 {
    font-style: italic;
    font-weight: bold;
    line-height: 1.2
    }
.c4 {
    line-height: 1.2
    }
.c5 {
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 0.05em;
    line-height: 1.2
    }
.c6 {
    font-style: italic;
    text-decoration: underline
    }
.c7 {
    font-style: normal;
    font-weight: normal
    }
.c8 {
    letter-spacing: -0.1042em;
    line-height: 1.2
    }
.calibre {
    display: block;
    font-size: 1.66667em;
    line-height: 1.2;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    line-height: 1.2
    }
.calibre2 {
    display: block;
    line-height: 1.2
    }
.calibre3 {
    display: block
    }
.calibre4 {
    font-size: 0.625em;
    line-height: normal;
    vertical-align: 33%
    }
.calibre5 {
    display: inline-block;
    float: left;
    line-height: 1.2;
    text-indent: 0;
    vertical-align: baseline;
    width: 6.5em;
    margin: 2.5641% 2.5641% 2.5641% 0%
    }
.calibre6 {
    height: auto;
    line-height: 1.2;
    width: 6.5em
    }
.s {
    -webkit-hyphens: none;
    display: block;
    font-size: 1.2em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    hyphens: none;
    letter-spacing: 0;
    line-height: 1.2;
    padding-left: 0%;
    padding-right: 0%;
    text-align: left;
    text-decoration: none;
    text-indent: 0%;
    text-transform: none;
    margin: 2.5641% 0 1.2821%
    }
.s1 {
    -webkit-hyphens: none;
    break-after: page;
    display: block;
    font-size: 1.2em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    hyphens: none;
    letter-spacing: 0;
    line-height: 1.2;
    padding-left: 0%;
    padding-right: 0%;
    text-align: left;
    text-decoration: none;
    text-indent: 0%;
    text-transform: none;
    margin: 2.5641% 0 1.2821%
    }
.s2 {
    -webkit-hyphens: none;
    break-after: page;
    display: block;
    font-size: 0.775em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    hyphens: none;
    letter-spacing: 0;
    line-height: 1.2;
    padding-left: 0%;
    padding-right: 0%;
    text-align: left;
    text-decoration: none;
    text-indent: 0%;
    text-transform: none;
    margin: 2.5641% 0 1.2821%
    }
.s3 {
    -webkit-hyphens: none;
    display: block;
    font-size: 0.6em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    hyphens: none;
    letter-spacing: 0;
    padding-left: 0%;
    padding-right: 0%;
    text-align: left;
    text-decoration: none;
    text-indent: 0%;
    text-transform: none;
    margin: 0% 0 1.7094%
    }
.s4 {
    -webkit-hyphens: none;
    break-after: page;
    display: block;
    font-size: 0.6em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    hyphens: none;
    letter-spacing: 0;
    padding-left: 0%;
    padding-right: 0%;
    text-align: left;
    text-decoration: none;
    text-indent: 0%;
    text-transform: none;
    margin: 0% 0 1.7094%
    }
.s5 {
    -webkit-hyphens: none;
    display: block;
    font-size: 0.775em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    hyphens: none;
    letter-spacing: 0.0611em;
    line-height: 1.2;
    padding-left: 0%;
    padding-right: 0%;
    text-align: left;
    text-decoration: none;
    text-indent: 0%;
    text-transform: none;
    margin: 0% 0 1.7094%
    }
.s6 {
    -webkit-hyphens: none;
    display: block;
    font-size: 1.1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    hyphens: none;
    letter-spacing: 0;
    line-height: 1.2;
    padding-left: 0%;
    padding-right: 0%;
    text-align: left;
    text-decoration: none;
    text-indent: 0%;
    text-transform: none;
    margin: 0% 0 1.7094%
    }
.s7 {
    -webkit-hyphens: none;
    display: block;
    font-size: 0.775em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    hyphens: none;
    letter-spacing: 0.0458em;
    line-height: 1.2;
    padding-left: 0%;
    padding-right: 0%;
    text-align: left;
    text-decoration: none;
    text-indent: 0%;
    text-transform: none;
    margin: 0% 0 1.7094%
    }
.s8 {
    -webkit-hyphens: none;
    break-after: page;
    display: block;
    font-size: 0.775em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    hyphens: none;
    letter-spacing: 0.0458em;
    line-height: 1.2;
    padding-left: 0%;
    padding-right: 0%;
    text-align: left;
    text-decoration: none;
    text-indent: 0%;
    text-transform: none;
    margin: 0% 0 1.7094%
    }
.s9 {
    -webkit-hyphens: none;
    color: #E8E400;
    display: block;
    font-size: 0.6em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    hyphens: none;
    letter-spacing: 0;
    padding-left: 0%;
    padding-right: 0%;
    text-align: left;
    text-decoration: none;
    text-indent: 0%;
    text-transform: none;
    margin: 0.2137% 0 0%
    }
.s10 {
    -webkit-hyphens: none;
    break-after: page;
    display: block;
    font-size: 1.1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    hyphens: none;
    letter-spacing: 0;
    line-height: 1.2;
    padding-left: 0%;
    padding-right: 0%;
    text-align: left;
    text-decoration: none;
    text-indent: 0%;
    text-transform: none;
    margin: 0% 0 1.7094%
    }
.s11 {
    -webkit-hyphens: none;
    display: block;
    font-size: 1.2em;
    font-style: italic;
    font-variant: normal;
    font-weight: normal;
    hyphens: none;
    letter-spacing: 0;
    line-height: 1.2;
    padding-left: 0%;
    padding-right: 0%;
    text-align: left;
    text-decoration: none;
    text-indent: 0%;
    text-transform: none;
    margin: 0% 0
    }
.s12 {
    -webkit-hyphens: none;
    break-after: page;
    display: block;
    font-size: 1.2em;
    font-style: italic;
    font-variant: normal;
    font-weight: normal;
    hyphens: none;
    letter-spacing: 0;
    line-height: 1.2;
    padding-left: 0%;
    padding-right: 0%;
    text-align: left;
    text-decoration: none;
    text-indent: 0%;
    text-transform: none;
    margin: 0% 0
    }
.s13 {
    -webkit-hyphens: none;
    display: block;
    font-size: 0.775em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    hyphens: none;
    letter-spacing: 0.05em;
    line-height: 1.2;
    padding-left: 0%;
    padding-right: 0%;
    text-align: left;
    text-decoration: none;
    text-indent: 0%;
    text-transform: none;
    margin: 7.6923% 0 1.7094%
    }
.s14 {
    -webkit-hyphens: none;
    display: block;
    font-size: 0.775em;
    font-style: italic;
    font-variant: normal;
    font-weight: normal;
    hyphens: none;
    letter-spacing: 0;
    line-height: 1.2;
    padding-left: 5.1282%;
    padding-right: 0%;
    text-align: left;
    text-decoration: none;
    text-indent: 0%;
    text-transform: none;
    margin: 0% 0 1.7094%
    }
.s15 {
    -webkit-hyphens: none;
    display: block;
    font-size: 0.775em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    hyphens: none;
    letter-spacing: 0.0458em;
    line-height: 1.2;
    padding-left: 0%;
    padding-right: 0%;
    text-align: left;
    text-decoration: none;
    text-indent: 0%;
    text-transform: none;
    margin: 7.6923% 0 1.7094%
    }
.s16 {
    -webkit-hyphens: none;
    display: block;
    font-size: 0.6em;
    font-style: italic;
    font-variant: normal;
    font-weight: bold;
    hyphens: none;
    letter-spacing: 0;
    padding-left: 0%;
    padding-right: 0%;
    text-align: left;
    text-decoration: none;
    text-indent: 0%;
    text-transform: none;
    margin: 0% 0 1.7094%
    }
.s17 {
    -webkit-hyphens: none;
    display: block;
    font-size: 0.6em;
    font-style: italic;
    font-variant: normal;
    font-weight: normal;
    hyphens: none;
    letter-spacing: 0;
    padding-left: 5.1282%;
    padding-right: 0%;
    text-align: left;
    text-decoration: none;
    text-indent: 0%;
    text-transform: none;
    margin: 0% 0 1.7094%
    }
.s18 {
    -webkit-hyphens: none;
    display: block;
    font-size: 0.6em;
    font-style: italic;
    font-variant: normal;
    font-weight: bold;
    hyphens: none;
    letter-spacing: 0;
    padding-left: 5.1282%;
    padding-right: 0%;
    text-align: left;
    text-decoration: none;
    text-indent: 0%;
    text-transform: none;
    margin: 1.2821% 0 3.8462%
    }
.s19 {
    -webkit-hyphens: none;
    break-after: page;
    color: #E8E400;
    display: block;
    font-size: 0.6em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    hyphens: none;
    letter-spacing: 0;
    padding-left: 0%;
    padding-right: 0%;
    text-align: left;
    text-decoration: none;
    text-indent: 0%;
    text-transform: none;
    margin: 0.2137% 0 0%
    }
.s20 {
    -webkit-hyphens: none;
    display: block;
    font-size: 0.775em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    hyphens: none;
    letter-spacing: 0.05em;
    line-height: 1.2;
    padding-left: 0%;
    padding-right: 0%;
    text-align: left;
    text-decoration: none;
    text-indent: 0%;
    text-transform: none;
    margin: 0% 0 1.7094%
    }
.s21 {
    -webkit-hyphens: none;
    display: block;
    font-size: 0.5em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    hyphens: none;
    letter-spacing: 0;
    padding-left: 0%;
    padding-right: 0%;
    text-align: left;
    text-decoration: none;
    text-indent: 0%;
    text-transform: none;
    margin: 0% 0 1.7094%
    }
