.calibre {
    background-color: white;
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    text-align: justify;
    margin: 0 0 0.0001pt
    }
.calibre2 {
    font-weight: bold
    }
.calibre3 {
    font-family: Consolas;
    font-variant: small-caps
    }
.calibre4 {
    font-family: Consolas
    }
.calibre5 {
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    text-align: justify;
    margin: 0 0 0.0001pt
    }
.calibre6 {
    font-family: Consolas;
    font-size: 0.5em
    }
.calibre7 {
    font-style: italic
    }
.calibre8 {
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    text-align: justify;
    text-indent: 87pt;
    margin: 0 0 0.0001pt
    }
.calibre9 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre10 {
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    text-align: justify;
    text-indent: 86pt;
    margin: 0 0 0.0001pt
    }
.calibre11 {
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    text-align: justify;
    text-indent: 83pt;
    margin: 0 0 0.0001pt
    }
.calibre12 {
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    text-align: justify;
    text-indent: 82pt;
    margin: 0 0 0.0001pt
    }
.calibre13 {
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    text-align: justify;
    text-indent: 35.4pt;
    margin: 0 0 0.0001pt
    }
.calibre14 {
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    text-align: justify;
    text-indent: 64pt;
    margin: 0 0 0.0001pt
    }
.calibre15 {
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    text-align: justify;
    text-indent: 81pt;
    margin: 0 0 0.0001pt
    }
.calibre16 {
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    text-align: justify;
    text-indent: 84pt;
    margin: 0 0 0.0001pt
    }
.calibre17 {
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    text-align: justify;
    text-indent: 79pt;
    margin: 0 0 0.0001pt
    }
.calibre18 {
    display: block;
    float: right
    }
.calibre19 {
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    text-align: justify;
    text-indent: 35.4pt;
    margin: 0 0 0.0001pt 46.6pt
    }
.calibre20 {
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    text-align: justify;
    text-indent: 78pt;
    margin: 0 0 0.0001pt
    }
.calibre21 {
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    text-align: justify;
    text-indent: 85pt;
    margin: 0 0 0.0001pt
    }
.calibre22 {
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    text-align: justify;
    text-indent: 80pt;
    margin: 0 0 0.0001pt
    }
.calibre23 {
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    text-align: justify;
    text-indent: 35.4pt;
    margin: 0 0 0.0001pt 45.6pt
    }
.calibre24 {
    display: block;
    font-family: "Times New Roman", "serif";
    font-size: 1em;
    text-align: justify;
    text-indent: 163pt;
    margin: 0 0 0.0001pt
    }
.font {
    font-family: "Book Antiqua", "serif"
    }
.font1 {
    font-family: "Book Antiqua", "serif";
    line-height: 1.2
    }
.font2 {
    font-family: "Segoe UI", "sans-serif"
    }
.font3 {
    font-family: "Lucida Sans Unicode", "sans-serif"
    }
.font4 {
    font-family: "Times New Roman", "serif"
    }
.font5 {
    font-family: "Impact", "sans-serif"
    }
.font6 {
    font-family: "Trebuchet MS", "sans-serif"
    }
.WordSection {
    display: block;
    page: WordSection1
    }
