a {text-decoration: none}
span.sz {}
p.tc {margin: 0.0px 0.0px 0.0px 0.0px; text-align: center; text-indent: 0.0px; font: 135% 'Times New Roman'}
p.tcd {margin: 0.0px 0.0px 0.0px 0.0px; text-indent: 0.0px; font: 100% 'Times New Roman'}
p.p1 {margin: 0.0px 0.0px 0.0px 0.0px; text-indent: 0.0px; font: 70% Helvetica; min-height: 14.0px}
p.p2 {margin: 0.0px 0.0px 0.0px 0.0px; text-align: center; text-indent: 0.0px; font: 100% 'Times New Roman'}
p.p3 {margin: 0.0px 0.0px 0.0px 0.0px; text-align: center; text-indent: 0.0px; font: 100% 'Times New Roman'; min-height: 21.0px}
p.p4 {margin: 0.0px 0.0px 0.0px 0.0px; text-indent: 0.0px; font: 100% 'Times New Roman'}
p.p5 {margin: 0.0px 0.0px 0.0px 0.0px; text-indent: 0.0px; font: 100% 'Times New Roman'; min-height: 21.0px}
li.li5 {margin: 0.0px 0.0px 0.0px 0.0px; font: 100% 'Times New Roman'; min-height: 21.0px}
span.s1 {text-decoration: underline ; }
span.s2 {}
span.s3 {text-decoration: underline}
span.s4 {font: 100% Mshtakan}
ol.ol1 {list-style-type: upper-roman}
