.calibre {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    display: table-row;
    vertical-align: middle
    }
.calibre2 {
    display: block
    }
.calibre3 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.cbjbanner {
    -webkit-border-radius: 8px;
    background: #eee;
    border: thin solid black;
    display: block;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em
    }
.cbjcomments {
    display: block;
    font-family: sans-serif
    }
.cbjfooter {
    display: block;
    font-family: sans-serif;
    font-size: 0.75em;
    margin-top: 8px;
    text-align: center
    }
.cbjheader {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0;
    width: 100%
    }
.cbjpubdata {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: center;
    vertical-align: inherit
    }
.cbjseries {
    display: table-cell;
    font-size: 1em;
    line-height: 1.2;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: center;
    vertical-align: inherit
    }
.cbjtitle {
    display: table-cell;
    font-size: 1.25em;
    font-style: italic;
    line-height: 1.2;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: center;
    vertical-align: inherit
    }
.metadatadivider {
    border: 1px inset;
    border-bottom: solid black 1px;
    border-left: solid white 0;
    border-right: solid white 0;
    border-top: solid white 0;
    color: gray;
    display: block;
    height: 2px;
    margin-bottom: 0.5em;
    margin-left: 5%;
    margin-right: auto;
    margin-top: 0.5em;
    width: 90%
    }
.none {
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    text-decoration: none
    }
.s {
    display: block;
    padding-left: 0;
    padding-right: 0;
    text-align: left
    }
.title {
    line-height: 1.2
    }
