p{text-indent:0;margin-left:.26em;line-height:1.3em;margin-right:.26em;text-align:justify;margin-top:.55em;margin-bottom:0;font-family:Tahoma,sans-serif;font-size:100%}
.p0{text-indent:0;line-height:100%;text-align:center;margin-top:0}
.p1{text-indent:0;line-height:1.6em}
.p2{text-indent:0;line-height:100%;text-align:center;margin-top:0;margin-bottom:1.4em}
.p3{text-indent:0;text-align:center}
.p5{text-indent:0;text-align:right}
.p6{text-indent:0;margin-left:2.6em;line-height:100%}
.p7{text-indent:-1.6em;margin-left:1.9em;line-height:1.6em}
.p8{text-indent:-2.3em;margin-left:2.6em;margin-top:0}
.p9{text-indent:0;margin-left:2.6em}
.p10{text-indent:-2.3em;margin-left:2.6em}
.p11{text-indent:0}
h1{text-indent:0;margin-left:.18em;line-height:200%;margin-right:.18em;text-align:center;page-break-after:avoid;margin-top:.38em;margin-bottom:.75em;font-family:Cambria,serif;font-size:145%;font-weight:bold;color:red}
.h11{text-indent:0}
h2{text-indent:0;margin-left:.2em;line-height:200%;margin-right:.2em;text-align:justify;page-break-after:avoid;margin-top:1.7em;margin-bottom:.86em;font-family:Cambria,serif;font-size:127%;font-weight:bold;color:#c0504d}
.h21{text-indent:0}
h3{text-indent:0;margin-left:.2em;line-height:200%;margin-right:.2em;text-align:justify;page-break-after:avoid;margin-top:.43em;margin-bottom:.86em;font-family:Cambria,serif;font-size:127%;font-weight:bold;color:#4f81bd}
.h31{text-indent:0}
.t3{font-family:Cambria,serif;font-size:2.4em;line-height:100%;font-weight:bold;color:red;letter-spacing:.0096em}
.t4{font-family:Cambria,serif;font-size:2.4em;line-height:100%;font-weight:bold;color:#17365d;letter-spacing:.0096em}
.t5{font-weight:bold;color:#993300}
.t6{font-weight:bold;color:red}
.t7{font-weight:bold}
.t8{font-size:.65em;vertical-align:super}
.t9{font-style:italic}
.t10{font-size:.65em;line-height:100%;font-style:italic;vertical-align:super}
.t11{font-size:.59em;vertical-align:super}
.t12{font-size:.91em}
.t13{font-size:.91em;font-style:italic}
.t14{font-size:.59em;font-style:italic;vertical-align:super}