.calibre {
    display: block;
    font-family: "LiberationSerif", serif;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    margin: 1em 0
    }
.calibre2 {
    font-weight: bold
    }
.calibre3 {
    font-style: italic;
    font-weight: bold
    }
.calibre4 {
    display: block
    }
.calibre5 {
    height: 338pt;
    width: 268pt
    }
.calibre6 {
    font-style: italic
    }
.calibre7 {
    height: 282pt;
    width: 320pt
    }
.calibre8 {
    height: 314pt;
    width: 320pt
    }
.calibre9 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre10 {
    height: 316pt;
    width: 311pt
    }
.calibre11 {
    height: 282pt;
    width: 319pt
    }
.calibre12 {
    height: 245pt;
    width: 325pt
    }
.calibre13 {
    height: 240pt;
    width: 308pt
    }
.calibre14 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre15 {
    display: list-item
    }
.calibre16 {
    display: block;
    list-style-type: circle;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0
    }
.calibre17 {
    height: 477pt;
    width: 319pt
    }
.calibre18 {
    height: 474pt;
    width: 330pt
    }
.calibre19 {
    height: 353pt;
    width: 336pt
    }
.calibre20 {
    height: 253pt;
    width: 334pt
    }
.calibre21 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: sub
    }
.calibre22 {
    height: 327pt;
    width: 287pt
    }
.calibre23 {
    height: 479pt;
    width: 290pt
    }
.calibre24 {
    height: 236pt;
    width: 285pt
    }
.calibre25 {
    height: 501pt;
    width: 272pt
    }
.calibre26 {
    height: 274pt;
    width: 263pt
    }
.calibre27 {
    height: 273pt;
    width: 308pt
    }
.calibre28 {
    height: 229pt;
    width: 304pt
    }
.calibre29 {
    height: 469pt;
    width: 312pt
    }
.calibre30 {
    height: 328pt;
    width: 260pt
    }
.calibre31 {
    height: 221pt;
    width: 312pt
    }
.calibre32 {
    height: 275pt;
    width: 296pt
    }
.calibre33 {
    height: 421pt;
    width: 314pt
    }
.calibre34 {
    height: 190pt;
    width: 312pt
    }
.calibre35 {
    height: 196pt;
    width: 306pt
    }
.calibre36 {
    height: 177pt;
    width: 309pt
    }
.calibre37 {
    height: 215pt;
    width: 309pt
    }
.calibre38 {
    height: 198pt;
    width: 308pt
    }
.calibre39 {
    height: 212pt;
    width: 306pt
    }
.calibre40 {
    height: 362pt;
    width: 326pt
    }
.calibre41 {
    height: 159pt;
    width: 314pt
    }
.calibre42 {
    height: 357pt;
    width: 320pt
    }
.calibre43 {
    height: 476pt;
    width: 309pt
    }
.calibre44 {
    height: 477pt;
    width: 327pt
    }
.calibre45 {
    height: 481pt;
    width: 316pt
    }
.calibre46 {
    height: 346pt;
    width: 321pt
    }
.calibre47 {
    height: 262pt;
    width: 330pt
    }
.calibre48 {
    height: 241pt;
    width: 333pt
    }
.calibre49 {
    height: 186pt;
    width: 345pt
    }
.calibre50 {
    height: 331pt;
    width: 309pt
    }
.calibre51 {
    height: 333pt;
    width: 328pt
    }
.calibre52 {
    height: 252pt;
    width: 342pt
    }
.calibre53 {
    height: 510pt;
    width: 321pt
    }
.calibre54 {
    height: 130pt;
    width: 322pt
    }
.calibre55 {
    height: 267pt;
    width: 310pt
    }
.calibre56 {
    height: 265pt;
    width: 311pt
    }
.calibre57 {
    height: 243pt;
    width: 320pt
    }
.calibre58 {
    height: 155pt;
    width: 313pt
    }
.calibre59 {
    height: 477pt;
    width: 266pt
    }
.calibre60 {
    height: 481pt;
    width: 312pt
    }
.calibre61 {
    height: 506pt;
    width: 316pt
    }
.calibre62 {
    height: 495pt;
    width: 311pt
    }
.calibre63 {
    height: 508pt;
    width: 313pt
    }
.calibre64 {
    height: 510pt;
    width: 298pt
    }
.calibre65 {
    height: 517pt;
    width: 350pt
    }
.calibre66 {
    height: 306pt;
    width: 347pt
    }
img {
max-width: 100%;
display: block;
margin-left: auto;
margin-right: auto;
}
h1
{
margin-top:3em;
margin-bottom:3em;
text-align:center;
Font-size:1.5em;
}
p{
text-align:justify;
text-indent:1em;
margin-top:0.3em;
margin-bottom:0.3em;
}
