.calibre {
    display: block;
    font-family: "LiberationSerif", serif;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    margin: 1em 0
    }
.calibre2 {
    font-style: italic
    }
.calibre3 {
    font-weight: bold
    }
.calibre4 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre5 {
    display: block
    }
.calibre6 {
    height: 350pt;
    width: 271pt
    }
.calibre7 {
    height: 276pt;
    width: 344pt
    }
.calibre8 {
    height: 242pt;
    width: 344pt
    }
.calibre9 {
    height: 13pt;
    width: 18pt
    }
.calibre10 {
    height: 448pt;
    width: 300pt
    }
.calibre11 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre12 {
    display: list-item
    }
.calibre13 {
    height: 233pt;
    width: 328pt
    }
.calibre14 {
    height: 348pt;
    width: 249pt
    }
.calibre15 {
    height: 365pt;
    width: 239pt
    }
.calibre16 {
    height: 391pt;
    width: 335pt
    }
.calibre17 {
    height: 390pt;
    width: 317pt
    }
.calibre18 {
    height: 234pt;
    width: 328pt
    }
.calibre19 {
    height: 377pt;
    width: 314pt
    }
.calibre20 {
    height: 264pt;
    width: 344pt
    }
.calibre21 {
    height: 366pt;
    width: 285pt
    }
.calibre22 {
    height: 303pt;
    width: 312pt
    }
.calibre23 {
    height: 267pt;
    width: 323pt
    }
.calibre24 {
    height: 304pt;
    width: 308pt
    }
.calibre25 {
    height: 13pt;
    width: 19pt
    }
.calibre26 {
    height: 302pt;
    width: 220pt
    }
.calibre27 {
    height: 394pt;
    width: 297pt
    }
.calibre28 {
    height: 214pt;
    width: 188pt
    }
.calibre29 {
    height: 212pt;
    width: 155pt
    }
.calibre30 {
    height: 419pt;
    width: 333pt
    }
.calibre31 {
    height: 363pt;
    width: 273pt
    }
.calibre32 {
    height: 345pt;
    width: 242pt
    }
.calibre33 {
    height: 349pt;
    width: 222pt
    }
.calibre34 {
    height: 366pt;
    width: 274pt
    }
.calibre35 {
    height: 303pt;
    width: 255pt
    }
.calibre36 {
    height: 361pt;
    width: 296pt
    }
