.bold {
    font-weight: bold
    }
.calibre {
    display: block;
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    text-indent: 0;
    margin: 0
    }
.calibre2 {
    font-size: 13.5pt;
    line-height: 1.2
    }
.calibre3 {
    display: block;
    text-align: left;
    text-indent: 0;
    margin: 0
    }
.calibre4 {
    color: #000
    }
.calibre5 {
    display: block;
    text-align: left;
    text-indent: 0;
    margin: 4pt 0 0
    }
.calibre6 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 6pt 0 0
    }
.calibre7 {
    color: #c00000
    }
.calibre8 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 0
    }
.calibre9 {
    height: 293px;
    vertical-align: baseline;
    width: 186px
    }
.calibre10 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 4pt 0 0 2em
    }
.calibre11 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 4pt 0 0
    }
.calibre12 {
    color: #c0d3eb
    }
.calibre13 {
    display: block
    }
.calibre14 {
    display: block;
    margin: 4pt 0 0 2em
    }
.calibre15 {
    display: block;
    margin: 0 0 0 2em
    }
.calibre16 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 0 0 0 2em
    }
.calibre17 {
    display: block;
    text-align: justify;
    text-indent: 2em;
    margin: 4pt 0 0 2em
    }
.calibre18 {
    display: block;
    text-align: justify;
    text-indent: 1em;
    margin: 4pt 0 0 2em
    }
.calibre19 {
    display: block;
    text-align: justify;
    text-indent: 0;
    margin: 4pt 0 0 2em
    }
.calibre20 {
    display: block;
    text-align: justify;
    text-indent: 0;
    margin: 4pt 0 0
    }
.calibre21 {
    display: block;
    text-align: justify;
    text-indent: 1em;
    margin: 4pt 0 0
    }
.calibre22 {
    display: block;
    text-align: justify;
    text-indent: 0;
    margin: 2em 0 0 2em
    }
.calibre23 {
    height: 30px;
    vertical-align: baseline;
    width: 28px
    }
.calibre24 {
    display: block;
    text-align: left;
    text-indent: 0;
    margin: 4pt 0 0 2em
    }
.calibre25 {
    height: 199px;
    vertical-align: baseline;
    width: 362px
    }
.calibre26 {
    height: 137px;
    vertical-align: baseline;
    width: 354px
    }
.calibre27 {
    display: block;
    text-align: justify;
    text-indent: 1em;
    margin: 8pt 0 0 2em
    }
.calibre28 {
    display: block;
    text-align: right;
    text-indent: 0;
    margin: 4pt 0 0
    }
.calibre29 {
    font-size: smaller;
    line-height: normal;
    vertical-align: sub
    }
.calibre30 {
    font-size: smaller
    }
.calibre31 {
    height: 32px;
    vertical-align: baseline;
    width: 29px
    }
.calibre32 {
    height: 366px;
    vertical-align: baseline;
    width: 270px
    }
.calibre33 {
    height: 336px;
    vertical-align: baseline;
    width: 222px
    }
.calibre34 {
    display: block;
    text-align: justify;
    text-indent: 1em;
    margin: 1em 0 0 2em
    }
.calibre35 {
    height: 310px;
    vertical-align: baseline;
    width: 381px
    }
.calibre36 {
    display: block;
    text-align: justify;
    text-indent: 0;
    margin: 0 0 0 2em
    }
.calibre37 {
    height: 299px;
    vertical-align: baseline;
    width: 369px
    }
.calibre38 {
    height: 269px;
    vertical-align: baseline;
    width: 307px
    }
.calibre39 {
    height: 129px;
    vertical-align: baseline;
    width: 389px
    }
.calibre40 {
    display: block;
    text-align: justify;
    text-indent: 1em;
    margin: 1em 0 0
    }
.calibre41 {
    height: 198px;
    vertical-align: baseline;
    width: 402px
    }
.calibre42 {
    display: block;
    text-align: justify;
    text-indent: 0;
    margin: 1em 0 0 2em
    }
.calibre43 {
    height: 308px;
    vertical-align: baseline;
    width: 293px
    }
.calibre44 {
    height: 341px;
    vertical-align: baseline;
    width: 197px
    }
.calibre45 {
    height: 18px;
    vertical-align: baseline;
    width: 39px
    }
.calibre46 {
    height: 213px;
    vertical-align: baseline;
    width: 295px
    }
.calibre47 {
    height: 252px;
    vertical-align: baseline;
    width: 320px
    }
.calibre48 {
    height: 175px;
    vertical-align: baseline;
    width: 393px
    }
.calibre49 {
    display: block;
    text-align: justify;
    text-indent: 1em;
    margin: 2em 0 0 2em
    }
.calibre50 {
    height: 169px;
    vertical-align: baseline;
    width: 398px
    }
.calibre51 {
    height: 149px;
    vertical-align: baseline;
    width: 437px
    }
.calibre52 {
    height: 132px;
    vertical-align: baseline;
    width: 256px
    }
.calibre53 {
    height: 229px;
    vertical-align: baseline;
    width: 253px
    }
.calibre54 {
    height: 103px;
    vertical-align: baseline;
    width: 344px
    }
.calibre55 {
    height: 178px;
    vertical-align: baseline;
    width: 379px
    }
.calibre56 {
    height: 113px;
    vertical-align: baseline;
    width: 375px
    }
.calibre57 {
    display: block;
    text-align: left;
    text-indent: 1em;
    margin: 4pt 0 0 2em
    }
.calibre58 {
    display: block;
    text-align: left;
    text-indent: 1em;
    margin: 1em 0 0 2em
    }
.calibre59 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 1em 0 0
    }
.calibre60 {
    font-size: 22pt;
    line-height: 1.2
    }
.calibre61 {
    display: block;
    text-indent: -14pt;
    margin: 1em 0 0 14pt
    }
.calibre62 {
    display: block;
    text-indent: -14pt;
    margin: 0 0 0 14pt
    }
.italic {
    font-style: italic
    }
.mbppagebreak {
    display: block;
    margin: 0
    }
.underline {
    text-decoration: underline
    }
