p{text-indent:3.2em;margin-left:0;line-height:140%;margin-right:0;text-align:justify;margin-top:0;margin-bottom:.55em;font-size:100%}
.p0{text-indent:0;margin-left:0;line-height:100%;text-align:center;margin-bottom:0}
.p1{text-indent:0;margin-left:0;line-height:150%;text-align:center;margin-top:1.1em;margin-bottom:0}
.p2{text-indent:0;margin-left:0;line-height:150%;margin-top:1.1em;margin-bottom:0}
.p3{text-indent:0;margin-left:0;line-height:200%;margin-bottom:0}
.p4{text-indent:0;margin-left:0;line-height:150%;margin-bottom:0}
.p5{text-indent:0;margin-left:0;line-height:150%;text-align:center;margin-bottom:0}
.p6{text-indent:0;margin-left:0;line-height:300%;text-align:center;margin-bottom:0}
.p7{text-indent:0;margin-left:0;line-height:100%;text-align:center;margin-bottom:.73em}
.p8{text-indent:0;margin-left:0;line-height:100%;text-align:left;margin-bottom:0}
.p10{text-indent:1.6em;margin-left:1.8em;line-height:130%}
.p11{text-indent:0;margin-left:0;line-height:150%;text-align:center;margin-top:.55em}
.p12{text-indent:0;margin-left:0;line-height:.91em;text-align:right;margin-bottom:0}
.p13{text-indent:3.2em;line-height:150%;text-align:center;margin-top:.55em}
.p14{text-indent:0;margin-left:0;line-height:.91em;text-align:left;margin-bottom:0}
.p15{text-indent:0;margin-left:1.8em;line-height:130%;margin-bottom:0}
.p16{text-indent:0;margin-left:1.8em;line-height:130%}
.p17{text-indent:3.2em;margin-left:1.8em;line-height:130%}
.p18{text-indent:0;margin-left:0;line-height:200%;text-align:center;margin-bottom:0}
.p19{text-indent:0;margin-left:0;line-height:250%;text-align:center;margin-bottom:0}
.p20{text-indent:0;margin-left:0}
.p21{text-indent:0;margin-left:0;line-height:200%;text-align:left;margin-bottom:0}
.p22{text-indent:0;margin-left:0;line-height:130%;margin-top:.91em;margin-bottom:.91em}
.p23{text-indent:0}
h1{text-indent:0;margin-left:0;line-height:150%;margin-right:0;text-align:center;page-break-after:avoid;margin-top:1em;margin-bottom:1.5em;font-size:109%;font-weight:bold}
.h11{text-indent:0}
.t1{font-size:.091em;line-height:100%}
.t2{font-weight:bold}
.t4{font-weight:bold}
.t5{font-size:1.1em;line-height:150%}
.t6{font-size:.91em;line-height:150%}
.t7{font-size:.91em;line-height:150%;color:#0066cc;text-decoration:underline}
.t8{font-size:1.3em;line-height:300%;font-weight:bold}
.t11{font-size:1.1em;line-height:100%}
.t12{font-size:1.1em;line-height:300%}
.t14{font-style:italic}
.t15{font-size:.65em;line-height:140%;vertical-align:super}
.t16{font-size:.91em;line-height:130%}
.t17{font-size:.59em;line-height:130%;vertical-align:super}
.t18{font-size:.5em;line-height:150%}
.t19{font-style:italic}
.t20{font-size:.45em;line-height:150%}
.t21{font-size:.59em;line-height:150%}
.t22{font-size:.65em;line-height:140%;font-style:italic;vertical-align:super}
.t23{font-size:.91em;line-height:140%}
.t24{font-size:.95em;line-height:130%;font-style:italic}
.t25{font-size:.91em;line-height:130%;font-style:italic}
.t26{font-size:.95em;line-height:130%}
.t27{font-weight:bold}
.t28{font-weight:bold}
.t29{font-size:.45em;line-height:130%;vertical-align:super}
.t30{font-size:.68em;line-height:130%}