.MsoHyperlink {
    color: blue;
    text-decoration: underline
    }
.MsoNormal {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center
    }
.MsoToc {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
    tab-stops: right dotted 453.1pt;
    text-align: center
    }
.WordSection {
    border-bottom: 0;
    border-top: 0;
    display: block;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
    page: WordSection1;
    text-indent: 1.5em
    }
.calibre {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 5.65pt
    }
.calibre10 {
    line-height: 1.2
    }
.calibre11 {
    font-size: 1.125em;
    line-height: 1.2
    }
.calibre12 {
    height: 112px;
    width: 584px
    }
.calibre13 {
    font-weight: normal
    }
.calibre14 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
    text-align: right;
    text-indent: 5.65pt
    }
.calibre15 {
    font-style: normal
    }
.calibre16 {
    display: block
    }
.calibre2 {
    font-weight: bold
    }
.calibre3 {
    font-size: 1.25em;
    line-height: 1.2
    }
.calibre4 {
    height: 735px;
    line-height: 1.2;
    width: 507px
    }
.calibre5 {
    display: block;
    line-height: 1.2
    }
.calibre6 {
    height: 304px;
    width: 304px
    }
.calibre7 {
    }
.calibre8 {
    font-style: italic
    }
.calibre9 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 1em
    }
.font {
    }
.pcalibre:visited {
    color: purple;
    text-decoration: underline
    }
.pcalibre1:link {
    color: blue;
    text-decoration: underline
    }
