.calibre {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block
    }
.calibre2 {
    display: block;
    line-height: 1.2
    }
.calibre3 {
    display: block;
    text-align: center;
    margin: 1em 0
    }
.calibre4 {
    display: block;
    float: left;
    margin-left: 20%;
    margin-right: 5%
    }
.calibre5 {
    display: block;
    text-align: right;
    margin: 0
    }
.calibre6 {
    font-size: 0.75em
    }
.calibre7 {
    font-weight: bold
    }
.calibre8 {
    display: block;
    text-align: left;
    margin: 0
    }
.calibre9 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    text-align: center;
    text-indent: 1em
    }
.calibre10 {
    font-weight: bolder;
    line-height: 1.2
    }
.calibre11 {
    display: block;
    margin:0;
    text-indent:30px;
    text-align: justify;
    }
.calibre12 {
    font-weight: bolder
    }
.calibre13 {
    display: block;
    padding: 0;
    border: currentColor none medium;
    margin: 0 0 0 40px
    }
.calibre14 {
    display: block;
    text-align: center
    }
.calibre15 {
    font-size: 1em;
    line-height: 1.2;
    text-indent: 1em
    }
.p {
    display: block;
    margin: 1em 0
    }
.sigilnotintoc {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 0.67em 0
    }
.sigilnotintoc1 {
    display: block;
    font-size: 1.375em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 0.83em 0
    }
.sigilnotintoc2 {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 1em 0
    }
.sigilnotintoc3 {
    display: block;
    font-family: Arial;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 0.67em 0
    }
.t {
    font-size: 1.375em;
    line-height: 1.2
    }
