@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }
@font-face {
    font-family: "Garamond";
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    src: url(fonts/Garamond.ttf)
    }
@font-face {
    font-family: "Calibri";
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    src: url(fonts/Calibri.ttf)
    }
@font-face {
    font-family: "Arial Narrow";
    font-weight: bold;
    font-style: normal;
    font-stretch: condensed;
    src: url(fonts/Arial-Narrow-Bold.ttf)
    }
@font-face {
    font-family: "Arial Narrow";
    font-weight: normal;
    font-style: normal;
    font-stretch: condensed;
    src: url(fonts/Arial-Narrow.ttf)
    }
