p {
  margin:0 auto 0 auto;  
  font-size:0.8em;
  text-indent:0em;
  text-align:center;
}
.bos06{margin-top:0.6em;}
.bos3{margin-top:3em;}
.bos5{margin-top:5em;}
.bos8{margin-top:8em;}
.bos12{margin-top:12em;}

.ortali{text-align:center;}

.kunye0{font-size:1.8em; font-weight:bold;}
.kunye1{font-size:1.5em; }
.kunye2{font-size:1.5em; }