<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistName</key>
	<string>Feridun Fazıl Tülbentçi</string>
	<key>book-info</key>
	<dict>
		<key>cover-image-hash</key>
		<string>606FE8A11D4233EAD1DDC4B3D9F0AB1D</string>
		<key>cover-image-path</key>
		<string>cover.jpeg</string>
		<key>package-file-hash</key>
		<string>271441776BDB9F88BE98B8F719A5014F</string>
		<key>publisher-unique-id</key>
		<string>65a562e4-ddaa-4e59-b68a-d4c95b1a603a</string>
		<key>unique-id</key>
		<integer>5570009072144622018</integer>
	</dict>
	<key>composerName</key>
	<string>65a562e4-ddaa-4e59-b68a-d4c95b1a603a</string>
	<key>itemName</key>
	<string>Hürrem Sultan</string>
	<key>playlistName</key>
	<string>Hürrem Sultan</string>
	<key>releaseDate</key>
	<string>2011-02-23T13:31:58.907167+00:00</string>
	<key>sort-artist</key>
	<string>Tülbentçi, Feridun Fazıl</string>
	<key>sort-artist-status</key>
	<integer>3</integer>
	<key>sort-composer</key>
	<string></string>
	<key>sort-composer-status</key>
	<integer>128</integer>
	<key>sort-name</key>
	<string>Hürrem Sultan</string>
	<key>sort-name-status</key>
	<integer>1</integer>
</dict>
</plist>
