.calibre {
  display: block;
  font-size: 1.125em;
  line-height: 1.2;
  padding-left: 0;
  padding-right: 0;
  margin: 0 5pt;
}
.calibre1 {
  font-size: 1.22222em;
  line-height: 1.2;
}
.calibre2 {
  line-height: 1.2;
}
.calibre3 {
  font-weight: bold;
}
.calibre4 {
  font-size: 0.66667em;
}
.calibre5 {
  font-style: italic;
}
.calibre6 {
  font-size: 0.77778em;
  line-height: 1.2;
}
.calibre7 {
  display: block;
}
.calibre8 {
  height: 236px;
  line-height: 1.2;
  width: 334px;
}
.calibre9 {
  height: 99px;
  line-height: 1.2;
  width: 338px;
}
.calibre10 {
  display: block;
  line-height: 1.2;
}
.calibre11 {
  font-family: "Sylfaen", "serif";
}
.calibre12 {
  font-family: "Times New Roman", "serif";
  font-size: 1.33333em;
  line-height: 1.2;
}
.calibre13 {
  background: black;
  color: white;
  font-size: 0.88889em;
  line-height: 1.2;
}
.calibre14 {
  color: white;
  font-size: 0.88889em;
  line-height: 1.2;
}
.calibre15 {
  font-size: 0.88889em;
  line-height: 1.2;
}
.calibre16 {
  font-family: "Franklin Gothic Medium Cond", "sans-serif";
  font-size: 1em;
  line-height: 1.2;
}
.calibre17 {
  font-family: "Franklin Gothic Medium Cond", "sans-serif";
  font-size: 1.22222em;
  line-height: 1.2;
}
.calibre18 {
  font-family: "Sylfaen", "serif";
  font-size: 1em;
  line-height: 1.2;
}
.calibre19 {
  font-family: "Sylfaen", "serif";
  font-size: 0.88889em;
  line-height: 1.2;
}
.calibre20 {
  font-size: 1.33333em;
  line-height: 1.2;
}
.calibre21 {
  border-bottom: 0;
  border-top: 0;
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  text-align: center;
  text-indent: 11pt;
  margin: 0;
}
.calibre22 {
  font-size: 1em;
  line-height: 1.2;
}
.calibre23 {
  font-family: "TR LCD", "sans-serif";
  font-size: 1em;
  line-height: 1.2;
}
.calibre24 {
  font-family: "TR LCD", "sans-serif";
  font-size: 1.22222em;
  line-height: 1.2;
}
.calibre25 {
  font-family: "TR LCD", "sans-serif";
  font-size: 1.11111em;
  line-height: 1.2;
}
.calibre26 {
  font-family: "Sylfaen", "serif";
  font-size: 1.22222em;
  line-height: 1.2;
}
.calibre27 {
  color: white;
  font-family: "Sylfaen", "serif";
  font-size: 0.88889em;
  line-height: 1.2;
}
.calibre28 {
  border-bottom: 0;
  border-top: 0;
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  text-align: center;
  text-indent: 10pt;
  margin: 0;
}
.calibre29 {
  height: 165px;
  line-height: 1.2;
  width: 228px;
}
.calibre30 {
  height: 71px;
  line-height: 1.2;
  width: 234px;
}
.calibre31 {
  color: black;
  font-size: 0.88889em;
  line-height: 1.2;
}
.calibre32 {
  color: black;
  font-family: "Sylfaen", "serif";
  font-size: 0.88889em;
  line-height: 1.2;
}
.calibre33 {
  font-family: "TR LCD", "sans-serif";
  font-size: 0.88889em;
  line-height: 1.2;
}
.calibre34 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1.22222em;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  margin: 0.83em 0;
}
.calibre35 {
  font-size: 1.09091em;
  line-height: 1.2;
}
.calibre36 {
  border-bottom: 0;
  border-top: 0;
  display: block;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  text-indent: 1.5em;
}
.calibre37 {
  font-size: 1.09091em;
  font-weight: normal;
  line-height: 1.2;
}
.calibre38 {
  height: 1px;
  width: 221px;
}
.calibre39 {
  display: block;
}
.calibre40 {
  height: 68px;
  line-height: 1.2;
  width: 225px;
}
.calibre41 {
  font-family: "Franklin Gothic Demi Cond", "sans-serif";
  font-size: 1em;
  line-height: 1.2;
}
.calibre42 {
  font-family: "Franklin Gothic Demi Cond", "sans-serif";
  font-size: 1.22222em;
  line-height: 1.2;
}
.calibre43 {
  font-family: "Sylfaen", "serif";
  font-size: 1.33333em;
  line-height: 1.2;
}
.calibre44 {
  font-family: "TR LCD", "sans-serif";
}
.calibre45 {
  height: 391px;
  line-height: 1.2;
  width: 323px;
}
.calibre46 {
  font-size: 1.11111em;
  line-height: 1.2;
}
.calibre47 {
  color: white;
  font-size: 1.22222em;
  line-height: 1.2;
}
.calibre48 {
  font-family: "Sylfaen", "serif";
  font-size: 1.11111em;
  line-height: 1.2;
}
.calibre49 {
  font-family: "Times New Roman", "serif";
  font-size: 1.22222em;
  line-height: 1.2;
}
.calibre50 {

  display: none;
  line-height: 1.2;
  text-decoration: none;
}
.calibre51 {
  font-weight: bold;
  line-height: 1.2;
}
.calibre52 {
  font-family: "Sylfaen", "serif";
  line-height: 1.2;
}
.font {
  font-family: "Century Gothic", "sans-serif";
}
.font1 {
  font-family: "Microsoft Sans Serif", "sans-serif";
}
.font2 {
  font-family: "Constantia", "serif";
}
.font3 {
  font-family: "Impact", "sans-serif";
}
.font4 {
  font-family: "Franklin Gothic Heavy", "sans-serif";
}
.font5 {
  font-family: "Arial Narrow", "sans-serif";
}
.font6 {
  font-family: "Franklin Gothic Book", "sans-serif";
}
.font7 {
  font-family: "Times New Roman", "serif";
}
.font8 {
  font-family: "Trebuchet MS", "sans-serif";
}
.msohyperlink {
  color: blue;
  line-height: 1.2;
  text-decoration: underline;
}
.msonormal {
  border-bottom: 0;
  border-top: 0;
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  text-align: justify;
  text-indent: 1.5em;
  margin: 0;
}
.msonormal1 {
  border-bottom: 0;
  border-top: 0;
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  text-align: center;
  margin: 0;
}
.msonormal2 {
  border-bottom: 0;
  border-top: 0;
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  text-indent: 1.5em;
  margin: 0;
}
.msotoc {
  border-bottom: 0;
  border-top: 0;
  display: block;
  font-family: "Calibri", "sans-serif";
  font-size: 0.88889em;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
 
  text-indent: 1.5em;
  margin: 0 0 0 11pt;
}
.msotocheading {
  border-bottom: 0;
  border-top: 0;
  color: #2E74B5;
  display: block;
  font-family: "Calibri Light", "sans-serif";
  font-size: 1.11111em;
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0;
  page-break-after: avoid;
  text-indent: 1.5em;
  margin: 0;
}
.wordsection {
  border-bottom: 0;
  border-top: 0;
  display: block;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  page: WordSection1;
  text-indent: 1.5em;
}
.pcalibre:link {
  color: blue;
  text-decoration: underline;
}
.pcalibre1:visited {
  color: purple;
  text-decoration: underline;
}
