.block_ {
    color: black;
    display: block;
    line-height: 1.2;
    margin-bottom: 8pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_1 {
    color: black;
    display: block;
    font-family: "Garamond", serif;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.block_2 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.83333em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.block_3 {
    display: block;
    font-family: "ITCBerkeleyOldstyleW04-Book", serif;
    font-size: 1.29167em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.block_4 {
    display: block;
    font-family: "Morpheus", serif;
    font-size: 2em;
    letter-spacing: -1.5pt;
    line-height: 0.8;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.block_5 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.block_6 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.83333em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 17pt
    }
.block_7 {
    color: black;
    display: block;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 17pt
    }
.calibre {
    color: #C00000;
    display: block;
    font-family: "Souvenir", serif;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    display: block;
    line-height: 1.2
    }
.calibre2 {
    display: block;
    float: right;
    height: 77.6pt;
    width: 82.5pt
    }
.calibre3 {
    display: block
    }
.text_ {
    font-size: 2.4em;
    line-height: 1.2;
    text-transform: uppercase
    }
.text_1 {
    font-family: "Calibri", sans-serif;
    font-size: 1em
    }
.text_2 {
    font-family: "ITCBerkeleyOldstyleW04-Bold", serif;
    font-size: 1.2em
    }
