@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }
@font-face {
    src: url(fonts/Arial.ttf);
    panose-1: 2 11 6 4 2 2 2 2 2 4;
    font-family: "Arial"
    }
@font-face {
    src: url(fonts/Arial-Narrow.ttf);
    panose-1: 2 11 6 6 2 2 2 3 2 4;
    font-family: "Arial";
    font-stretch: condensed
    }
@font-face {
    src: url(fonts/Arial-Bold.ttf);
    panose-1: 2 11 7 4 2 2 2 2 2 4;
    font-family: "Arial";
    font-weight: bold
    }
@font-face {
    src: url(fonts/Arial-Italic.ttf);
    panose-1: 2 11 6 4 2 2 2 9 2 4;
    font-family: "Arial";
    font-style: italic
    }
@font-face {
    src: url(fonts/Arial-Black.ttf);
    panose-1: 2 11 10 4 2 1 2 2 2 4;
    font-family: "Arial";
    font-weight: 900
    }
@font-face {
    src: url(fonts/Arial-Narrow-Italic.ttf);
    panose-1: 2 11 6 6 2 2 2 10 2 4;
    font-family: "Arial";
    font-stretch: condensed;
    font-style: italic
    }
@font-face {
    src: url(fonts/Arial-Bold-Italic.ttf);
    panose-1: 2 11 7 4 2 2 2 9 2 4;
    font-family: "Arial";
    font-weight: bold;
    font-style: italic
    }
@font-face {
    src: url(fonts/Arial-Narrow-Bold.ttf);
    panose-1: 2 11 7 6 2 2 2 3 2 4;
    font-family: "Arial";
    font-stretch: condensed;
    font-weight: bold
    }
@font-face {
    src: url(fonts/Arial-Narrow-Bold-Italic.ttf);
    font-weight: bold;
    panose-1: 2 11 7 6 2 2 2 10 2 4;
    font-stretch: condensed;
    font-family: "Arial";
    font-style: italic
    }
