p{text-indent:0;margin-left:0;margin-right:0;text-align:justify;widows:2;orphans:2;margin-top:0;margin-bottom:0;font-family:Cambria,serif;font-size:109%}
.li1{font-family:Cambria,serif;font-size:109%}
.linone{list-style-type:none}
.linone1{font-family:Cambria,serif;font-size:109%;list-style-type:none}
.p0{text-indent:0;text-align:center}
.p1{text-indent:0;line-height:1;text-align:center}
.p3{text-indent:0;line-height:1}
.p4{text-indent:2.9em;margin-left:0}
.p5{text-indent:0;line-height:1}
.p6{text-indent:0;line-height:1}
.p7{text-indent:0;line-height:1}
.p8{text-indent:0;text-align:left}
.p9{text-indent:0;line-height:1}
.p10{text-indent:0;line-height:1}
.p11{text-indent:0;line-height:1}
.p12{text-indent:0;line-height:1}
.p13{text-indent:32em;margin-left:0}
.p14{text-indent:2.9em;margin-left:0;line-height:93%}
.p15{text-indent:0;line-height:1}
.p16{text-indent:-.42em;margin-left:3em;line-height:1}
.p17{text-indent:11em;margin-left:0}
.p18{text-indent:0}
h1{text-indent:0;margin-left:0;margin-right:0;widows:2;orphans:2;margin-top:.78em;margin-bottom:.78em;font-family:"Times New Roman",serif;font-size:164%;font-weight:bold}
.h10{text-indent:0;text-align:center}
.h12{text-indent:0}
.l0{margin-left:3em}
.t1{font-family:"Times New Roman",serif}
.t2{font-size:1.7em;line-height:100%}
.t3{font-size:1.7em;line-height:100%;font-weight:bold}
.t4{font-weight:bold}
.t6{font-size:1.3em;line-height:100%;font-weight:bold}
.t7{font-size:1.3em;line-height:100%}
.t9{font-size:.67em;line-height:100%}
.t10{font-style:italic}
.t11{font-size:.58em;line-height:100%;vertical-align:.57em}
.t12{font-style:italic}
.t13{font-size:.67em;line-height:100%;vertical-align:.63em}
.t15{font-size:.83em;line-height:93%;vertical-align:.5em}
.t16{font-size:.67em;line-height:93%;vertical-align:.63em}
.t17{font-size:.67em;line-height:93%}
.t18{font-size:.83em}
.t19{font-size:.54em;vertical-align:.62em}
.t20{font-size:.83em;font-weight:bold;vertical-align:.4em}
.t21{font-size:.83em;vertical-align:.4em}
.t22{font-size:.92em;line-height:100%;font-style:italic}
.t23{font-size:.83em;line-height:100%;font-weight:bold}
.t24{font-size:.92em}
.t25{font-size:.92em;line-height:100%}
.th11{font-family:Cambria,serif;font-size:1.1em;line-height:100%}