.calibre {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    padding-bottom: 0;
    padding-top: 0;
    text-indent: 1.5em;
    border-top: currentColor none 0;
    border-bottom: currentColor none 0
    }
.calibre10 {
    line-height: 1.2
    }
.calibre11 {
    display: block;
    line-height: 1.2
    }
.calibre12 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre13 {
    font-size: 0.875em;
    line-height: 1.2;
    text-indent: 1.5em
    }
.calibre14 {
    font-size: 1em;
    line-height: 1.2;
    text-indent: 1.5em
    }
.calibre15 {
    border-bottom-width: 0;
    border-top-width: 0;
    display: block;
    font-size: 0.875em;
    line-height: 1.2;
    padding-bottom: 0;
    padding-top: 0;
    text-indent: 1.5em;
    margin: 0.5em 0
    }
.calibre16 {
    display: block;
    text-indent: 20.739151001px;
    margin: 1em 0
    }
.calibre17 {
    font-size: 0.75em
    }
.calibre18 {
    font-weight: bold;
    line-height: 1.2
    }
.calibre19 {
    font-size: 0.875em;
    font-weight: bold;
    line-height: 1.2;
    text-indent: 20.739151001px
    }
.calibre2 {
    display: block
    }
.calibre20 {
    font-style: italic;
    font-weight: bold
    }
.calibre21 {
    border-bottom-width: 0;
    border-top-width: 0;
    display: block;
    font-size: 0.875em;
    line-height: 1.2;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    padding-bottom: 0;
    padding-top: 0;
    text-indent: 1.5em
    }
.calibre22 {
    border-bottom-width: 0;
    border-top-width: 0;
    display: block;
    padding-bottom: 0;
    padding-top: 0;
    text-indent: 1.5em;
    margin: 0.5em 0
    }
.calibre23 {
    display: block;
    font-size: 0.875em;
    height: 1em;
    line-height: 1.2;
    border: currentColor none 0;
    margin: 0
    }
.calibre24 {
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
    text-indent: 1.5em
    }
.calibre25 {
    border-bottom-width: 0;
    border-top-width: 0;
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2;
    padding-bottom: 0;
    padding-top: 0;
    text-indent: 1.5em;
    margin: 0.5em 0
    }
.calibre26 {
    display: block;
    font-weight: normal;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    padding-bottom: 0;
    padding-top: 0;
    text-indent: 1.5em;
    border-top: currentColor none 0;
    border-bottom: currentColor none 0
    }
.calibre27 {
    font-size: 0.75em;
    line-height: 1.2;
    vertical-align: super
    }
.calibre28 {
    font-style: italic
    }
.calibre29 {
    display: block;
    font-weight: normal;
    height: 1em;
    text-indent: 0;
    border: currentColor none 0;
    margin: 0
    }
.calibre3 {
    display: block;
    height: 1em;
    border: currentColor none 0;
    margin: 0
    }
.calibre4 {
    display: block;
    padding-bottom: 0;
    padding-top: 0;
    text-indent: 1.5em;
    border-top: currentColor none 0;
    border-bottom: currentColor none 0;
    margin: 0.5em 0
    }
.calibre5 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    text-indent: 0;
    margin: 1em 0
    }
.calibre6 {
    font-size: 0.875em;
    font-weight: bold;
    line-height: 1.2;
    text-indent: 1.5em
    }
.calibre7 {
    font-weight: bold
    }
.calibre8 {
    display: block;
    margin: 1em 0
    }
.calibre9 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2;
    padding-bottom: 0;
    padding-top: 0;
    text-indent: 1.5em;
    border-top: currentColor none 0;
    border-bottom: currentColor none 0;
    margin: 0.5em 0
    }
