p{text-indent:1.6em;margin-left:.23em;line-height:150%;margin-right:0;text-align:justify;margin-top:1.4em;margin-bottom:1.4em;font-family:Arial,sans-serif;font-size:95%}
.p0{text-indent:0;margin-left:0;text-align:center;margin-top:0;margin-bottom:0}
.p1{text-indent:0;margin-left:0;text-align:left;margin-top:0;margin-bottom:.95em}
.p2{text-indent:1.6em;margin-left:0;text-align:left;margin-top:0;margin-bottom:.34em}
.p3{text-indent:1.6em;margin-left:0;margin-right:.23em;text-align:center;margin-top:0;margin-bottom:0}
.p4{text-indent:1.6em;margin-left:0;margin-right:.23em;text-align:center;margin-top:0;margin-bottom:.23em}
.p5{text-indent:1.6em;margin-left:0;text-align:center;margin-top:0;margin-bottom:0}
.p6{text-indent:0;margin-left:0;line-height:100%;text-align:left;margin-top:0;margin-bottom:.95em}
.p7{text-indent:1.6em;margin-left:.14em;margin-right:.23em}
.p8{text-indent:1.6em;margin-left:.14em;text-align:left;margin-top:0;margin-bottom:0}
.p9{text-indent:1.6em;margin-left:0;text-align:left;margin-top:0;margin-bottom:0}
.p10{text-indent:1.6em;margin-left:0;text-align:center;margin-top:0;margin-bottom:2.1em}
.p11{text-indent:1.6em;margin-left:.11em;margin-right:.11em;margin-top:0;margin-bottom:0}
.p12{margin-right:.11em;margin-top:0;margin-bottom:0}
.p13{margin-right:.11em;margin-top:0;margin-bottom:.66em}
.p14{text-indent:1.6em;margin-left:31em;margin-right:.11em;text-align:right;margin-top:0;margin-bottom:0}
.p15{text-indent:1.6em;margin-left:.11em;text-align:center;margin-top:0;margin-bottom:1.7em}
.p16{margin-right:.34em;margin-top:0;margin-bottom:0}
.p17{text-indent:1.6em;margin-left:.11em;margin-right:.34em;margin-top:0;margin-bottom:0}
.p18{text-indent:1.6em;margin-left:2.7em;margin-right:.34em;text-align:left}
.p19{text-indent:1.6em;margin-left:.11em;margin-right:.11em;text-align:center;margin-top:0;margin-bottom:0}
.p20{text-indent:1.6em;margin-left:0;text-align:center;margin-top:0;margin-bottom:1.6em}
.p21{text-align:left}
.p22{margin-right:.23em;margin-top:0;margin-bottom:0}
.p23{text-indent:1.6em;margin-left:.34em}
.p25{text-indent:1.6em;margin-left:.11em}
.p26{text-indent:1.6em;margin-left:0}
.p27{text-indent:1.6em;margin-left:.11em;text-align:left}
.p28{text-indent:1.6em;margin-left:.11em;margin-right:.23em;margin-top:0;margin-bottom:0}
.p29{margin-right:.34em;margin-top:0;margin-bottom:1.1em}
.p30{text-indent:1.6em;margin-left:0;margin-right:.11em;margin-top:0;margin-bottom:2.1em}
.p31{text-indent:1.6em;margin-left:.11em;margin-right:.11em;margin-top:0;margin-bottom:1.1em}
.p32{text-indent:-.6em;margin-left:2.6em;margin-right:1.9em;text-align:left}
.p33{margin-top:0;margin-bottom:0}
.p34{margin-bottom:0}
.p35{text-indent:1.6em;margin-left:0;margin-right:.11em;margin-top:0;margin-bottom:0}
.p36{margin-right:.11em;margin-top:0;margin-bottom:1.7em}
.p37{margin-right:.91em;margin-top:0;margin-bottom:0}
.p38{text-indent:1.6em;margin-left:2.6em;margin-right:.69em;text-align:left}
.p39{text-indent:1.6em;margin-left:2.5em;margin-right:.91em;text-align:left}
.p40{text-indent:1.6em;margin-left:.11em;margin-right:.34em;margin-top:0;margin-bottom:1.9em}
.p41{text-indent:1.6em;margin-left:.34em;margin-right:.11em;margin-top:0;margin-bottom:0}
.p42{text-indent:1.6em;margin-left:.11em;text-align:center;margin-top:0;margin-bottom:2.1em}
.p43{text-indent:1.6em;margin-left:.34em;margin-right:.23em;margin-top:0;margin-bottom:0}
.p44{text-indent:1.6em;margin-left:.34em;margin-right:2.4em;margin-top:0;margin-bottom:0}
.p45{text-indent:1.6em;margin-left:0;text-align:left}
.p46{text-indent:1.6em;margin-left:.11em;margin-right:.34em;margin-top:0;margin-bottom:1.6em}
.p47{text-indent:1.6em;margin-left:0;margin-right:.11em;text-align:center;margin-top:0;margin-bottom:2.4em}
.p48{margin-right:.11em;margin-top:0;margin-bottom:2.1em}
.p49{text-indent:1.6em;margin-left:2.6em;margin-right:.34em;text-align:left}
.p50{text-indent:1.6em;margin-left:.11em;margin-right:.23em;margin-top:0;margin-bottom:1.3em}
.p51{text-indent:1.6em;margin-left:2.5em;margin-right:.23em;text-align:left}
.p52{margin-right:.34em;margin-top:0;margin-bottom:1.7em}
.p53{text-indent:1.6em;margin-left:.11em;margin-right:2.6em;text-align:left;margin-top:0;margin-bottom:.14em}
.p54{text-indent:1.6em;margin-left:.11em;margin-top:0;margin-bottom:0}
.p55{text-indent:1.6em;margin-left:.11em;margin-right:.46em;margin-top:0;margin-bottom:0}
.p56{margin-right:.11em;margin-top:0;margin-bottom:53em}
.p57{text-indent:1.6em;margin-left:.34em;margin-right:.34em;margin-top:0;margin-bottom:0}
.p58{text-indent:1.6em;margin-left:.46em}
.p59{margin-right:.34em;margin-top:0}
.p60{margin-right:2.6em;margin-top:0;margin-bottom:.71em}
.p61{text-indent:-.83em;margin-left:2.9em;margin-right:2.6em;text-align:left}
.p62{text-indent:1.6em;margin-left:2.6em}
.p63{text-indent:1.6em;margin-left:2.6em;margin-right:.23em}
.p64{margin-right:.14em}
.p65{text-indent:1.6em;margin-left:2.9em;margin-right:.34em}
.p66{text-indent:1.6em;margin-left:2.6em;margin-right:.11em}
.p67{text-indent:1.6em;margin-left:2.6em;margin-right:.23em;text-align:left}
.p68{text-indent:1.6em;margin-left:0;margin-right:.11em}
.p69{text-indent:1.6em;margin-left:0;margin-right:.23em}
.p70{margin-right:.34em;margin-top:0;margin-bottom:2.7em}
.p71{margin-right:.11em;margin-top:0;margin-bottom:1.5em}
.p72{text-indent:1.6em;margin-left:0;margin-top:0;margin-bottom:0}
.p73{text-indent:1.6em;margin-left:.11em;margin-right:2.4em;margin-top:0;margin-bottom:0}
.p74{margin-right:.34em;margin-top:0;margin-bottom:2.1em}
.p75{text-indent:1.6em;margin-left:.34em;margin-right:.11em;margin-top:0;margin-bottom:2.7em}
.p76{margin-right:.11em;margin-top:0;margin-bottom:2.6em}
.p77{text-indent:1.6em;margin-left:.34em;text-align:left}
.p78{text-indent:2.4em;margin-left:0;margin-right:.11em}
.p79{text-indent:2.4em;margin-left:0;margin-right:.11em;text-align:left}
.p80{text-indent:1.6em;margin-left:.11em;margin-right:.34em}
.p81{text-indent:1.6em;margin-left:2.5em}
.p82{margin-right:.11em;margin-top:0;margin-bottom:2.4em}
.p83{text-indent:1.6em;margin-left:2.5em;margin-right:.23em}
.p84{text-indent:1.6em;margin-left:.11em;margin-right:.23em;margin-top:0;margin-bottom:1.8em}
.p85{margin-right:.23em;margin-top:0;margin-bottom:2.4em}
.p86{text-indent:0;margin-left:2em}
.p87{text-indent:0;margin-left:2em;margin-right:.23em;text-align:left}
.p88{text-indent:0;margin-left:2em;text-align:left}
.p89{text-indent:1.6em;margin-left:.11em;margin-right:2.5em;margin-top:0;margin-bottom:2.1em}
.p90{text-indent:1.6em;margin-left:.46em;margin-right:.23em;margin-top:0;margin-bottom:0}
.p91{text-indent:1.6em;margin-left:2.9em}
.p92{margin-right:.23em;margin-top:0}
.p93{margin-right:.23em}
.p94{text-indent:1.6em;margin-left:.46em;margin-right:.11em;margin-top:0;margin-bottom:1.1em}
.p95{text-align:left;margin-top:0;margin-bottom:0}
.p96{text-indent:0;margin-left:5.1em;line-height:100%;text-align:left;margin-top:0;margin-bottom:.95em}
.p97{text-indent:1.6em;margin-left:.46em;margin-right:.11em;margin-top:0;margin-bottom:0}
.p98{text-indent:1.6em;margin-left:2.4em}
.p99{text-indent:1.6em;margin-left:2.4em;margin-right:.11em}
.p100{text-indent:1.6em;margin-left:.11em;margin-right:.11em;margin-top:0;margin-bottom:2.7em}
.p101{margin-right:14em;text-align:left}
.p102{text-indent:1.6em;margin-left:.11em;margin-right:.23em;margin-top:0;margin-bottom:1.9em}
.p103{text-indent:1.6em;margin-left:.11em;text-align:center;margin-top:0;margin-bottom:2.2em}
.p104{text-indent:1.6em;margin-left:.11em;margin-right:.23em;margin-top:0;margin-bottom:2.1em}
.p105{text-indent:1.6em;margin-left:0;margin-right:.34em;text-align:left}
.p106{text-indent:1.6em;margin-left:.34em;margin-right:.23em;margin-top:0;margin-bottom:2.7em}
.p107{margin-right:2.2em;margin-top:0;margin-bottom:0}
.p108{text-indent:1.6em;margin-left:.34em;margin-top:0;margin-bottom:0}
.p109{text-indent:1.6em;margin-left:.11em;text-align:left;margin-top:0;margin-bottom:0}
.p110{text-indent:1.6em;margin-left:.34em;margin-right:.11em;margin-top:0;margin-bottom:2.1em}
.p111{text-indent:1.6em;margin-left:2.6em;margin-right:.11em;text-align:left}
.p112{text-indent:-.46em;margin-left:.46em;margin-right:.11em;margin-top:0;margin-bottom:0}
.p113{text-indent:1.6em;margin-left:.11em;margin-right:.23em}
.p114{text-indent:1.6em;margin-left:0;margin-right:.23em;text-align:left}
.p115{text-indent:1.6em;margin-left:.11em;margin-right:.34em;margin-top:0;margin-bottom:2.4em}
.p116{text-indent:1.6em;margin-left:.34em;margin-right:.23em;margin-top:0;margin-bottom:2.1em}
.p117{margin-right:.23em;margin-top:0;margin-bottom:2.7em}
.p118{text-indent:1.6em;margin-left:.11em;margin-right:.23em;margin-top:0;margin-bottom:2.7em}
.p119{text-indent:1.6em;margin-left:.11em;margin-right:.11em;margin-top:0;margin-bottom:2.6em}
.p120{text-indent:1.6em;margin-left:0;margin-right:.23em;margin-top:0;margin-bottom:0}
.p121{text-indent:1.6em;margin-left:.11em;margin-right:2.1em;margin-top:0;margin-bottom:0}
h1{text-indent:0;margin-left:0;line-height:150%;margin-right:0;margin-top:.75em;margin-bottom:.19em;font-family:Arial,sans-serif;font-size:145%;font-weight:bold}
.h11{line-height:100%}
h2{text-indent:0;margin-left:0;margin-right:0;margin-top:.86em;margin-bottom:.21em;font-family:Arial,sans-serif;font-size:127%;font-weight:bold;font-style:italic}
.h20{line-height:150%}
.h22{text-indent:-2.6em;margin-left:3.9em}
.h23{margin-left:1.3em}
.t0{font-family:"Ascender Sans"}
.t1{font-family:Calibri,sans-serif;font-size:1em;line-height:150%}
.t2{font-family:"Ascender Sans";font-size:1.5em;line-height:150%;font-weight:bold}
.t3{font-family:"Ascender Sans";font-size:2.8em;line-height:150%;font-weight:bold}
.t4{font-family:"Ascender Sans";font-size:2.6em;line-height:150%;font-weight:bold}
.t5{font-family:"Ascender Sans";font-weight:bold}
.t6{font-family:"Ascender Sans";font-weight:bold}
.t7{font-family:"Ascender Sans";font-style:italic}
.t8{font-family:"Ascender Sans";font-weight:bold;font-style:italic}
.t9{font-family:"Ascender Sans";color:#0066cc;text-decoration:underline}
.t10{font-family:"Ascender Sans"}
.t11{font-family:"Ascender Sans";font-size:2em;line-height:150%}
.t12{font-family:"Ascender Sans";font-size:2em;line-height:150%;font-style:italic}
.t13{font-family:"Ascender Sans";font-size:1.5em;line-height:150%}
.t14{font-family:"Ascender Sans";font-size:1.2em;line-height:150%}
.t16{font-weight:bold;font-style:italic}
.t17{font-size:1.2em;line-height:150%}
.t18{font-size:.43em;line-height:150%;vertical-align:super}
.t19{font-size:.9em;line-height:150%;font-weight:bold;font-style:italic}
.t20{font-size:.095em;line-height:150%}
.t21{font-size:1em;line-height:150%}
.t22{font-size:1em;line-height:100%}
.t23{font-size:1.5em;line-height:100%}
.t24{font-family:Calibri,sans-serif;font-size:1em;line-height:100%}
.t25{font-size:.9em;line-height:150%;font-weight:bold}
.t26{font-size:.43em;line-height:150%;font-weight:bold;font-style:italic;vertical-align:super}
.t27{font-weight:bold;color:#1d1b11}
.t28{font-size:1.5em;line-height:150%}
.t29{font-size:.37em;line-height:150%;font-weight:bold;font-style:italic;vertical-align:super}
.t30{font-size:.37em;line-height:150%;font-weight:bold;vertical-align:super}
.t31{font-weight:bold;color:#1d1b11}
.t33{font-weight:bold}
.t34{font-size:.65em;line-height:150%;vertical-align:super}
.t35{font-size:1.2em;line-height:100%}
.t36{font-size:.37em;line-height:150%;font-weight:bold;font-style:italic;vertical-align:sub}
.t37{font-size:1.1em;line-height:150%;font-style:italic}
.t38{font-size:.9em;line-height:100%;font-weight:bold}
.t39{font-size:1.3em;line-height:100%}
.t40{font-size:.81em;line-height:150%;font-weight:bold}
.t41{font-size:.9em;line-height:100%;font-weight:bold;font-style:italic}
.t42{font-size:.37em;line-height:150%;font-weight:bold;vertical-align:sub}
.t43{font-size:.81em;line-height:150%}
.t44{font-size:.67em;line-height:150%;font-weight:bold}
.t45{font-size:1.1em;line-height:150%;font-weight:bold;color:#c00000}
.t46{font-size:1.1em;line-height:100%;font-weight:bold;color:#c00000}
.t47{font-size:1em;line-height:100%;font-weight:bold;font-style:italic}
.t48{font-size:.9em;line-height:150%}
.t49{font-style:italic}
.t50{font-size:.43em;line-height:150%;font-style:italic;vertical-align:super}
.th11{font-size:.66em;line-height:100%}
.th13{font-size:.69em;line-height:100%}
.th21{font-size:.75em;line-height:150%}
.th23{font-weight:normal;font-style:normal}
.th24{color:#1d1b11}
.th25{font-weight:normal;font-style:normal;color:#1d1b11}
.th26{font-size:.93em;line-height:100%}