<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistName</key>
	<string>Friedrich Nietzsche</string>
	<key>book-info</key>
	<dict>
		<key>cover-image-hash</key>
		<string>9278990AC1B4FD84638D758CDDA04630</string>
		<key>cover-image-path</key>
		<string>OEBPS/Images/cover.jpeg</string>
		<key>mime-type</key>
		<string>application/epub+zip</string>
		<key>package-file-hash</key>
		<string>5AA5BC221E4C782FC9E13E666FC92197</string>
		<key>publisher-unique-id</key>
		<string>aa86d96c-3c4d-44a1-8fc2-6ea4edb2bdcf</string>
		<key>unique-id</key>
		<integer>-8882906215129420370</integer>
		<key>update-level</key>
		<integer>2</integer>
	</dict>
	<key>itemName</key>
	<string>Böyle Buyurdu Zerdüşt</string>
	<key>playlistName</key>
	<string>Böyle Buyurdu Zerdüşt</string>
	<key>releaseDate</key>
	<string>2013-04-11T21:00:00+00:00</string>
	<key>sort-artist</key>
	<string>Nietzsche, Friedrich</string>
	<key>sort-artist-status</key>
	<integer>3</integer>
</dict>
</plist>
