.calibre {
  font-style: italic;
}
.calibre1 {
  letter-spacing: -0.1pt;
  line-height: 1.2;
}
.calibre2 {
  line-height: 1.2;
}
.calibre3 {
  letter-spacing: -0.25pt;
  line-height: 1.2;
}
.calibre4 {
  letter-spacing: -0.05pt;
  line-height: 1.2;
}
.calibre5 {
  letter-spacing: -0.15pt;
  line-height: 1.2;
}
.calibre6 {
  font-weight: bold;
}
.calibre12 {
  letter-spacing: -0.3pt;
  line-height: 1.2;
}
.calibre13 {
  letter-spacing: -0.45pt;
  line-height: 1.2;
}
.calibre14 {
  font-weight: bold;
  line-height: 1.2;
}
.calibre15 {
  letter-spacing: -0.4pt;
  line-height: 1.2;
}
.calibre16 {
  letter-spacing: -0.2pt;
  line-height: 1.2;
}
.calibre17 {
  letter-spacing: -0.5pt;
  line-height: 1.2;
}
.calibre20 {
  letter-spacing: 0.05pt;
  line-height: 1.2;
}
.calibre31 {
  page-break-before: always;
}
.calibre41 {
  font-style: italic;
  line-height: 1.2;
}
.calibre49 {
  letter-spacing: 0.1pt;
  line-height: 1.2;
}
.calibre50 {
  letter-spacing: 0.2pt;
  line-height: 1.2;
}
.calibre51 {
  letter-spacing: 0.15pt;
  line-height: 1.2;
}
.calibre52 {
  letter-spacing: 0.25pt;
  line-height: 1.2;
}
.calibre53 {
  letter-spacing: 0.35pt;
  line-height: 1.2;
}
.calibre54 {
  letter-spacing: 0.3pt;
  line-height: 1.2;
}
.calibre55 {
  letter-spacing: 0.4pt;
  line-height: 1.2;
}
.calibre60 {
  letter-spacing: 0.75pt;
  line-height: 1.2;
}
.calibre100 {
  letter-spacing: 0.65pt;
  line-height: 1.2;
}
.calibre109 {
  line-height: 1.2;
  page-break-before: always;
}
.calibre179 {
  height: 730px;
  line-height: 1.2;
  width: 458px;
}
.MsoNormal {
  border-bottom: 0;
  border-top: 0;
  line-height: 1.2;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  text-align: center;
  
}
.MsoNormal2 {
  border-bottom: 0;
  border-top: 0;
  line-height: 1.2;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  text-indent: 1.5em;
}
.MsoNormal3 {
  border-bottom: 0;
  border-top: 0;
  line-height: 1.2;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  text-align: justify;
  
  text-indent: 1.5em;
}
.MsoNormal4 {
  border-bottom: 0;
  border-top: 0;
  line-height: 1.2;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  
  
  text-indent: 1.5em;
}
.MsoNormal5 {
  border-bottom: 0;
  border-top: 0;
  line-height: 1.2;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  
  text-align: justify;
  
  text-indent: 1.5em;
}
.MsoNormal6 {
  border-bottom: 0;
  border-top: 0;
  line-height: 1.2;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  
  
  text-indent: 1.5em;
}
.MsoNormal7 {
  border-bottom: 0;
  border-top: 0;
  line-height: 1.2;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  
  
  text-indent: 1.5em;
}
.MsoNormal8 {
  border-bottom: 0;
  border-top: 0;
  line-height: 1.2;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  
  
  text-indent: 1.5em;
}
.MsoNormal9 {
  border-bottom: 0;
  border-top: 0;
  line-height: 1.2;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
 
  text-align: justify;
  
  text-indent: 1.5em;
}
.MsoNormal10 {
  border-bottom: 0;
  border-top: 0;
  line-height: 1.2;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  
  
  text-indent: 1.5em;
}
.MsoNormal11 {
  border-bottom: 0;
  border-top: 0;
  line-height: 1.2;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  text-align: right;
  
}
.MsoNormal12 {
  border-bottom: 0;
  border-top: 0;
  line-height: 1.2;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
 
  
  text-indent: 1.5em;
}
.MsoNormal16 {
  border-bottom: 0;
  border-top: 0;
  line-height: 1.2;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
 
  
  text-indent: 1.5em;
}
.MsoNormal21 {
  border-bottom: 0;
  border-top: 0;
  line-height: 25pt;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  
  text-indent: 1.5em;
}
.Section {
  border-bottom: 0;
  border-top: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  page: Section1;
  text-indent: 1.5em;
}
.Section1 {
  border-bottom: 0;
  border-top: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  page: Section2;
  text-indent: 1.5em;
}
.Section2 {
  border-bottom: 0;
  border-top: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  page: Section3;
  text-indent: 1.5em;
}
.Section3 {
  border-bottom: 0;
  border-top: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  page: Section4;
  text-indent: 1.5em;
}
.Section4 {
  border-bottom: 0;
  border-top: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  page: Section5;
  text-indent: 1.5em;
}
.Section5 {
  border-bottom: 0;
  border-top: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  page: Section6;
  text-indent: 1.5em;
}
.Section6 {
  border-bottom: 0;
  border-top: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  page: Section7;
  text-indent: 1.5em;
}
.Section7 {
  border-bottom: 0;
  border-top: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  page: Section8;
  text-indent: 1.5em;
}
.Section8 {
  border-bottom: 0;
  border-top: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  page: Section9;
  text-indent: 1.5em;
}
.Section9 {
  border-bottom: 0;
  border-top: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  page: Section10;
  text-indent: 1.5em;
}
.Section10 {
  border-bottom: 0;
  border-top: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  page: Section11;
  text-indent: 1.5em;
}
.Section12 {
  border-bottom: 0;
  border-top: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  page: Section13;
  text-indent: 1.5em;
}
.Section13 {
  border-bottom: 0;
  border-top: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  page: Section14;
  text-indent: 1.5em;
}
.Section14 {
  border-bottom: 0;
  border-top: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  page: Section15;
  text-indent: 1.5em;
}
.Section15 {
  border-bottom: 0;
  border-top: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  page: Section16;
  text-indent: 1.5em;
}
.Section16 {
  border-bottom: 0;
  border-top: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  page: Section17;
  text-indent: 1.5em;
}
.Section17 {
  border-bottom: 0;
  border-top: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  page: Section18;
  text-indent: 1.5em;
}
.Section18 {
  border-bottom: 0;
  border-top: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  page: Section19;
  text-indent: 1.5em;
}
.Section19 {
  border-bottom: 0;
  border-top: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  page: Section20;
  text-indent: 1.5em;
}
.Section20 {
  border-bottom: 0;
  border-top: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  page: Section21;
  text-indent: 1.5em;
}
.Section21 {
  border-bottom: 0;
  border-top: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  page: Section22;
  text-indent: 1.5em;
}
.Section22 {
  border-bottom: 0;
  border-top: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  page: Section23;
  text-indent: 1.5em;
}
.Section23 {
  border-bottom: 0;
  border-top: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  page: Section24;
  text-indent: 1.5em;
}
.Section24 {
  border-bottom: 0;
  border-top: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  page: Section25;
  text-indent: 1.5em;
}
.Section25 {
  border-bottom: 0;
  border-top: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  page: Section26;
  text-indent: 1.5em;
}
.Section26 {
  border-bottom: 0;
  border-top: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  page: Section27;
  text-indent: 1.5em;
}
.Section27 {
  border-bottom: 0;
  border-top: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  page: Section28;
  text-indent: 1.5em;
}
.Section28 {
  border-bottom: 0;
  border-top: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  page: Section29;
  text-indent: 1.5em;
}
.Section29 {
  border-bottom: 0;
  border-top: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  page: Section30;
  text-indent: 1.5em;
}
.Section30 {
  border-bottom: 0;
  border-top: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  page: Section31;
  text-indent: 1.5em;
}
.Section31 {
  border-bottom: 0;
  border-top: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  page: Section32;
  text-indent: 1.5em;
}
.Section32 {
  border-bottom: 0;
  border-top: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  page: Section33;
  text-indent: 1.5em;
}
.Section33 {
  border-bottom: 0;
  border-top: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  page: Section34;
  text-indent: 1.5em;
}
.Section34 {
  border-bottom: 0;
  border-top: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  page: Section35;
  text-indent: 1.5em;
}
.Section35 {
  border-bottom: 0;
  border-top: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  page: Section36;
  text-indent: 1.5em;
}
.Section36 {
  border-bottom: 0;
  border-top: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  page: Section37;
  text-indent: 1.5em;
}
.Section37 {
  border-bottom: 0;
  border-top: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  page: Section38;
  text-indent: 1.5em;
}
.Section40 {
  border-bottom: 0;
  border-top: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  page: Section41;
  text-indent: 1.5em;
}
.Section41 {
  border-bottom: 0;
  border-top: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  page: Section42;
  text-indent: 1.5em;
}
.Section42 {
  border-bottom: 0;
  border-top: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  page: Section43;
  text-indent: 1.5em;
}
.Section43 {
  border-bottom: 0;
  border-top: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  page: Section44;
  text-indent: 1.5em;
}
.Section44 {
  border-bottom: 0;
  border-top: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  page: Section45;
  text-indent: 1.5em;
}
.Section45 {
  border-bottom: 0;
  border-top: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  page: Section46;
  text-indent: 1.5em;
}
.Section46 {
  border-bottom: 0;
  border-top: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  page: Section47;
  text-indent: 1.5em;
}
.Section47 {
  border-bottom: 0;
  border-top: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  page: Section48;
  text-indent: 1.5em;
}
img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  margin-top: 3em;
  margin-bottom: 3em;
  text-align: center;
  font-size: 2em;
}
h2 {
  margin-top: 3em;
  margin-bottom: 3em;
  text-align: center;
  font-size: 1em;
}
p {
  text-align: justify;
  text-indent: 1em;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}
