.block_ {
    border-bottom: 0;
    border-top: 0;
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.75em;
    line-height: 1.15;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    padding: 0
    }
.block_1 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.15;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    padding: 0
    }
.block_2 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 1.5em;
    padding: 0
    }
.block_3 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.75em;
    line-height: 1.15;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    padding: 0
    }
.block_4 {
    border-bottom: 0;
    border-top: 0;
    color: black;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.75em;
    line-height: 1.15;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    padding: 0
    }
.block_5 {
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 1.41667em;
    font-weight: normal;
    line-height: 1.5;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: center;
    padding: 0
    }
.block_6 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 1.5em;
    padding: 0
    }
.block_7 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-family: serif;
    font-size: 0.75em;
    line-height: 1.15;
    margin-bottom: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 1.5em;
    padding: 0
    }
.block_8 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-family: "Calibri", sans-serif;
    font-size: 0.75em;
    font-style: italic;
    line-height: 1.15;
    margin-bottom: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 1.5em;
    padding: 0
    }
.block_9 {
    border-bottom: 0;
    border-top: 0;
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.75em;
    line-height: 1.15;
    margin-bottom: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 1.5em;
    padding: 0
    }
.block_10 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 0;
    text-align: right;
    padding: 0
    }
.block_11 {
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.5;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: center;
    padding: 0
    }
.block_12 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 1.5em;
    padding: 0
    }
.block_13 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-style: italic;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 1.5em;
    padding: 0
    }
.block_14 {
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 1.41667em;
    font-weight: normal;
    line-height: 1.5;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: center;
    padding: 0
    }
.block_15 {
    border-bottom: 0;
    border-top: 0;
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 1.5em;
    padding: 0
    }
.calibre {
    color: #0D0D0D;
    display: block;
    font-family: "Palatino Linotype", serif;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    display: block;
    line-height: 1.2
    }
.calibre2 {
    font-weight: bold
    }
.calibre3 {
    display: block
    }
.calibre4 {
    display: block
    }
.calibre5 {
    font-style: italic;
    line-height: 1.2
    }
.calibre6 {
    text-decoration: none
    }
.calibre7 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre8 {
    display: block;
    font-size: 1.125em;
    line-height: 1.2
    }
.calibre9 {
    line-height: 1.2;
    text-decoration: none
    }
.calibre10 {
    display: block;
    page-break-after: avoid
    }
.noteref {
    font-size: 0.77778em;
    line-height: normal;
    vertical-align: super
    }
.text_ {
    color: #0D0D0D;
    line-height: 1.2;
    text-decoration: underline
    }
.text_1 {
    color: #0D0D0D;
    line-height: 1.2
    }
.text_2 {
    font-family: "Palatino Linotype", serif;
    font-size: 1.33333em;
    line-height: 1.2
    }
.text_3 {
    font-family: "Calibri", sans-serif;
    font-size: 1em;
    font-style: italic
    }
.text_4 {
    font-size: 0.75em;
    font-style: italic;
    line-height: normal;
    vertical-align: super
    }
.text_5 {
    font-family: "Calibri", sans-serif;
    font-size: 1em;
    line-height: normal;
    vertical-align: super
    }
.text_6 {
    font-family: "Calibri", sans-serif;
    font-size: 1em
    }
.text_7 {
    font-family: "Palatino Linotype", serif;
    font-size: 1.33333em
    }
