.aut {
    display: block;
    font-family: "Goudy";
    font-size: 1.41935em;
    line-height: 1.2;
    margin-bottom: 0
    }
.books {
    display: block;
    font-family: GillSans;
    font-size: 0.64516em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.5em;
    text-indent: 0;
    margin: 0
    }
.by {
    display: block;
    font-family: Berling;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    text-align: right;
    text-indent: 1.9em;
    margin: 0.9em 0 0
    }
.by1 {
    display: block;
    font-family: Berling;
    font-size: 0.77419em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    text-align: right;
    text-indent: 1.9em;
    margin: 1.2em 0 0
    }
.calibre {
    height: auto;
    max-width: 100%;
    width: auto
    }
.calibre1 {
    display: block;
    font-family: "GillSans";
    font-size: 0.58065em
    }
.calibre2 {
    font-style: italic
    }
.calibre3 {
    color: #7A7A7A;
    text-decoration: none
    }
.calibre4 {
    font-size: 1.09091em;
    line-height: 1.2
    }
.calibre5 {
    font-size: 1.29167em;
    line-height: 1.2
    }
.calibre6 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre7 {
    display: list-item;
    font-family: GillSans;
    font-size: 0.64516em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.6em;
    list-style-type: none;
    text-indent: 0
    }
.calibre8 {
    display: block;
    font-family: Berling;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    text-indent: 1.9em;
    margin: 0
    }
.calibre9 {
    display: block;
    font-family: Berling;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    text-align: center;
    margin: 3em 0 1.5em
    }
.calibre10 {
    display: block;
    font-family: Berling;
    font-size: 0.77419em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    text-indent: 1.9em;
    margin: 0
    }
.calibre11 {
    display: block;
    margin: 1.2em 0 0
    }
.calibre12 {
    color: gray;
    display: block;
    height: 2px;
    max-width: 3em;
    border: currentColor none 0;
    margin: 1em auto 0.6em
    }
.cover-container {
    display: block;
    max-width: 500px;
    page-break-inside: avoid;
    margin: 0 auto
    }
.epigraph {
    display: block;
    font-size: 0.64516em;
    max-width: 20em;
    text-align: right;
    margin: 5em 0 0 auto
    }
.epub-type_cover {
    display: block;
    font-family: "LiberationSerif", serif;
    font-size: 1.29167em;
    line-height: 1.2;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.html5_section {
    display: block
    }
.isbn {
    display: block;
    font-family: "GillSans";
    font-size: 0.58065em;
    margin-top: 1.2em
    }
.logo {
    display: block;
    text-align: center;
    width: 60px;
    margin: 3em auto 0
    }
.margin {
    display: block;
    font-family: Berling;
    font-size: 0.77419em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    text-indent: 1.9em;
    margin: 1.2em 0 0
    }
.press {
    display: block;
    margin: 0.8em 0 0
    }
.publisher {
    display: block;
    margin-top: 2em
    }
.seri {
    display: block;
    font-family: "GillSans";
    font-size: 1em;
    line-height: 1.2;
    margin-top: 3.5em
    }
.si-backref {
    color: #000;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none
    }
.si-footnote {
    display: block;
    font-family: "GillSans";
    font-size: 0.64516em;
    margin-bottom: 0.25em
    }
.si-footnotes {
    display: block;
    margin: 4em 0 1em
    }
.si-noteref {
    color: #7A7A7A;
    font-size: 0.75em;
    padding-left: 0.1em;
    text-decoration: none;
    vertical-align: super
    }
.title {
    display: block;
    font-family: "LiberationSerif", serif;
    font-size: 1.29167em;
    line-height: 1.2;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    margin: 0 5pt
    }
.trans {
    display: block;
    font-family: "GillSans";
    font-size: 0.77419em;
    line-height: 1.5em;
    margin-top: 1.5em
    }
.work {
    display: block;
    font-family: "Goudy";
    font-size: 1.54839em;
    line-height: 1.2;
    margin-top: 0.5em
    }
.pcalibre:before {
    content: " * ";
    font-family: Berling-Medium;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2em
    }
