<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistName</key>
	<string>WILLIAM IRWIN</string>
	<key>book-info</key>
	<dict>
		<key>cover-image-hash</key>
		<string>4CFA2FC6D9EF9CE1A6FB88189F3B0C61</string>
		<key>cover-image-path</key>
		<string>cover.jpeg</string>
		<key>package-file-hash</key>
		<string>A9683E36143E14A174B53DFFEAF4C08E</string>
		<key>publisher-unique-id</key>
		<string>2dca54e9-b4f5-4861-b684-0ce7b07d9cbe</string>
		<key>unique-id</key>
		<integer>8859448686840388070</integer>
	</dict>
	<key>composerName</key>
	<string>2dca54e9-b4f5-4861-b684-0ce7b07d9cbe</string>
	<key>itemName</key>
	<string>Matrix ve Felsefe</string>
	<key>playlistName</key>
	<string>Matrix ve Felsefe</string>
	<key>releaseDate</key>
	<string>2011-02-23T18:09:03.514746+00:00</string>
	<key>sort-artist</key>
	<string>Irwın, Wıllıam</string>
	<key>sort-artist-status</key>
	<integer>1</integer>
	<key>sort-composer</key>
	<string></string>
	<key>sort-composer-status</key>
	<integer>128</integer>
	<key>sort-name</key>
	<string>Matrix ve Felsefe</string>
	<key>sort-name-status</key>
	<integer>1</integer>
</dict>
</plist>
