p.ParaOverride-1 {
	margin-top:100px;
	text-align:center;
	text-indent:0px;
}
p.ParaOverride-2 {
	text-align:center;
	text-indent:0px;
}
p.ParaOverride-3 {
	margin-top:30px;
	text-align:center;
	text-indent:0px;
}
p.ParaOverride-4 {
	margin-top:100px;
}
p.ParaOverride-5 {
	margin-top:15px;
}
p.ParaOverride-6 {
	text-align:right;
}
p.ParaOverride-7 {
	text-indent:0px;
}
p.ParaOverride-8 {
	margin-top:20px;
	text-align:right;
}
p.ParaOverride-9 {
	margin-top:0px;
}
p.ParaOverride-10 {
	margin-bottom:5px;
	text-indent:0px;
}
p.ParaOverride-11 {
	margin-top:20px;
}
p.ParaOverride-12 {
	margin-bottom:20px;
}
span.CharOverride-1 {
	font-family:"Liberation Serif";
	font-size:2.167em;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-2 {
	font-size:1.833em;
}
span.CharOverride-3 {
	font-size:1.167em;
}
span.CharOverride-4 {
	font-family:"Liberation Serif";
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-5 {
	font-variant:normal;
	text-transform:uppercase;
}
span.CharOverride-6 {
	font-size:0.437em;
}
span.CharOverride-7 {
	font-family:"Liberation Serif";
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-8 {
	font-family:"Liberation Serif";
	font-size:1.333em;
	font-style:normal;
	font-weight:bold;
}
img._idGenObjectAttribute-1 {
	height:37px;
	width:38px;
}
img._idGenObjectAttribute-2 {
	height:25px;
	width:25px;
}
img._idGenObjectAttribute-3 {
	height:32px;
	width:92px;
}
hr.HorizontalRule-1 {
	border-bottom:none;
	border-left:none;
	border-right:none;
	border-top:solid #000000 1px;
}
