.calibre {
    display: block;
    line-height: 1.5;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: justify
    }
.calibre1 {
    color: #c00000;
    display: block;
    font-family: Amasis, serif;
    font-size: 118%;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.46em;
    text-align: center;
    text-indent: 0
    }
.calibre2 {
    line-height: 1.5
    }
.calibre3 {
    display: block;
    font-family: Amasis, serif;
    font-size: 118%;
    line-height: 1.5;
    margin-bottom: -0.077em;
    margin-left: 0;
    margin-right: 0;
    margin-top: -0.077em;
    text-indent: 0
    }
.p {
    display: block;
    font-family: Amasis, serif;
    font-size: 118%;
    line-height: 1.5;
    margin-bottom: -0.077em;
    margin-left: 0;
    margin-right: 0;
    margin-top: -0.077em;
    text-align: center;
    text-indent: 0
    }
.p1 {
    display: block;
    font-family: Amasis, serif;
    font-size: 118%;
    line-height: 1.5;
    margin-bottom: 0.38em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.p2 {
    display: block;
    font-family: Amasis, serif;
    font-size: 118%;
    line-height: 1.5;
    margin-bottom: 0.77em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.p3 {
    display: block;
    font-family: Amasis, serif;
    font-size: 118%;
    line-height: 1.5;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.p4 {
    display: block;
    font-family: Amasis, serif;
    font-size: 118%;
    line-height: 1.5;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.t {
    font-weight: bold;
    line-height: 1.5
    }
.t1 {
    font-size: 0.77em;
    line-height: 1.5
    }
.t2 {
    color: blue;
    font-weight: bold;
    line-height: 1.5
    }
.t3 {
    font-style: italic;
    line-height: 1.5
    }
.t4 {
    color: blue;
    line-height: 1.5;
    text-decoration: underline
    }
