._ {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: -10px;
    widows: 1;
    padding: 0;
    margin: 0 30px 0 70px
    }
._idgenpageitem {
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0
    }
._idgenpageitem1 {
    height: 727px;
    width: 508px
    }
._idgenpageitem2 {
    height: 41px;
    width: 94px
    }
._idgenpageitem3 {
    height: 21px;
    width: 63px
    }
._idgenpageitem4 {
    height: 12px;
    width: 142px
    }
._idgenpageitem5 {
    height: 402px;
    width: 313px
    }
._idgenpageitem6 {
    height: 183px;
    width: 366px
    }
._idgenpageitem7 {
    height: 183px;
    width: 378px
    }
._idgenpageitem8 {
    height: 516px;
    width: 336px
    }
._idgenpageitem9 {
    height: 661px;
    width: 344px
    }
._idgenpageitem10 {
    height: 578px;
    width: 341px
    }
._idgenpageitem11 {
    height: 302px;
    width: 365px
    }
._idgenpageitem12 {
    height: 239px;
    width: 334px
    }
._idgenpageitem13 {
    height: 294px;
    width: 322px
    }
._idgenpageitem14 {
    height: 260px;
    width: 355px
    }
._idgenpageitem15 {
    height: 263px;
    width: 355px
    }
._idgenpageitem16 {
    height: 580px;
    width: 378px
    }
._idgenpageitem17 {
    height: 589px;
    width: 382px
    }
._idgenpageitem18 {
    height: 712px;
    width: 508px
    }
.anabaslik {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 1.125em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    widows: 1;
    padding: 0;
    margin: 0
    }
.ara {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 0.875em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    widows: 1;
    padding: 0;
    margin: 0 30px
    }
.ara1 {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 0.875em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    widows: 1;
    padding: 0;
    margin: 6px 30px 0
    }
.ara2 {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 0.875em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    widows: 1;
    padding: 0;
    margin: 0 11px
    }
.arabaslik_orta {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 1.125em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    widows: 1;
    padding: 0;
    margin: 0 0 30px
    }
.arabaslik_orta1 {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 1.125em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    widows: 1;
    padding: 0;
    margin: 0 0 6px
    }
.arabaslik_sol {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 1.125em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    widows: 1;
    padding: 0;
    margin: 30px 30px 20px
    }
.arabaslik_sol1 {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 1.125em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    widows: 1;
    padding: 0;
    margin: 30px 30px 0
    }
.arabaslik_sol2 {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 1.125em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    widows: 1;
    padding: 0;
    margin: 30px 30px 20px
    }
.arabaslik_sol3 {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 1.125em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    widows: 1;
    padding: 0;
    margin: 30px 30px 9px
    }
.arabaslik_sol4 {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 1.125em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    widows: 1;
    padding: 0;
    margin: 14px 30px 20px
    }
.arabaslik_sol5 {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 1.125em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    widows: 1;
    padding: 0;
    margin: 0 30px 20px
    }
.arabold {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 0.875em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    widows: 1;
    padding: 0;
    margin: 0 30px
    }
.arayazi {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 0.875em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 20px;
    widows: 1;
    padding: 0;
    margin: 0 30px 0 50px
    }
.arayazi1 {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 0.875em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 20px;
    widows: 1;
    padding: 0;
    margin: 0 30px 0 50px
    }
.arayazi2 {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 0.875em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    widows: 1;
    padding: 0;
    margin: 0 30px 0 0
    }
.arayazi3 {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 0.875em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    widows: 1;
    padding: 0;
    margin: 0 30px 0 50px
    }
.arayazi4 {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 0.875em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    widows: 1;
    padding: 0;
    margin: 0
    }
.arayazi5 {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 0.875em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    widows: 1;
    padding: 0;
    margin: 0 14px 0 50px
    }
.basic-text-frame {
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    display: block;
    padding: 0;
    margin: 0
    }
.calibre {
    -epub-hyphens: auto;
    -webkit-hyphens: auto;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    display: block;
    font-size: 1em;
    line-height: 1.2;
    padding: 0;
    margin: 0 5pt
    }
.calibre1 {
    line-height: 1.2
    }
.calibre2 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.charoverride {
    font-family: "Liberation Serif";
    font-size: 0.75em;
    font-style: normal;
    font-weight: bold
    }
.charoverride1 {
    font-size: 0.75em
    }
.charoverride2 {
    font-family: "Liberation Serif";
    font-size: 0.75em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2
    }
.charoverride3 {
    font-size: 0.81818em;
    line-height: 1.2
    }
.charoverride4 {
    font-size: 1em
    }
.charoverride5 {
    font-size: 0.875em;
    line-height: 1.2
    }
.charoverride6 {
    font-variant: small-caps
    }
.charoverride7 {
    font-family: "Liberation Serif";
    font-style: italic;
    font-weight: normal
    }
.charoverride8 {
    color: #000;
    font-family: "Liberation Serif";
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.2;
    text-decoration: none
    }
.charoverride9 {
    color: #000;
    font-size: 1em;
    font-variant: normal;
    line-height: 1.2;
    text-decoration: none
    }
.charoverride10 {
    font-style: normal;
    font-weight: normal
    }
.charoverride11 {
    font-family: "Liberation Serif";
    font-style: normal;
    font-weight: bold
    }
.charoverride12 {
    color: #000;
    font-family: "Liberation Serif";
    font-size: 1em;
    font-style: italic;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    text-decoration: none
    }
.charoverride13 {
    font-family: "Liberation Serif";
    font-style: normal;
    font-variant: small-caps;
    font-weight: bold
    }
.charoverride14 {
    color: #d72427
    }
.charoverride15 {
    color: #000;
    font-size: 0.75em;
    font-variant: normal;
    text-decoration: none;
    vertical-align: super
    }
.charoverride16 {
    color: #222
    }
.charoverride17 {
    color: #000
    }
.charoverride18 {
    color: #000;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none
    }
.charoverride19 {
    color: #f00
    }
.charoverride20 {
    color: #000;
    font-size: 0.875em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    text-decoration: none
    }
.charoverride21 {
    text-transform: uppercase
    }
.charoverride22 {
    color: #000;
    font-size: 1em;
    font-style: normal;
    font-variant: small-caps;
    font-weight: normal;
    line-height: 1.2;
    text-decoration: none
    }
.charoverride23 {
    color: #000;
    font-style: normal;
    font-variant: small-caps;
    font-weight: normal;
    text-decoration: none
    }
.charoverride24 {
    color: #db2327;
    font-family: "Liberation Serif";
    font-style: normal;
    font-weight: bold
    }
.charoverride25 {
    color: #000;
    font-family: "Liberation Serif";
    font-style: italic;
    font-weight: normal
    }
.dip {
    font-family: "Liberation Serif", serif;
    font-size: 0.75em;
    font-style: normal;
    font-weight: normal;
    vertical-align: super
    }
.dip1 {
    font-family: "Liberation Serif", serif;
    font-size: 0.85714em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2;
    vertical-align: super
    }
.dipnot {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 0.75em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 20px;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    widows: 1;
    padding: 0
    }
.logo {
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 1.375em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    widows: 1;
    padding: 0;
    margin: 70px 0 0
    }
.normal {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Helvetika Roman", sans-serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    widows: 1;
    padding: 0;
    margin: 30px 0 0 30px
    }
.normal1 {
    color: #000;
    font-family: "Liberation Serif", serif;
    font-size: 0.75em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.2;
    text-decoration: none
    }
.normal2 {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Helvetika Roman", sans-serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    widows: 1;
    padding: 0;
    margin: 0 0 0 30px
    }
.normal3 {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Helvetika Roman", sans-serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    widows: 1;
    padding: 0;
    margin: 20px 0 0 30px
    }
.normal4 {
    color: #000;
    font-family: "Liberation Serif", serif;
    font-size: 0.75em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    text-decoration: none
    }
.normal5 {
    color: #000;
    font-family: "Liberation Serif", serif;
    font-size: 0.75em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    text-decoration: none
    }
.normal6 {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Helvetika Roman", sans-serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    widows: 1;
    padding: 0;
    margin: 5px 0 0 30px
    }
.normal7 {
    color: #00f;
    font-family: "Liberation Serif", serif;
    font-size: 0.75em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.2;
    text-decoration: none
    }
.normal8 {
    color: #000;
    font-family: "Liberation Serif", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none
    }
.normal9 {
    color: #000;
    font-family: "Liberation Serif", serif;
    font-size: 0.88889em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none
    }
.paragraf {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    widows: 1;
    padding: 0;
    margin: 100px 30px 1px
    }
.paragraf1 {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    widows: 1;
    padding: 0;
    margin: 0 30px 1px
    }
.paragraf2 {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 20px;
    widows: 1;
    padding: 0;
    margin: 0 30px
    }
.paragraf3 {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 20px;
    widows: 1;
    padding: 0;
    margin: 20px 30px 0
    }
.paragraf4 {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: right;
    text-decoration: none;
    text-indent: 20px;
    widows: 1;
    padding: 0;
    margin: 0 30px
    }
.paragraf5 {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    widows: 1;
    padding: 0;
    margin: 0 30px
    }
.paragraf6 {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    color: #000;
    display: list-item;
    font-family: "Liberation Serif", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    list-style-position: outside;
    list-style-type: disc;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    widows: 1;
    margin: 0 30px 0 50px
    }
.paragraf7 {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    widows: 1;
    padding: 0
    }
.paragraf8 {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: justify;
    text-decoration: none;
    text-indent: 20px;
    widows: 1;
    padding: 0;
    margin: 0 30px
    }
.paragraf9 {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 20px;
    widows: 1;
    padding: 0;
    margin: 0 30px
    }
.paragraf10 {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 20px;
    widows: 1;
    padding: 0;
    margin: 0 14px 0 50px
    }
.paragraf11 {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    widows: 1;
    padding: 0;
    margin: 0 30px 6px
    }
.paragraf12 {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    widows: 1;
    padding: 0;
    margin: 1px 30px 0
    }
.paragraf13 {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: -20px;
    widows: 1;
    padding: 0;
    margin: 0 30px 0 50px
    }
.paragraf14 {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: justify;
    text-decoration: none;
    text-indent: -20px;
    widows: 1;
    padding: 0;
    margin: 0 30px 0 50px
    }
.paragraf15 {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 20px;
    widows: 1;
    padding: 0;
    margin: 0 30px 3px
    }
.paragraf16 {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: right;
    text-decoration: none;
    text-indent: 20px;
    widows: 1;
    padding: 0;
    margin: 0 30px 0 14px
    }
.paraoverride {
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    display: block;
    padding: 0;
    margin: 20px 0 0 30px
    }
.paraoverride1 {
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    display: block;
    padding: 0;
    margin: 0 0 0 30px
    }
.perde_kitapadi {
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 1.375em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    widows: 1;
    padding: 0;
    margin: 30px 0 0
    }
.perde_yazar {
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 1.125em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.467;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    widows: 1;
    padding: 0;
    margin: 50px 0 0
    }
.perde_yazar1 {
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 1.125em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.467;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    widows: 1;
    padding: 0;
    margin: 100px 0 0
    }
.resim {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 0.875em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    widows: 1;
    padding: 0;
    margin: 10px 30px
    }
.resim1 {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 0.875em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    widows: 1;
    padding: 0;
    margin: 20px 30px
    }
.solkucuk {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 20px;
    widows: 1;
    padding: 0;
    margin: 30px 30px 20px
    }
.solkucuk1 {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 20px;
    widows: 1;
    padding: 0;
    margin: 14px 30px 20px
    }
.solkucuk2 {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 20px;
    widows: 1;
    padding: 0;
    margin: 14px 30px 0
    }
.solkucuk3 {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 20px;
    widows: 1;
    padding: 0;
    margin: 30px 30px 20px 14px
    }
.solkucuk4 {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 20px;
    widows: 1;
    padding: 0;
    margin: 0 30px 20px
    }
.solkucuk5 {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 20px;
    widows: 1;
    padding: 0;
    margin: 30px 30px 20px
    }
.solkucukitalik {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 1em;
    font-style: italic;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 20px;
    widows: 1;
    padding: 0;
    margin: 10px 30px 0
    }
.solkucukitalik1 {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 1em;
    font-style: italic;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 20px;
    widows: 1;
    padding: 0;
    margin: 20px 30px 0
    }
.solkucukitalik2 {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 1em;
    font-style: italic;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 20px;
    widows: 1;
    padding: 0;
    margin: 20px 30px 6px
    }
.solkucukitalik3 {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 1em;
    font-style: italic;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    widows: 1;
    padding: 0;
    margin: 20px 30px 0
    }
.solkucukitalik4 {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 1em;
    font-style: italic;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    widows: 1;
    padding: 0;
    margin: 0 30px
    }
.solkucukitalik5 {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 1em;
    font-style: italic;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 20px;
    widows: 1;
    padding: 0;
    margin: 20px 30px 0
    }
.solkucukitalik6 {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 1em;
    font-style: italic;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 20px;
    widows: 1;
    padding: 0;
    margin: 0 30px
    }
.solkucukitalik7 {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 1em;
    font-style: italic;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: left;
    text-decoration: none;
    text-indent: -20px;
    widows: 1;
    padding: 0;
    margin: 20px 30px 0 50px
    }
.split {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 1.125em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    widows: 1;
    padding: 0;
    margin: 100px 30px 0
    }
.yildiz {
    -epub-hyphens: none;
    -webkit-hyphens: none;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    color: #000;
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    orphans: 1;
    page-break-after: auto;
    page-break-before: auto;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    widows: 1;
    padding: 0;
    margin: 15px 0
    }
