@namespace h "http://www.w3.org/1999/xhtml";
.calibre {
  display: block;
  margin-bottom: 0;
  margin-left: 10pt;
  margin-right: 10pt;
  margin-top: 0;
  page-break-before: always;
  text-align: justify;
}
.calibre1 {
  display: block;
  page-break-after: always;
}
.calibre10 {
  height: 302;
  width: 268;
}
.calibre11 {
  height: 197;
  width: 268;
}
.calibre12 {
  height: 567;
  width: 383;
}
.calibre13 {
  height: 567;
  width: 397;
}
.calibre14 {
  height: 567;
  width: 385;
}
.calibre2 {
  height: 65;
  width: 83;
}
.calibre3 {
  font-size: smaller;
  line-height: normal;
  vertical-align: super;
}
.calibre4 {
  height: 198;
  width: 269;
}
.calibre5 {
  height: 294;
  width: 269;
}
.calibre6 {
  height: 272;
  width: 202;
}
.calibre7 {
  height: 269;
  width: 269;
}
.calibre8 {
  height: 240;
  width: 269;
}
.calibre9 {
  height: 270;
  width: 269;
}
.chapter {
  display: block;
}
.clrb {
  clear: both;
  display: block;
}
.h1baslik {
  display: block;
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  text-align: center;
}
.h1baslik1 {
  display: block;
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.67em;
  page-break-before: always;
  text-align: center;
}
.h2baslik {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  text-align: center;
}
.idebold {
  font-weight: bold;
}
.ideitalik {
  font-style: italic;
}
.indentmetin {
  display: block;
  font-size: 1em;
  margin-bottom: 0.25em;
  margin-left: 3em;
  margin-right: 0;
  margin-top: 0.25em;
  text-align: justify;
  text-indent: 0.75em;
}
.indentmetin1 {
  font-size: 1em;
  margin-bottom: 0.25em;
  margin-left: 3em;
  margin-right: 0;
  margin-top: 0.25em;
  text-align: justify;
  text-indent: 0.75em;
}
.indentmetinbold {
  display: block;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0.25em;
  margin-left: 3em;
  margin-right: 0;
  margin-top: 0.25em;
  text-align: justify;
  text-indent: 0.75em;
}
.indentmetinitalik {
  display: block;
  font-size: 1em;
  font-style: italic;
  margin-bottom: 0.25em;
  margin-left: 3em;
  margin-right: 0;
  margin-top: 0.25em;
  text-align: justify;
  text-indent: 0.75em;
}
.kitapickapak {
  display: block;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.25em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.25em;
  text-align: center;
}
.kitapickapak1 {
  display: block;
  font-size: 1.75em;
  margin-bottom: 0.25em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.25em;
  text-align: center;
}
.kunye {
  display: block;
  font-size: 0.75em;
  margin-bottom: 0;
  margin-left: 3em;
  margin-right: 0;
  margin-top: 0;
  text-align: justify;
}
.leftimage {
  display: block;
  float: left;
  margin-bottom: 15px;
  margin-right: 15px;
  margin-top: 15px;
}
.normal {
  display: block;
  font-size: 1em;
  margin-bottom: 0.7em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.7em;
  text-align: justify;
  text-indent: 0.75em;
}
.normal1 {
  display: block;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0.7em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.7em;
  text-align: justify;
  text-indent: 0.75em;
}
.normal2 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0.7em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.7em;
  text-align: justify;
  text-indent: 0.75em;
}
.normal3 {
  display: block;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 0.7em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.7em;
  text-align: justify;
  text-indent: 0.75em;
}
.ortaitalik {
  display: block;
  font-style: italic;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  text-align: center;
}
.ortayazi {
  display: block;
  font-style: normal;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  text-align: center;
}
.resim {
  display: block;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  text-align: center;
}
.resimalti {
  display: block;
  font-size: 0.8em;
  font-style: italic;
  margin-bottom: 5px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 5px;
  text-align: center;
}
.sagnormal {
  font-style: normal;
  text-align: right;
}
.sagnormal1 {
  display: block;
  font-style: normal;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  text-align: right;
}
a {
  color: inherit;
  text-decoration: inherit;
  cursor: default;
}
a[href] {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
