body{margin-left:2%;margin-right:2%;margin-top:2%;margin-bottom:2%}
.nomargin{margin:0}
p{text-indent:0.39in;margin-left:0;line-height:115%;margin-right:0;text-align:justify;margin-top:0;margin-bottom:10pt;font-family:"Century751 SeBd BT";font-size:118%}
.p0{text-indent:0;margin-left:0;text-align:center;margin-bottom:0}
.p1{text-indent:0;margin-left:0}
.p2{text-indent:0;margin-left:0;text-align:center}
.p4{text-indent:0;margin-left:0;margin-bottom:0}
.p5{margin-bottom:0}
.p6{text-indent:0;margin-left:0.39in}
.p7{text-indent:0;margin-left:0.39in;margin-bottom:0}
.p8{text-indent:0;margin-left:0;text-align:center;margin-top:24pt;margin-bottom:0}
.p9{text-indent:0;margin-left:0;text-align:right}
.p10{text-indent:0;margin-left:0;text-align:right;margin-bottom:0}
.p11{text-indent:0;margin-left:0.39in;margin-top:10pt;margin-bottom:12pt}
.p12{text-indent:0;margin-left:0;text-align:center;margin-top:10pt;margin-bottom:12pt}
.p13{text-indent:-0.25in;margin-left:0.64in}
.p14{text-align:center}
.p15{text-align:right}
.p16{text-indent:-0.2in;margin-left:0.2in;line-height:100%;margin-bottom:6pt}
.p17{text-indent:-0.2in;margin-left:0.2in;line-height:100%;text-align:left;margin-bottom:6pt}
.p18{text-indent:0.29in;margin-left:0.2in;line-height:100%;margin-bottom:6pt}
.p19{text-indent:-0.2in;margin-left:0.2in;line-height:100%;margin-bottom:0}
.p20{text-indent:0;margin-left:0.2in;line-height:100%;margin-bottom:6pt}
.p21{text-indent:-0.29in;margin-left:0.49in;line-height:100%;margin-bottom:6pt}
.p22{text-indent:-0.2in;margin-left:0.2in;line-height:100%;margin-bottom:12pt}
.t0{font-size:1em}
.t1{font-size:1.23em}
.t2{font-size:1.23em}
.t3{font-size:1.23em}
.t5{font-size:1em}
.t6{font-size:1em}
.t7{font-size:1.31em}
.t8{font-size:1.31em}
.t9{font-size:1.31em}
.t10{font-family:"Arial Black",sans-serif;font-size:1em}
.t11{font-family:"Arial Black",sans-serif;font-size:1em}
.t12{font-family:"Arial Black",sans-serif;font-size:1em}
.t13{font-family:"Century Gothic",sans-serif;font-size:1.08em}
.t14{font-size:1.08em}
.t15{font-family:"Century Gothic",sans-serif;font-size:1.08em}
.t16{font-family:"Century Gothic",sans-serif;font-size:1em}
.t17{font-family:"Century Gothic",sans-serif;font-size:1em}
.t18{font-family:"Century Gothic",sans-serif;font-size:1em}
.t19{font-size:1.23em}
.t20{font-size:.65em;vertical-align:super}
.t21{font-size:1.08em}
.t22{font-family:Calibri,sans-serif;font-size:.85em}
.t23{font-family:"Times New Roman",serif;font-size:1em}
.t24{font-size:1.08em}
.t25{font-size:1.15em}
.t26{font-size:1.15em}
.t27{font-family:Symbol;font-size:.65em;vertical-align:super}
.t28{font-family:"Times New Roman",serif;font-size:1em}
.t29{font-size:1.08em}
.t30{font-size:1.15em}
.t31{font-size:1.15em}
.t32{font-size:.75em;vertical-align:super}
.t33{font-size:.7em;vertical-align:super}
.t34{font-size:.65em;vertical-align:super}
.t35{font-size:.55em;vertical-align:super}
.t36{font-size:.85em}
.t37{font-size:.85em}
.t38{font-size:.85em}
.t39{font-size:.85em}
.t40{font-size:.7em;vertical-align:super}