.calibre {
    color: black;
    display: block;
    font-family: "Courier New", monospace;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
    margin: 0 5pt
    }
.calibre1 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    text-indent: 1.5em;
    padding: 0;
    margin: 0
    }
.calibre2 {
    white-space: pre-wrap
    }
.calibre3 {
    display: block;
    font-size: 1.41667em;
    font-weight: normal;
    line-height: 1.2;
    padding: 0;
    margin: 0
    }
.calibre4 {
    font-style: italic
    }
.scenebreak {
    border-bottom: 0;
    border-top: 0;
    display: block;
    page-break-before: avoid;
    text-align: center;
    text-indent: 0%;
    padding: 0;
    margin: 0
    }
.sigilnotintoc {
    display: block;
    font-size: 1.125em;
    font-weight: normal;
    line-height: 1.2;
    padding: 0;
    margin: 0
    }
.softbreak {
    border-bottom: 0;
    border-top: 0;
    display: block;
    page-break-before: avoid;
    text-align: center;
    padding: 0;
    margin: 0
    }
