p{text-indent:1.2em;margin-left:0;margin-right:0;text-align:justify;margin-top:0;margin-bottom:0;font-family:"Book Antiqua",serif;font-size:109%}
.p1{text-indent:1.2em;text-align:left;margin-bottom:.83em}
.p2{text-indent:1.2em;margin-left:2.4em;margin-right:.083em}
.p3{text-indent:1.2em;margin-left:2.4em}
.p4{text-indent:1.2em;margin-left:.083em}
.p5{text-indent:1.2em;margin-right:.083em}
.p6{text-indent:1.2em;margin-left:.083em;margin-right:.083em}
.p7{text-indent:1.2em;text-align:center}
.p8{text-indent:1.2em;margin-left:3em}
.p9{text-indent:1.2em;margin-left:3em;text-align:center}
.p10{text-indent:0;margin-left:0;text-align:center}
.p11{text-indent:2.6em;margin-left:.33em;margin-right:.083em}
.p12{text-indent:0;margin-left:.33em}
.p13{text-indent:1.7em;margin-left:.33em;margin-right:.083em}
.p14{text-indent:1.7em;margin-left:.33em}
.p15{text-indent:1.6em;margin-left:.083em}
.p16{text-indent:1.6em;margin-left:.083em;margin-bottom:.72em}
.p17{text-indent:0;margin-left:3.3em}
.p18{text-indent:1.6em;margin-left:.17em;margin-right:.083em}
.p19{text-indent:1.6em;margin-left:.17em}
.p20{text-indent:1.6em;margin-left:.17em;margin-bottom:.23em}
.p21{text-indent:1.7em;margin-left:.17em;margin-right:.083em}
.p22{text-indent:1.7em;margin-left:.17em;margin-bottom:.47em}
.p23{text-indent:1.7em;margin-left:.17em;margin-bottom:.16em}
.p24{text-indent:1.7em;margin-left:.17em}
.p25{text-indent:1.6em;margin-left:.17em;margin-right:.75em}
.p26{text-indent:1.6em;margin-left:.17em;margin-right:.75em;margin-bottom:.48em}
.p27{text-indent:1.6em;margin-left:.75em;margin-right:.083em}
.p28{text-indent:2.3em;margin-left:0;margin-right:.083em}
.p29{text-indent:1.6em;margin-left:.75em}
.p30{text-indent:1.6em;margin-left:.083em;margin-right:.083em}
.p31{text-indent:1.6em;margin-left:.083em;margin-right:.083em;margin-bottom:.46em}
.p32{text-indent:1.6em;margin-left:0}
.p33{text-indent:1.6em;margin-left:.083em;margin-bottom:.48em}
.p34{text-indent:1.6em;margin-left:.083em;margin-right:.083em;margin-bottom:.26em}
.p35{text-indent:1.6em;margin-left:.083em;margin-bottom:.24em}
.p36{text-indent:1.6em;margin-left:.083em;margin-right:.083em;margin-bottom:.25em}
.p37{text-indent:1.6em;margin-left:.083em;margin-bottom:.12em}
.p38{text-indent:1.6em;margin-left:.083em;margin-bottom:.1em}
.p39{text-indent:1.6em;margin-left:.083em;margin-bottom:.42em}
.p40{text-indent:1.6em;margin-left:.17em;margin-right:.17em}
.p41{text-indent:1.6em;margin-left:.17em;margin-bottom:.16em}
.p42{text-indent:1.6em;margin-left:.17em;margin-bottom:.13em}
.p43{text-indent:1.6em;margin-left:.17em;margin-right:.17em;margin-bottom:.72em}
.p44{text-indent:1.6em;margin-left:.42em}
.p45{text-indent:0;margin-left:.42em}
.p46{text-indent:1.6em;margin-left:.42em;margin-right:.17em}
.p47{text-indent:1.6em;margin-left:.42em;margin-right:.17em;margin-bottom:.7em}
.p48{text-indent:1.6em;margin-left:.083em;margin-bottom:.64em}
.p49{text-indent:1.6em;margin-left:0;margin-right:.083em}
.p50{text-indent:1.6em;margin-left:0;margin-bottom:.47em}
.p51{text-indent:0;margin-left:.083em;margin-right:.17em}
.p52{text-indent:1.7em;margin-left:.083em;margin-right:.17em}
.p53{text-indent:1.7em;margin-left:.083em}
.p54{text-indent:1.7em;margin-left:.083em;margin-bottom:.36em}
.p55{text-indent:1.7em;margin-left:.083em;margin-bottom:.15em}
.p56{text-indent:1.7em;margin-left:.083em;margin-bottom:.71em}
.p57{text-indent:1.6em;margin-left:.083em;margin-right:.17em}
.p58{text-indent:0;margin-left:.083em;margin-right:.083em}
.p59{text-indent:1.6em;margin-left:.083em;margin-bottom:.14em}
.p60{text-indent:1.6em;margin-left:.083em;margin-right:.083em;margin-bottom:.47em}
.p61{text-indent:0;margin-left:.083em;margin-bottom:.73em}
.p62{text-indent:1.6em;margin-left:.083em;margin-bottom:.38em}
.p63{text-indent:1.6em;margin-left:.083em;margin-bottom:.17em}
.p64{text-indent:0;margin-left:.17em}
.p65{text-indent:1.6em;margin-left:.17em;margin-right:.92em}
.p66{text-indent:1.6em;margin-left:.17em;margin-right:.92em;margin-bottom:.47em}
.p67{text-indent:1.6em;margin-left:0;margin-bottom:.38em}
.p68{text-indent:1.6em;margin-left:0;margin-right:.083em;margin-bottom:.47em}
.p69{text-indent:1.6em;margin-left:0;margin-bottom:.73em}
.p70{text-indent:1.6em;margin-left:0;margin-right:.083em;margin-bottom:.46em}
.p71{text-indent:1.6em;margin-left:0;margin-bottom:.41em}
.p72{text-indent:1.6em;margin-left:0;margin-bottom:.6em}
.p73{text-indent:0;margin-left:0}
.p74{text-indent:0;margin-left:0;text-align:left}
.p75{text-indent:0;margin-left:.083em}
.p76{text-indent:0;margin-left:0;margin-right:.83em;text-align:right}
.p77{text-indent:1.7em;margin-left:.25em;margin-right:.25em}
.p78{text-indent:1.7em;margin-left:.25em}
.p79{text-indent:1.5em;margin-left:.17em;margin-right:.17em}
.p80{text-indent:1.5em;margin-left:.17em}
.p81{text-indent:1.7em;margin-left:.17em;margin-right:.17em}
.p82{text-indent:1.7em;margin-left:.083em;margin-right:.083em}
.p83{text-indent:1.5em;margin-left:.17em;margin-right:.083em}
.p84{text-indent:1.6em;margin-left:.17em;margin-right:1.1em}
.p85{text-indent:0;margin-left:1.2em;margin-right:.083em}
.p86{text-indent:1.6em;margin-left:1.2em}
.p87{text-indent:1.6em;margin-left:1.2em;margin-right:.083em}
.p88{text-indent:-1.1em;margin-left:1.2em;margin-right:.083em;text-align:left}
.p89{text-indent:0;margin-left:.17em;margin-right:.083em}
.p90{text-indent:.5em;margin-left:.17em;margin-right:.083em}
.p91{text-indent:1.7em;margin-left:.083em;margin-right:.92em}
.p92{text-indent:0;margin-left:.083em;margin-right:.92em;text-align:center}
.p93{text-indent:0;margin-left:.92em;text-align:center}
.p94{text-indent:0;margin-left:.083em;text-align:center}
.p95{text-indent:-5.3em;margin-left:5.3em}
.p96{text-indent:0}
h1{text-indent:0;margin-left:0;margin-right:0;margin-top:1.7em;margin-bottom:0;font-family:Cambria,serif;font-size:127%;font-weight:bold;color:#365f91}
.h10{text-indent:0;text-align:center;margin-top:0}
.h12{text-indent:0}
h2{text-indent:0;margin-left:2.7em;margin-right:0;margin-top:-.077em;margin-bottom:-.077em;font-family:"Book Antiqua",serif;font-size:118%;font-weight:normal;color:red}
.h21{text-indent:0}
.t2{font-style:italic}
.t3{color:#365f91}
.t4{font-weight:bold}
.t5{font-family:"Bookman Old Style",serif;font-size:.67em;font-weight:bold}
.t6{font-size:.67em}
.t7{font-family:"Bookman Old Style",serif;font-size:.67em}
.t8{letter-spacing:.042em}
.t9{font-weight:bold;color:red}
.t10{font-size:.65em;vertical-align:super}
.t11{font-weight:bold;letter-spacing:-.042em}
.t12{font-family:"Bookman Old Style",serif;font-size:.46em;vertical-align:super}
.t13{font-size:.71em}
.t14{font-family:"Bookman Old Style",serif}
.t15{font-size:.65em;font-style:italic;vertical-align:sub}
.t16{font-style:italic;letter-spacing:.42em}
.th22{font-style:italic}