@font-face {
  font-family: "Liberation Serif";
  font-style: normal;
  font-weight: normal;
  src: url(../Fonts/LiberationSerif.ttf);
  }
@font-face {
  font-family: "Liberation Serif";
  font-style: normal;
  font-weight: bold;
  src: url(../Fonts/LiberationSerif-Bold.ttf);
  }
@font-face {
  font-family: "Liberation Serif";
  font-style: italic;
  font-weight: normal;
  src: url(../Fonts/LiberationSerif-Italic.ttf);
  }
@font-face {
  font-family: "Liberation Serif";
  font-style: oblique;
  font-weight: normal;
  src: url(../Fonts/LiberationSerif-Italic.ttf);
  }
p {
  margin: 0 auto 0 auto;
  text-indent: 1.5em;
  font-family: "Liberation Serif", serif;
  text-align: left;
}
sub, sup {
  font-size: 80%;
  line-height: 0;
}
sup {
  top: -0.25em;
}
sub {
  bottom: -0.25em;
}
.footnote {
  text-indent: 0;
  margin-bottom: 0;
  margin-top: 0;
  page-break-before: always;
  font-size: 0.8em;
}
.baslik1 {
  margin-top: 4em;
  margin-bottom: 2em;
}
.baslik1 p {
  text-indent: 0;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}
.buyuk {
  font-size: 4em;
}
.gir1 {
  text-indent: 5em;
}
table {
  margin-left: 1.5em;
}
table p {
  text-indent: 0;
  text-align: left;
}
.kutu1 {
  margin-left: 1.5em;
  margin-right: 1.5em;
}
.kutu1 p {
  text-indent: 0;
  text-align: left;
}
.kutu2 {
  margin-left: 1.5em;
  margin-right: 1.5em;
}
