div.sgc-toc-title {
font-family:"First Order";    
font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 1em;
    text-align: center;
}

div.sgc-toc-level-1 {
    margin-left: 2em;
margin-top: 0.3em;
margin-bottom; 0.3em;
font-family:"First Order";
font-size:1.1em;
}

