.Basic-Paragraph {
    border-bottom: currentColor none 0;
    border-top: currentColor none 0;
    color: #000;
    display: block;
    font-family: "Minion Pro", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.3;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 1em;
    margin: 0.7em 0 0.7em 14px
    }
.Basic-Paragraph1 {
    border-bottom: currentColor none 0;
    border-top: currentColor none 0;
    color: #000;
    display: block;
    font-family: "Minion Pro", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.3;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 1em;
    margin: 0.7em 0 0.7em 17px
    }
.Basic-Paragraph10 {
    border-bottom: currentColor none 0;
    border-top: currentColor none 0;
    color: #000;
    display: block;
    font-family: "Minion Pro", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.3;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 1em;
    margin: 0.7em 134px 0.7em 0
    }
.Basic-Paragraph11 {
    border-bottom: currentColor none 0;
    border-top: currentColor none 0;
    color: #000;
    display: block;
    font-family: "Minion Pro", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.3;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 1em;
    margin: 0.7em 77px 0.7em 0
    }
.Basic-Paragraph12 {
    border-bottom: currentColor none 0;
    border-top: currentColor none 0;
    color: #000;
    display: block;
    font-family: "Minion Pro", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.3;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 1em;
    margin: 0.7em 115px 0.7em 0
    }
.Basic-Paragraph13 {
    border-bottom: currentColor none 0;
    border-top: currentColor none 0;
    color: #000;
    display: block;
    font-family: "Minion Pro", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.3;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 1em;
    margin: 0.7em 19px 0.7em 0
    }
.Basic-Paragraph14 {
    border-bottom: currentColor none 0;
    border-top: currentColor none 0;
    color: #000;
    display: block;
    font-family: "Minion Pro", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.3;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 1em;
    margin: 0.7em 0 0.7em 10px
    }
.Basic-Paragraph15 {
    border-bottom: currentColor none 0;
    border-top: currentColor none 0;
    color: #000;
    display: block;
    font-family: "Minion Pro", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.3;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 1em;
    margin: 0.7em 96px 0.7em 0
    }
.Basic-Paragraph16 {
    border-bottom: currentColor none 0;
    border-top: currentColor none 0;
    color: #000;
    display: block;
    font-family: "Minion Pro", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.3;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 1em;
    margin: 0.7em 0 0.7em 8px
    }
.Basic-Paragraph17 {
    border-bottom: currentColor none 0;
    border-top: currentColor none 0;
    color: #000;
    display: block;
    font-family: "Minion Pro", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.3;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 1em;
    margin: 0.7em 173px 0.7em 0
    }
.Basic-Paragraph18 {
    border-bottom: currentColor none 0;
    border-top: currentColor none 0;
    color: #000;
    display: block;
    font-family: "Minion Pro", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.3;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 1em;
    margin: 0.7em 49px 0.7em 0
    }
.Basic-Paragraph19 {
    border-bottom: currentColor none 0;
    border-top: currentColor none 0;
    color: #000;
    display: block;
    font-family: "Minion Pro", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.3;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 1em;
    margin: 0.7em 35px 0.7em 0
    }
.Basic-Paragraph2 {
    border-bottom: currentColor none 0;
    border-top: currentColor none 0;
    color: #000;
    display: block;
    font-family: "Minion Pro", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.3;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 1em;
    margin: 0.7em 0 0.7em 110px
    }
.Basic-Paragraph20 {
    border-bottom: currentColor none 0;
    border-top: currentColor none 0;
    color: #000;
    display: block;
    font-family: "Minion Pro", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.3;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 1em;
    margin: 0.7em 69px 0.7em 0
    }
.Basic-Paragraph21 {
    border-bottom: currentColor none 0;
    border-top: currentColor none 0;
    color: #000;
    display: block;
    font-family: "Minion Pro", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.3;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 1em;
    margin: 0.7em 25px 0.7em 0
    }
.Basic-Paragraph22 {
    border-bottom: currentColor none 0;
    border-top: currentColor none 0;
    color: #000;
    display: block;
    font-family: "Minion Pro", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.3;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 1em;
    margin: 0.7em 50px 0.7em 0
    }
.Basic-Paragraph23 {
    border-bottom: currentColor none 0;
    border-top: currentColor none 0;
    color: #000;
    display: block;
    font-family: "Minion Pro", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.3;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 1em;
    margin: 0.7em 66px 0.7em 0
    }
.Basic-Paragraph24 {
    border-bottom: currentColor none 0;
    border-top: currentColor none 0;
    color: #000;
    display: block;
    font-family: "Minion Pro", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.3;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 1em;
    margin: 0.7em 33px 0.7em 0
    }
.Basic-Paragraph25 {
    border-bottom: currentColor none 0;
    border-top: currentColor none 0;
    color: #000;
    display: block;
    font-family: "Minion Pro", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.3;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 1em;
    margin: 0.7em 65px 0.7em 0
    }
.Basic-Paragraph26 {
    border-bottom: currentColor none 0;
    border-top: currentColor none 0;
    color: #000;
    display: block;
    font-family: "Minion Pro", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.3;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 1em;
    margin: 0.7em 48px 0.7em 0
    }
.Basic-Paragraph27 {
    border-bottom: currentColor none 0;
    border-top: currentColor none 0;
    color: #000;
    display: block;
    font-family: "Minion Pro", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.3;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 1em;
    margin: 0.7em 16px 0.7em 0
    }
.Basic-Paragraph28 {
    border-bottom: currentColor none 0;
    border-top: currentColor none 0;
    color: #000;
    display: block;
    font-family: "Minion Pro", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.3;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 1em;
    margin: 0.7em 13px 0.7em 0
    }
.Basic-Paragraph29 {
    border-bottom: currentColor none 0;
    border-top: currentColor none 0;
    color: #000;
    display: block;
    font-family: "Minion Pro", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.3;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 1em;
    margin: 0.7em 82px 0.7em 0
    }
.Basic-Paragraph3 {
    border-bottom: currentColor none 0;
    border-top: currentColor none 0;
    color: #000;
    display: block;
    font-family: "Minion Pro", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.3;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 1em;
    margin: 0.7em 0 0.7em 16px
    }
.Basic-Paragraph30 {
    border-bottom: currentColor none 0;
    border-top: currentColor none 0;
    color: #000;
    display: block;
    font-family: "Minion Pro", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.3;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 1em;
    margin: 0.7em 75px 0.7em 0
    }
.Basic-Paragraph31 {
    border-bottom: currentColor none 0;
    border-top: currentColor none 0;
    color: #000;
    display: block;
    font-family: "Minion Pro", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.3;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 1em;
    margin: 0.7em 81px 0.7em 0
    }
.Basic-Paragraph32 {
    border-bottom: currentColor none 0;
    border-top: currentColor none 0;
    color: #000;
    display: block;
    font-family: "Minion Pro", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.3;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 1em;
    margin: 0.7em 78px 0.7em 0
    }
.Basic-Paragraph33 {
    border-bottom: currentColor none 0;
    border-top: currentColor none 0;
    color: #000;
    display: block;
    font-family: "Minion Pro", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.3;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 1em;
    margin: 0.7em 52px 0.7em 0
    }
.Basic-Paragraph34 {
    border-bottom: currentColor none 0;
    border-top: currentColor none 0;
    color: #000;
    display: block;
    font-family: "Minion Pro", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.3;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 1em;
    margin: 0.7em 17px 0.7em 0
    }
.Basic-Paragraph35 {
    border-bottom: currentColor none 0;
    border-top: currentColor none 0;
    color: #000;
    display: block;
    font-family: "Minion Pro", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.3;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 1em;
    margin: 0.7em 40px 0.7em 0
    }
.Basic-Paragraph36 {
    border-bottom: currentColor none 0;
    border-top: currentColor none 0;
    color: #000;
    display: block;
    font-family: "Minion Pro", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.3;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 1em;
    margin: 0.7em 61px 0.7em 0
    }
.Basic-Paragraph37 {
    border-bottom: currentColor none 0;
    border-top: currentColor none 0;
    color: #000;
    display: block;
    font-family: "Minion Pro", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.3;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 1em;
    margin: 0.7em 23px 0.7em 0
    }
.Basic-Paragraph38 {
    border-bottom: currentColor none 0;
    border-top: currentColor none 0;
    color: #000;
    display: block;
    font-family: "Minion Pro", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.3;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 1em;
    margin: 0.7em 90px 0.7em 0
    }
.Basic-Paragraph39 {
    border-bottom: currentColor none 0;
    border-top: currentColor none 0;
    color: #000;
    display: block;
    font-family: "Minion Pro", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.3;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 1em;
    margin: 0.7em 51px 0.7em 0
    }
.Basic-Paragraph4 {
    border-bottom: currentColor none 0;
    border-top: currentColor none 0;
    color: #000;
    display: block;
    font-family: "Minion Pro", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.3;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 1em;
    margin: 0.7em 0 0.7em 118px
    }
.Basic-Paragraph40 {
    border-bottom: currentColor none 0;
    border-top: currentColor none 0;
    color: #000;
    display: block;
    font-family: "Minion Pro", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.3;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 1em;
    margin: 0.7em 98px 0.7em 0
    }
.Basic-Paragraph41 {
    border-bottom: currentColor none 0;
    border-top: currentColor none 0;
    color: #000;
    display: block;
    font-family: "Minion Pro", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.3;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 1em;
    margin: 0.7em 60px 0.7em 0
    }
.Basic-Paragraph42 {
    border-bottom: currentColor none 0;
    border-top: currentColor none 0;
    color: #000;
    display: block;
    font-family: "Minion Pro", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.3;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 1em;
    margin: 0.7em 0 0.7em 68px
    }
.Basic-Paragraph5 {
    border-bottom: currentColor none 0;
    border-top: currentColor none 0;
    color: #000;
    display: block;
    font-family: "Minion Pro", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.3;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 1em;
    margin: 0.7em 0 0.7em 11px
    }
.Basic-Paragraph6 {
    border-bottom: currentColor none 0;
    border-top: currentColor none 0;
    color: #000;
    display: block;
    font-family: "Minion Pro", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.3;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 1em;
    margin: 0.7em 101px 0.7em 0
    }
.Basic-Paragraph7 {
    border-bottom: currentColor none 0;
    border-top: currentColor none 0;
    color: #000;
    display: block;
    font-family: "Minion Pro", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.3;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 1em;
    margin: 0.7em 224px 0.7em 0
    }
.Basic-Paragraph8 {
    border-bottom: currentColor none 0;
    border-top: currentColor none 0;
    color: #000;
    display: block;
    font-family: "Minion Pro", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.3;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 1em;
    margin: 0.7em 0 0.7em 9px
    }
.Basic-Paragraph9 {
    border-bottom: currentColor none 0;
    border-top: currentColor none 0;
    color: #000;
    display: block;
    font-family: "Minion Pro", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.3;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 1em;
    margin: 0.7em 154px 0.7em 0
    }
.Font-Style {
    color: #000;
    font-family: "Minion Pro", serif;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.3
    }
.Font-Style1 {
    color: #000;
    font-family: "Minion Pro", serif;
    font-size: 0.88889em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.3
    }
.Font-Style2 {
    color: #000;
    font-family: "Minion Pro", serif;
    font-size: 0.66667em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.3
    }
.Font-Style3 {
    color: #000;
    font-family: "Minion Pro", serif;
    font-size: 0.77778em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.3
    }
.Font-Style4 {
    color: #000;
    font-family: "Minion Pro", serif;
    font-size: 0.66667em;
    font-style: italic;
    font-weight: normal;
    line-height: 1.3
    }
.Font-Style5 {
    color: #000;
    font-family: "Minion Pro", serif;
    font-size: 0.66667em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.3;
    vertical-align: super
    }
.Font-Style6 {
    color: #000;
    font-family: "Minion Pro", serif;
    font-size: 0.66667em;
    font-style: normal;
    font-variant: small-caps;
    font-weight: normal;
    line-height: 1.3
    }
.Font-Style7 {
    color: #000;
    font-family: "Minion Pro", serif;
    font-size: 0.77778em;
    font-style: normal;
    font-variant: small-caps;
    font-weight: normal;
    line-height: 1.3
    }
.Gvde {
    border-bottom: 0;
    border-top: 0;
    display: block;
    padding-bottom: 0;
    padding-top: 0;
    text-indent: 1em;
    margin: 0.7em 0
    }
.Hyperlink {
    color: #000080;
    font-size: 0.66667em;
    line-height: 1.3;
    text-decoration: underline
    }
.Hyperlink1 {
    color: #000080;
    font-size: 0.88889em;
    font-style: italic;
    font-weight: normal;
    line-height: 1.3;
    text-decoration: underline
    }
.Normal {
    border-bottom: currentColor none 0;
    border-top: currentColor none 0;
    color: #000;
    display: block;
    font-family: "Minion Pro", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.3;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 1em;
    margin: 0.7em 204px 0.7em 0
    }
.Style {
    border-bottom: currentColor none 0;
    border-top: currentColor none 0;
    color: #000;
    display: block;
    font-family: "Minion Pro", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.3;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 1em;
    margin: 0.7em 0
    }
.Style1 {
    border-bottom: currentColor none 0;
    border-top: currentColor none 0;
    color: #000;
    display: block;
    font-family: "Minion Pro", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.3;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 1em;
    margin: 0.7em 1px 0.7em 0
    }
.Style10 {
    border-bottom: currentColor none 0;
    border-top: currentColor none 0;
    color: #000;
    display: block;
    font-family: "Minion Pro", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.3;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 1em;
    margin: 0.7em 86px 0.7em 0
    }
.Style2 {
    border-bottom: currentColor none 0;
    border-top: currentColor none 0;
    color: #000;
    display: block;
    font-family: "Minion Pro", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.3;
    padding-bottom: 0;
    padding-top: 0;
    text-align: right;
    text-decoration: none;
    text-indent: 0;
    margin: 0.7em 1px 0.7em 0
    }
.Style3 {
    border-bottom: currentColor none 0;
    border-top: currentColor none 0;
    color: #000;
    display: block;
    font-family: "Minion Pro", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.3;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    margin: 0.7em 0
    }
.Style4 {
    border-bottom: currentColor none 0;
    border-top: currentColor none 0;
    color: #000;
    display: block;
    font-family: "Minion Pro", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.3;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 1em;
    margin: 0.7em 0 0.7em 15px
    }
.Style5 {
    border-bottom: currentColor none 0;
    border-top: currentColor none 0;
    color: #000;
    display: block;
    font-family: "Minion Pro", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.3;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 1em;
    margin: 0.7em 0 0.7em 13px
    }
.Style6 {
    border-bottom: currentColor none 0;
    border-top: currentColor none 0;
    color: #000;
    display: block;
    font-family: "Minion Pro", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.3;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 1em;
    margin: 0.7em 0 0.7em 29px
    }
.Style7 {
    border-bottom: currentColor none 0;
    border-top: currentColor none 0;
    color: #000;
    display: block;
    font-family: "Minion Pro", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.3;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 1em;
    margin: 0.7em 0 0.7em 19px
    }
.Style8 {
    border-bottom: currentColor none 0;
    border-top: currentColor none 0;
    color: #000;
    display: block;
    font-family: "Minion Pro", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.3;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 1em;
    margin: 0.7em 58px 0.7em 0
    }
.Style9 {
    border-bottom: currentColor none 0;
    border-top: currentColor none 0;
    color: #000;
    display: block;
    font-family: "Minion Pro", serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.3;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify;
    text-decoration: none;
    text-indent: 1em;
    margin: 0.7em 0 0.7em 12px
    }
.calibre {
    display: block;
    font-size: 1.125em;
    line-height: 1.3;
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
    margin: 0 4pt
    }
.calibre1 {
    border-bottom: currentColor none 0;
    border-top: currentColor none 0;
    display: block;
    line-height: 1.3;
    margin-bottom: 0.7em;
    margin-top: 0.7em;
    padding-bottom: 0;
    padding-top: 0;
    text-indent: 1em
    }
.calibre2 {
    display: block
    }
.calibre3 {
    display: block;
    line-height: 1.3
    }
.calibre4 {
    height: 545px;
    line-height: 1.3;
    width: 345px
    }
.char-style-override {
    color: #000;
    font-family: "Minion Pro", serif;
    font-size: 0.88889em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.3;
    vertical-align: super
    }
.char-style-override1 {
    color: #000;
    font-family: "Minion Pro", serif;
    font-size: 0.88889em;
    font-style: italic;
    font-weight: normal;
    line-height: 1.3;
    vertical-align: super
    }
.char-style-override2 {
    color: #000;
    font-size: 1em;
    font-style: normal;
    font-weight: bold;
    line-height: 1.3;
    vertical-align: super
    }
.char-style-override3 {
    font-size: 0.88889em;
    line-height: 1.3;
    vertical-align: super
    }
.char-style-override4 {
    line-height: 1.3;
    vertical-align: super
    }
.footnote-anchor {
    line-height: 1.3
    }
.image {
    height: 33px;
    line-height: 1.3;
    width: 277px
    }
.image1 {
    height: 24px;
    line-height: 1.3;
    width: 73px
    }
.image2 {
    height: 52px;
    width: 243px
    }
.image3 {
    height: 54px;
    width: 206px
    }
.image4 {
    height: 25px;
    width: 247px
    }
.para-style-override {
    border-bottom: currentColor none 0;
    border-top: currentColor none 0;
    display: block;
    line-height: 1.3;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
    margin: 0.7em 0
    }
