p{text-indent:0;margin-left:0;line-height:135%;margin-right:0;text-align:justify;margin-top:0;margin-bottom:.55em;font-family:Cambria,serif;font-size:100%}
.p0{text-indent:0;text-align:center}
.p1{text-indent:0;line-height:100%;text-align:center;margin-bottom:0}
.p2{text-indent:0;text-align:center;margin-bottom:0}
.p3{text-indent:0;margin-left:1.3em;margin-right:1.4em}
.p5{text-indent:0}
h1{text-indent:0;margin-left:0;margin-right:0;text-align:center;page-break-after:avoid;margin-top:5em;margin-bottom:5em;font-family:Cambria,serif;font-size:164%;font-weight:bold}
.h11{text-indent:0}
h3{text-indent:0;margin-left:0;line-height:135%;margin-right:0;text-align:center;page-break-after:avoid;margin-top:3em;margin-bottom:.86em;font-family:Cambria,serif;font-size:127%;font-weight:bold}
.h31{text-indent:0}
.t1{font-size:1.8em;line-height:135%}
.t2{font-family:"Book Antiqua",serif;font-size:.36em;line-height:135%}
.t3{font-family:"Book Antiqua",serif;font-size:2.3em;line-height:135%;font-weight:bold}
.t4{font-family:"Book Antiqua",serif;font-size:.091em;line-height:135%;font-weight:bold}
.t5{font-family:"Monotype Corsiva",cursive;font-size:.91em;line-height:100%;font-weight:bold;font-style:italic}
.t6{font-family:"Monotype Corsiva",cursive;font-size:4.4em;line-height:100%;font-weight:bold;font-style:italic}
.t7{font-size:.91em;line-height:135%;font-weight:bold}
.t8{font-size:1.3em;line-height:135%}
.t9{font-size:1.3em;line-height:135%;font-weight:bold}
.t10{font-family:"Book Antiqua",serif;font-size:1.1em;line-height:135%;font-style:italic}
.t12{font-style:italic}
.t13{font-weight:bold;font-style:italic}
.th12{font-weight:normal}
.th32{font-weight:normal}