p{text-indent:2em;margin-left:0;line-height:1.3em;margin-right:0;text-align:justify;margin-top:0;margin-bottom:0;}
.li1{font-size:91%}
.linone{list-style-type:none}
.linone1{font-size:91%;list-style-type:none}
.p0{text-indent:0;margin-left:0;line-height:.005em;text-align:left}
.p1{text-indent:0;margin-left:0;line-height:1.2em;text-align:center}
.p2{text-indent:0;margin-left:0;line-height:.99em;text-align:center;margin-top:.58em}
.p3{text-indent:0;margin-left:0;line-height:.99em;text-align:center;margin-top:.99em}
.p4{text-indent:0;margin-left:6.7em;line-height:1.2em;margin-right:6.2em;text-align:center}
.p5{text-indent:0;margin-left:6.7em;line-height:.99em;margin-right:6.2em;text-align:center;margin-top:.75em}
.p6{text-indent:0;margin-left:2.1em;line-height:100%;text-align:center}
.p7{text-indent:0;margin-left:5.4em;line-height:100%}
.p8{text-indent:2.1em;margin-left:-1.4em;line-height:.99em;margin-top:.96em}
.p9{text-indent:0;margin-left:0;line-height:.99em;margin-right:.05em}
.p10{text-indent:0;margin-left:0;line-height:115%;text-align:left;margin-top:2.4em}
.p11{text-indent:0;margin-left:0;line-height:1.2em;text-align:left;margin-bottom:.5em}
.p12{text-indent:0;margin-left:0;line-height:100%;text-align:left}
.p13{text-indent:-1.8em;margin-left:3.6em;line-height:1.2em;text-align:left;margin-bottom:.2em}
.p14{text-indent:0;margin-left:0;line-height:1.2em;text-align:left}
.p15{text-indent:0;margin-left:2em;line-height:100%;text-align:left;margin-top:.17em}
.p16{text-indent:2em;margin-left:0;line-height:1.2em;margin-right:.05em}
.p17{text-indent:2em;margin-left:0;line-height:1.2em}
.p18{text-indent:0;margin-left:22em;line-height:100%;text-align:right}
.p19{text-indent:0;margin-left:19em;line-height:100%;text-align:right;margin-top:.19em}
.p20{text-indent:0;margin-left:2.1em;line-height:.99em;text-align:left;margin-top:.19em}
.p21{text-indent:-.72em;margin-left:19em;line-height:.99em;margin-right:4.9em;text-align:center}
.p22{text-indent:0;margin-left:2em;line-height:1.2em;margin-top:.05em}
.p23{text-indent:2em;margin-left:0;line-height:1.2em}
.p24{text-indent:0;margin-left:2.1em;line-height:1.2em;text-align:right;margin-top:.025em}
.p25{text-indent:0;margin-left:22em;line-height:1.2em;text-align:right}
.p26{text-indent:0;margin-left:18em;line-height:1.2em;text-align:right}
.p27{text-indent:2.8em;margin-left:-2.8em;line-height:100%;margin-right:-3.2em}
.p28{text-indent:2.8em;margin-left:-2.8em;line-height:1.2em;margin-right:-3.2em}
.p29{text-indent:2.8em;margin-left:-2.8em;line-height:1.2em;margin-right:-3.2em;text-align:left}
.p30{text-indent:0;margin-left:7.3em;line-height:100%;text-align:left;margin-top:.12em}
.p31{text-indent:0;margin-left:7.3em;line-height:100%;text-align:right;margin-top:.12em}
.p32{text-indent:0;margin-left:7.2em;line-height:100%;text-align:right;margin-top:.22em}
.p33{text-indent:0;margin-left:7.2em;line-height:100%;margin-top:.22em}
.p34{text-indent:0;margin-left:-2.8em;line-height:2.7em;margin-right:-2.8em;text-align:center}
.p35{text-indent:0;margin-left:-2.8em;line-height:3em;margin-right:-2.8em;text-align:center;margin-top:.29em}
.p36{text-indent:0;margin-left:-2.8em;line-height:3em;margin-right:-2.8em;text-align:center}
.p37{text-indent:0;margin-left:3em;line-height:1.2em;margin-right:4.9em;text-align:center}
.p38{text-indent:0;margin-left:3em;line-height:1.5em;margin-right:4.9em;text-align:center;margin-top:.07em}
.p39{text-indent:2.1em;margin-left:0;line-height:1.2em;text-align:left}
.p40{text-indent:2.1em;margin-left:0;margin-top:.82em}
.p41{text-indent:2em;margin-left:0}
.p42{text-indent:2em;margin-left:0}
.p43{text-indent:2em;margin-left:0}
.p45{text-indent:1.9em;margin-left:0}
.p46{text-indent:2em;margin-left:0;margin-right:.095em;margin-top:.025em}
.p47{text-indent:2em;margin-left:0;margin-right:.095em}
.p48{text-indent:1.9em;margin-left:0}
.p49{text-indent:0;margin-left:2.1em;text-align:left}
.p50{text-indent:0;margin-left:2em;text-align:left}
.p51{text-indent:0;margin-left:2em;text-align:left}
.p52{text-indent:0;margin-left:18em;line-height:1.2em;text-align:left}
.p53{text-indent:0;margin-left:18em;line-height:100%;text-align:right;margin-top:.19em}
.p54{text-indent:0;margin-left:18em;line-height:100%;text-align:right;margin-top:.39em}
.p55{text-indent:0;margin-left:0;line-height:100%}
.p56{text-indent:2em;margin-left:0;margin-right:.05em;margin-top:1.2em}
.p57{text-indent:0;margin-left:0;text-align:left}
.p58{text-indent:2em;margin-left:0;margin-right:.07em}
.p59{text-indent:0;margin-left:0;text-align:right}
.p60{text-indent:0;margin-left:0}
.p61{text-indent:0;margin-left:0;text-align:left;margin-top:.095em}
.p62{text-indent:0;margin-left:3.7em;text-align:left}
.p63{text-indent:3.6em;margin-left:0;text-align:left}
.p64{text-indent:3.6em;margin-left:0;text-align:left}
.p65{text-indent:0;margin-left:3.7em;text-align:left}
.p66{text-indent:3.7em;margin-left:0;margin-right:16em;text-align:left}
.p67{text-indent:0;margin-left:0;margin-top:.025em}
.p68{text-indent:3.5em;margin-left:0;text-align:left}
.p69{text-indent:0;margin-left:3.7em;text-align:left}
.p70{text-indent:-3.7em;margin-left:3.7em;text-align:left}
.p71{text-indent:-3.6em;margin-left:3.6em;text-align:left}
.p72{text-indent:0;margin-left:0;text-align:left;margin-top:.025em}
.p73{text-indent:-3.6em;margin-left:3.6em;text-align:left}
.p74{text-indent:0;margin-left:2.5em;line-height:1.2em}
.p75{text-indent:0;margin-left:2.5em;line-height:1.3em;margin-top:.07em}
.p76{text-indent:0;margin-left:2.5em;text-align:left}
.p77{text-indent:0;margin-left:2.5em;text-align:left}
.p78{text-indent:2em;margin-left:0;line-height:1.2em}
.p79{text-indent:2em;margin-left:0;margin-top:.12em}
.p80{text-indent:0;margin-left:2em;text-align:left}
.p81{text-indent:2em;margin-left:0;margin-top:.095em}
.p82{text-indent:2em;margin-left:0;margin-right:.07em}
.p83{text-indent:2.1em;margin-left:0}
.p84{text-indent:2em;margin-right:.025em}
.p85{text-indent:2em;margin-left:0;margin-right:.025em;margin-top:.025em}
.p86{text-indent:1.9em;margin-left:0;margin-right:.07em}
.p87{text-indent:0;margin-left:0;line-height:1.2em}
.p88{text-indent:0;margin-left:0;line-height:.96em;margin-top:.75em}
.p89{text-indent:0;margin-left:0;line-height:1.5em;text-align:left;margin-top:.2em}
.p90{text-indent:0;margin-left:11em;line-height:100%;text-align:right;margin-top:.55em}
.p91{text-indent:0;margin-left:11em;line-height:100%;margin-top:.55em}
.p92{text-indent:2em;margin-top:1.2em}
.p93{text-indent:0;margin-left:7.4em;line-height:1.2em;margin-right:10em;text-align:left}
.p94{text-indent:0;margin-left:7.4em;line-height:1.3em;margin-right:10em;text-align:left;margin-top:.05em}
.p95{text-indent:2em;line-height:1.2em}
.p96{text-indent:2em;margin-top:.07em}
.p97{text-indent:0;margin-left:0;line-height:100%;margin-top:.51em}
.p98{text-indent:1.9em;margin-left:0;line-height:1.3em;text-align:left}
.p99{text-indent:0;margin-left:3.5em;line-height:1.2em;text-align:left}
.p100{text-indent:0;margin-left:3.5em;line-height:1.8em;text-align:left;margin-top:.17em}
.p101{text-indent:0;margin-left:3.5em;line-height:1.8em;text-align:center;margin-top:.17em}
.p102{text-indent:0;margin-left:1.3em;line-height:1.2em;margin-top:.82em}
.p103{text-indent:2em;margin-left:0;line-height:1.2em;margin-right:.51em}
.p104{text-indent:2em;margin-left:0;margin-right:.51em;margin-top:.095em}
.p105{text-indent:0;margin-left:0;line-height:1.2em;margin-right:.48em;text-align:center}
.p106{text-indent:0;margin-left:0;line-height:100%;margin-right:.48em;text-align:center;margin-top:.29em}
.p107{text-indent:2em;margin-left:0;margin-top:.12em}
.p108{text-indent:1.9em;margin-left:0;margin-top:.025em}
.p109{text-indent:0;margin-left:2.4em;text-align:left;margin-top:.27em}
.p110{text-indent:0;margin-left:2.4em;text-align:left}
.p111{text-indent:0;margin-left:2.4em;text-align:left}
.p112{text-indent:0;margin-left:2.4em;text-align:left;margin-top:.025em}
.p113{text-indent:0;margin-left:2.5em;text-align:left}
.p114{text-indent:2.3em;margin-left:0;margin-right:.095em}
.p115{text-indent:2em;margin-left:0;margin-top:.025em}
.p116{text-indent:0;margin-left:2.8em;margin-right:18em;text-align:left;margin-top:.27em}
.p117{text-indent:0;margin-left:2.8em;margin-right:16em;text-align:left;margin-top:.025em}
.p118{text-indent:2em;margin-left:0;margin-right:.05em}
.p119{text-indent:2em;margin-left:0;margin-top:.025em}
.p120{text-indent:2em;margin-left:0;margin-top:.025em}
.p121{text-indent:2.6em;margin-left:0;margin-right:.29em}
.p122{text-indent:2em;margin-right:.17em}
.p123{text-indent:2em;margin-left:0;margin-right:.07em}
.p124{text-indent:0;margin-left:2.2em;text-align:left}
.p125{text-indent:0;margin-left:2.2em;text-align:center}
.p126{text-indent:0;margin-left:2.1em;text-align:left;margin-top:.29em}
.p127{text-indent:0;margin-left:2.1em;text-align:left}
.p128{text-indent:2em;margin-left:0;margin-right:.025em;margin-top:.025em}
.p129{text-indent:2em;margin-left:0;margin-right:.025em}
.p130{text-indent:0;margin-left:2.1em;text-align:left}
.p131{text-indent:0;margin-left:2.1em;margin-right:8.1em;text-align:left}
.p132{text-indent:0;margin-left:2.1em;text-align:left}
.p133{text-indent:2em;margin-right:.07em}
.p134{text-indent:2.4em;margin-left:0;margin-right:.12em;margin-top:.025em}
.p135{text-indent:2em;margin-left:0;margin-top:1.1em}
.p136{text-indent:2em;margin-left:0;margin-right:.025em}
.p137{text-indent:0;margin-left:3.6em;line-height:1.2em;text-align:left}
.p138{text-indent:0;margin-left:3.6em;text-align:left;margin-top:.095em}
.p139{text-indent:0;margin-left:2em;line-height:1.2em;text-align:left}
.p140{text-indent:0;margin-left:2em;margin-top:.07em}
.p141{text-indent:1.9em;margin-left:0}
.p142{text-indent:2em;margin-left:0;margin-right:.025em}
.p143{text-indent:0;margin-left:2em;text-align:left}
.p144{text-indent:2.1em;margin-left:0;text-align:left}
.p145{text-indent:2.1em;margin-left:0}
.p146{text-indent:2em;margin-left:0;margin-top:.27em}
.p147{text-indent:2.4em;margin-left:0;line-height:1.3em;margin-right:.025em}
.p148{text-indent:2em;margin-left:0;line-height:1.3em}
.p149{text-indent:2em;margin-left:0;line-height:1.2em;margin-right:.025em}
.p150{text-indent:2em;margin-left:0;line-height:1.3em;margin-right:.025em;margin-top:.24em}
.p151{text-indent:0;margin-left:2.1em;line-height:100%;text-align:left;margin-top:.095em}
.p152{text-indent:0;margin-left:2.8em;text-align:left}
.p153{text-indent:0;margin-left:2.9em;margin-right:6.1em;text-align:left}
.p154{text-indent:0;margin-left:2.8em;text-align:left;margin-top:.025em}
.p155{text-indent:0;margin-left:2.9em;text-align:left}
.p156{text-indent:0;margin-left:2.9em;text-align:left;margin-top:.025em}
.p157{text-indent:0;margin-left:0;margin-right:.05em}
.p158{text-indent:2em;margin-left:0;margin-right:.05em}
.p159{text-indent:2em;margin-left:0;text-align:center}
.p160{text-indent:0;margin-left:2.2em;text-align:left}
.p161{text-indent:0;margin-left:2.1em;line-height:1.3em;text-align:left;margin-top:.025em}
.p162{text-indent:0;margin-left:2.2em;line-height:1.3em;text-align:left}
.p163{text-indent:0;margin-left:2.1em;line-height:1.3em;text-align:left}
.p164{text-indent:2em;margin-left:0;line-height:1.2em}
.p165{text-indent:0;margin-left:2.4em;text-align:left}
.p166{text-indent:2em;margin-left:0;margin-right:.05em}
.p167{text-indent:0;margin-left:0;line-height:.99em;margin-top:.63em}
.p168{text-indent:2em;text-align:left}
.p169{text-indent:2.1em;margin-left:0;margin-top:.025em}
.p170{text-indent:2.4em;margin-left:0}
.p171{text-indent:2.1em;margin-left:0}
.p172{text-indent:2.1em;margin-left:0;margin-right:.025em}
.p173{text-indent:0;margin-left:2.9em;text-align:left;margin-top:.025em}
.p174{text-indent:0;margin-left:2.1em;margin-right:10em;text-align:left}
.p175{text-indent:0;margin-left:2.1em;margin-right:14em;text-align:left}
.p176{text-indent:0;margin-left:2.1em;margin-right:6.1em;text-align:left}
.p177{text-indent:0;margin-left:2.1em;text-align:left;margin-top:.025em}
.p178{text-indent:2.1em;margin-left:0;margin-right:.48em}
.p179{text-indent:2em;margin-left:0;margin-right:.48em}
.p180{text-indent:2.1em;margin-left:0;text-align:left}
.p181{text-indent:2em;margin-right:.46em}
.p182{text-indent:0;margin-left:2.1em;text-align:left;margin-top:.025em}
.p183{text-indent:2em;margin-left:0;margin-right:.05em;margin-top:.27em}
.p184{text-indent:0;margin-left:2.1em;margin-right:12em;text-align:left}
.p185{text-indent:0;margin-left:2.1em;margin-right:8.1em;text-align:left}
.p186{text-indent:2em;margin-top:.025em}
.p187{text-indent:2.1em;margin-left:0;margin-right:.05em}
.p188{text-indent:0;margin-left:2.1em;text-align:left;margin-top:.025em}
.p189{text-indent:1.4em;margin-left:0}
.p190{text-indent:2em;margin-left:0;margin-right:.12em}
.p191{text-indent:2em;margin-left:0;margin-right:.05em;margin-top:.025em}
.p192{text-indent:2.1em;margin-left:0;margin-right:.025em}
.p193{text-indent:2.3em;margin-left:0}
.p194{text-indent:2em;margin-right:.025em;margin-top:.025em}
.p195{text-indent:0;margin-left:2.6em;text-align:left}
.p196{text-indent:2.5em;margin-left:0;margin-right:.025em}
.p197{text-indent:0;margin-left:2.1em;line-height:1.2em;text-align:left}
.p198{text-indent:0;margin-left:2.1em;line-height:1.3em;text-align:left;margin-top:.05em}
.p199{text-indent:0;margin-left:2.5em;text-align:left}
.p200{text-indent:2em;margin-left:0;text-align:left}
.p201{text-indent:0;margin-left:2.5em;text-align:left;margin-top:.025em}
.p202{text-indent:0;margin-left:2.6em;text-align:left}
.p203{text-indent:2.1em;margin-left:0;margin-right:.46em}
.p204{text-indent:1.9em;margin-left:0;margin-right:.025em}
.p205{text-indent:2em;margin-left:0;margin-right:.07em;margin-top:.025em}
.p206{text-indent:0;margin-left:2.3em;text-align:left}
.p207{text-indent:0;margin-left:2.3em;text-align:left}
.p208{text-indent:0;margin-left:2.3em;text-align:left}
.p209{text-indent:0;margin-left:2.3em;line-height:100%;text-align:left;margin-top:.095em}
.p210{text-indent:0;margin-left:2.3em;line-height:100%;text-align:left;margin-top:.12em}
.p211{text-indent:-2em;margin-left:2em;margin-right:14em;text-align:left}
.p212{text-indent:2em;margin-left:0;margin-right:.095em}
.p213{text-indent:0;margin-left:0;margin-right:.07em}
.p214{text-indent:1.9em;margin-left:0;margin-right:.05em}
.p215{text-indent:0;margin-left:2em;margin-right:12em;text-align:left;margin-top:.025em}
.p216{text-indent:1.9em;margin-left:0;margin-right:.07em}
.p217{text-indent:1.8em;margin-left:0;margin-top:.025em}
.p218{text-indent:0;margin-left:2em;text-align:left;margin-top:.025em}
.p219{text-indent:2.1em;margin-left:0;margin-right:.46em}
.p220{text-indent:0;margin-left:0;margin-right:.46em;text-align:right}
.p221{text-indent:0;margin-left:2.4em;text-align:left;margin-top:.025em}
.p222{text-indent:0;margin-left:2.4em;text-align:left}
.p223{text-indent:.36em;margin-left:0;text-align:left}
.p224{text-indent:0;margin-left:0;line-height:100%;text-align:left;margin-top:.12em}
.p225{text-indent:2em;margin-left:0;margin-right:.63em;margin-top:1.2em}
.p226{text-indent:0;margin-left:2.1em;text-align:left;margin-top:.025em}
.p227{text-indent:0;margin-left:2.2em;text-align:left;margin-top:.025em}
.p228{text-indent:-2.1em;margin-left:2.1em;margin-right:14em;text-align:left}
.p229{text-indent:2.1em;margin-left:0;margin-right:.05em}
.p230{text-indent:2.1em;margin-left:0;margin-right:.05em;margin-top:.025em}
.p231{text-indent:2em;margin-left:0;line-height:1.2em}
.p232{text-indent:2em;margin-left:0;line-height:1.3em;margin-top:.22em}
.p233{text-indent:0;margin-left:2.5em;text-align:left;margin-top:.025em}
.p234{text-indent:2.1em;margin-left:0;margin-right:.07em}
.p235{text-indent:2em;margin-top:.05em}
.p236{text-indent:1.9em;margin-left:0;margin-right:.025em}
.p237{text-indent:0;margin-left:2.1em}
.p238{text-indent:0;margin-left:2em;margin-right:6.1em;text-align:left}
.p239{text-indent:0;margin-left:2.1em;margin-right:6.1em;text-align:left}
.p240{text-indent:2.1em;margin-left:0;margin-right:.12em}
.p241{text-indent:1.9em;margin-left:0;margin-right:.05em}
.p242{text-indent:0;margin-left:0;margin-right:.095em}
.p243{text-indent:0;margin-left:2.1em;line-height:100%;text-align:left;margin-top:.12em}
.p244{text-indent:0;margin-left:2.1em;margin-right:18em;text-align:left}
.p245{text-indent:0;margin-left:2.1em;margin-right:6.1em;text-align:left}
.p246{text-indent:0;margin-left:2.1em;line-height:100%;text-align:left;margin-top:.07em}
.p247{text-indent:0;margin-left:2.1em;line-height:100%;text-align:left;margin-top:.15em}
.p248{text-indent:0;margin-left:2em;line-height:100%;text-align:left;margin-top:.12em}
.p249{text-indent:0;margin-left:2em;line-height:100%;text-align:left;margin-top:.095em}
.p250{text-indent:0;margin-left:2.5em;text-align:left}
.p251{text-indent:1.7em;margin-left:0}
.p252{text-indent:0;margin-left:2.5em;text-align:left;margin-top:.025em}
.p253{text-indent:0;margin-left:2.6em;margin-right:6.1em;text-align:left}
.p254{text-indent:0;margin-left:2.6em;text-align:left}
.p255{text-indent:-2em;margin-left:2em;margin-right:8.1em;text-align:left}
.p256{text-indent:0;margin-left:2em;margin-right:20em;text-align:left}
.p257{text-indent:2.1em;margin-left:0;margin-right:.07em}
.p258{text-indent:2em;margin-left:0;text-align:left;margin-top:.025em}
.p259{text-indent:2em;margin-left:0;margin-right:.34em}
.p260{text-indent:2em;margin-left:0;line-height:1.3em}
.p261{text-indent:1.9em;margin-left:0;line-height:1.3em}
.p262{text-indent:0;margin-left:2em;line-height:1.3em;text-align:left}
.p263{text-indent:1.9em;margin-left:0;margin-right:.07em;margin-top:1.1em}
.p264{text-indent:0;margin-left:2.5em;margin-right:6.1em;text-align:left}
.p265{text-indent:0;margin-left:0;line-height:100%;text-align:left;margin-top:.095em}
.p266{text-indent:2em;margin-left:0;margin-top:.05em}
.p267{text-indent:2em;margin-right:.095em}
.p268{text-indent:0;margin-left:2em}
.p269{text-indent:2em;margin-left:0;margin-right:.025em;margin-top:.24em}
.p270{text-indent:0;margin-left:2.1em;line-height:100%;text-align:left}
.p271{text-indent:0;margin-left:2.1em;line-height:1.3em;text-align:left}
.p272{text-indent:2em;line-height:1.3em}
.p273{text-indent:0;margin-left:2.1em;margin-right:16em;text-align:left}
.p274{text-indent:2.3em;margin-left:0}
.p275{text-indent:0;margin-left:2.1em;line-height:100%;text-align:left;margin-top:.095em}
.p276{text-indent:0;margin-left:2.1em;line-height:100%;text-align:left;margin-top:.15em}
.p277{text-indent:0;margin-left:2.1em;line-height:1.3em;margin-right:20em;text-align:left}
.p278{text-indent:0;margin-left:2.1em;line-height:100%;text-align:left;margin-top:.095em}
.p279{text-indent:0;margin-left:2em;line-height:100%;text-align:left;margin-top:.095em}
.p280{text-indent:2em;margin-right:.05em}
.p281{text-indent:2.1em;margin-left:0;margin-right:.05em}
.p282{text-indent:0;margin-left:2.1em;line-height:100%;text-align:left;margin-top:.15em}
.p283{text-indent:0;margin-left:2.1em;margin-right:10em;text-align:left}
.p284{text-indent:2em;margin-left:0;margin-right:.07em;margin-top:.025em}
.p285{text-indent:0;margin-left:2.1em;margin-top:.025em}
.p286{text-indent:-.67em;margin-left:.67em;margin-right:.025em}
.p287{text-indent:0;margin-left:2.7em;text-align:left}
.p288{text-indent:0;margin-left:2.7em;text-align:left;margin-top:.025em}
.p289{text-indent:0;margin-left:2.7em;text-align:left}
.p290{text-indent:0;margin-left:2.1em;line-height:100%;text-align:left;margin-top:.12em}
.p291{text-indent:0;margin-left:2.2em;text-align:left;margin-top:.025em}
.p292{text-indent:2.1em;margin-left:0;margin-right:.025em}
.p293{text-indent:1.9em;margin-left:0;margin-right:.05em;margin-top:1.2em}
.p294{text-indent:0;margin-left:2.2em}
.p295{text-indent:0;margin-left:2.1em}
.p296{text-indent:0;margin-left:2.1em;margin-right:10em}
.p297{text-indent:0;margin-left:2.2em}
.p298{text-indent:0;margin-left:0;line-height:100%;margin-top:.12em}
.p299{text-indent:0;margin-left:2.2em;margin-right:19em;margin-top:.025em}
.p300{text-indent:0;margin-left:2.2em;margin-right:16em}
.p301{text-indent:0;margin-left:2.2em}
.p302{text-indent:0;margin-left:2.1em;margin-right:8.1em}
.p303{text-indent:0;margin-left:14em;line-height:1.2em;text-align:left}
.p304{text-indent:0;margin-left:14em;line-height:100%;text-align:left;margin-top:.025em}
.p305{text-indent:2em;margin-left:0;margin-top:.34em}
.p306{text-indent:0;margin-left:2.1em;margin-right:10em;text-align:left;margin-top:.025em}
.p307{text-indent:2.1em;margin-left:0;margin-right:.025em;margin-top:.025em}
.p308{text-indent:2.1em;margin-left:0;margin-right:.025em;margin-top:.05em}
.p309{text-indent:0;margin-left:15em;line-height:1.2em;text-align:left}
.p310{text-indent:0;margin-left:15em;line-height:100%;text-align:left;margin-top:.025em}
.p311{text-indent:1.9em;margin-left:0;line-height:1.2em}
.p312{text-indent:1.9em;margin-left:0;margin-top:.39em}
.p313{text-indent:0;margin-left:2.6em;text-align:left}
.p314{text-indent:2em;margin-left:0;margin-right:.19em}
.p315{text-indent:1.9em;margin-left:0;margin-right:.19em}
.p316{text-indent:1.9em;margin-left:0}
.p317{text-indent:0;margin-left:2.5em;text-align:left;margin-top:.025em}
.p318{text-indent:2em;margin-left:0;line-height:1.3em;margin-right:.07em}
.p319{text-indent:2.1em;margin-left:0;line-height:1.3em;margin-right:.05em}
.p320{text-indent:0;margin-left:2.1em;line-height:1.3em;text-align:left}
.p321{text-indent:0;margin-left:2em;text-align:left;margin-top:.025em}
.p322{text-indent:0;margin-left:2.2em;text-align:left;margin-top:.05em}
.p323{text-indent:0;margin-left:2.1em;margin-right:10em;text-align:left}
.p324{text-indent:2em;margin-left:0;margin-right:.12em}
.p325{text-indent:2em;margin-left:0;margin-right:.095em}
.p326{text-indent:0;margin-left:-2.8em;line-height:1.5em;margin-right:-3.5em;text-align:left}
.p327{text-indent:0;margin-left:9.6em;line-height:1.2em}
.p328{text-indent:0;margin-left:9.6em;line-height:100%;margin-top:.39em}
.p329{text-indent:1.9em;margin-left:0;margin-right:.05em;margin-top:1.2em}
.p330{text-indent:2.1em;margin-left:0;margin-right:.095em}
.p331{text-indent:2.5em;margin-left:0}
.p332{text-indent:1.9em;margin-left:0;margin-right:.025em;margin-top:.025em}
.p333{text-indent:0;margin-left:1.5em;text-align:left}
.p334{text-indent:2.2em;margin-left:0;margin-right:.07em}
.p335{text-indent:0;margin-left:2.2em;text-align:left}
.p336{text-indent:0;margin-left:2.2em;text-align:left}
.p337{text-indent:2em;margin-right:.05em;margin-top:.025em}
.p338{text-indent:0;margin-left:2em;margin-right:18em;text-align:left}
.p339{text-indent:1.9em;margin-left:0;text-align:left;margin-top:.025em}
.p340{text-indent:1.9em;margin-left:0;margin-top:.025em}
.p341{text-indent:1.9em;margin-left:0;text-align:left}
.p342{text-indent:0;margin-left:2.6em;text-align:left;margin-top:.025em}
.p343{text-indent:2em;margin-right:.55em}
.p344{text-indent:2em;margin-left:0;margin-top:1.2em}
.p345{text-indent:1.1em;margin-left:0;text-align:left}
.p346{text-indent:2.1em;margin-left:0;margin-right:.07em}
.p347{text-indent:0;margin-left:2em;margin-right:12em;text-align:left}
.p348{text-indent:0;margin-left:2em;margin-right:14em;text-align:left}
.p349{text-indent:0;margin-left:0;text-align:center}
.p350{text-indent:0;margin-left:2em;margin-right:10em}
.p351{text-indent:0;margin-left:2.7em;text-align:left}
.p352{text-indent:2em;margin-left:0;margin-right:.17em}
.p353{text-indent:0;margin-left:0;line-height:1.3em;text-align:left}
.p354{text-indent:0;margin-left:2em;line-height:1.3em;text-align:left}
.p355{text-indent:2em;margin-left:0;margin-right:.19em}
.p356{text-indent:2em;margin-left:0;margin-right:.39em}
.p357{text-indent:2em;margin-left:0;margin-right:.34em}
.p358{text-indent:2em;margin-right:.34em;margin-top:.025em}
.p359{text-indent:2em;margin-left:0;margin-right:.34em}
.p360{text-indent:2.1em;margin-left:0;margin-right:.36em}
.p361{text-indent:2.1em;margin-left:0;margin-right:.39em}
.p362{text-indent:0;margin-left:0;text-align:left;margin-top:.05em}
.p363{text-indent:2.1em;margin-left:0;margin-right:.095em}
.p364{text-indent:0;margin-left:0;margin-right:.025em;text-align:right}
.p365{text-indent:0;margin-left:2.1em;line-height:100%;text-align:left;margin-top:.12em}
.p366{text-indent:2.2em;margin-left:0;margin-top:1.2em}
.p367{text-indent:0;margin-left:0;line-height:.96em;margin-top:.65em}
.p368{text-indent:2.1em;margin-left:0;line-height:1.3em;margin-right:.025em}
.p369{text-indent:2em;margin-left:0;line-height:1.3em;margin-right:.025em}
.p370{text-indent:2.3em;margin-left:0}
.p371{text-indent:0;margin-left:2.1em;margin-right:12em;text-align:left}
.p372{text-indent:2em;margin-left:0;line-height:1.3em}
.p373{text-indent:2em;margin-left:0;margin-top:.22em}
.p374{text-indent:0;margin-left:14em;line-height:100%;text-align:left;margin-top:1.2em}
.p375{text-indent:2em;margin-left:0;margin-top:.39em}
.p376{text-indent:0;margin-left:2.1em;line-height:100%;text-align:left;margin-top:.07em}
.p377{text-indent:1.3em;margin-left:0;margin-right:.025em}
.p378{text-indent:1.1em;margin-left:0}
.p379{text-indent:2em;margin-left:0;margin-top:1.1em}
.p380{text-indent:0;margin-left:2.3em;text-align:left}
.p381{text-indent:2.1em;margin-left:0;margin-right:.27em}
.p382{text-indent:2em;margin-left:0;margin-right:.29em}
.p383{text-indent:2em;margin-right:.34em}
.p384{text-indent:0;margin-left:2.3em;text-align:left;margin-top:.025em}
.p385{text-indent:0;margin-left:2.2em;text-align:left;margin-top:.025em}
.p386{text-indent:2.4em;margin-left:0;margin-right:.12em}
.p387{text-indent:0;margin-left:2.4em;text-align:left;margin-top:.025em}
.p388{text-indent:0;margin-left:0;line-height:.96em;margin-top:.67em}
.p389{text-indent:2.1em;margin-left:0}
.p390{text-indent:2.4em;margin-left:0;margin-right:.05em}
.p391{text-indent:0;margin-left:2em;text-align:left;margin-top:.025em}
.p392{text-indent:0;margin-left:2.1em;margin-right:18em;text-align:left}
.p393{text-indent:2.4em;margin-left:0}
.p394{text-indent:0;margin-left:2.1em;line-height:1.3em;margin-right:20em;text-align:left}
.p395{text-indent:0;margin-left:2.1em;margin-right:12em;text-align:left}
.p396{text-indent:0;margin-left:2.1em;text-align:left;margin-top:.07em}
.p397{text-indent:0;margin-left:2.4em;margin-right:12em;text-align:left}
.p398{text-indent:2.1em;margin-left:0;margin-right:.05em;margin-top:.025em}
.p399{text-indent:2em;margin-left:0;margin-right:.05em;margin-top:.05em}
.p400{text-indent:0;margin-left:2.1em;line-height:1.3em;text-align:left}
.p401{text-indent:2.1em;margin-left:0;line-height:1.3em;text-align:left}
.p402{text-indent:0;margin-left:2.2em;line-height:1.3em;text-align:left}
.p403{text-indent:2.1em;margin-left:0;line-height:1.4em}
.p404{text-indent:0;margin-left:2.1em;line-height:100%;text-align:left;margin-top:.025em}
.p405{text-indent:.36em;margin-left:2em;line-height:1.2em}
.p406{text-indent:.36em;margin-left:2em;margin-top:.07em}
.p407{text-indent:0;margin-left:14em;line-height:1.2em;margin-right:6.1em;text-align:left}
.p408{text-indent:0;margin-left:2.8em;line-height:1.3em;margin-right:2.8em;text-align:right;margin-top:.095em}
.p409{text-indent:0;margin-left:2.8em;line-height:100%;margin-right:2.8em;text-align:right;margin-top:.095em}
.p410{text-indent:2em;margin-left:0;line-height:1.2em;margin-right:.025em}
.p411{text-indent:2em;margin-left:0;margin-right:.025em;margin-top:.095em}
.p412{text-indent:0;margin-left:0;line-height:100%;margin-right:22em;text-align:right}
.p413{text-indent:2em;margin-left:0;line-height:1.2em;margin-right:.07em}
.p414{text-indent:2em;margin-left:0;margin-right:.07em;margin-top:.15em}
.p415{text-indent:1.2em;margin-left:0}
.p416{text-indent:0;margin-left:2.1em;line-height:1.3em;margin-right:16em}
.p417{text-indent:2.1em;margin-left:0;line-height:1.3em}
.p418{text-indent:2.1em;margin-left:0;margin-top:.025em}
.p419{text-indent:2em;margin-right:.05em;margin-top:.29em}
.p420{text-indent:2em;margin-left:0;text-align:left}
.p421{text-indent:0;margin-left:2.7em;text-align:left}
.p422{text-indent:0;margin-left:15em;line-height:1.2em;text-align:left}
.p423{text-indent:0;margin-left:15em;line-height:100%;text-align:left;margin-top:.24em}
.p424{text-indent:2em;margin-left:0;margin-top:.15em}
.p425{text-indent:0;margin-left:2em;margin-right:16em;text-align:left}
.p426{text-indent:.89em;margin-left:0}
.p427{text-indent:2.1em;margin-left:0;line-height:1.3em;margin-top:.025em}
.p428{text-indent:1.9em;margin-left:0;line-height:1.3em}
.p429{text-indent:2em;margin-left:0;line-height:1.3em}
.p430{text-indent:2em;margin-left:0;line-height:1.3em;margin-top:.29em}
.p431{text-indent:0;margin-left:0;line-height:100%;text-align:left;margin-top:.36em}
.p432{text-indent:2em;line-height:1.3em;margin-right:.07em}
.p433{text-indent:0;margin-left:2em;line-height:1.3em;margin-right:20em;text-align:left}
.p434{text-indent:2em;line-height:1.3em;margin-right:.025em}
.p435{text-indent:0;margin-left:2em;line-height:100%;text-align:left;margin-top:.12em}
.p436{text-indent:0;margin-left:2em;margin-right:8.1em;text-align:left;margin-top:.025em}
.p437{text-indent:0;margin-left:2.1em;margin-right:20em;text-align:left}
.p438{text-indent:0;margin-left:2.1em;margin-right:14em;text-align:left}
.p439{text-indent:0;margin-left:0;line-height:100%;text-align:left;margin-top:.46em}
.p440{text-indent:-2.1em;margin-left:2.1em;margin-right:14em;text-align:left}
.p441{text-indent:0;margin-left:0;margin-right:.07em;margin-top:1.2em}
.p442{text-indent:0;margin-left:0;line-height:1.2em;margin-right:.05em}
.p443{text-indent:0;margin-left:0;line-height:1.3em;margin-right:.05em;margin-top:.05em}
.p444{text-indent:0;margin-left:0;line-height:1.3em;margin-top:.025em}
.p445{text-indent:0;margin-left:0;line-height:100%;margin-top:.22em}
.p446{text-indent:0;margin-left:0;line-height:1.3em}
.p447{text-indent:0;margin-left:0;line-height:1.3em;margin-top:.07em}
.p448{text-indent:0;margin-left:0;margin-top:.12em}
.p449{text-indent:0;margin-left:2.9em;line-height:1.2em}
.p450{text-indent:0;margin-left:2.9em;line-height:1.3em;margin-top:.07em}
.p451{text-indent:0;margin-left:2.8em;text-align:left}
.p452{text-indent:0;margin-left:2.8em;line-height:1.2em}
.p453{text-indent:0;margin-left:2.8em;margin-top:.095em}
.p454{text-indent:0;margin-left:0;line-height:100%;margin-top:.77em}
.p455{text-indent:0;margin-left:0;line-height:100%;margin-top:.095em}
.p456{text-indent:0;margin-left:19em;line-height:100%;margin-right:3.7em;text-align:left}
.p457{text-indent:2.1em;margin-left:0;line-height:1.3em;margin-right:.65em}
.p458{text-indent:2.1em;margin-left:0;line-height:1.3em;margin-right:.55em}
.p459{text-indent:2em;margin-left:0;line-height:1.3em;margin-right:.55em}
.p460{text-indent:0;margin-left:0;line-height:100%;text-align:center;margin-top:.025em}
.p461{text-indent:0;margin-left:2.9em;margin-top:.39em}
.p462{text-indent:0;margin-left:14em;line-height:1.2em;text-align:left}
.p463{text-indent:0;margin-left:14em;line-height:100%;text-align:left;margin-top:.05em}
.p464{text-indent:2.5em;margin-left:0;margin-top:.025em}
.p465{text-indent:.53em;margin-left:1.6em;margin-right:10em;text-align:left}
.p466{text-indent:2.2em;margin-left:0;margin-right:.05em}
.p467{text-indent:0;margin-left:2.1em;margin-right:12em;text-align:left}
.p468{text-indent:2em;margin-right:.15em}
.p469{text-indent:0;margin-left:2em;margin-right:10em;text-align:left}
.p470{text-indent:0;margin-left:2.8em;text-align:left}
.p471{text-indent:0;margin-left:2.7em;text-align:left;margin-top:.025em}
.p472{text-indent:2em;margin-left:0;margin-right:.51em}
.p473{text-indent:2.4em;margin-left:0;margin-right:.025em;margin-top:.025em}
.p474{text-indent:2em;margin-left:0;margin-right:.05em;margin-top:1.1em}
.p475{text-indent:0;margin-left:2.1em;margin-right:6.1em;text-align:left;margin-top:.025em}
.p476{text-indent:0;margin-left:2em;line-height:1.3em;margin-right:18em;text-align:left}
.p477{text-indent:2em;margin-left:0;margin-top:.27em}
.p478{text-indent:2em;margin-left:0;text-align:left}
.p479{text-indent:0;margin-left:2.6em;text-align:left;margin-top:.025em}
.p480{text-indent:2.1em;margin-left:0;margin-right:.58em}
.p481{text-indent:0;margin-left:2em;margin-right:20em;text-align:left}
.p482{text-indent:1.9em;margin-left:0}
.p483{text-indent:1em;margin-left:0;text-align:left}
.p484{text-indent:2em;margin-right:.095em;margin-top:.025em}
.p485{text-indent:0;margin-left:2em;line-height:100%;text-align:left}
.p486{text-indent:1.9em;margin-left:0;margin-right:.025em;margin-top:.27em}
.p487{text-indent:0;margin-left:1.4em;text-align:left}
.p488{text-indent:2.3em;margin-left:0}
.p489{text-indent:2.3em;margin-left:0;margin-top:.025em}
.p490{text-indent:0;margin-left:2.3em;text-align:left;margin-top:.025em}
.p491{text-indent:2em;margin-left:0;margin-right:.15em}
.p492{text-indent:-2em;margin-left:2em;margin-right:10em;text-align:left}
.p493{text-indent:2em;margin-right:.22em}
.p494{text-indent:2em;margin-left:0;margin-top:.31em}
.p495{text-indent:2em;margin-left:0;margin-right:.07em;margin-top:1.1em}
.p496{text-indent:0;margin-left:2.1em;line-height:100%;text-align:left;margin-top:.29em}
.p497{text-indent:0;margin-left:0;line-height:1.2em;text-align:left;margin-top:.15em}
.p498{text-indent:2em;margin-left:0;margin-top:.24em}
.p499{text-indent:0;margin-left:2.1em;line-height:100%;text-align:left;margin-top:.27em}
.p500{text-indent:2em;margin-left:0;margin-right:.27em}
.p501{text-indent:0;margin-left:7em;line-height:100%;margin-right:12em;text-align:center;margin-top:.67em}
.p502{text-indent:2em;margin-left:0;margin-top:.46em}
.p503{text-indent:2em;margin-left:0;line-height:1.3em;margin-right:.07em}
.p504{text-indent:2.1em;margin-left:0;margin-right:.095em}
.p505{text-indent:1.9em;margin-left:0;margin-right:.34em}
.p506{text-indent:0;margin-left:25em;line-height:3.1em;text-align:left;margin-top:.025em}
.p507{text-indent:2em;margin-left:0;line-height:1.3em;text-align:center;margin-top:.24em}
.p508{text-indent:2em;margin-left:0;line-height:1.3em;margin-top:.24em}
.p509{text-indent:1.7em;margin-left:0}
.p510{text-indent:2.3em;margin-left:0;margin-right:.07em}
.p511{text-indent:0;margin-left:2em;text-align:left;margin-top:.025em}
.p512{text-indent:-1.3em;margin-left:4.7em;line-height:1.2em;margin-right:8.1em;margin-top:.96em}
.p513{text-indent:-1.2em;margin-left:7.1em;line-height:1.2em}
.p514{text-indent:2em;margin-left:0;line-height:1.3em;margin-top:1em}
.p515{text-indent:0;margin-left:2em;text-align:center;margin-top:.2em}
.p516{text-indent:0;margin-left:2em;margin-top:.2em}
.p517{text-indent:1.9em;margin-left:0;line-height:1.2em;margin-right:.05em}
.p518{text-indent:1.9em;margin-left:0;margin-right:.05em;margin-top:.36em}
.p519{text-indent:2em;margin-left:0;line-height:1.3em;margin-right:.095em}
.p520{text-indent:0;margin-left:2em;line-height:1.2em;text-align:left}
.p521{text-indent:0;margin-left:2em;text-align:left;margin-top:.095em}
.p522{text-indent:0;margin-left:0;line-height:1.3em;margin-right:.07em}
.p523{text-indent:0;margin-left:0;line-height:1.3em;margin-right:5.8em;margin-bottom:2.9em}
.p524{text-indent:0;margin-left:1.9em;line-height:1.3em;margin-right:10em;text-align:left}
.p525{text-indent:0;margin-left:2em;margin-right:12em;text-align:left}
.p526{text-indent:0;margin-left:2.1em;margin-right:8.1em;text-align:left}
.p527{text-indent:0;margin-left:2.2em;line-height:100%;text-align:left;margin-top:.12em}
.p528{text-indent:2.1em;margin-left:0;margin-right:.12em;margin-top:.025em}
.p529{text-indent:1.9em;margin-left:0;margin-right:.05em;margin-top:1.2em}
.p530{text-indent:.58em;margin-left:0;text-align:left}
.p531{text-indent:2em;margin-left:0;margin-right:.025em;margin-top:.025em}
.p532{text-indent:0;margin-left:0;margin-right:.025em;margin-top:.025em}
.p533{text-indent:0;margin-left:2.1em}
.p534{text-indent:0;margin-left:1.3em}
.p535{text-indent:2em;margin-left:0;margin-right:.15em}
.p536{text-indent:0;margin-left:2em;line-height:100%;text-align:left;margin-top:.12em}
.p537{text-indent:1.9em;margin-left:0;line-height:1.2em}
.p538{text-indent:1.9em;margin-left:0;line-height:1.3em;margin-top:.24em}
.p539{text-indent:0;margin-left:15em;line-height:100%;text-align:left;margin-top:.05em}
.p540{text-indent:2.3em;margin-left:0;line-height:1.2em;margin-right:.025em}
.p541{text-indent:2.3em;margin-left:0;margin-right:.025em;margin-top:.36em}
.p542{text-indent:0;margin-left:15em;line-height:100%;text-align:left;margin-top:1.2em}
.p543{text-indent:2em;margin-left:0;margin-top:.39em}
.p544{text-indent:0;margin-left:15em;line-height:1.2em;text-align:left}
.p545{text-indent:0;margin-left:7.4em;line-height:100%;margin-right:3.2em;text-align:center;margin-top:.095em}
.p546{text-indent:0;margin-left:0;margin-top:.29em}
.p547{text-indent:0;margin-left:14em;line-height:100%;margin-top:1.2em}
.p548{text-indent:0;margin-left:25em;line-height:100%;text-align:left}
.p549{text-indent:2em;margin-left:0;line-height:1.3em;margin-top:1.1em}
.p550{text-indent:0;margin-left:14em;line-height:100%;text-align:left;margin-top:.095em}
.p551{text-indent:1.9em;margin-left:0;line-height:1.3em;margin-top:.27em}
.p552{text-indent:0;margin-left:14em;line-height:100%;text-align:left;margin-top:1.2em}
.p553{text-indent:0;margin-left:2.3em;line-height:1.3em;margin-right:14em;text-align:left;margin-top:.34em}
.p554{text-indent:2.3em;margin-left:0;line-height:1.2em;text-align:center}
.p555{text-indent:2.3em;margin-left:0;line-height:1.3em;margin-top:.36em}
.p556{text-indent:0;margin-left:0;line-height:.96em;margin-right:.05em;margin-top:.65em}
.p557{text-indent:0;margin-left:7.3em;line-height:.96em;margin-right:11em;text-align:left;margin-top:.025em}
.p558{text-indent:1.9em;margin-left:0;margin-top:.025em}
.p559{text-indent:0;margin-left:6.1em;line-height:100%;text-align:left}
.p560{text-indent:0;margin-left:0;line-height:1.5em;text-align:left;margin-top:.29em}
.p561{text-indent:0;margin-left:0;line-height:1.5em;text-align:left}
.p562{text-indent:0;margin-left:0;line-height:1.5em;text-align:left;margin-top:.025em}
.p563{text-indent:0;margin-left:0;line-height:100%;text-align:left;margin-top:.6em}
.p564{text-indent:0;margin-left:0;line-height:100%;text-align:left;margin-top:.43em}
.p565{text-indent:0;margin-left:0;line-height:100%;text-align:left;margin-top:.67em}
.p566{text-indent:0;margin-left:0;line-height:100%;margin-top:1em}
.p567{text-indent:0;margin-left:0;line-height:1.4em;text-align:center}
.p568{text-indent:0}
h1{text-indent:0;margin-left:0;margin-right:0;margin-top:.75em;margin-bottom:.19em;font-family:Cambria,serif;font-size:145%;font-weight:bold}
.h11{text-indent:0}
.l0{margin-left:3.6em}
.t0{font-family:"Times New Roman",serif;font-size:.1em}
.t1{font-family:"Times New Roman",serif}
.t2{font-size:.7em;font-weight:bold}
.t3{font-weight:bold}
.t4{font-size:.9em;line-height:100%;font-weight:bold}
.t5{font-size:.9em;font-weight:bold}
.t6{font-family:Georgia,serif;font-size:.8em;font-style:italic}
.t7{font-family:Cambria,serif;font-size:1.4em;line-height:115%;font-weight:bold;font-style:italic;color:#365f91}
.t8{font-family:Calibri,sans-serif;font-size:1.1em}
.t9{font-family:"Times New Roman",serif;font-size:1.2em;line-height:100%}
.t10{font-family:Calibri,sans-serif;font-size:1.1em;font-weight:bold;font-style:italic}
.t11{font-family:Calibri,sans-serif;font-size:1.1em;font-weight:bold;letter-spacing:.23em}
.t12{font-family:Calibri,sans-serif;font-size:1.1em;font-weight:bold}
.t13{font-family:"Times New Roman",serif;font-size:1.2em}
.t14{font-size:.8em;line-height:100%;font-weight:bold}
.t15{font-size:.7em;line-height:100%;font-weight:bold}
.t16{font-weight:bold}
.t17{font-size:.9em}
.t18{font-size:.8em}
.t19{font-size:.8em;font-style:italic}
.t20{font-size:.7em;font-style:italic}
.t21{font-size:.7em}
.t22{font-size:.9em;font-weight:bold;font-style:italic}
.t24{font-family:Georgia,serif;font-weight:bold}
.t25{font-size:2.2em;font-weight:bold}
.t26{font-size:1.7em;font-weight:bold}
.t27{font-size:1.2em;font-weight:bold;font-style:italic}
.t28{font-size:1.2em;font-weight:bold}
.t29{font-weight:bold;font-style:italic}
.t30{font-size:1.4em;font-weight:bold;font-style:italic}
.t31{font-size:1.4em;font-weight:bold}
.t32{font-family:"MurrayHill Bd BT",cursive;font-size:2.8em}
.t34{font-style:italic}
.t35{font-size:.65em;vertical-align:super}
.t36{letter-spacing:.25em}
.t37{font-size:1.7em;line-height:100%;font-weight:bold}
.t38{letter-spacing:.35em}
.t39{font-size:.7em;line-height:100%;font-weight:bold;font-style:italic}
.t40{font-size:1.2em;line-height:100%;font-weight:bold}
.t41{font-size:.65em;vertical-align:sub}
.t42{font-family:"Times New Roman",serif}
.t43{font-family:"Lemonheads TR";font-size:3.6em}
.t44{font-size:1.4em}
.t45{font-size:1.2em}
.t46{font-size:2.8em}
.t47{font-size:.6em;font-weight:bold}
.t48{font-style:italic;letter-spacing:-.05em}
.t49{font-style:italic;letter-spacing:.35em}
.t50{letter-spacing:.4em}
.t51{font-style:italic;letter-spacing:.25em}
.t52{font-size:1.4em;line-height:100%;font-weight:bold}
.t53{font-size:.65em;font-style:italic;vertical-align:super}
.t54{font-size:.7em;font-weight:bold;font-style:italic}
.t55{font-size:1.2em;line-height:100%;font-weight:bold;letter-spacing:-.083em}
.t56{letter-spacing:-.1em}
.t57{letter-spacing:-.1em}
.t58{font-family:Georgia,serif;font-style:italic}
.t59{font-family:Georgia,serif;font-size:.8em;font-weight:bold}
.t60{font-size:.6em;line-height:100%;font-weight:bold}
.t61{letter-spacing:.25em}
.t62{letter-spacing:.1em}
.t63{font-weight:bold;letter-spacing:-.1em}
.t64{font-style:italic;letter-spacing:-.1em}
.t65{font-family:"Arial Narrow",sans-serif;font-size:3.2em;font-style:italic;vertical-align:.13em}
.t66{font-style:italic}
.t67{font-family:"Century Gothic",sans-serif;font-size:1.1em;font-weight:bold;font-style:italic;letter-spacing:-.091em}
.t68{font-family:Tahoma,sans-serif;font-size:.9em;font-weight:bold;font-style:italic}
.t69{font-size:1.2em;line-height:100%}
.t70{font-size:.8em;font-weight:bold;font-style:italic}
.t71{letter-spacing:.6em}
.t72{font-family:Georgia,serif;font-size:.8em;line-height:100%;font-weight:bold}
.t73{font-weight:bold;font-style:italic}
.t74{font-size:.9em;line-height:100%;font-weight:bold;letter-spacing:.17em}
.t75{font-size:.9em;line-height:100%;font-weight:bold;letter-spacing:.67em}
.t76{font-family:"Arial Narrow",sans-serif;font-size:.9em;font-weight:bold;color:white}
.th11{letter-spacing:.16em}
.th12{font-family:"Book Antiqua",serif}