.calibre {
    display: block;
    font-family: "LiberationSerif", serif;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    margin: 1em 0
    }
.calibre2 {
    font-style: italic
    }
.calibre3 {
    font-weight: bold
    }
.calibre4 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre5 {
    display: block
    }
.calibre6 {
    height: 379pt;
    width: 605pt
    }
.calibre7 {
    text-decoration: underline
    }
.calibre8 {
    font-variant: small-caps
    }
.calibre9 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre10 {
    display: list-item
    }
.calibre11 {
    height: 159pt;
    width: 370pt
    }
.calibre12 {
    height: 358pt;
    width: 498pt
    }
.calibre13 {
    height: 318pt;
    width: 592pt
    }
.calibre14 {
    height: 272pt;
    width: 359pt
    }
.calibre15 {
    height: 380pt;
    width: 367pt
    }
.calibre16 {
    height: 571pt;
    width: 373pt
    }
.calibre17 {
    height: 240pt;
    width: 378pt
    }
.calibre18 {
    height: 390pt;
    width: 569pt
    }
.calibre19 {
    height: 593pt;
    width: 385pt
    }
.calibre20 {
    height: 460pt;
    width: 377pt
    }
.calibre21 {
    height: 464pt;
    width: 377pt
    }
