p{text-indent:1em;margin-left:0;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:.61em;font-family:"Book Antiqua",serif;font-size:127%}
.p0{text-indent:1em;text-align:center;margin-bottom:0}
.p2{text-indent:0;margin-left:10em;text-align:left}
.p3{text-indent:0;margin-left:0;text-align:center;margin-bottom:0}
.p4{text-indent:0;margin-left:0;text-align:center;page-break-after:avoid;margin-top:2em;margin-bottom:2em}
.p5{text-indent:0;margin-left:0;text-align:left}
.p6{text-indent:0;margin-left:0;text-align:left;margin-bottom:0}
.p7{text-indent:0;margin-left:0;text-align:center}
.p8{text-indent:0;margin-left:-1.4em;margin-right:-1.4em;text-align:center}
.p9{text-indent:0;margin-left:0}
.p10{text-indent:0;margin-left:0;margin-right:-1.6em}
.p11{text-indent:1em;margin-left:2.6em}
.p12{text-indent:1em;margin-left:-1.8em;margin-right:-1.6em}
.p13{text-indent:0;margin-left:0;margin-right:-1.6em;text-align:center}
.p14{text-indent:1em;text-align:center}
.p15{text-indent:1em;margin-left:-1.4em;margin-right:-1.4em;text-align:center}
.p16{text-indent:0;margin-left:2.6em}
.p17{text-indent:0}
.t2{font-weight:bold}
.t3{font-size:.86em}
.t4{font-size:.65em;font-weight:bold;vertical-align:super}
.t5{font-weight:bold;font-style:italic}
.t6{font-size:.65em;vertical-align:super}
.t7{font-style:italic}
.t8{font-size:.42em;vertical-align:super}
.t9{font-size:.64em;font-weight:bold}
.t10{font-size:.64em}
.t11{font-size:.46em;vertical-align:super}
.t12{font-size:.71em;font-weight:bold}
.t13{font-size:.71em}
.t14{font-size:.71em;font-style:italic}
.t15{font-family:"Liberation Serif",serif;font-size:.71em}
.t16{font-family:"Liberation Serif",serif;font-size:.86em}