p {
margin:0 auto 0 1.5em;
text-indent:-1.5em;
font-size:0.9em;
text-align:justify;}

.kaynak0{text-indent: 0em;text-align:center;margin-top:5%;font-size:110%;}
.kaynak1{margin-top:1.5em;margin-bottom:0.4em;}

.kaynak2{margin-top:5em;margin-bottom:0.4em;}
.kaynak3{margin-left:0;text-indent:0em;}
