p {
margin:0 auto 0 auto;
text-indent:1.5em;
text-align:justify;}
sub, sup { 
font-size: 60%;
line-height: 0; 
}
sup {top: -0.25em;}
sub {bottom: -0.25em;}

.footnote {text-indent: 0em; margin-bottom: 0em; margin-top: 0em; page-break-before: always;font-size:0.8em;}

.ithaf{text-indent: 0em;text-align:center;margin-top: 8em;}

.soz1{text-indent: 0em;margin-top: 5em;margin-left:5em;font-style:italic;}
.soz2{text-indent: 0em;margin-left:5em;font-style:italic;}
.soz3{text-indent: 0em;margin-left:5em;font-style:italic;margin-top:0.7em;}
.soz4{margin-top:0.5em;text-align:right;}

.soz5{text-indent: 0em;margin-left:5em;font-style:italic;margin-top:3em;}

.bolum{text-indent: 0em;text-align:center;margin-top:8em;font-size:120%;}
.kisim1{text-indent: 0em;text-align:center;margin-top:8em;font-size:120%;}
.kisim2{text-indent: 0em;text-align:center;margin-top:1em;font-size:120%;}

.ilk{margin-top: 25%;}
.ortali {text-indent: 0em;text-align:center;margin-top:0.6em;margin-bottom:0.6em;}
.gir1{text-indent: 0em;margin-left:1.5em;margin-top:0.7em;}
.gir2{text-indent: 0em;margin-left:1.5em;}
.gir3{text-indent: 0em;margin-left:1.5em;margin-bottom:0.7em;}

.egik{font-style:italic;margin-top:0.7em;margin-bottom:0.7em;}

.tesekkur{text-indent: 0em;text-align:center;margin-top:20%;margin-bottom:1em;font-size:120%;}


