p{text-indent:0;margin-left:0;margin-right:0;text-align:justify;widows:2;orphans:2;margin-top:0;margin-bottom:.61em;font-family:"Times New Roman",serif;font-size:100%;line-height:1.3}
.p0{text-indent:0;text-align:center;margin-bottom:0}
.p2{text-indent:0;text-align:center;widows:1;orphans:1;margin-top:.61em}
.p3{text-indent:0;text-align:center;widows:1;orphans:1;margin-bottom:2em}
.p4{text-indent:0;text-align:center;widows:1;orphans:1}
.p5{text-indent:0;text-align:center;widows:1;orphans:1;margin-bottom:4.5em}
.p6{text-indent:0;text-align:center;widows:1;orphans:1;margin-top:2em}
.p7{text-indent:0;text-align:center;widows:1;orphans:1;margin-bottom:0}
.p8{text-indent:0;text-align:center;widows:1;orphans:1;margin-bottom:1em}
.p9{text-indent:0;text-align:center;widows:1;orphans:1;margin-bottom:.2em}
.p10{text-indent:0;text-align:center;widows:1;orphans:1;margin-bottom:1.6em}
.p11{text-indent:0;widows:1;orphans:1}
.p12{text-indent:0;text-align:left;margin-top:2em;margin-bottom:1em}
.p13{text-indent:0;margin-bottom:2em}
.p14{text-indent:0;text-align:right}
.p15{text-indent:0;text-align:center;widows:1;orphans:1;margin-top:2em;margin-bottom:0}
.p16{text-indent:0;margin-left:2em;margin-right:2em;text-align:center;margin-top:1em;margin-bottom:2em}
.p17{text-indent:0;margin-bottom:1.2em}
.p18{text-indent:0;text-align:center;margin-bottom:.81em}
.p19{text-indent:0;margin-left:2em;margin-right:2em;text-align:center;margin-top:2em;margin-bottom:2em}
.p20{text-indent:0;page-break-after:avoid}
.p21{text-indent:0;text-align:center}
.p22{text-indent:0;text-align:right;margin-bottom:.2em}
.p23{text-indent:0;text-align:right;margin-bottom:2em}
.p24{text-indent:0;margin-left:2em;margin-right:2em;text-align:center;widows:1;orphans:1;margin-top:2em;margin-bottom:2em}
.p25{text-indent:0;margin-left:2em;margin-right:2em;text-align:center;widows:1;orphans:1;margin-top:1em;margin-bottom:2em}
.p26{text-indent:0;margin-left:2em;margin-right:2em;margin-bottom:.2em}
.p27{text-indent:0;margin-left:2em;margin-right:2em;margin-bottom:2em}
.p28{text-indent:0;margin-left:2em;margin-right:2em;margin-bottom:1em}
.p29{text-indent:0;margin-left:2em;margin-right:2em;page-break-after:avoid;margin-bottom:2em}
.p30{text-indent:0;margin-left:2em;margin-right:2em;text-align:center;margin-top:2em;margin-bottom:1em}
.p31{text-indent:0;widows:1;orphans:1;margin-bottom:1em}
.p32{text-indent:0;widows:1;orphans:1;margin-top:2em;margin-bottom:2em}
.p33{text-indent:0;page-break-after:avoid;widows:1;orphans:1;margin-top:2em;margin-bottom:2em}
.p34{text-indent:0;text-align:center;widows:1;orphans:1;margin-top:1em;margin-bottom:1em}
.p35{text-indent:0;page-break-after:avoid;widows:1;orphans:1;margin-bottom:1em}
.p36{text-indent:0;widows:1;orphans:1;margin-bottom:2em}
.p37{text-indent:0;page-break-after:avoid;widows:1;orphans:1;margin-top:1em;margin-bottom:1em}
.p38{text-indent:0;text-align:right;widows:1;orphans:1}
.p39{text-indent:-1em;margin-left:1em;text-align:left}
.p40{text-indent:0;text-align:left}
.p41{text-indent:-1em;margin-left:1em;text-align:left;page-break-after:avoid}
.p42{text-indent:-1em;margin-left:1em;text-align:left;margin-bottom:3em}
.p43{text-indent:0;text-align:left;page-break-after:avoid;margin-bottom:0}
.p44{text-indent:0;text-align:left;margin-top:.61em;margin-bottom:2em}
.p45{text-indent:0;text-align:left;margin-bottom:2em}
.p46{text-indent:-.61em;margin-left:1.2em;text-align:left}
.p47{text-indent:0;text-align:left;page-break-after:avoid}
.p48{text-indent:-.61em;margin-left:1.2em;text-align:left;margin-bottom:3em}
.p49{text-indent:0;text-align:left;margin-top:2em;margin-bottom:2em}
.p50{text-indent:-.61em;margin-left:1.2em;text-align:left;page-break-after:avoid}
.p51{text-indent:0;text-align:left;margin-bottom:0}
.p52{text-indent:-1.3em;margin-left:2.6em;text-align:left;page-break-after:avoid}
.p53{text-indent:-1.3em;margin-left:2.6em;text-align:left}
.p54{text-indent:-1.3em;margin-left:2.6em;text-align:left;widows:1;orphans:1}
.p55{text-indent:-1.2em;margin-left:1.2em;text-align:left;widows:1;orphans:1;margin-bottom:0}
.p56{text-indent:-1.2em;margin-left:1.2em;widows:1;orphans:1;margin-bottom:0}

.p57{text-indent:0}
.p57{text-indent:0;margin-bottom:0.8em}

.t1{font-size:.86em;}
.t2{font-family:Arial,sans-serif;font-size:.86em;}
.t3{font-size:1.7em;font-weight:bold;letter-spacing:.083em}
.t5{font-size:1.7em;font-weight:bold}
.t6{font-size:1.3em;}
.t7{font-size:.79em;font-style:italic;text-decoration:underline}
.t8{font-size:.79em;}
.t9{font-size:.86em;font-weight:bold}
.t10{font-size:.86em;font-style:italic}
.t11{font-size:.56em;font-weight:bold;vertical-align:super}
.t12{font-weight:bold}
.t13{font-family:"OPTIFurst";font-size:.86em;font-weight:bold}
.t14{font-family:"OPTIFurst";font-size:1.3em;font-weight:bold}
.t15{font-weight:bold;font-style:italic}
.t16{font-size:1.7em;}
.t17{font-family:"OPTIFurst";font-size:1.7em;font-weight:bold}
.t18{font-family:"OPTIFurst";font-size:1.4em;font-weight:bold}

.t19{font-family:"BD Renaissance";font-size:3.9em;margin-right:0.08em;float:left;margin-bottom:-0.4em}

.t19_2{font-family:"BD Renaissance";font-size:3.9em;margin-right:0.08em;float:left;margin-bottom:-0.4em;clear:both}

.t19_k{font-family:"BD Renaissance";font-size:3.9em;margin-right:0.08em;float:left;margin-bottom:-0.2em}

.t20{font-style:italic}
.t21{font-size:.65em;vertical-align:super}
.t22{font-style:italic;text-decoration:underline}
.t23{font-family:"OPTIFurst";font-weight:bold;font-style:italic}
.t24{font-family:"OPTIFurst";font-weight:bold}
.t25{font-family:"OPTIFurst";font-style:italic}
.t26{font-family:"OPTIFurst";font-size:1.1em;font-weight:bold;font-style:italic}
.t27{font-size:1.1em;font-weight:bold}
.t28{text-decoration:underline}
.t29{font-weight:bold;font-style:italic;text-decoration:underline}
.t30{font-weight:bold;text-decoration:underline}
.t31{font-size:.56em;vertical-align:super}


.image_left{float:left;padding-right:8px}
.image_right{float:right;padding-left:8px}


hr
{
  border:            0;
  width:             100%;
  color:             #000000;
  background-color:  #000000;
  height:            1px;
  margin-bottom:     25px;
}
hr.baslik
{
  width: 80%;
}
.pHR{text-indent:0;text-align:left;margin-bottom:0px}


a{color:#000000}
a:link {text-decoration: none; color:#000000}
a:visited {text-decoration: none; color:#000000}
a:hover {text-decoration: underline; color:#000000}
a:active {text-decoration: underline; color:#000000}


/* Times New Roman --> DejaVu */
@font-face {
    font-family: 'Times New Roman';
    font-weight: normal;
	font-style:  normal;
    src: url('../Fonts/DejaVuSerif_Light.ttf');
}

@font-face {
    font-family: 'Times New Roman';
    font-weight: normal;
	font-style:  italic;
    src: url('../Fonts/DejaVuSerif-Italic_Light.ttf');
}

@font-face {
    font-family: 'Times New Roman';
    font-weight: normal;
	font-style:  oblique;
    src: url('../Fonts/DejaVuSerif-Italic_Light.ttf');
}

@font-face {
    font-family: 'Times New Roman';
    font-weight: bold;
	font-style:  normal;
    src: url('../Fonts/DejaVuSerif-Bold_Light.ttf');
}

@font-face {
    font-family: 'Times New Roman';
    font-weight: bold;
	font-style:  italic;
    src: url('../Fonts/DejaVuSerif-BoldItalic_Light.ttf');
}

@font-face {
    font-family: 'Times New Roman';
    font-weight: bold;
	font-style:  oblique;
    src: url('../Fonts/DejaVuSerif-BoldItalic_Light.ttf');
}


/* OptiFurst (Basliklar) */
@font-face {
    font-family: 'OPTIFurst';
    font-weight: normal;
	font-style:  normal;
    src: url('../Fonts/OPTIFurstBold.ttf');
}

@font-face {
    font-family: 'OPTIFurst';
    font-weight: normal;
	font-style:  italic;
    src: url('../Fonts/OPTIFurstBold.ttf');
}

@font-face {
    font-family: 'OPTIFurst';
    font-weight: normal;
	font-style:  oblique;
    src: url('../Fonts/OPTIFurstBold.ttf');
}

@font-face {
    font-family: 'OPTIFurst';
    font-weight: bold;
	font-style:  normal;
    src: url('../Fonts/OPTIFurstBold.ttf');
}

@font-face {
    font-family: 'OPTIFurst';
    font-weight: bold;
	font-style:  italic;
    src: url('../Fonts/OPTIFurstBold.ttf');
}

@font-face {
    font-family: 'OPTIFurst';
    font-weight: bold;
	font-style:  oblique;
    src: url('../Fonts/OPTIFurstBold.ttf');
}


/* BD Renaissance (Suslu Harfler) */
@font-face {
    font-family: 'BD Renaissance';
    font-weight: normal;
	font-style:  normal;
    src: url('../Fonts/BDRenaissance.ttf');
}
