p{text-indent:0;margin-left:0;line-height:115%;margin-right:0;text-align:justify;margin-top:0;margin-bottom:.45em;font-family:Cambria,serif;font-size:100%}
.p0{text-indent:0;text-align:center}
.p1{text-indent:0;line-height:100%;text-align:center;margin-bottom:0}
.p2{text-indent:0;margin-bottom:0}
.p3{text-indent:0;text-align:center;margin-bottom:0}
.p5{text-indent:0;text-align:left}
.p6{text-indent:0;text-align:right}
.p7{text-indent:0}
.t1{font-size:1.8em;line-height:115%}
.t2{font-family:"Book Antiqua",serif;font-size:.36em;line-height:115%}
.t3{font-family:"Book Antiqua",serif;font-size:2.3em;line-height:115%;font-weight:bold}
.t4{font-family:"Book Antiqua",serif;font-size:.091em;line-height:115%;font-weight:bold}
.t5{font-family:"Arial Black",sans-serif;font-size:1.8em;line-height:100%}
.t6{font-family:"Segoe Print";font-size:4.4em;line-height:100%;font-weight:bold}
.t7{font-family:"Book Antiqua",serif;font-size:1.1em;line-height:115%;font-weight:bold;font-style:italic}
.t9{font-family:"Book Antiqua",serif;font-size:1.1em;line-height:115%;font-style:italic}
.t10{font-style:italic}
.t11{font-weight:bold;font-style:italic}
.t12{font-size:.65em;line-height:115%;vertical-align:sub}
.t13{text-decoration:underline}