p{text-indent:.57em;margin-left:0;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:.6em;font-family:Cambria,serif;font-size:91%}
.p0{text-indent:0;margin-left:0;text-align:center}
.p1{text-indent:0;margin-left:0;text-align:center;widows:2;orphans:2}
.p3{text-indent:0;margin-left:0;text-align:left;margin-bottom:0}
.p5{text-indent:0;margin-left:0;text-align:left}
.p7{text-indent:.57em;text-align:center}
h1{text-indent:0;margin-left:0;margin-right:0;text-align:center;page-break-after:avoid;widows:1;orphans:1;margin-top:1.2em;margin-bottom:0;font-family:Cambria,serif;font-size:182%;font-weight:bold}
.h11{text-indent:0}
h2{text-indent:0;margin-left:0;line-height:150%;margin-right:0;text-align:center;page-break-after:avoid;widows:1;orphans:1;margin-top:.5em;margin-bottom:0;font-family:Cambria,serif;font-size:182%;font-weight:bold}
.h20{text-indent:0;line-height:100%;margin-bottom:.3em}
.h22{text-indent:0}
.t1{font-weight:bold}
.t2{font-size:2.4em;line-height:100%;font-weight:bold}
.t3{font-size:2.4em;line-height:100%}
.t4{font-size:2em;line-height:100%;font-weight:bold}
.t5{font-size:2em;line-height:100%}
.t6{font-size:1.4em;line-height:100%}
.t8{font-style:italic}
.t9{font-size:1.6em;line-height:100%;text-decoration:underline}
.t14{font-family:"Courier New",monospace;font-size:1.2em;line-height:100%}
.t15{font-size:1.8em;line-height:100%;font-weight:bold}