.calibre {
    display: block;
    font-family: "LiberationSerif", serif;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block
    }
.calibre2 {
    height: 547pt;
    width: 364pt
    }
.calibre3 {
    display: block;
    margin: 1em 0
    }
.calibre4 {
    font-weight: bold
    }
.calibre5 {
    font-style: italic
    }
.calibre6 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre7 {
    height: 230pt;
    width: 299pt
    }
.calibre8 {
    height: 520pt;
    width: 325pt
    }
.calibre9 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre10 {
    display: list-item
    }
.calibre11 {
    display: block;
    list-style-type: circle;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0
    }
.calibre12 {
    height: 217pt;
    width: 296pt
    }
.calibre13 {
    height: 231pt;
    width: 298pt
    }
.calibre14 {
    height: 137pt;
    width: 312pt
    }
.calibre15 {
    height: 136pt;
    width: 297pt
    }
.calibre16 {
    height: 266pt;
    width: 194pt
    }
.calibre17 {
    height: 232pt;
    width: 297pt
    }
.calibre18 {
    height: 238pt;
    width: 300pt
    }
.calibre19 {
    height: 530pt;
    width: 324pt
    }
.calibre20 {
    height: 533pt;
    width: 329pt
    }
.calibre21 {
    height: 249pt;
    width: 298pt
    }
.calibre22 {
    height: 199pt;
    width: 298pt
    }
.calibre23 {
    height: 166pt;
    width: 193pt
    }
.calibre24 {
    height: 335pt;
    width: 227pt
    }
.calibre25 {
    height: 249pt;
    width: 299pt
    }
.calibre26 {
    height: 189pt;
    width: 296pt
    }
.calibre27 {
    height: 147pt;
    width: 242pt
    }
.calibre28 {
    height: 232pt;
    width: 301pt
    }
.calibre29 {
    height: 458pt;
    width: 230pt
    }
.calibre30 {
    height: 234pt;
    width: 297pt
    }
.calibre31 {
    height: 237pt;
    width: 303pt
    }
.calibre32 {
    height: 137pt;
    width: 307pt
    }
.calibre33 {
    height: 121pt;
    width: 303pt
    }
.calibre34 {
    height: 219pt;
    width: 298pt
    }
.calibre35 {
    height: 474pt;
    width: 321pt
    }
.calibre36 {
    height: 226pt;
    width: 297pt
    }
.calibre37 {
    height: 243pt;
    width: 298pt
    }
.calibre38 {
    height: 229pt;
    width: 298pt
    }
.calibre39 {
    height: 141pt;
    width: 197pt
    }
.calibre40 {
    height: 545pt;
    width: 362pt
    }
img {
max-width: 100%;
display: block;
margin-left: auto;
margin-right: auto;
}
h1
{
margin-top:3em;
margin-bottom:3em;
text-align:center;
Font-size:1.5em;
}
p{
text-align:justify;
text-indent:1em;
margin-top:0.3em;
margin-bottom:0.3em;
}
