p {
  text-indent: 0;
  margin-left: 0;
  margin-right: 0;
  text-align: justify;
  widows: 2;
  orphans: 2;
  margin-top: 0;
  margin-bottom: 0.61em;
  font-family: "DejaVu Serif", serif;
  font-size: 100%;
}
.p0 {
  text-indent: 0;
  text-align: center;
  margin-bottom: 0;
}
.p1 {
  text-indent: 0;
  text-align: left;
  widows: 1;
  orphans: 1;
  margin-bottom: 1em;
}
.p2 {
  text-indent: 0;
  widows: 1;
  orphans: 1;
}
.p3 {
  text-indent: 0;
  widows: 1;
  orphans: 1;
  margin-bottom: 1.4em;
}
.p4 {
  text-indent: 0;
  widows: 1;
  orphans: 1;
  margin-bottom: 0;
}
.p5 {
  text-indent: 0;
  line-height: 150%;
  text-align: left;
}
.p6 {
  text-indent: 0;
  text-align: center;
  widows: 1;
  orphans: 1;
}
.p7 {
  text-indent: 0;
  text-align: center;
  widows: 1;
  orphans: 1;
  margin-bottom: 1.5em;
}
.p8 {
  text-indent: 0;
  text-align: center;
  widows: 1;
  orphans: 1;
}
.p9 {
  text-indent: 0;
  text-align: center;
  widows: 1;
  orphans: 1;
  margin-bottom: 1em;
}
.p10 {
  text-indent: 0;
  text-align: center;
  widows: 1;
  orphans: 1;
  margin-bottom: 2.1em;
}
.p11 {
  text-indent: 0;
  text-align: center;
  widows: 1;
  orphans: 1;
}
.p12 {
  text-indent: 0;
  text-align: center;
  widows: 1;
  orphans: 1;
  margin-bottom: 0;
}
.p13 {
  text-indent: 0;
  text-align: center;
  widows: 1;
  orphans: 1;
  margin-bottom: 0.2em;
}
.p14 {
  text-indent: 0;
  text-align: center;
  widows: 1;
  orphans: 1;
  margin-bottom: 1.6em;
}
.p15 {
  text-indent: 0;
  text-align: center;
  widows: 1;
  orphans: 1;
  margin-top: 16em;
  margin-bottom: 1em;
}
.p16 {
  text-indent: 0;
  text-align: right;
  widows: 1;
  orphans: 1;
  margin-bottom: 1em;
}
.p17 {
  text-indent: 0;
  text-align: left;
  widows: 1;
  orphans: 1;
  margin-bottom: 1em;
}
.p18 {
  text-indent: 0;
  widows: 1;
  orphans: 1;
  margin-bottom: 0.51em;
}
.p19 {
  text-indent: 0;
  widows: 1;
  orphans: 1;
  margin-bottom: 1.6em;
}
.p20 {
  text-indent: 0;
  margin-left: 2em;
  margin-right: 2em;
  widows: 1;
  orphans: 1;
}
.p21 {
  text-indent: 0;
  margin-left: 2em;
  margin-right: 2em;
  text-align: center;
  margin-top: 2em;
}
.p22 {
  text-indent: 0;
  margin-left: 2em;
  widows: 1;
  orphans: 1;
  margin-bottom: 0.2em;
}
.p23 {
  text-indent: 0;
  margin-left: 2em;
  widows: 1;
  orphans: 1;
  margin-bottom: 1.6em;
}
.p24 {
  text-indent: 0;
  text-align: center;
  margin-top: 15em;
  margin-bottom: 0;
}
.p25 {
  text-indent: 0;
  margin-left: 2em;
  margin-right: 2em;
  text-align: center;
  margin-bottom: 2em;
}
.p27 {
  text-indent: 0;
  margin-bottom: 1.2em;
}
.p28 {
  text-indent: 0;
  text-align: center;
  margin-bottom: 0.81em;
}
.p29 {
  text-indent: 0;
  margin-bottom: 2em;
}
.p30 {
  text-indent: 0;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 2em;
}
.p31 {
  text-indent: 0;
  margin-left: 2em;
  margin-right: 2em;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
}
.p32 {
  text-indent: 0;
  widows: 1;
  orphans: 1;
  margin-bottom: 1em;
}
.p33 {
  text-indent: 0;
  page-break-after: avoid;
  widows: 1;
  orphans: 1;
  margin-bottom: 1em;
}
.p34 {
  text-indent: 0;
  widows: 1;
  orphans: 1;
  margin-bottom: 2em;
}
.p35 {
  text-indent: 0;
  text-align: right;
  widows: 1;
  orphans: 1;
}
.p36 {
  text-indent: -1em;
  margin-left: 1em;
  text-align: left;
}
.p37 {
  text-indent: 0;
  text-align: left;
}
.p38 {
  text-indent: -1em;
  margin-left: 1em;
  text-align: left;
  page-break-after: avoid;
}
.p39 {
  text-indent: -1em;
  margin-left: 1em;
  text-align: left;
  margin-bottom: 3em;
}
.p40 {
  text-indent: 0;
  text-align: left;
  page-break-after: avoid;
  margin-bottom: 2em;
}
.p41 {
  text-indent: 0;
  margin-bottom: 3em;
}
.p42 {
  text-indent: 0;
  text-align: left;
  margin-bottom: 2em;
}
.p43 {
  text-indent: -0.61em;
  margin-left: 1.2em;
  text-align: left;
}
.p44 {
  text-indent: 0;
  text-align: left;
  page-break-after: avoid;
}
.p45 {
  text-indent: -0.61em;
  margin-left: 1.2em;
  text-align: left;
  margin-bottom: 3em;
}
.p46 {
  text-indent: 0;
  text-align: left;
  margin-top: 2em;
  margin-bottom: 2em;
}
.p47 {
  text-indent: -0.61em;
  margin-left: 1.2em;
  text-align: left;
  page-break-after: avoid;
}
.p48 {
  text-indent: -1.3em;
  margin-left: 2.6em;
  text-align: left;
}
.p49 {
  text-indent: -1.3em;
  margin-left: 2.6em;
  text-align: left;
  widows: 1;
  orphans: 1;
}
.p50 {
  text-indent: -1.2em;
  margin-left: 1.2em;
}
.p51 {
  text-indent: 0;
}
.t1 {
  font-size: 0.86em;
  line-height: 100%;
}
.t3 {
  font-family: "OPTIFurst";
  font-size: 0.86em;
  line-height: 100%;
  font-weight: bold;
}
.t4 {
  font-family: "OPTIFurst";
  font-weight: bold;
}
.t5 {
  font-family: "OPTIFurst";
  font-weight: bold;
  font-style: italic;
}
.t6 {
  font-family: "DejaVu Serif", serif;
  line-height: 100%;
}
.t7 {
  font-family: "OPTIFurst";
  font-size: 0.71em;
  line-height: 100%;
  font-weight: bold;
}
.t8 {
  font-family: "DejaVu Serif", serif;
  font-size: 0.71em;
  line-height: 100%;
}
.t9 {
  font-family: "DejaVu Serif", serif;
  line-height: 100%;
}
.t10 {
  font-family: "DejaVu Serif", serif;
  font-size: 0.86em;
  line-height: 150%;
}
.t11 {
  font-size: 1.7em;
  line-height: 100%;
  font-weight: bold;
  letter-spacing: 0.083em;
}
.t12 {
  font-size: 1.7em;
  line-height: 100%;
  font-weight: bold;
}
.t13 {
  font-size: 1.3em;
  line-height: 100%;
}
.t14 {
  font-size: 0.79em;
  line-height: 100%;
}
.t15 {
  font-size: 0.79em;
  line-height: 100%;
  text-decoration: underline;
}
.t16 {
  font-size: 0.86em;
  line-height: 100%;
  font-weight: bold;
}
.t17 {
  font-size: 0.86em;
  line-height: 100%;
  font-style: italic;
}
.t18 {
  font-size: 0.56em;
  line-height: 100%;
  font-weight: bold;
  vertical-align: super;
}
.t19 {
  font-style: italic;
}
.t20 {
  font-weight: bold;
}
.t21 {
  font-family: "OPTIFurst";
  font-size: 1.3em;
  line-height: 100%;
  font-weight: bold;
}
.t22 {
  font-family: "OPTIFurst";
  font-size: 1.4em;
  line-height: 100%;
  font-weight: bold;
}
.t23 {
  font-family: "OPTIFurst";
  font-size: 3.7em;
  line-height: 100%;
  font-weight: bold;
  font-style: italic;
}
.t24 {
  font-family: "OPTIFurst";
  font-size: 2.6em;
  line-height: 100%;
  font-weight: bold;
  font-style: italic;
}
.t25 {
  font-family: "OPTIFurst";
  font-size: 2.6em;
  line-height: 100%;
  font-weight: bold;
}
.t26 {
  font-size: 1.1em;
  line-height: 100%;
  font-weight: bold;
}
.t27 {
  font-size: 0.74em;
  line-height: 100%;
  font-weight: bold;
  vertical-align: super;
}
.t28 {
  font-family: "BD Renaissance";
}
.t29 {
  font-size: 0.65em;
  line-height: 100%;
  vertical-align: super;
}
.t30 {
  letter-spacing: 0;
}
.t31 {
  font-family: "OPTIFurst";
  font-size: 1.7em;
  line-height: 100%;
  font-weight: bold;
}
.t32 {
  font-family: "BD Renaissance";
  font-size: 3.4em;
  margin-right: 0.02em;
}
.t33 {
  font-family: "OPTIFurst";
  font-size: 1.1em;
  line-height: 100%;
  font-weight: bold;
  font-style: italic;
}
.t34 {
  font-family: "DejaVu Serif", serif;
}
.t35 {
  font-weight: bold;
  font-style: italic;
}
.t36 {
  text-decoration: underline;
}
.t37 {
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
}
.t38 {
  font-weight: bold;
  text-decoration: underline;
}
.t39 {
  font-size: 0.56em;
  line-height: 100%;
  vertical-align: super;
}
.t40 {
  font-size: 0.56em;
  line-height: 100%;
  font-style: italic;
  vertical-align: super;
}
h3.p24 {
  text-indent: 0;
  text-align: center;
  margin-top: 15em;
  margin-bottom: 0;
}
h3.t23 {
  font-family: "OPTIFurst";
  font-size: 3.76em;
  line-height: 100%;
  font-weight: bold;
  font-style: italic;
}
h3.t24 {
  font-family: "OPTIFurst";
  font-size: 2.6em;
  line-height: 100%;
  font-weight: bold;
  font-style: italic;
}
.pFirst {
  text-indent: 0;
}
.pSecond {
  text-indent: 0;
  clear: both;
}
.image_left {
  float: left;
  padding-right: 8px;
}
.image_right {
  float: right;
  padding-left: 8px;
}
hr {
  border: 0;
  width: 100%;
  color: #000;
  background-color: #000;
  height: 1px;
  margin-bottom: 25px;
}
.pHR {
  text-indent: 0;
  text-align: left;
  margin-bottom: 0;
}
/* Times New Roman --> DejaVu */
@font-face {
  font-family: "DejaVu Serif";
  font-weight: normal;
  font-style: normal;
  src: url(../Fonts/DejaVuSerif_Light.ttf);
  }
@font-face {
  font-family: "DejaVu Serif";
  font-weight: normal;
  font-style: italic;
  src: url(../Fonts/DejaVuSerif-Italic_Light.ttf);
  }
@font-face {
  font-family: "DejaVu Serif";
  font-weight: normal;
  font-style: oblique;
  src: url(../Fonts/DejaVuSerif-Italic_Light.ttf);
  }
@font-face {
  font-family: "DejaVu Serif";
  font-weight: bold;
  font-style: normal;
  src: url(../Fonts/DejaVuSerif-Bold_Light.ttf);
  }
@font-face {
  font-family: "DejaVu Serif";
  font-weight: bold;
  font-style: italic;
  src: url(../Fonts/DejaVuSerif-BoldItalic_Light.ttf);
  }
@font-face {
  font-family: "DejaVu Serif";
  font-weight: bold;
  font-style: oblique;
  src: url(../Fonts/DejaVuSerif-BoldItalic_Light.ttf);
  }
/* OptiFurst (Basliklar) */
@font-face {
  font-family: "OPTIFurst";
  font-weight: normal;
  font-style: normal;
  src: url(../Fonts/OPTIFurstBold.ttf);
  }
@font-face {
  font-family: "OPTIFurst";
  font-weight: normal;
  font-style: italic;
  src: url(../Fonts/OPTIFurstBold.ttf);
  }
@font-face {
  font-family: "OPTIFurst";
  font-weight: normal;
  font-style: oblique;
  src: url(../Fonts/OPTIFurstBold.ttf);
  }
@font-face {
  font-family: "OPTIFurst";
  font-weight: bold;
  font-style: normal;
  src: url(../Fonts/OPTIFurstBold.ttf);
  }
@font-face {
  font-family: "OPTIFurst";
  font-weight: bold;
  font-style: italic;
  src: url(../Fonts/OPTIFurstBold.ttf);
  }
@font-face {
  font-family: "OPTIFurst";
  font-weight: bold;
  font-style: oblique;
  src: url(../Fonts/OPTIFurstBold.ttf);
  }
/* BD Renaissance (Suslu Harfler) */
@font-face {
  font-family: "BD Renaissance";
  font-weight: normal;
  font-style: normal;
  src: url(../Fonts/BDRenaissance.ttf);
  }
