.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    margin: 1em 0
    }
.calibre2 {
    display: block;
    font-size: 0.83333em;
    font-weight: bold;
    text-align: center;
    margin: 1em 0
    }
.calibre3 {
    font-weight: bold
    }
.calibre4 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 1em 0
    }
.calibre5 {
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2
    }
.calibre6 {
    display: block;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 1em 0
    }
.calibre7 {
    font-weight: bold;
    line-height: 1.2
    }
.calibre8 {
    display: block
    }
.calibre9 {
    display: block;
    text-align: center;
    margin: 1em 0
    }
.calibre10 {
    font-size: 1em
    }
.calibre11 {
    display: block;
    font-size: 0.625em;
    font-weight: bold;
    text-align: center;
    margin: 1em 0
    }
.calibre12 {
    display: block;
    text-align: left;
    margin: 1em 0
    }
.calibre13 {
    font-size: 1em;
    font-weight: bold
    }
.calibre14 {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.83em 0
    }
.calibre15 {
    font-style: italic
    }
.calibre16 {
    font-size: 1em;
    font-style: italic
    }
.calibre17 {
    display: block;
    text-align: right;
    margin: 1em 0
    }
.calibre18 {
    display: block;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.2;
    margin: 1em 0
    }
.calibre19 {
    font-weight: normal;
    line-height: 1.2
    }
.calibre20 {
    display: block;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    margin: 1em 0
    }
.calibre21 {
    font-size: 1em;
    font-weight: normal
    }
.calibre22 {
    text-decoration: underline
    }
.calibre23 {
    font-weight: normal
    }
.calibre24 {
    display: block;
    font-weight: normal;
    margin: 1em 0
    }
.calibre25 {
    font-size: 1em;
    text-decoration: underline
    }
.calibre26 {
    display: block;
    font-weight: bold;
    margin: 1em 0
    }
.calibre27 {
    font-weight: normal;
    text-decoration: underline
    }
.calibre28 {
    display: inline;
    font-size: 1em;
    margin: 1em 0
    }
.calibre29 {
    display: inline;
    font-weight: normal;
    margin: 1em 0
    }
.calibre30 {
    display: inline;
    margin: 1em 0
    }
