p{text-indent:3.3em;margin-left:0;line-height:140%;margin-right:0;text-align:justify;margin-top:0;margin-bottom:.55em;font-family:Amasis,serif;font-size:100%}
.p0{text-align:center;margin-bottom:0}
.p2{text-align:center}
.p3{text-indent:0;margin-left:0;line-height:120%;margin-bottom:0}
.p4{text-indent:0;margin-left:0;line-height:200%;text-align:center;margin-bottom:0}
.p5{text-indent:0;margin-left:0;line-height:150%;text-align:center;margin-bottom:0}
.p6{text-indent:0;margin-left:0;line-height:150%;margin-right:.64em;text-align:center;margin-bottom:0}
.p7{text-indent:0;margin-left:.27em;line-height:150%;text-align:center;margin-bottom:0}
.p8{text-indent:0;margin-left:.091em;line-height:150%;text-align:center;margin-bottom:0}
.p9{text-indent:0;margin-left:0;line-height:150%;text-align:center}
.p10{text-align:right}
.p11{text-indent:0;margin-left:0;line-height:115%;margin-bottom:.91em}
.p12{text-indent:0;margin-left:0;text-align:center}
.p13{text-indent:3.3em;margin-left:.091em;margin-right:.091em}
.p14{text-indent:0;margin-left:0;line-height:120%;text-align:center;margin-bottom:0}
.p15{text-indent:3.2em;margin-left:0;line-height:120%;margin-bottom:0}
.p16{text-indent:0;margin-left:0;margin-top:.91em;margin-bottom:.91em}
h1{text-indent:0;margin-left:0;line-height:130%;margin-right:0;text-align:center;margin-top:2em;margin-bottom:0;font-family:Amasis,serif;font-size:109%;font-weight:bold;color:#c00000}
.t1{font-weight:bold}
.t2{font-style:italic}
.t3{font-size:1.5em;line-height:140%;font-weight:bold}
.t4{font-size:1.5em;line-height:120%;font-weight:bold}
.t5{font-size:1.5em;line-height:200%;font-weight:bold}
.t6{font-size:2.5em;line-height:200%;font-weight:bold}
.t7{font-size:1.2em;line-height:200%}
.t9{font-size:.95em;line-height:150%;color:blue;text-decoration:underline}
.t10{font-size:.95em;line-height:150%}
.t11{font-size:.95em;line-height:150%;font-style:italic}
.t12{font-size:.95em;line-height:150%;font-weight:bold}
.t13{font-style:italic}
.t14{font-size:.65em;line-height:140%;vertical-align:super}
.t15{font-size:.73em;line-height:140%;font-weight:bold}
.t16{font-size:.73em;line-height:120%;font-weight:bold}
.t17{font-size:.73em;line-height:115%;font-weight:bold}
.t18{font-weight:bold;font-style:italic}
.t19{font-style:italic}
.t20{font-size:.65em;line-height:140%;font-style:italic;vertical-align:super}
.t21{font-style:italic;letter-spacing:.045em}
.t22{font-size:.73em;line-height:120%;font-style:italic}
.t23{font-style:italic}
.t24{font-size:.91em;line-height:140%;font-weight:bold;font-style:italic}
.t25{font-size:.82em;line-height:140%}
.t26{font-size:.65em;line-height:140%;font-weight:bold;font-style:italic;vertical-align:super}