p{text-indent:3.2em;margin-left:0;line-height:140%;margin-right:0;text-align:justify;margin-top:0;margin-bottom:.55em;font-family:Amasis,serif;font-size:100%}
.p0{text-indent:0;margin-left:3.2em;text-align:center;margin-bottom:0}
.p1{text-indent:0;margin-left:3.2em}
.p2{text-indent:0;margin-left:1.3em;margin-right:1.1em;text-align:center}
.p3{text-indent:0;margin-left:0}
.p4{text-indent:0;margin-left:.091em;line-height:200%;text-align:center;margin-bottom:1.1em}
.p5{text-indent:0;margin-left:1.3em;line-height:200%;margin-right:1.1em;text-align:center;margin-bottom:0}
.p6{text-indent:0;margin-left:1.3em;line-height:1.2em;margin-right:1.1em;margin-bottom:.13em}
.p7{text-indent:0;margin-left:1.3em;line-height:1.7em;margin-right:1.1em;margin-bottom:0}
.p8{text-indent:0;margin-left:1.3em;line-height:1.2em;margin-right:1.1em;margin-bottom:.28em}
.p9{text-indent:0;margin-left:1.3em;line-height:1.7em;margin-right:1.1em;margin-bottom:0}
.p10{text-indent:0;margin-left:0;line-height:1.7em;margin-bottom:0}
.p11{text-indent:0;margin-left:0;text-align:center}
.p12{text-indent:0;margin-left:0;line-height:1.4em;text-align:left;margin-bottom:0}
.p13{text-indent:0;margin-left:0;line-height:250%;text-align:center}
.p14{text-indent:0;margin-left:0;text-align:center;margin-bottom:.45em}
.p16{text-indent:-.091em;margin-left:.091em;text-align:center}
.p17{text-indent:3.2em;margin-left:2.5em}
.p18{text-indent:3.2em;margin-left:2.4em}
.p19{text-indent:3.2em;margin-left:2.6em}
.p20{text-indent:3.2em;margin-left:2.7em}
.p21{text-indent:0;margin-left:0;text-align:right}
.p22{text-indent:0;margin-left:0;line-height:100%;text-align:left;margin-bottom:0}
.p23{text-indent:0;margin-left:0;text-align:center;margin-bottom:0}
.p24{text-indent:0;margin-left:0;line-height:3.8em;text-align:right;margin-bottom:0}
.p25{text-indent:3.2em;margin-left:1.4em}
.p26{text-indent:3.2em;margin-left:2.5em}
.p27{text-indent:3.2em;margin-left:.73em}
.p28{text-indent:3.2em;margin-left:1.5em}
.p29{text-indent:3.2em;margin-left:1.5em}
.p30{text-indent:3.2em;margin-left:.64em}
.p31{text-indent:3.2em;margin-left:1.2em}
.p32{text-indent:3.2em;margin-left:.91em}
.p33{text-indent:3.2em;margin-left:.82em}
.p34{text-indent:-.091em;margin-left:0;text-align:center}
.p35{text-indent:2.1em;margin-left:1.3em;line-height:115%;margin-bottom:1.2em}
.p36{text-indent:2.1em;margin-left:1.3em;line-height:115%;margin-right:2.3em;margin-bottom:0}
.p37{text-indent:2.1em;margin-left:1.3em;line-height:115%;margin-bottom:0}
.p38{text-indent:2.1em;margin-left:2.5em;line-height:2.2em;margin-bottom:0}
.p39{text-indent:0;margin-left:0;line-height:1.9em;text-align:center;margin-bottom:.74em}
.p40{text-indent:2.4em;margin-left:0;margin-bottom:0}
.p41{text-indent:0;margin-left:0;line-height:1.5em;text-align:center;margin-bottom:.72em}
.p42{text-indent:2.5em;margin-left:0;margin-bottom:0}
.p43{text-indent:0;margin-left:.18em;line-height:1.7em;text-align:center;margin-bottom:1em}
.p44{text-indent:0;margin-left:0;line-height:100%}
.p45{line-height:100%}
.p46{text-indent:0;margin-left:0;margin-top:.55em}
h1{text-indent:0;margin-left:0;line-height:140%;margin-right:0;text-align:center;margin-top:.86em;margin-bottom:1.3em;font-family:Amasis,serif;font-size:127%;font-weight:bold;color:#0b090f}
.t1{font-size:.91em;line-height:140%}
.t2{font-size:.91em;line-height:140%;font-style:italic}
.t3{font-size:.91em;line-height:140%;color:#0563c1;text-decoration:underline}
.t4{font-size:.95em;line-height:200%;font-weight:bold}
.t5{font-weight:bold;font-style:italic}
.t7{font-size:.64em}
.t8{font-style:italic}
.t9{font-size:1.2em}
.t10{font-weight:bold;font-style:italic}
.t11{font-family:"Arial Unicode MS",sans-serif;font-weight:bold;font-style:italic}
.t12{font-family:"Arial Unicode MS",sans-serif}
.t13{color:#0563c1;text-decoration:underline}
.t14{font-size:1.3em;line-height:250%;font-weight:bold}
.t15{font-size:1.5em;line-height:250%;font-weight:bold}
.t16{font-size:1em;line-height:250%;font-style:italic}
.t18{font-style:italic}
.t19{font-size:.95em;line-height:140%}
.t20{font-size:1.1em;line-height:140%}
.t21{font-weight:bold}
.t22{font-style:italic}
.t23{font-size:1em;line-height:140%;font-style:italic}
.t24{font-size:1em;line-height:140%}
.t25{font-size:1.1em;line-height:100%}
.t26{font-size:.091em;line-height:100%}
.t27{font-size:1.8em;line-height:140%;font-weight:bold}
.t28{font-size:3.8em}
.t29{font-size:.091em;line-height:140%}
.t30{font-family:"Segoe UI Symbol",sans-serif}
.t31{font-size:.65em;line-height:140%;vertical-align:super}
.t32{font-size:.95em;line-height:115%}
.t33{font-size:1.5em}
.t34{font-size:1.9em;font-weight:bold}
.t35{font-size:1.5em}
.t36{font-size:1.5em;line-height:140%}
.t37{font-size:1.1em;font-weight:bold;font-style:italic}
.t39{font-size:.59em;line-height:140%;vertical-align:super}