.bold {
    font-weight: bold
    }
.calibre {
    display: block;
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    text-indent: 0;
    margin: 0
    }
.calibre2 {
    font-size: 17pt;
    line-height: 1.2
    }
.calibre3 {
    display: block;
    text-align: justify;
    text-indent: 0;
    margin: 12pt 0 0
    }
.calibre4 {
    font-size: 20pt;
    line-height: 1.2
    }
.calibre5 {
    display: block;
    text-align: justify;
    text-indent: 0;
    margin: 3pt 0 0
    }
.calibre6 {
    display: block;
    text-align: justify;
    text-indent: 0;
    margin: 0
    }
.calibre7 {
    display: block;
    text-align: justify;
    text-indent: 2em;
    margin: 6pt 0 0 2em
    }
.calibre8 {
    display: block;
    margin: 6pt 0 0 2em
    }
.calibre9 {
    display: block;
    margin: 0 0 0 2em
    }
.calibre10 {
    display: block;
    text-align: justify;
    text-indent: 0;
    margin: 0 0 0 2em
    }
.calibre11 {
    display: block
    }
.calibre12 {
    display: block;
    text-align: justify;
    text-indent: 0;
    margin: 6pt 0 0 2em
    }
.calibre13 {
    display: block;
    text-align: justify;
    text-indent: 2em;
    margin: 0 0 0 2em
    }
.calibre14 {
    display: block;
    text-align: left;
    text-indent: 2em;
    margin: 6pt 0 0
    }
.calibre15 {
    display: block;
    text-align: left;
    text-indent: 2em;
    margin: 0
    }
.calibre16 {
    color: blue
    }
.calibre17 {
    display: block;
    text-align: justify;
    text-indent: 1em;
    margin: 6pt 0 0 2em
    }
.calibre18 {
    display: block;
    text-align: left;
    text-indent: 2em;
    margin: 0 0 0 2em
    }
.calibre19 {
    display: block;
    text-align: left;
    text-indent: 2em;
    margin: 6pt 0 0 2em
    }
.calibre20 {
    display: block;
    text-align: justify;
    text-indent: 0;
    margin: 6pt 0 0
    }
.calibre21 {
    height: 16px;
    vertical-align: baseline;
    width: 6px
    }
.calibre22 {
    display: block;
    text-align: left;
    text-indent: 0;
    margin: 0
    }
.calibre23 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 1em 0 0
    }
.calibre24 {
    font-size: 22pt;
    line-height: 1.2
    }
.calibre25 {
    display: block;
    text-indent: -19pt;
    margin: 1em 0 0 19pt
    }
.calibre26 {
    display: block;
    text-indent: 0;
    margin: 0 0 0 2em
    }
.italic {
    font-style: italic
    }
.mbppagebreak {
    display: block;
    margin: 0
    }
.underline {
    text-decoration: underline
    }
