.MsoNormal {
    display: block;
    font-family: "Calibri", "sans-serif";
    font-size: 0.88889em;
    line-height: 1.2;
    margin-bottom: 10pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify
    }
.MsoNormal1 {
    display: block;
    font-family: "Calibri", "sans-serif";
    font-size: 0.88889em;
    line-height: 1.2;
    margin-bottom: 10pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center
    }
.MsoNormal2 {
    display: block;
    font-family: "Calibri", "sans-serif";
    font-size: 0.88889em;
    line-height: 1.2;
    margin-bottom: 10pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
.MsoNormal3 {
    display: block;
    font-family: "Calibri", "sans-serif";
    font-size: 0.88889em;
    line-height: 1.2;
    margin-bottom: 10pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: right
    }
.MsoNormal4 {
    display: block;
    font-family: "Calibri", "sans-serif";
    font-size: 0.88889em;
    line-height: 1.2;
    margin-bottom: 10pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    tab-stops: 16cm;
    text-align: justify
    }
.MsoNormal5 {
    display: block;
    font-family: "Calibri", "sans-serif";
    font-size: 0.88889em;
    line-height: 1.2;
    margin-bottom: 10pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    tab-stops: 16cm;
    text-align: center
    }
.WordSection {
    display: block;
    page: WordSection1
    }
.calibre {
    display: block;
    font-size: 1.125em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    line-height: 1.2
    }
.calibre10 {
    font-style: italic;
    line-height: 1.2
    }
.calibre11 {
    font-weight: bold
    }
.calibre12 {
    font-style: italic
    }
.calibre13 {
    text-decoration: underline
    }
.calibre14 {
    font-family: "Times New Roman", "serif";
    font-size: 0.75em;
    line-height: 115%
    }
.calibre15 {
    color: black;
    line-height: 1.2
    }
.calibre16 {
    color: red;
    line-height: 1.2
    }
.calibre17 {
    display: block;
    line-height: 1.2
    }
.calibre18 {
    font-family: "Times New Roman", "serif";
    font-size: 1.41667em;
    line-height: 1.2
    }
.calibre19 {
    color: #C00000;
    line-height: 1.2
    }
.calibre2 {
    height: 623.25pt;
    left: 0;
    line-height: 1.2;
    margin-left: 0;
    margin-top: 0;
    position: absolute;
    text-align: left;
    visibility: visible;
    width: 413.85pt;
    z-index: 1
    }
.calibre20 {
    color: black;
    font-family: "Times New Roman", "serif";
    line-height: 1.2
    }
.calibre21 {
    color: #C00000;
    font-family: "Times New Roman", "serif";
    line-height: 1.2
    }
.calibre22 {
    background: white;
    color: black;
    font-family: "Georgia", "serif";
    line-height: 1.2
    }
.calibre23 {
    background: white;
    color: black;
    line-height: 1.2
    }
.calibre24 {
    background: white;
    color: black;
    font-family: "Times New Roman", "serif";
    line-height: 1.2
    }
.calibre25 {
    background: white;
    color: black;
    font-family: "Times New Roman", "serif";
    font-size: 1.41667em;
    line-height: 1.2
    }
.calibre3 {
    font-family: "Times New Roman", "serif";
    line-height: 1.2
    }
.calibre4 {
    font-weight: bold;
    line-height: 1.2
    }
.calibre5 {
    font-family: "Times New Roman", "serif";
    font-size: 2em;
    line-height: 115%
    }
.calibre6 {
    font-family: "Times New Roman", "serif";
    font-size: 1.66667em;
    line-height: 1.2
    }
.calibre7 {
    line-height: 1.2;
    text-decoration: underline
    }
.calibre8 {
    font-family: "Times New Roman", "serif";
    font-size: 1.125em;
    line-height: 1.2
    }
.calibre9 {
    line-height: 1.2;
    text-decoration: none
    }
.pcalibre:visited {
    color: purple;
    text-decoration: underline
    }
.pcalibre1:link {
    color: blue;
    text-decoration: underline
    }
