<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistName</key>
	<string>Ahmet Altan</string>
	<key>book-info</key>
	<dict>
		<key>cover-image-hash</key>
		<string>A1FC7CB67FC6B035ADCB667B7FCE4D7D</string>
		<key>cover-image-path</key>
		<string>cover.jpeg</string>
		<key>package-file-hash</key>
		<string>730809E8A24D796BA94629779AC40CA1</string>
		<key>publisher-unique-id</key>
		<string>9a18597a-ae34-4fc2-b40e-f0ba9af2d80c</string>
		<key>unique-id</key>
		<integer>-6348654312894059097</integer>
	</dict>
	<key>itemName</key>
	<string>Karanlıkta Sabah Kuşları</string>
	<key>playlistName</key>
	<string>Karanlıkta Sabah Kuşları</string>
	<key>releaseDate</key>
	<string>2011-03-11T23:42:36+00:00</string>
	<key>sort-artist</key>
	<string>Altan, Ahmet</string>
	<key>sort-artist-status</key>
	<integer>3</integer>
</dict>
</plist>
