.calibre {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: justify
    }
.calibre1 {
    height: auto;
    width: auto
    }
.calibre10 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 1.5em
    }
.calibre11 {
    font-size: 0.75em;
    line-height: 1.2;
    vertical-align: sub
    }
.calibre12 {
    font-size: 0.75em;
    line-height: 1.2;
    vertical-align: super
    }
.calibre13 {
    font-size: 1em;
    line-height: 1.2;
    vertical-align: super
    }
.calibre14 {
    font-size: 0.75em
    }
.calibre15 {
    line-height: 1.2
    }
.calibre16 {
    font-size: 1em;
    line-height: 1.2;
    vertical-align: sub
    }
.calibre17 {
    color: #332C2C;
    line-height: 1.2
    }
.calibre18 {
    color: #A92F3C;
    line-height: 1.2
    }
.calibre19 {
    color: #372D2C;
    line-height: 1.2
    }
.calibre2 {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre20 {
    color: #352E2D;
    line-height: 1.2
    }
.calibre21 {
    color: #AA3842;
    line-height: 1.2
    }
.calibre22 {
    color: #AD2C39;
    line-height: 1.2
    }
.calibre23 {
    color: #362C2B;
    line-height: 1.2
    }
.calibre24 {
    color: #332A29
    }
.calibre25 {
    font-size: 0.90909em;
    line-height: 1.2;
    vertical-align: sub
    }
.calibre26 {
    color: #2D2727;
    line-height: 1.2
    }
.calibre27 {
    color: #382D2A;
    line-height: 1.2
    }
.calibre28 {
    color: #332B2B
    }
.calibre29 {
    color: #4A3C37
    }
.calibre3 {
    color: #332B28;
    line-height: 1.2
    }
.calibre30 {
    color: #3D3330;
    line-height: 1.2
    }
.calibre31 {
    color: #4F403A
    }
.calibre32 {
    color: #463A37
    }
.calibre4 {
    color: #543C2C;
    line-height: 1.2
    }
.calibre5 {
    display: block;
    font-size: 1.375em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.83em
    }
.calibre6 {
    color: #B42C34;
    line-height: 1.2
    }
.calibre7 {
    display: block;
    line-height: 1.2
    }
.calibre8 {
    display: block
    }
.calibre9 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em
    }
.italic {
    font-style: italic;
    line-height: 1.2
    }
.italic1 {
    font-style: italic
    }
.mbppagebreak {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
