<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistName</key>
	<string>Reşat Nuri Güntekin</string>
	<key>book-info</key>
	<dict>
		<key>cover-image-hash</key>
		<string>01DF4080A54D8286DE423A98B7A62709</string>
		<key>cover-image-path</key>
		<string>cover1.jpeg</string>
		<key>mime-type</key>
		<string>application/epub+zip</string>
		<key>package-file-hash</key>
		<string>3EB5A3AC5503FB1955E6F0D0955A09C0</string>
		<key>publisher-unique-id</key>
		<string>66c3df9b-a49a-4bca-8f9c-cfcce0eee299</string>
		<key>unique-id</key>
		<integer>5068727711324276898</integer>
	</dict>
	<key>itemName</key>
	<string>Leyla ile Mecnun</string>
	<key>playlistName</key>
	<string>Leyla ile Mecnun</string>
	<key>releaseDate</key>
	<string>2010-12-04T08:00:00+00:00</string>
	<key>sort-artist</key>
	<string>Güntekin, Reşat Nuri</string>
	<key>sort-artist-status</key>
	<integer>3</integer>
</dict>
</plist>
