body {
	margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

p {
    text-align: center;
    margin-bottom: 5pt;
	text-indent: 0;

}
span.ilkharflerbold {
	font-weight: bold;
}