<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistName</key>
	<string>Ahmet Yaşar Ocak</string>
	<key>book-info</key>
	<dict>
		<key>cover-image-hash</key>
		<string>C758975764AB5FFAD0BF9E5CE9777422</string>
		<key>cover-image-path</key>
		<string>OEBPS/Images/turkiyesosyaltarihindeislaminmacerasi.jpg</string>
		<key>mime-type</key>
		<string>application/epub+zip</string>
		<key>package-file-hash</key>
		<string>E69347AF0C7BF7C1C7D64574A962D4BA</string>
		<key>publisher-unique-id</key>
		<string>urn:uuid:e80cea43-3bfc-4cd8-aa67-7d9716eca73b</string>
		<key>unique-id</key>
		<integer>4452909044116044554</integer>
		<key>update-level</key>
		<integer>2</integer>
	</dict>
	<key>itemName</key>
	<string>Türkiye Sosyal Tarihinde İslam'ın Macerası</string>
	<key>playlistName</key>
	<string>Türkiye Sosyal Tarihinde İslam'ın Macerası</string>
	<key>releaseDate</key>
	<string>2010-09-01</string>
</dict>
</plist>
