.calibre {
    display: block;
    font-family: "LiberationSerif", serif;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    margin: 1em 0
    }
.calibre2 {
    font-weight: bold
    }
.calibre3 {
    font-style: italic;
    font-weight: bold
    }
.calibre4 {
    display: block
    }
.calibre5 {
    height: 279pt;
    width: 158pt
    }
.calibre6 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0
    }
.calibre7 {
    display: table-row;
    vertical-align: middle
    }
.calibre8 {
    display: table-cell;
    text-align: inherit;
    vertical-align: inherit;
    padding: 1px
    }
.calibre9 {
    display: table-cell;
    text-align: inherit;
    vertical-align: bottom;
    padding: 1px
    }
.calibre10 {
    display: table-cell;
    text-align: inherit;
    vertical-align: middle;
    padding: 1px
    }
.calibre11 {
    height: 429pt;
    width: 306pt
    }
.calibre12 {
    font-style: italic
    }
.calibre13 {
    height: 345pt;
    width: 195pt
    }
.calibre14 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre15 {
    height: 439pt;
    width: 304pt
    }
.calibre16 {
    height: 226pt;
    width: 282pt
    }
.calibre17 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre18 {
    display: list-item
    }
.calibre19 {
    display: block;
    list-style-type: circle;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0
    }
.calibre20 {
    height: 216pt;
    width: 268pt
    }
.calibre21 {
    height: 238pt;
    width: 284pt
    }
.calibre22 {
    height: 458pt;
    width: 311pt
    }
.calibre23 {
    height: 479pt;
    width: 315pt
    }
.calibre24 {
    height: 278pt;
    width: 290pt
    }
.calibre25 {
    height: 366pt;
    width: 292pt
    }
