p{text-indent:.57em;margin-left:0;margin-right:0;text-align:justify;margin-top:0;margin-bottom:.6em;font-family:Cambria,serif;font-size:91%}
.p0{text-indent:0;margin-left:0;text-align:center;margin-bottom:0}
.p1{text-indent:0;margin-left:0}
.p2{text-indent:0;margin-left:0;line-height:115%}
.p3{text-indent:0;margin-left:0;line-height:115%;text-align:center}
.p5{text-indent:.57em;text-align:center}
.p6{text-indent:.57em;line-height:115%}
.p7{text-indent:.57em;line-height:115%;text-align:center}
.p8{text-indent:0;margin-left:0;line-height:115%;text-align:left;margin-bottom:1em}
.p9{text-indent:0;margin-left:0;text-align:center}
.p10{text-indent:0}
h1{text-indent:0;margin-left:0;line-height:115%;margin-right:0;text-align:center;page-break-after:avoid;margin-top:1.2em;margin-bottom:.3em;font-family:Cambria,serif;font-size:182%;font-weight:bold}
.h10{text-indent:.28em;margin-left:0;text-align:justify}
.h11{text-indent:0;margin-bottom:0}
.h13{text-indent:.28em;margin-left:0}
.h14{text-indent:0}
.t1{font-weight:bold}
.t3{font-size:1.1em;line-height:115%}
.t4{font-size:1.4em;line-height:115%}
.t5{font-size:2.4em;line-height:115%;font-weight:bold}
.t6{font-size:2.4em;line-height:115%}
.t7{font-size:1.6em;line-height:115%}
.t8{font-size:1.4em;line-height:115%;font-weight:bold;color:#002060;text-decoration:underline}
.t9{font-size:2em;line-height:115%;font-weight:bold}
.t11{font-size:1.4em;line-height:100%;font-style:italic}
.t12{font-size:1.1em;line-height:100%}
.t13{font-style:italic}
.t14{color:#444444}
.t15{font-size:2em;line-height:115%;font-style:italic}
.t16{font-style:italic}
.t17{font-family:Calibri,sans-serif;font-size:1.1em;line-height:115%}
.t18{font-size:1.8em;line-height:115%}
.t19{font-size:1.8em;line-height:100%}
.t20{font-size:2em;line-height:100%;font-style:italic}
.t21{font-size:1.8em;line-height:100%;font-style:italic}
.t22{font-weight:bold;font-style:italic}
.t23{font-size:.65em;line-height:100%;vertical-align:super}
.th12{font-size:.5em;line-height:115%}