<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistName</key>
	<string>Dan Brown</string>
	<key>book-info</key>
	<dict>
		<key>cover-image-hash</key>
		<string>50EA227B584BF7B24922F72BAAB8A6A0</string>
		<key>cover-image-path</key>
		<string>cover.jpeg</string>
		<key>package-file-hash</key>
		<string>D00CA25D4BC3353115A5B413E7E341A4</string>
		<key>publisher-unique-id</key>
		<string>1d509573-8082-43d4-be44-eeec9279e061</string>
		<key>unique-id</key>
		<integer>-7299129392314460094</integer>
	</dict>
	<key>itemName</key>
	<string>Da Vinci Sifresi</string>
	<key>playlistName</key>
	<string>Da Vinci Sifresi</string>
	<key>releaseDate</key>
	<string>2010-10-30T14:05:30.040411+00:00</string>
	<key>sort-artist</key>
	<string>Brown, Dan</string>
	<key>sort-artist-status</key>
	<integer>3</integer>
</dict>
</plist>
