p {
  margin:0 auto 0 auto;  
  font-size:0.8em;
  text-indent:0em;
  text-align:left;
}

.bos06{margin-top:0.6em;}
.bos1{margin-top:1em;}
.bos3{margin-top:3em;}
.bos5{margin-top:5em;}

.ilkharf{font-size:120%;}
.kunye0{text-align:center;font-size:1.6em;font-weight:bold;}
.kunye1{text-align:center;font-size:2em;font-weight:bold;}
.kunye2{text-align:center;font-size:1em;font-weight:bold;}
.ortali{text-align:center;}
.yazar p{text-align:justify;}