body {font-family: serif;}

p {font-size: 1em;}
i, em {font-style: italic;}
b, strong {font-weight: bold;}
a {text-decoration: none;}
blockquote {margin: 1.5em 0;}

.kapak_resmi {text-align: center; margin: 0; padding: 0;}

.logo {text-align: center; margin: 5em 0 1em;}

.ic_kapak_1, .ana_baslik {margin: 5em 0 1em;}
.ic_kapak_2 {margin: 1em 0;}

.kitap_adi, .yazar_adi, .seri_adi, .cevirmen_adi, .yayinevi_adi, .baslik_1, .baslik_2, .baslik_3 {font-weight: normal; text-align: center;}
.kitap_adi, .yazar_adi, .seri_adi, .cevirmen_adi, .yayinevi_adi {margin: 0;}
.baslik_1, .baslik_2, .baslik_3 {margin: 1em 0;}
.kitap_adi {font-size: 2em;}
.baslik_1 {font-size: 1.7em;}
.yazar_adi, .baslik_2 {font-size: 1.5em;}
.seri_adi, .baslik_3 {font-size: 1.3em;}
.cevirmen_adi, .yayinevi_adi {font-size: 1em;}

.kunye {margin-left: 1.5em;}
.kunye p {font-family: sans-serif; font-size: 0.875em; text-align: left; margin: 0;}
.kunye_1 {margin: 3em 0 1.5em;}
.kunye_2 {margin: 1.5em 0;}

.bolum p, .ek p {text-indent: 1.5em; margin: 0;}

.hanedan {margin: 1.5em 0;}
.targaryenlar {margin-top: 2em;}
.hanedan p {text-align: left;}

p.iceri_1, p.iceri_2, p.iceri_3, p.iceri_4 {text-indent: 0;}
p.iceri_1 {margin-left: 1.5em;}
p.iceri_2 {margin-left: 3em;}
p.iceri_3 {margin-left: 4.5em;}
p.iceri_4 {margin-left: 6em;}

.harita {text-align: center; margin: 1.5em 0;}

.dipnotlar p {text-indent: 0; margin: 1em 0;}