@font-face {font-family: "Aldine401 BT"; font-weight: normal; font-style: normal; font-stretch: normal; src: url(../Fonts/Aldine-401-BT.ttf)}
@font-face {font-family: "Aldine401 BT"; font-weight: normal; font-style: italic; font-stretch: normal; src: url(../Fonts/Aldine-401-Italic-BT.ttf)}
@font-face {font-family: "Trajan Pro"; font-weight: bold; font-style: normal; font-stretch: normal; src: url(../Fonts/TrajanPro-Bold.otf)}
@font-face {font-family: "Trajan Pro"; font-weight: normal; font-style: normal; font-stretch: normal; src: url(../Fonts/TrajanPro-Regular.ttf)}

p {text-align: justify; font-family: "Aldine401 BT"; text-indent: 1em; margin: 0.4em 0;}
h1 {text-align: center; font-family: "Trajan Pro"; font-size: 1.5em; font-weight: bold; margin: 1em 0 1.5em;}
h2 {text-align: center; font-family: "Trajan Pro"; font-weight: normal;}

#book-name {font-size: 1.8em; font-weight: bold; margin: 1em 0 0.2em;}
#book-name2 {font-size: 1.40em; font-weight: bold; margin: 0 0 0;}
#author-name {font-size: 1.3em; margin: 1em 0 0.2em;}
#author-name2 {font-size: 2.1em; margin: 0 0 0;}
#translator {font-size: 1.1em; margin: 1em 0 0.2em;}
#translator2 {font-size: 1em; margin: 0 0 0;}
#publisher {font-size: 1.1em; margin: 1em 0 0;}
#noindent {text-indent: 0em;}