.calibre {
  background-color: white;
  display: block;
  font-size: 1em;
  padding-left: 0;
  padding-right: 0;
  margin: 0 5pt;
}
.calibre1 {
  display: block;
}
.calibre2 {
  color: #4F81BD;
  display: block;
  font-family: "Cambria", "serif";
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
  page-break-after: avoid;
  margin: 10pt 0 0.0001pt;
}
.calibre3 {
  
  font-family: "Cambria", "serif";
  font-size: 1.29167em;
  font-weight: normal;
  line-height: 1.2;
}
.calibre4 {
  
  font-size: 1.29167em;
  line-height: 1.2;
}
.calibre5 {
  
  font-family: "Cambria", "serif";
  font-size: 1.29167em;
  font-style: normal;
  font-weight: normal;
  line-height: 1.2;
}
.calibre6 {

  font-family: "Cambria", "serif";
  font-size: 1.29167em;
  line-height: 1.2;
}
.calibre7 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  text-align: justify;
  margin: 0 0 0.0001pt;
}
.calibre8 {
  font-family: "Cambria", "serif";
}
.calibre9 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  text-align: justify;
  text-indent: 62pt;
  margin: 0 0 0.0001pt;
}
.calibre10 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  text-align: justify;
  text-indent: 61pt;
  margin: 0 0 0.0001pt;
}
.calibre11 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  text-align: justify;
  text-indent: 54pt;
  margin: 0 0 0.0001pt;
}
.calibre12 {
  font-style: italic;
}
.calibre13 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  text-align: justify;
  text-indent: 55pt;
  margin: 0 0 0.0001pt;
}
.calibre14 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  text-align: justify;
  text-indent: 65pt;
  margin: 0 0 0.0001pt;
}
.calibre15 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  text-align: justify;
  text-indent: 60pt;
  margin: 0 0 0.0001pt;
}
.calibre16 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  text-align: justify;
  text-indent: 56pt;
  margin: 0 0 0.0001pt;
}
.calibre17 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  text-align: justify;
  text-indent: 58pt;
  margin: 0 0 0.0001pt;
}
.calibre18 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  text-align: justify;
  text-indent: 57pt;
  margin: 0 0 0.0001pt;
}
.calibre19 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  text-align: justify;
  text-indent: 103pt;
  margin: 0 0 0.0001pt;
}
.calibre20 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  text-align: justify;
  text-indent: 75pt;
  margin: 0 0 0.0001pt;
}
.calibre21 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  text-align: justify;
  text-indent: 63pt;
  margin: 0 0 0.0001pt;
}
.calibre22 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  text-align: justify;
  text-indent: 64pt;
  margin: 0 0 0.0001pt;
}
.calibre23 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  text-align: justify;
  text-indent: 67pt;
  margin: 0 0 0.0001pt;
}
.calibre24 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  text-align: justify;
  text-indent: 72pt;
  margin: 0 0 0.0001pt;
}
.calibre25 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  text-align: justify;
  text-indent: 53pt;
  margin: 0 0 0.0001pt;
}
.calibre26 {
  font-size: 0.75em;
  line-height: normal;
  vertical-align: super;
}
.calibre27 {
  color: black;
}
.calibre28 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  text-align: justify;
  text-indent: 83pt;
  margin: 0 0 0.0001pt;
}
.calibre29 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  text-align: justify;
  text-indent: 59pt;
  margin: 0 0 0.0001pt;
}
.calibre30 {
  display: block;
  float: left;
}
.calibre31 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  text-align: justify;
  text-indent: 35.4pt;
  margin: 0 0 0.0001pt 23.6pt;
}
.calibre32 {
  font-weight: bold;
}
.calibre33 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  text-align: justify;
  text-indent: 81pt;
  margin: 0 0 0.0001pt;
}
.calibre34 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  text-align: justify;
  text-indent: 66pt;
  margin: 0 0 0.0001pt;
}
.calibre35 {
  font-family: "Cambria", "serif";
  font-variant: small-caps;
}
.calibre36 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  text-align: justify;
  text-indent: 50pt;
  margin: 0 0 0.0001pt;
}
.calibre37 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  text-align: justify;
  text-indent: 68pt;
  margin: 0 0 0.0001pt;
}
.calibre38 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  text-align: justify;
  text-indent: 35.4pt;
  margin: 0 0 0.0001pt;
}
.calibre39 {
  display: table-row-group;
  vertical-align: middle;
}
.calibre40 {
  display: table-row;
  vertical-align: inherit;
}
.calibre41 {
  display: table-cell;
  text-align: inherit;
  vertical-align: inherit;
  padding: 0.75pt;
}
.font {
  font-family: "Trebuchet MS", "sans-serif";
}
.font1 {
  font-family: "Book Antiqua", "serif";
}
.font2 {
  font-family: "Courier New";
}
.font3 {
  font-family: "Microsoft Sans Serif", "sans-serif";
}
.MsoNormal {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  
  margin: 0 0 0.0001pt;
}
.MsoNormal1 {
  display: block;
  font-family: "Times New Roman", "serif";
  font-size: 1em;
  margin: 0 0 0.0001pt;
}
.MsoNormalTable {
  border-collapse: separate;
  border-spacing: 2px;
  display: table;
  margin-bottom: 0;
  margin-top: 0;
  text-indent: 0;
}
.WordSection {
  display: block;
  page: WordSection1;
}
