img {
  max-width: 100%;
}
.font0 {
  font-size: small;
  font-family: sans-serif;
}
.font1 {
  font-size: large;
  font-family: "Georgia", sans-serif;
}
.font2 {
  font-size: x-large;
  font-family: "Georgia", sans-serif;
}
