p{text-indent:1em;text-indent:0;margin-left:0;margin-right:0;text-align:justify;margin-top:0.5m;margin-bottom:0.5em;}
.p0{text-indent:0;margin-left:0;line-height:115%;margin-right:0;text-align:center;margin-top:0}
.p2{text-indent:0;margin-left:0;line-height:100%;margin-right:0;text-align:center;margin-top:0;;font-size:3em;margin-bottom:1.4em}
.p3{text-indent:0;margin-left:0;line-height:115%;margin-right:0;text-align:center;margin-top:0;margin-bottom:.91em}
.p4{text-indent:0;margin-left:0;line-height:100%;margin-right:0;text-align:left;margin-top:0;margin-bottom:1.4em}
.p5{text-indent:0;margin-left:0;line-height:100%;margin-right:0;text-align:left;margin-top:0}
.p6{text-indent:-1.3em;margin-left:1.3em;line-height:100%;margin-right:0;text-align:left;margin-top:0}
.p7{text-indent:1em}
h1{text-indent:0;margin-left:0;margin-right:0;text-aling:3em}
.h11{text-indent:3em}
.t2{font-size:2.4em;line-height:100%;color:#17365d;letter-spacing:.0096em}
.t3{font-size:.82em;font-weight:bold}
.t4{font-size:.82em}
.t5{color:blue}
.t6{font-size:.82em;color:blue}
.t7{font-style:italic}
.t8{font-size:.65em;vertical-align:super}
.t9{font-size:.65em;font-style:italic;vertical-align:super}
.t10{font-size:.59em;line-height:100%;vertical-align:super}
.t11{font-size:.91em;line-height:100%}
.t12{font-family:Tahoma,sans-serif;font-size:.91em;line-height:100%}