p.ParaOverride-1 {
	text-align:center;
}
p.ParaOverride-2 {
	margin-bottom:20px;
	text-align:center;
}
p.ParaOverride-3 {
	text-align:center;
	text-indent:0px;
}
p.ParaOverride-4 {
	margin-bottom:20px;
}
p.ParaOverride-5 {
	margin-bottom:0px;
}
p.ParaOverride-6 {
	margin-bottom:0px;
	margin-top:0px;
}
p.ParaOverride-7 {
	margin-top:0px;
}
p.ParaOverride-8 {
	margin-top:0px;
	text-align:center;
}
p.ParaOverride-9 {
	margin-bottom:0px;
	margin-top:0px;
	text-align:center;
}
p.ParaOverride-10 {
	margin-bottom:0px;
	text-align:center;
}
span.CharOverride-1 {
	font-family:"Liberation Serif";
	font-size:1.333em;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-2 {
	font-size:2em;
}
span.CharOverride-3 {
	font-family:"Liberation Serif";
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-4 {
	font-family:"Liberation Serif";
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-5 {
	font-family:"Liberation Serif";
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-6 {
	font-size:58%;
	vertical-align:super;
}
span.CharOverride-7 {
	font-family:"Minion Pro Bold";
	font-size:1.067em;
	font-style:normal;
	font-weight:bold;
}
img._idGenObjectAttribute-1 {
	height:342px;
	width:263px;
}
img._idGenObjectAttribute-2 {
	height:40px;
	width:27px;
}
img._idGenObjectAttribute-3 {
	height:104px;
	width:91px;
}
img._idGenObjectAttribute-4 {
	height:106px;
	width:89px;
}
img._idGenObjectAttribute-5 {
	height:96px;
	width:78px;
}
img._idGenObjectAttribute-6 {
	height:101px;
	width:93px;
}
img._idGenObjectAttribute-7 {
	height:98px;
	width:92px;
}
img._idGenObjectAttribute-8 {
	height:93px;
	width:78px;
}
img._idGenObjectAttribute-9 {
	height:242px;
	width:338px;
}
img._idGenObjectAttribute-10 {
	height:283px;
	width:277px;
}
img._idGenObjectAttribute-11 {
	height:298px;
	width:311px;
}
img._idGenObjectAttribute-12 {
	height:110px;
	width:98px;
}
img._idGenObjectAttribute-13 {
	height:259px;
	width:384px;
}
img._idGenObjectAttribute-14 {
	height:116px;
	width:95px;
}
img._idGenObjectAttribute-15 {
	height:101px;
	width:97px;
}
hr.HorizontalRule-1 {
	border-bottom:none;
	border-left:none;
	border-right:none;
	border-top:solid #000000 1px;
}
