h2 {
	text-align:center;
	font-weight:bold;
}
h3 {
	text-align:right;
	font-style:italic;
}
p {
    text-indent: 1em;
    text-align:justify;
}
.onsoz_dip {
	text-align:right;
	font-weight:bold;
	font-style:italic;
}
.alinti {
     margin: 0em 2em 0em 2em;
}