@font-face{font-family:"Cambria";font-style:normal;font-weight:normal;src:url(../Fonts/cambria.ttc)}
@font-face{font-family:"Cambria";font-style:italic;font-weight:normal;src:url(../Fonts/cambriai.ttf)}
@font-face{font-family:"Cambria";font-style:normal;font-weight:bold;src:url(../Fonts/cambriab.ttf)}
@font-face{font-family:"Cambria";font-style:italic;font-weight:bold;src:url(../Fonts/cambriaz.ttf)}
p{text-indent:0;margin-left:0;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:0;font-family:Cambria,serif;font-size:109%}
.li1{font-family:Cambria,serif;font-size:109%}
.linone{list-style-type:none}
.linone1{font-family:Cambria,serif;font-size:109%;list-style-type:none}
.p0{text-indent:0;text-align:center}
.p2{text-indent:0}
h2{text-indent:0;margin-left:0;margin-right:0;page-break-after:avoid;widows:1;orphans:1;margin-top:0;margin-bottom:0;font-family:Cambria,serif;font-size:109%;font-weight:bold;font-style:italic}
.h20{text-indent:0;text-align:center}
.h22{text-indent:0}
.t1{font-style:italic}
.t3{letter-spacing:.13em}
.t4{font-size:.79em}
.t5{font-weight:bold}
.t6{font-size:.65em;vertical-align:super}
.t7{letter-spacing:.042em}
.t8{font-weight:bold;color:white;letter-spacing:-.083em}
.t9{font-weight:bold;color:white;letter-spacing:-.042em}
.t10{font-weight:bold;color:white}
.t11{font-weight:bold;font-style:italic;color:white}
.t12{font-style:italic;color:white;letter-spacing:-.17em}
.t13{font-style:italic;color:white;letter-spacing:.083em}
.t14{font-weight:bold;color:white;letter-spacing:-.17em}
.th21{font-style:normal}
.th23{letter-spacing:-.083em}