p{text-indent:1.4em;margin-left:.1em;line-height:130%;margin-right:.1em;text-align:justify;margin-top:0;margin-bottom:1em;font-family:"Ascender Sans";font-size:91%}
.p0{text-indent:0;margin-left:0;margin-right:0;text-align:center;margin-bottom:0}
.p1{text-indent:0;margin-left:0;margin-right:0;text-align:left}
.p2{text-indent:0;margin-left:.1em;margin-right:1.1em}
.p3{text-indent:0;margin-left:.1em;margin-right:0;text-align:left}
.p4{text-indent:0;margin-left:.2em;margin-right:0;margin-top:1.2em}
.p5{text-indent:1.9em;margin-left:.2em}
.p6{text-indent:0;margin-left:.2em;margin-right:0}
.p7{text-indent:0;margin-left:.2em;margin-right:19em;text-align:left}
.p8{text-indent:0;margin-left:0;margin-right:0;text-align:center}
.p9{text-indent:0;margin-left:0;margin-right:0;text-align:center;margin-top:1.2em}
.p10{text-indent:0;margin-left:14em;margin-right:14em;text-align:left}
.p11{text-indent:0;margin-left:1em;margin-right:0;text-align:center}
.p12{text-indent:0;margin-left:.1em;margin-right:1em;text-align:left}
.p13{text-indent:0;margin-left:2.8em}
.p14{text-indent:0;margin-left:1.2em;margin-right:0;text-align:center}
.p16{margin-top:1.2em}
.p17{text-indent:1.4em;margin-left:0}
.p18{text-indent:1.4em;margin-left:.2em}
.p19{text-indent:0;margin-left:.2em}
.p20{text-indent:1.4em;margin-left:.2em;margin-top:1.2em}
.p21{margin-right:0}
.p22{text-indent:0;margin-left:.1em;margin-right:0;margin-top:1.2em}
.p23{text-indent:1.4em;margin-left:.2em;margin-right:.2em;margin-top:1.2em}
.p24{text-indent:1.4em;margin-left:.2em;margin-right:.2em}
.p25{text-indent:0;margin-left:.2em;margin-right:.2em}
.p26{text-indent:0;margin-left:.1em}
.p27{text-indent:1.5em;margin-left:.2em;margin-top:1.2em}
.p28{text-indent:1.5em;margin-left:.2em}
.p29{text-indent:1.5em;margin-left:.1em;margin-right:.2em;margin-top:1.2em}
.p30{text-indent:1.5em;margin-left:.1em;margin-right:.2em}
.p31{margin-right:.2em}
.p32{margin-right:.2em;margin-top:1.2em}
.p33{text-indent:1.3em;margin-left:.1em}
.p34{text-indent:0;margin-left:5.9em;margin-right:0;text-align:left}
.p35{text-indent:0;margin-left:.8em;margin-right:0;text-align:center}
.p36{text-indent:0;margin-left:3.8em}
.p37{text-indent:2.8em;margin-left:0}
.p38{text-indent:1.5em;margin-left:.1em}
.p39{text-indent:1.4em;margin-left:.3em}
.p40{text-indent:1.4em;margin-left:.2em;margin-right:.3em}
.p41{margin-right:.3em}
.p42{text-indent:1.4em;margin-left:0}
.p43{text-indent:1.4em;margin-left:.3em;margin-right:.2em}
.p44{text-indent:0;margin-left:0;margin-right:0;text-align:left;margin-top:1.2em}
.p45{text-indent:0;margin-left:.2em;margin-right:0;text-align:center}
.p46{text-indent:0;margin-left:1.9em;margin-top:1.2em}
.p47{text-indent:1.9em;margin-left:0;margin-top:1.2em}
.p48{text-indent:2.1em;margin-left:0;margin-right:0}
.p49{text-indent:0;margin-left:.6em;margin-right:0;text-align:center}
.p50{text-indent:1.9em;margin-left:0}
.p51{text-indent:1.4em;margin-left:.2em;margin-right:.3em;margin-top:1.2em}
.p52{text-indent:0;margin-left:.5em;margin-right:0;text-align:center}
.p53{text-indent:0;margin-left:0;margin-right:0}
.p54{text-indent:0;margin-left:0;margin-right:.25em}
.p55{text-indent:0;margin-left:0;margin-right:1em}
.p56{text-indent:1.5em;margin-left:.2em;margin-right:.2em}
.p57{text-indent:0;margin-left:.1em;margin-right:.2em}
.p58{text-indent:0;margin-left:.7em;margin-right:0;text-align:center;margin-top:1.2em}
.p59{text-indent:0;margin-left:.4em;margin-right:0;text-align:center}
.p60{text-indent:2.1em;margin-left:0}
.p61{text-indent:1.3em;margin-left:.3em;margin-right:.2em}
.p62{text-indent:0;margin-left:0}
.p63{text-indent:0;margin-left:.3em;margin-right:0;text-align:center}
.p64{text-indent:0;margin-left:0;margin-right:0;margin-top:1.2em}
.p65{text-indent:1.4em;margin-left:0;margin-top:1.2em}
.p66{margin-right:1.4em;text-align:left}
.p67{text-indent:0;margin-left:1.3em;margin-right:0;text-align:center}
.p68{text-indent:0;margin-left:.8em;margin-right:2.4em}
.p69{text-indent:0;margin-left:1.2em;margin-right:0;text-align:center;margin-top:1.2em}
.p70{text-indent:0;margin-left:0;margin-right:2.9em;text-align:left}
.p71{text-indent:0;margin-left:0;margin-right:.9em}
.p72{text-indent:0;margin-left:3.2em}
.p73{text-indent:1.5em;margin-left:.2em;margin-right:.2em;margin-top:1.2em}
.p74{text-indent:1.3em;margin-left:.2em;margin-right:0}
.p75{text-indent:1.3em;margin-left:.2em;margin-right:.2em;margin-top:1.2em}
.p76{text-indent:1.3em;margin-left:.2em;margin-right:0;margin-top:1.2em}
.p77{text-indent:1.3em;margin-left:.2em;margin-right:.2em}
.p78{text-indent:0;margin-left:9.5em;margin-right:0;text-align:left}
.p79{text-indent:1.4em;margin-left:0;margin-right:.2em;margin-top:1.2em}
.p80{text-indent:0;margin-left:.2em;margin-right:.2em;margin-top:1.2em}
.p81{text-indent:1.9em;margin-left:0}
.p82{text-indent:1.5em;margin-left:.2em;margin-right:.3em}
.p83{text-indent:1.5em;margin-left:.2em;margin-right:.3em;margin-top:1.2em}
.p84{text-indent:0;margin-left:2.1em}
.p85{text-indent:0;margin-left:6.9em;margin-right:0;text-align:left}
.p86{text-indent:1.4em;margin-left:0;margin-right:0;text-align:center}
.p87{text-indent:1.4em;margin-left:0;margin-right:1.1em;text-align:center}
.p88{text-indent:0;margin-left:.1em;margin-right:0;text-align:left;margin-top:1.2em}
.p89{text-indent:1.3em;margin-left:.1em;margin-right:.2em;margin-top:1.2em}
.p90{text-indent:1.3em;margin-left:.1em;margin-right:.2em}
.p91{text-indent:1.5em;margin-left:.1em;margin-top:1.2em}
.p92{text-indent:0;margin-left:.2em;margin-right:0;text-align:left;margin-top:1.2em}
.p93{text-indent:1.5em;margin-left:.2em;margin-right:0}
.p94{text-indent:1.5em;margin-left:.3em;margin-right:.2em}
.p95{text-indent:0;margin-left:.3em;margin-right:.2em}
.p96{text-indent:0;margin-left:.5em;margin-right:2.1em;text-align:center}
.p97{text-indent:0;margin-left:0;text-align:center}
.p98{text-indent:0;margin-left:.1em;margin-right:0;text-align:center}
.p99{text-indent:1.4em;margin-left:0;margin-right:0;text-align:left}
.p100{text-indent:0;margin-left:.9em;margin-right:0;text-align:center}
.p101{text-indent:0;margin-left:.1em;margin-right:0}
.p102{text-indent:2.1em;margin-left:0;margin-right:0;text-align:left}
.p103{text-indent:1.4em;margin-left:.2em;margin-right:0}
.p104{text-indent:1.5em;margin-left:.1em;margin-right:0}
.p105{text-indent:0;margin-left:4.1em;margin-right:2.6em}
.p106{text-indent:0;margin-left:.3em;margin-right:1.5em}
.p107{text-indent:0;margin-left:.2em;margin-right:1.4em;text-align:center}
.p108{text-indent:0;margin-left:.6em;margin-right:0}
.p109{text-indent:0;margin-left:0;margin-right:.9em;text-align:center}
.p110{text-indent:0;margin-left:2.9em;margin-right:.2em}
.p111{text-indent:1.4em;margin-left:.3em;margin-right:.5em}
.p112{text-indent:0;margin-left:2.7em;margin-right:3.3em}
.p113{text-indent:0;margin-left:.5em;margin-right:1.8em;text-align:center}
.p114{text-indent:0;margin-left:2.4em;margin-top:1.2em}
.p115{text-indent:0;margin-left:1.9em}
.p116{text-indent:1.6em;margin-left:.1em}
.p117{text-indent:0;margin-left:.1em;margin-top:1.2em}
.p118{margin-right:.3em;margin-top:1.2em}
.p119{text-indent:0;margin-left:.22em}
.p120{text-indent:0;margin-left:1.4em;margin-right:0;text-align:center}
.p121{text-indent:0;margin-left:.5em;margin-right:1.9em;text-align:center}
.p122{text-indent:0;margin-left:2.7em;margin-right:5.6em;text-align:left}
.p123{text-indent:0;margin-left:2.6em;margin-right:.2em;margin-top:1.2em}
.p124{text-indent:0;margin-left:.2em;margin-right:.3em}
.p125{text-indent:0;margin-left:.1em;margin-right:.4em}
.p126{margin-right:.4em}
.p127{text-indent:1.4em;margin-left:.5em}
.p128{text-indent:0;margin-left:5.4em;margin-right:0;text-align:left}
.p129{text-indent:-3.4em;margin-left:3.4em;margin-right:.9em;text-align:center}
.p130{text-indent:0;margin-left:0;margin-right:3em;text-align:center}
.p131{text-indent:1.4em;margin-left:0;margin-right:0}
.p132{text-indent:0;margin-left:2em;margin-top:1.2em}
.p133{text-indent:0;margin-left:1.9em;margin-right:0}
.p134{text-indent:1.6em;margin-left:0;margin-right:0}
.p135{text-indent:0;margin-left:3em}
.p136{text-indent:0;margin-left:6.8em;margin-right:0}
.p137{text-indent:0;margin-left:2.8em;margin-right:.2em}
.p138{text-indent:0;margin-left:.6em;margin-right:1.9em;text-align:center}
.p139{text-indent:0;margin-left:2.1em}
.p140{text-indent:0;margin-left:1.8em}
.p141{text-indent:0;margin-left:0;margin-right:1em;text-align:center}
.p142{text-indent:0;margin-left:2.7em}
.p143{text-indent:1.4em;margin-left:.2em;margin-right:0;margin-top:1.2em}
.p144{text-indent:0;margin-left:4.5em;margin-right:0}
.p145{text-indent:0;margin-left:.3em;margin-right:0}
.p146{text-indent:3.4em;margin-left:.1em;margin-top:1.2em}
.p147{text-indent:3.3em;margin-left:.1em;margin-top:1.2em}
.p148{text-indent:2.7em;margin-left:.1em;margin-right:0}
.p149{text-indent:0;margin-left:.4em;margin-right:.4em;text-align:center}
.p150{text-indent:0;margin-left:7.1em;margin-right:0}
.p151{text-indent:0;margin-left:.1em;margin-right:.9em}
.p152{text-indent:0;margin-left:.1em;text-align:center}
.p153{text-indent:0;margin-left:.3em;margin-right:1.5em;text-align:center}
.p154{text-indent:1.3em;margin-left:.2em}
.p155{text-indent:1.4em;margin-left:0;margin-right:0}
.p156{text-indent:0;margin-left:.7em;margin-right:0;text-align:center}
.p157{text-indent:1.6em;margin-left:.1em;margin-top:1.2em}
.p158{text-indent:0;margin-left:5.6em;margin-right:0}
.p159{text-indent:0;margin-left:0;margin-right:.3em;margin-top:1.2em}
.p160{margin-right:0;margin-top:1.2em}
.p161{text-indent:0;margin-left:.1em;margin-right:.3em;margin-top:1.2em}
.p162{text-indent:0;margin-left:.5em;margin-right:2.1em;text-align:left}
.p163{text-indent:2em;margin-left:.3em;margin-right:1.6em;text-align:center}
.p164{text-indent:2em;margin-left:.3em;margin-right:1.6em}
.p165{text-indent:0;margin-left:1.1em;margin-right:0;text-align:center}
.p166{text-indent:0;margin-left:0;margin-right:1.1em;text-align:center}
.p167{text-indent:1.4em;margin-left:.5em;margin-right:.2em}
.p168{text-indent:1.4em;margin-left:.6em;margin-right:.2em}
.p169{text-indent:1.5em;margin-left:.2em;margin-right:0;margin-top:1.2em}
.p170{text-indent:0;margin-left:9.3em;margin-right:0;text-align:left}
.p171{text-indent:0;margin-left:7.2em;margin-right:0;text-align:left}
.p172{text-indent:0;margin-left:.1em;margin-right:.9em;text-align:center}
.p173{text-indent:0;margin-left:2.7em}
.p174{text-indent:0;margin-left:3.3em;margin-right:0}
.p175{text-indent:-2.1em;margin-left:2.1em;margin-right:3.3em}
.p176{text-indent:0;margin-left:.6em;margin-right:1.8em;text-align:center}
.p177{text-indent:1.3em;margin-left:.2em;margin-right:.3em}
.p178{text-indent:1.5em;margin-left:.3em;margin-right:.3em}
.p179{text-indent:1.5em;margin-left:.3em;margin-right:.3em;margin-top:1.2em}
.p180{text-indent:0;margin-left:1.3em;margin-right:0}
.p181{text-indent:0;margin-left:.1em;margin-right:.2em;text-align:center}
.p182{margin-right:.4em;margin-top:1.2em}
.p183{text-indent:1.3em;margin-left:.3em;margin-right:.2em;margin-top:1.2em}
.p184{text-indent:2em;margin-left:.1em;margin-right:.2em}
.p185{text-indent:1.3em;margin-left:.3em;margin-right:.3em}
.p186{text-indent:0;margin-left:4.4em;margin-right:0;text-align:left}
.p187{text-indent:1.3em;margin-left:.1em}
.p188{text-indent:1.6em;margin-left:.2em;margin-right:.2em}
.p189{text-indent:0;margin-left:1.9em;margin-right:0;text-align:center}
.p190{text-indent:0;margin-left:.2em;margin-right:2.1em;text-align:center}
.p191{text-indent:1.8em;margin-left:.1em;text-align:center}
.p192{text-indent:0;margin-left:6.3em;margin-right:0;text-align:left}
.p193{text-indent:0;margin-left:.3em;margin-right:0;text-align:center;margin-top:1.2em}
.p194{text-indent:1.6em;margin-left:.5em;margin-right:1.7em}
.p195{text-indent:0;margin-left:2.4em;margin-right:0}
.p196{text-indent:0;margin-left:0;margin-right:.2em;text-align:center}
.p197{text-indent:0;margin-left:.1em;margin-right:1.2em;text-align:center}
.p198{text-indent:0;margin-left:.5em;margin-right:1.7em}
.p199{text-indent:2em;margin-left:.1em;margin-right:0}
.p200{text-indent:1.4em;margin-left:.3em;margin-right:.4em}
.p201{text-indent:0;margin-left:4.1em;margin-right:0;text-align:left}
.p202{text-indent:0;margin-left:0;margin-right:.8em;text-align:center}
.p203{text-indent:0;margin-left:.1em;margin-right:.5em;text-align:center}
.p204{text-indent:1.4em;margin-left:.3em;margin-right:.3em}
.p205{text-indent:1.4em;margin-left:.3em;margin-right:.3em;margin-top:1.2em}
.p206{text-indent:0;margin-left:0;margin-right:.2em;margin-top:1.2em}
.p207{text-indent:1.3em;margin-left:.1em;margin-right:.2em}
.p208{text-indent:0;margin-left:3em;margin-right:0;text-align:left}
.p209{text-indent:0;margin-left:.7em;margin-right:1.9em;text-align:center}
.p210{text-indent:0;margin-left:.7em;margin-right:1.9em}
.p211{text-indent:1.4em;margin-left:.4em}
.p212{text-indent:0;margin-left:.4em;margin-right:1.6em;text-align:center}
.p213{text-indent:0;margin-left:6.5em;margin-right:0;text-align:left}
.p214{text-indent:1.4em;margin-left:.4em;margin-right:.3em}
.p215{text-indent:0;margin-left:.3em;margin-right:0;margin-top:1.2em}
.p216{text-indent:0;margin-left:.6em;margin-right:.5em}
.p217{text-indent:1.3em;margin-left:.3em}
.p218{text-indent:0;margin-left:0;line-height:150%;margin-right:0;margin-top:.6em;margin-bottom:.6em}
h1{text-indent:0;margin-left:0;line-height:130%;margin-right:0;text-align:center;margin-top:2.2em;margin-bottom:.91em;font-family:"Ascender Sans";font-size:100%;font-weight:bold;color:#c00000}
h2{text-indent:0;margin-left:0;line-height:130%;margin-right:0;text-align:center;margin-top:1em;margin-bottom:1em;font-family:"Ascender Sans";font-size:91%;font-weight:bold;color:#1d1b11}
.t1{font-size:1.2em;line-height:130%;font-weight:bold}
.t2{font-weight:bold;font-style:italic}
.t3{font-style:italic}
.t4{font-size:1.8em;line-height:130%}
.t5{font-size:1.8em;line-height:130%;font-weight:bold}
.t6{font-size:1.5em;line-height:130%;font-weight:bold}
.t7{font-size:1.5em;line-height:130%;font-weight:bold;font-style:italic}
.t8{font-size:2.6em;line-height:130%;font-weight:bold}
.t9{font-size:.9em;line-height:130%}
.t10{font-size:.9em;line-height:130%;font-weight:bold}
.t11{font-size:.9em;line-height:130%;font-weight:bold;font-style:italic}
.t12{font-size:.9em;line-height:130%;font-style:italic}
.t13{font-size:.9em;line-height:130%;color:#0066cc;text-decoration:underline}
.t14{font-size:1.1em;line-height:130%;font-weight:bold}
.t15{font-size:1.6em;line-height:130%;font-weight:bold}
.t16{font-size:.1em;line-height:130%}
.t17{font-size:.6em;line-height:130%;vertical-align:-1.3em}
.t18{font-size:1.6em;line-height:130%}
.t19{font-size:.85em;line-height:130%;vertical-align:-.94em}
.t20{font-size:.85em;line-height:130%;vertical-align:.24em}
.t21{font-size:1.2em;line-height:130%;font-weight:bold;font-style:italic}
.t22{font-weight:bold;font-style:italic;vertical-align:.2em}
.t23{font-size:.85em;line-height:130%}
.t24{font-size:1.1em;line-height:130%;font-weight:bold;font-style:italic}
.t25{vertical-align:-.5em}
.t26{font-size:.65em;line-height:130%;vertical-align:super}
.t27{font-weight:bold;font-style:italic;vertical-align:-.5em}
.t28{vertical-align:-.6em}
.t29{font-size:.85em;line-height:130%;vertical-align:-.59em}
.t30{font-size:.65em;line-height:130%;font-weight:bold;font-style:italic;vertical-align:super}
.t31{font-size:.85em;line-height:130%;font-style:italic;vertical-align:-.94em}
.t32{font-size:.85em;line-height:130%;vertical-align:.12em}
.t33{font-size:.7em;line-height:130%;vertical-align:-.86em}
.t34{font-size:.7em;line-height:130%;vertical-align:-.29em}
.t35{font-size:1.1em;line-height:130%;font-style:italic}
.t36{font-weight:bold;font-style:italic;vertical-align:-.8em}
.t37{font-size:.85em;line-height:130%;font-weight:bold}
.t38{vertical-align:.1em}
.t39{font-size:1.3em;line-height:130%;font-weight:bold}
.t40{font-size:.7em;line-height:130%;vertical-align:-.71em}
.t41{font-family:"Franklin Gothic Heavy",sans-serif}
.t42{font-size:1.2em;line-height:130%}
.t43{font-family:Georgia,serif}
.t44{font-size:.4em;line-height:130%}
.t45{font-size:.9em;line-height:130%;font-weight:bold;vertical-align:-.89em}
.t46{font-size:1.7em;line-height:130%}
.t47{font-size:.7em;line-height:130%;vertical-align:-1.1em}
.t48{font-family:"Franklin Gothic Heavy",sans-serif;font-size:.85em;line-height:130%}
.t49{font-size:.6em;line-height:130%}
.t50{font-size:.6em;line-height:130%;vertical-align:-1.7em}
.t51{font-family:"Times New Roman",serif;font-size:1.2em;line-height:130%}
.t52{font-size:1.5em;line-height:130%}
.t53{font-size:.85em;line-height:130%;vertical-align:-.82em}
.t54{font-size:1.6em;line-height:130%;font-weight:bold}
.t55{font-size:.65em;line-height:130%;vertical-align:sub}
.t56{font-size:.85em;line-height:130%;vertical-align:-.47em}
.t57{font-family:"Franklin Gothic Heavy",sans-serif;vertical-align:.2em}
.t58{font-family:"Franklin Gothic Heavy",sans-serif;font-weight:bold;vertical-align:.2em}
.t59{font-size:.7em;line-height:130%;vertical-align:-.57em}
.t60{font-size:.7em;line-height:130%}
.t61{font-weight:bold;font-style:italic;vertical-align:-.4em}
.t62{vertical-align:-.4em}
.t63{font-size:.65em;line-height:130%;vertical-align:-1.1em}
.t64{font-size:1.3em;line-height:130%}
.t65{font-weight:bold;font-style:italic;vertical-align:-.7em}
.t66{font-size:.7em;line-height:130%;vertical-align:-1em}
.t67{font-size:.62em;line-height:150%;vertical-align:super}
.t68{font-size:.95em;line-height:150%}
.t69{font-size:.95em;line-height:150%;font-style:italic}
.th11{font-size:2.2em;line-height:130%}
.th21{font-size:.9em;line-height:130%}