body{margin-left:2%;margin-right:2%;margin-top:2%;margin-bottom:2%}
.nomargin{margin:0}
p{text-indent:.57em;margin-left:.29em;margin-right:0;text-align:justify;margin-top:0;margin-bottom:.4em;font-family:Verdana,sans-serif;font-size:91%}
.p0{text-align:center;margin-bottom:0}
.p1{text-align:left;margin-bottom:0}
.p2{line-height:130%;margin-bottom:0}
.p3{line-height:1.6em;text-align:center;margin-bottom:1.1em}
.p4{line-height:150%;text-align:center;margin-bottom:0}
.p5{line-height:130%;margin-right:.5em;text-align:center;margin-top:1.2em;margin-bottom:1.2em}
.p6{line-height:130%;margin-right:.1em;text-align:center;margin-top:1.2em;margin-bottom:0}
.p7{line-height:130%;margin-right:.1em;text-align:center;margin-top:1.2em}
.p8{line-height:130%;margin-right:.12em}
.p9{text-align:center}
.p10{line-height:130%;text-align:center;margin-top:1.2em;margin-bottom:1.2em}
.p11{line-height:1.4em;text-align:center;margin-bottom:.78em}
.p12{line-height:115%;margin-right:1.2em;text-align:center;margin-bottom:.93em}
.p13{line-height:1.3em;text-align:center;margin-bottom:3.9em}
.p14{line-height:130%;text-align:center}
.p15{line-height:115%;text-align:center}
.p16{line-height:115%;text-align:center;margin-top:1.2em}
.p17{line-height:1.3em;margin-right:2.1em}
.p18{line-height:150%;margin-right:2.1em;text-align:right}
.p19{line-height:130%;margin-right:.8em;text-align:right;margin-top:1.2em}
.p21{line-height:130%;text-align:center;margin-top:1.2em;margin-bottom:.3em}
.p22{text-indent:0;margin-left:0;line-height:130%;text-align:center;margin-top:1.2em;margin-bottom:.3em}
.p23{text-align:center;margin-top:1.2em;margin-bottom:.3em}
.t2{font-size:.1em;line-height:100%}
.t3{font-size:1.6em}
.t4{font-size:.95em;line-height:150%}
.t5{font-size:.9em;line-height:130%}
.t6{font-family:Cambria,serif;font-size:1.8em;line-height:130%;color:blue;text-decoration:underline}
.t7{font-family:Cambria,serif;font-size:1.8em;line-height:130%}
.t8{font-family:"Ascender Sans";font-size:.95em;line-height:130%}
.t9{font-size:.9em;line-height:100%}
.t10{font-size:.9em;line-height:130%;color:#0066cc;text-decoration:underline}
.t11{font-size:.9em}
.t12{font-size:.9em;line-height:115%}
.t14{font-family:Cambria,serif;font-size:2em;line-height:130%}
.t15{color:#4f81bd}
.t16{font-size:1.8em;line-height:100%}