.MsoHyperlink {
    color: blue;
    text-decoration: underline
    }
.MsoNormal {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 1.5em
    }
.MsoNormal1 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 5.65pt
    }
.MsoNormal2 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center
    }
.MsoToc {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
    tab-stops: right dotted 453.1pt;
    text-align: center
    }
.WordSection {
    border-bottom: 0;
    border-top: 0;
    display: block;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
    page: WordSection1;
    text-indent: 1.5em
    }
.calibre {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    font-size: 1.25em;
    line-height: 1.2
    }
.calibre10 {
    font-size: 0.875em;
    line-height: 1.2
    }
.calibre11 {
    text-decoration: underline
    }
.calibre12 {
	text-indent:1em;
	text-align:justify;
	margin-top:0.5em;
	margin-bottom:0.5em;
    }
.calibre13 {
    font-size: 0.875em;
    line-height: 1.2
    }
.calibre14 {
    height: 97px;
    width: 508px
    }
.calibre15 {
    font-size: 0.75em
    }
.calibre16 {
    font-size: 1.25em;
    line-height: 1.2
    }
.calibre17 {
    font-size: 1em;
    line-height: 1.2
    }
.calibre18 {
    display: block
    }
.calibre19 {
    font-size: 0.75em
    }
.calibre2 {
    line-height: 1.2
    }
.calibre20 {
    font-size: 0.75em;
    line-height: 1.2;
    vertical-align: super
    }
.calibre21 {
    font-size: 1.375em;
    line-height: 1.2
    }
.calibre3 {
    display: block;
    line-height: 1.2
    }
.calibre4 {
    display: block;
    line-height: 1.2
    }
.calibre5 {
    font-weight: bold
    }
.calibre6 {
    height: 285px;
    line-height: 1.2;
    width: 285px
    }
.calibre7 {
    }
.calibre8 {
    font-style: italic
    }
.calibre9 {
    font-size: 1.375em;
    line-height: 1.2
    }
.font {
    }
.font1 {
    }
.pcalibre:visited {
    color: purple;
    text-decoration: underline
    }
.pcalibre1:link {
    color: blue;
    text-decoration: underline
    }
