.calibre {
    display: block;
    font-family: "LiberationSerif", serif;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    margin: 1em 0
    }
.calibre2 {
    font-style: italic
    }
.calibre3 {
    display: block
    }
.calibre4 {
    height: 9pt;
    width: 32pt
    }
.calibre5 {
    height: 263pt;
    width: 275pt
    }
.calibre6 {
    font-style: italic;
    font-weight: bold
    }
.calibre7 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre8 {
    height: 297pt;
    width: 223pt
    }
.calibre9 {
    height: 255pt;
    width: 258pt
    }
.calibre10 {
    height: 468pt;
    width: 219pt
    }
.calibre11 {
    height: 249pt;
    width: 300pt
    }
.calibre12 {
    height: 276pt;
    width: 299pt
    }
.calibre13 {
    height: 264pt;
    width: 300pt
    }
.calibre14 {
    height: 244pt;
    width: 300pt
    }
