a {text-decoration: none}
span.sz {}
p.tc {margin: 0.0px 0.0px 0.0px 0.0px; text-align: center; text-indent: 0.0px; font: 135% 'Times New Roman'}
p.tcd {margin: 0.0px 0.0px 0.0px 0.0px; text-indent: 0.0px; font: 100% 'Times New Roman'}
p.p1 {margin: 0.0px 0.0px 0.0px 0.0px; text-align: center; text-indent: 0.0px; font: 100% 'Times New Roman'}
p.p2 {margin: 0.0px 0.0px 0.0px 0.0px; text-align: center; text-indent: 0.0px; font: 100% 'Times New Roman'; min-height: 21.0px}
p.p3 {margin: 0.0px 0.0px 0.0px 0.0px; text-indent: 0.0px; font: 100% 'Times New Roman'; min-height: 21.0px}
p.p4 {margin: 0.0px 0.0px 0.0px 0.0px; text-indent: 0.0px; font: 100% 'Times New Roman'}
li.li3 {margin: 0.0px 0.0px 0.0px 0.0px; font: 100% 'Times New Roman'; min-height: 21.0px}
li.li4 {margin: 0.0px 0.0px 0.0px 0.0px; font: 100% 'Times New Roman'}
span.s1 {text-decoration: underline ; }
span.s2 {vertical-align: 4.5px}
span.s3 {vertical-align: 9.0px}
span.s4 {font: 100% 'Hiragino Mincho ProN'}
span.s5 {vertical-align: 3.0px}
span.s6 {text-decoration: underline}
span.s7 {vertical-align: 5.5px}
span.s8 {vertical-align: 7.0px}
span.s9 {font: 100% Mshtakan}
span.s10 {font: 100% Kefa}
span.s11 {vertical-align: 3.5px}
span.s12 {font: 100% 'Devanagari MT'}
span.Apple-tab-span {white-space:pre}
ol.ol1 {list-style-type: decimal}
