.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    margin: 1em 0
    }
.calibre2 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 0.67em 0
    }
.calibre3 {
    font-weight: bold;
    line-height: 1.2
    }
.calibre4 {
    line-height: 1.2
    }
.calibre5 {
    display: block;
    text-align: center;
    margin: 1em 0
    }
.calibre6 {
    font-weight: bold
    }
.calibre7 {
    display: block;
    text-align: center
    }
.calibre8 {
    display: block;
    font-size: 0.625em;
    font-weight: bold;
    text-align: center;
    margin: 2.33em 0
    }
.calibre9 {
    text-decoration: underline
    }
.calibre10 {
    display: block;
    text-align: justify;
    margin: 1em 0
    }
.calibre11 {
    font-style: italic;
    font-weight: bold
    }
.calibre12 {
    font-style: italic
    }
.calibre13 {
    display: block
    }
.calibre14 {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.83em 0
    }
.calibre15 {
    display: block;
    font-size: 1em;
    font-weight: normal;
    text-align: justify;
    margin: 1em 0
    }
.calibre16 {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    text-align: justify;
    margin: 0.83em 0
    }
.calibre17 {
    font-weight: bold;
    text-decoration: underline
    }
.calibre18 {
    font-style: italic;
    font-weight: bold;
    text-decoration: underline
    }
.calibre19 {
    display: block;
    line-height: 1.2
    }
.calibre20 {
    display: block;
    font-size: 0.625em;
    font-weight: bold;
    text-align: justify;
    margin: 2.33em 0
    }
.calibre21 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: sub
    }
.calibre22 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre23 {
    font-style: italic;
    text-decoration: underline
    }
.calibre24 {
    display: block;
    font-size: 0.83333em;
    font-weight: bold;
    text-align: justify;
    margin: 1.67em 0
    }
.calibre25 {
    display: block;
    text-align: justify
    }
.calibre26 {
    font-size: 0.75em
    }
.calibre27 {
    display: block;
    font-weight: bold;
    text-align: justify;
    margin: 1.33em 0
    }
.calibre28 {
    display: block;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    margin: 1em 0
    }
.calibre29 {
    font-size: 0.77419em;
    text-align: justify
    }
.calibre30 {
    font-size: 0.77419em;
    font-weight: normal;
    text-align: justify
    }
.calibre31 {
    font-size: 0.77419em;
    font-style: italic;
    text-align: justify
    }
.calibre32 {
    display: block;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    text-align: justify;
    margin: 1em 0
    }
.calibre33 {
    font-style: italic;
    font-variant: small-caps
    }
.calibre34 {
    font-style: italic;
    font-variant: small-caps;
    font-weight: bold;
    text-decoration: underline
    }
.calibre35 {
    font-variant: small-caps
    }
