
@font-face {
  font-family: "Berling";
  font-style: italic;
  font-weight: normal;
  src : url("../Fonts/BerlingLTStd-Italic.ttf") 
}

@font-face {
  font-family: "Berling1";
  font-style: normal;
  font-weight: normal;
  src : url("../Fonts/BerlingLTStd-Medium.ttf") 
}

@font-face {
  font-family: "Berling";
  font-style: normal;
  font-weight: normal;
  src : url("../Fonts/BerlingLTStd-Roman.ttf") 
}

@font-face {
  font-family: "Gill";
  font-style: normal;
  font-weight: normal;
  src : url("../Fonts/GillSansStd-Light.ttf") 
}

@font-face {
  font-family: "Gill1";
  font-style: normal;
  font-weight: normal;
  src : url("../Fonts/GillSansStd.ttf") 
}

@font-face {
  font-family: "Gill1";
  font-style: italic;
  font-weight: normal;
  src : url("../Fonts/GillSansStd-Italic.ttf") 
}

@font-face {
  font-family: "Goudy";
  font-style: normal;
  font-weight: normal;
  src : url("../Fonts/GoudyCatTReg.ttf") 
}

@font-face {
  font-family: "Mobil";
  font-style: normal;
  font-weight: normal;
  src : url("../Fonts/MobilTurk.ttf") 
}

@font-face {
  font-family: "Univers";
  font-style: normal;
  font-weight: normal;
  src : url("../Fonts/Univers-CondensedTr.otf") 
}

@font-face {
  font-family: "Sifon";
  font-style: normal;
  font-weight: bold;
  src : url("../Fonts/sifon-Bold.ttf") 
}

.baslik{
  font: normal normal 1.25em "Berling";
  margin: 5em auto 2em auto;
  text-align: center;
}

p{
  font: normal normal 1em/1.3em "Berling";
  margin: 0;
  text-indent: 1.5em;
}

.no-indent{
  text-indent: 0;
}

.bosluk{
  margin: 1em auto;
  border: none;
}

.bosluk1{
  margin: 2em auto;
  border: none;
}

.si-noteref{
  text-decoration: none;
  color: #7A7A7A;
  font-size: .75em;
  vertical-align: super;
  padding-left: .1em;
}
.si-footnotes{
  margin:4em 0 1em;
}
.si-backref{
  font-weight: bold;
  font-family: sans-serif;
  text-decoration: none;
  color: #000;
}
.si-footnote{
  font-family: Gill1;
  font-size: .8em;
  margin-bottom: .25em;
}

.p-center{
  text-align: center;
}

.p-right{
  text-align: right;
}

.f-farkli{
  font: normal normal .6em "Mobil" !important;
}

.font-farkli{
  font: normal bold 1.5em "Sifon";
}

/*Biography*/

.biography p,.books p{
  font: normal normal .75em/1.5em "Gill1";
  margin: 0;
}

.s-margin{
  margin-top: 5em;
}

/*Copyright*/

.c1-margin{
  margin: 2em auto 5em auto;
}

.copyright-page p{
  font: normal normal .75em "Gill1";
  margin: 0;
  text-indent: 0;
}

.copyright-page a{
  vertical-align: baseline;
  font-size: 1em;
  color: #7A7A7A;
  text-decoration: none;
}


/*Titlepage*/

.titlepage{
  text-align: center;
}

.titlepage p{
  text-indent: 0;
}

.t-1{
  font: normal normal 1.33em "Univers";
  margin: 2em auto 2em auto;
}

.t-2{
  font: normal normal 2.5em "Berling";
  margin: 0em auto 1em auto;
}

.t-3{
  font: normal normal .91em "Giil1";
  margin: 0 auto 2em auto;
}

.t-4{
  font: normal normal .83em "Giil1";
  margin: .5em auto;
}

.t-5{
  font: normal normal 1em "Giil1";
  margin: 0 auto 2em auto;
}

.first{
  font-size: 1.1em;
}

.t-image img{
  width: 100%;
}

.t-image{
  width: 120px;
  margin: 1em auto;
}

.logo{
  margin: 3em auto 0 auto;
}

/*Cover*/

.kapak img{
  max-width: 100%;
}
.kapak{
  margin: 0 auto;
  max-width: 500px;
  page-break-inside: avoid;
}
