@font-face {
	font-family:"Berling LT Std Roman";
	font-style:normal;
	font-weight:bold;
	src : url("../font/BerlingLTStd-Bold.ttf");
}
@font-face {
	font-family:"Berling LT Std Roman";
	font-style:italic;
	font-weight:normal;
	src : url("../font/BerlingLTStd-Italic.ttf");
}
@font-face {
	font-family:"Berling LT Std Roman";
	font-style:oblique;
	font-weight:normal;
	src : url("../font/BerlingLTStd-Italic.ttf");
}
@font-face {
	font-family:"Berling LT Std Medium";
	font-style:normal;
	font-weight:normal;
	src : url("../font/BerlingLTStd-Medium.ttf");
}
@font-face {
	font-family:"Berling LT Std Roman";
	font-style:normal;
	font-weight:normal;
	src : url("../font/BerlingLTStd-Roman.ttf");
}
@font-face {
	font-family:"Gill Sans Std";
	font-style:normal;
	font-weight:normal;
	src : url("../font/GillSansStd.ttf");
}
@font-face {
	font-family:"Gill Sans Std";
	font-style:italic;
	font-weight:normal;
	src : url("../font/GillSansStd-Italic.ttf");
}
@font-face {
	font-family:"Gill Sans Std";
	font-style:oblique;
	font-weight:normal;
	src : url("../font/GillSansStd-Italic.ttf");
}
@font-face {
	font-family:GoudyCatTReg;
	font-style:normal;
	font-weight:normal;
	src : url("../font/GoudyCatTReg.ttf");
}
@font-face {
	font-family:"Helvetica Normal Tr";
	font-style:normal;
	font-weight:normal;
	src : url("../font/Helvetica-NormalTr.otf");
}
@font-face {
	font-family:JansonTextRoman;
	font-style:normal;
	font-weight:normal;
	src : url("../font/JansonTextRoman.ttf");
}
@font-face {
	font-family:"Minion Pro";
	font-style:normal;
	font-weight:normal;
	src : url("../font/MinionPro-Regular.otf");
}
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
@page {
	margin : 0px 0px 0px 0px;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p._--baslik-numarali-metin-icinde {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Berling LT Std Roman", serif;
	font-size:0.875em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.276;
	margin-bottom:26px;
	margin-left:0;
	margin-right:0;
	margin-top:26px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:right;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p._--baslik-numarasiz-metin-icinde {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Berling LT Std Medium", serif;
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.117;
	margin-bottom:9px;
	margin-left:0;
	margin-right:0;
	margin-top:18px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.ARA-BASLIK {
	color:#ffffff;
	font-family:"Minion Pro", serif;
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Normal {
	color:#000000;
	font-family:Arial, sans-serif;
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Basic-Paragraph {
	color:#000000;
	font-family:Times, serif;
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.ana-metin {
	-epub-text-align-last:left;
	color:#000000;
	font-family:"Berling LT Std Roman", serif;
	font-size:0.875em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.276;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:20px;
	text-transform:none;
	widows:1;
}
p.ana-metin-internet_yazismasi {
	-epub-text-align-last:left;
	color:#000000;
	font-family:"Helvetica Normal Tr", sans-serif;
	font-size:0.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.489;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:20px;
	text-transform:none;
	widows:1;
}
p.ikinci-kapak-tur {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Gill Sans Std", sans-serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.455;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.konusulan_kisi {
	color:#000000;
	font-family:"Berling LT Std Roman", serif;
	font-size:0.875em;
	font-style:italic;
	font-variant:normal;
	font-weight:normal;
	line-height:1.276;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.kunye-kismi {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Gill Sans Std", sans-serif;
	font-size:0.667em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.375;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.kunye-yayinevi-adres {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Gill Sans Std", sans-serif;
	font-size:0.667em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.375;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.soylesi-soru {
	-epub-text-align-last:left;
	color:#000000;
	font-family:"Berling LT Std Roman", serif;
	font-size:0.875em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.276;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:6px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.yazar-eser-tarihleri {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Gill Sans Std", sans-serif;
	font-size:0.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.576;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.yazar-eserler-baslik {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Gill Sans Std", sans-serif;
	font-size:0.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.222;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.ü--yıldız_-metin-i-inde {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Berling LT Std Roman", serif;
	font-size:0.875em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.276;
	margin-bottom:14px;
	margin-left:0;
	margin-right:0;
	margin-top:20px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
span.ikinci-kapak-tur {
	color:#000000;
	font-family:"Gill Sans Std", sans-serif;
	font-size:0.917em;
	font-style:normal;
	font-weight:normal;
}
span.kunye-kismi {
	color:#000000;
	font-family:"Gill Sans Std", sans-serif;
	font-size:0.667em;
	font-style:normal;
	font-weight:normal;
}
span.kunye-yayinevi-adres {
	font-family:"Gill Sans Std", sans-serif;
	font-size:0.667em;
	font-style:normal;
	font-weight:normal;
}
span.yazar-eser-adları_italik {
	font-family:"Gill Sans Std", sans-serif;
	font-size:0.75em;
	font-style:italic;
	font-weight:normal;
}
span.yazar-eser-tarihleri {
	font-family:"Gill Sans Std", sans-serif;
	font-size:0.75em;
	font-style:normal;
	font-weight:normal;
}
span.yazar-eserler-baslik {
	font-family:"Gill Sans Std", sans-serif;
	font-size:0.75em;
	font-style:normal;
	font-weight:normal;
}
p.ParaOverride-1 {
	margin-bottom:14px;
	margin-top:85px;
	text-align:center;
}
p.ParaOverride-2 {
	page-break-after:always;
	text-align:center;
}
p.ParaOverride-3 {
	margin-bottom:11px;
}
p.ParaOverride-4 {
	margin-bottom:71px;
}
p.ParaOverride-5 {
	page-break-after:always;
}
p.ParaOverride-6 {
	text-align:center;
}
p.ParaOverride-7 {
	margin-top:184px;
}
p.ParaOverride-8 {
	margin-top:71px;
	page-break-after:always;
}
p.ParaOverride-9 {
	margin-bottom:14px;
	margin-top:142px;
}
p.ParaOverride-10 {
	-epub-text-align-last:left;
	margin-bottom:26px;
	margin-top:142px;
	text-align:justify;
}
p.ParaOverride-11 {
	margin-top:142px;
}
p.ParaOverride-12 {
	margin-top:0px;
}
p.ParaOverride-13 {
	text-indent:0px;
}
p.ParaOverride-14 {
	margin-bottom:142px;
}
p.ParaOverride-15 {
	margin-bottom:26px;
}
p.ParaOverride-16 {
	margin-bottom:26px;
	text-indent:0px;
}
p.ParaOverride-17 {
	margin-bottom:26px;
	page-break-after:always;
}
p.ParaOverride-18 {
	margin-bottom:6px;
	margin-top:14px;
}
p.ParaOverride-19 {
	margin-bottom:26px;
	page-break-after:always;
	text-indent:0px;
}
p.ParaOverride-20 {
	margin-bottom:0px;
}
p.ParaOverride-21 {
	margin-bottom:0px;
	margin-top:14px;
}
p.ParaOverride-22 {
	margin-top:11px;
}
p.ParaOverride-23 {
	margin-top:14px;
}
p.ParaOverride-24 {
	margin-top:16px;
}
p.ParaOverride-25 {
	margin-bottom:0px;
	margin-top:17px;
}
p.ParaOverride-26 {
	margin-bottom:6px;
	text-indent:0px;
}
p.ParaOverride-27 {
	margin-bottom:26px;
	page-break-after:always;
	text-align:right;
}
p.ParaOverride-28 {
	margin-bottom:6px;
}
p.ParaOverride-29 {
	page-break-after:always;
	text-align:right;
}
span.CharOverride-1 {
	font-size:0.736em;
}
span.CharOverride-2 {
	color:#000000;
	font-family:GoudyCatTReg;
	font-size:1.667em;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-3 {
	color:#000000;
	font-family:GoudyCatTReg;
	font-size:1.5em;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-4 {
	color:#000000;
	font-family:GoudyCatTReg;
	font-size:1.792em;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-5 {
	font-size:0.85em;
}
span.CharOverride-6 {
	font-family:"Gill Sans Std";
	font-size:0.85em;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-7 {
	color:#000000;
	font-family:GoudyCatTReg;
	font-size:2.5em;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-8 {
	color:#000000;
	font-family:GoudyCatTReg;
	font-size:2.25em;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-9 {
	color:#000000;
	font-family:GoudyCatTReg;
	font-size:2.688em;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-10 {
	font-family:"Gill Sans Std";
	font-size:1em;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-11 {
	font-size:1em;
}
span.CharOverride-12 {
	font-family:"Gill Sans Std";
	font-size:0.75em;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-13 {
	font-family:"Gill Sans Std", sans-serif;
	font-size:0.75em;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-14 {
	font-family:"Gill Sans Std";
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-15 {
	color:#000000;
}
span.CharOverride-16 {
	font-family:"Berling LT Std Roman";
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-17 {
	color:#111111;
	font-family:"Berling LT Std Roman";
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-18 {
	color:#111111;
}
span.CharOverride-19 {
	color:#222222;
}
span.CharOverride-20 {
	font-family:"Berling LT Std Roman";
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-21 {
	font-family:JansonTextRoman;
	font-style:normal;
	font-weight:normal;
}
p._idGenParaOverride-1 {
	page-break-after:always;
}
span._idGenCharOverride-1 {
	font-size:1em;
}
img._idGenObjectAttribute-1 {
	height:24px;
	width:78px;
}
