p{text-indent:0;margin-left:0;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:.61em;font-family:"Times New Roman",serif;font-size:127%}
.p0{text-indent:0;text-align:center;margin-bottom:0}
.p1{text-indent:0;text-align:left;margin-bottom:1em}
.p3{text-indent:0;margin-bottom:1.4em}
.p4{text-indent:0;margin-bottom:0}
.p5{text-indent:0;line-height:150%;text-align:left}
.p6{text-indent:0;text-align:center;margin-top:.61em}
.p7{text-indent:0;text-align:center;margin-bottom:2em}
.p8{text-indent:0;text-align:center}
.p9{text-indent:0;text-align:center;margin-bottom:1em}
.p10{text-indent:0;text-align:center;margin-bottom:4.5em}
.p11{text-indent:0;text-align:center;margin-top:2em}
.p12{text-indent:0;text-align:center;margin-bottom:.2em}
.p13{text-indent:0;text-align:left;margin-top:1.6em;margin-bottom:1em}
.p14{text-indent:0;margin-bottom:.51em}
.p15{text-indent:0;text-align:center;margin-top:13em;margin-bottom:0}
.p16{text-indent:0;text-align:center;margin-top:10em;margin-bottom:0}
.p17{text-indent:0;margin-left:2em;margin-right:2em;text-align:center;margin-top:2em;margin-bottom:2em}
.p18{text-indent:0;margin-left:2em;margin-right:2em;text-align:center;widows:2;orphans:2;margin-top:2em;margin-bottom:2em}
.p19{text-indent:0;margin-bottom:1.2em}
.p20{text-indent:0;text-align:center;margin-bottom:.81em}
.p21{text-indent:0;margin-bottom:1.6em}
.p22{text-indent:0;margin-left:2em;margin-right:2em;margin-bottom:1.6em}
.p23{text-indent:0;margin-left:1.6em;margin-right:1.6em;margin-bottom:1.4em}
.p24{text-indent:0;margin-bottom:2em}
.p25{text-indent:0;margin-left:2em;margin-right:2em;margin-bottom:2em}
.p26{text-indent:0;margin-left:2em;margin-right:2em}
.p27{text-indent:0;margin-bottom:1em}
.p28{text-indent:0;margin-left:2em;margin-right:2em;text-align:right;margin-bottom:2em}
.p29{text-indent:0;page-break-after:avoid}
.p30{text-indent:0;margin-left:2em;margin-right:2em;text-align:left;margin-bottom:2em}
.p31{text-indent:0;margin-left:1em;margin-right:1em;text-align:center;widows:2;orphans:2;margin-top:2em;margin-bottom:2em}
.p32{text-indent:0;text-align:center;margin-top:13em}
.p33{text-indent:0;margin-left:2em;margin-right:2em;page-break-after:avoid;margin-bottom:2em}
.p34{text-indent:0;margin-left:2em;line-height:150%;margin-right:2em;text-align:center;widows:2;orphans:2;margin-top:2em;margin-bottom:2em}
.p35{text-indent:0;text-align:center;margin-bottom:1.6em}
.p36{text-indent:0;text-align:center;page-break-after:avoid;margin-bottom:.2em}
.p37{text-indent:0;margin-left:2em;margin-right:2em;text-align:center;margin-bottom:.2em}
.p38{text-indent:0;margin-left:2em;margin-right:2em;text-align:center;margin-bottom:1.2em}
.p39{text-indent:0;margin-left:2em;margin-right:2em;text-align:center;margin-bottom:1.6em}
.p40{text-indent:0;margin-left:2em;margin-right:2em;text-align:left}
.p41{text-indent:0;margin-left:2em;margin-right:2em;text-align:right}
.p42{text-indent:0;text-align:center;margin-bottom:.18em}
.p43{text-indent:0;page-break-after:avoid;margin-bottom:1em}
.p44{text-indent:0;text-align:right}
.p45{text-indent:-1em;margin-left:1em;text-align:left;widows:2;orphans:2}
.p46{text-indent:0;text-align:left;widows:2;orphans:2}
.p47{text-indent:-1em;margin-left:1em;text-align:left;page-break-after:avoid;widows:2;orphans:2}
.p48{text-indent:-1em;margin-left:1em;text-align:left;widows:2;orphans:2;margin-bottom:3em}
.p49{text-indent:0;text-align:left;page-break-after:avoid;widows:2;orphans:2;margin-bottom:2em}
.p50{text-indent:0;widows:2;orphans:2;margin-bottom:3em}
.p51{text-indent:0;text-align:left;widows:2;orphans:2;margin-bottom:2em}
.p52{text-indent:-.61em;margin-left:1.2em;text-align:left;widows:2;orphans:2}
.p53{text-indent:0;text-align:left;page-break-after:avoid;widows:2;orphans:2}
.p54{text-indent:-.61em;margin-left:1.2em;text-align:left;widows:2;orphans:2;margin-bottom:3em}
.p55{text-indent:0;text-align:left;widows:2;orphans:2;margin-top:2em;margin-bottom:2em}
.p56{text-indent:-.61em;margin-left:1.2em;text-align:left;page-break-after:avoid;widows:2;orphans:2}
.p57{text-indent:-1.3em;margin-left:2.6em;text-align:left;widows:2;orphans:2}
.p58{text-indent:-1.3em;margin-left:2.6em;text-align:left}
.p59{text-indent:0;text-align:left}
.p60{text-indent:-1.2em;margin-left:1.2em;widows:2;orphans:2;margin-bottom:0}
.p61{text-indent:-1.2em;margin-left:1.2em;widows:2;orphans:2;margin-bottom:.2em}
.p62{text-indent:0}
.t1{font-size:.86em;line-height:100%}
.t2{font-family:Arial,sans-serif;font-size:.86em;line-height:100%}
.t3{font-family:OPTIFurst;font-size:.86em;line-height:100%;font-weight:bold}
.t4{font-family:OPTIFurst;font-weight:bold}
.t5{font-family:OPTIFurst;font-weight:bold;font-style:italic}
.t6{font-family:OPTIFurst;font-size:.71em;line-height:100%;font-weight:bold}
.t7{font-family:"Courier New",monospace;font-size:.71em;line-height:100%}
.t8{font-family:OPTIFurst;font-size:.86em;line-height:100%}
.t9{font-family:Arial,sans-serif;font-size:.86em;line-height:150%}
.t10{font-size:1.7em;line-height:100%;font-weight:bold;letter-spacing:.083em}
.t12{font-size:1.7em;line-height:100%;font-weight:bold}
.t13{font-size:1.3em;line-height:100%}
.t14{font-size:.79em;line-height:100%}
.t15{font-size:.79em;line-height:100%;text-decoration:underline}
.t16{font-size:.86em;line-height:100%;font-weight:bold}
.t17{font-size:.86em;line-height:100%;font-style:italic}
.t18{font-size:.56em;line-height:100%;font-weight:bold;vertical-align:super}
.t19{font-size:.71em;line-height:100%}
.t20{font-family:OPTIFurst;font-size:1.3em;line-height:100%;font-weight:bold}
.t21{font-style:italic}
.t22{font-family:OPTIFurst;font-size:3.7em;line-height:100%;font-weight:bold;font-style:italic}
.t23{font-family:OPTIFurst;font-size:2.6em;line-height:100%;font-weight:bold;font-style:italic}
.t24{font-family:OPTIFurst;font-size:2.6em;line-height:100%;font-weight:bold}
.t25{font-family:OPTIFurst;font-size:.86em;line-height:100%;font-weight:bold;font-style:italic}
.t26{font-size:1.4em;line-height:100%;font-weight:bold;font-style:italic}
.t27{font-family:OPTIFurst;font-size:1.4em;line-height:100%;font-weight:bold}
.t28{font-family:"BD Renaissance"}
.t29{font-family:OPTIFurst;font-size:1.7em;line-height:100%;font-weight:bold}
.t30{font-weight:bold;letter-spacing:.36em}
.t31{font-size:.71em;line-height:100%;font-style:italic}
.t32{font-size:.65em;line-height:100%;vertical-align:super}
.t33{font-family:OPTIFurst;font-size:.86em;line-height:150%;font-weight:bold}
.t34{font-family:OPTIFurst;font-size:1.4em;line-height:150%;font-weight:bold}
.t35{font-family:OPTIFurst;font-size:1.2em;line-height:150%;font-weight:bold}
.t37{font-family:OPTIFurst;font-size:1.1em;line-height:100%;font-weight:bold;font-style:italic}
.t38{font-weight:bold}
.t39{letter-spacing:.36em}
.t40{font-family:OpenSymbol}
.t41{font-weight:bold;font-style:italic}
.t42{font-size:1.1em;line-height:100%;font-weight:bold}
.t43{text-decoration:underline}
.t44{font-weight:bold;font-style:italic;text-decoration:underline}
.t45{font-weight:bold;text-decoration:underline}
.t46{font-size:.56em;line-height:100%;vertical-align:super}
.t47{font-size:.86em;line-height:100%;color:blue;text-decoration:underline}



h3.p15{text-indent:0;text-align:center;margin-top:13em;margin-bottom:0}
h3.t22{font-family:OPTIFurst;font-size:3.76em;line-height:100%;font-weight:bold;font-style:italic}
h3.t23{font-family:OPTIFurst;font-size:2.6em;line-height:100%;font-weight:bold;font-style:italic}


.pFirst{text-indent:0}
.pSecond{text-indent:0; clear:both}

.image_left{float:left;padding-right:8px}
.image_right{float:right;padding-left:8px}

.drop_caps{
   float:left;
   margin-right: 4px;
   margin-top:-5px;
}

hr
{
  border:            0;
  width:             100%;
  color:             #000000;
  background-color:  #000000;
  height:            1px;
  margin-bottom:     25px;
}
.pHR{text-indent:0;text-align:left;margin-bottom:0px}


@font-face {
    font-family: 'OPTIFurst';
    font-weight: normal;
	font-style:  normal;
    src: url('../Fonts/OPTIFurst.ttf');
}

@font-face {
    font-family: 'OPTIFurst';
    font-weight: bold;
	font-style:  normal;
    src: url('../Fonts/OPTIFurstBold.ttf');
}

@font-face {
    font-family: 'OPTIFurst';
    font-weight: bold;
	font-style:  italic;
    src: url('../Fonts/OPTIFurstBold.ttf');
}