p{text-indent:1.3em;margin-left:.091em;line-height:140%;margin-right:.091em;text-align:justify;margin-top:0;margin-bottom:0;font-size:100%;letter-spacing:.0045em}
.p0{text-indent:0;margin-left:0;line-height:130%;margin-right:0;text-align:center}
.p1{text-indent:0;margin-left:0;line-height:130%;margin-right:0;text-align:left;margin-bottom:.36em}
.p2{text-indent:0;margin-left:.091em;margin-right:1em;text-align:center}
.p3{text-indent:0;margin-left:.091em;margin-right:0;text-align:center}
.p4{text-indent:0;margin-left:.091em;margin-right:1em;text-align:center;margin-bottom:1.4em}
.p5{text-indent:0;margin-left:.091em;margin-right:0;text-align:center;margin-bottom:1em}
.p6{text-indent:0;margin-left:.091em;margin-right:0;text-align:center;margin-bottom:.8em}
.p7{text-indent:0;margin-left:.091em;margin-right:1em;text-align:center;margin-bottom:1.4em}
.p8{text-indent:0;margin-left:.091em;margin-right:0;text-align:center;margin-bottom:1em}
.p9{text-indent:0;margin-left:.45em;margin-right:.45em;text-align:center}
.p10{text-indent:0;margin-left:0;margin-right:0;text-align:center}
.p11{text-indent:0;margin-left:0;margin-right:0;text-align:center;margin-bottom:1.2em}
.p12{text-indent:0;margin-left:0;margin-right:0;text-align:center;margin-bottom:.5em}
.p13{text-indent:0;margin-left:.45em;margin-right:0;text-align:center}
.p14{text-indent:1.3em;margin-bottom:1.1em}
.p16{text-indent:0;margin-left:0;line-height:130%;margin-right:0;text-align:center;margin-bottom:.45em}
.p17{text-indent:1.3em;margin-right:0;text-align:left}
.p18{text-indent:0;margin-left:0;margin-right:0;text-align:right}
.p19{text-indent:1.3em;margin-right:0}
.p20{text-indent:0;margin-left:.091em;margin-right:0}
.p21{text-indent:0;margin-left:.091em;margin-right:0;text-align:left}
.p22{text-indent:1.3em;margin-left:0}
.p23{text-indent:0;margin-left:0}
.p24{text-indent:0;margin-left:.27em}
.p25{text-indent:0;margin-left:.55em;margin-right:0}
.p26{text-indent:0;margin-left:0;margin-right:0;text-align:left}
.p27{text-indent:1.4em;margin-left:.091em}
.p28{text-indent:0;margin-left:.091em}
.p29{text-indent:0;margin-left:.18em}
.p30{text-indent:1.3em;margin-left:.18em}
.p31{text-indent:1.4em;margin-left:.091em;margin-right:0}
.p32{text-indent:0;margin-left:.82em;margin-right:0}
.p33{text-indent:0;margin-left:.64em;margin-right:0}
.p34{text-indent:0;margin-left:.45em}
.p35{text-indent:0;margin-left:.36em;margin-right:0}
.p36{text-indent:0;margin-left:.091em;margin-right:0;margin-bottom:1.3em}
.p37{text-indent:0;margin-left:0;text-align:center;margin-bottom:.95em}
.p38{text-indent:0;margin-left:0;margin-right:.45em;text-align:center;margin-bottom:.82em}
.p39{text-indent:0;margin-left:0;margin-right:.45em;text-align:right}
.p40{text-indent:-.64em;margin-left:.64em;margin-right:.36em}
.p41{text-indent:-.64em;margin-left:.82em;margin-right:0}
.p42{text-indent:0;margin-left:.18em;margin-right:0;text-align:left}
.p43{text-indent:0;margin-left:.091em;margin-right:0;margin-bottom:.8em}
.p44{text-indent:0;margin-left:16em;text-align:right}
.p45{text-indent:-.64em;margin-left:.73em;margin-right:0}
.p46{text-indent:1.4em;margin-left:0}
.p47{text-indent:1.3em;margin-left:.18em;margin-bottom:.8em}
.p48{text-indent:0;margin-left:0;text-align:center;margin-bottom:.26em}
.p49{text-indent:1.5em;margin-left:1.4em;margin-bottom:1em}
.p50{text-indent:0;margin-left:.55em;margin-right:0;text-align:left}
.p51{text-indent:0;margin-left:1.1em;margin-right:0}
.p52{text-indent:0;margin-left:.18em;text-align:center;margin-bottom:1.9em}
.p53{text-indent:1.3em;margin-bottom:.82em}
.p54{text-indent:0;margin-left:0;margin-right:0;text-align:center;margin-bottom:.29em}
.p55{text-indent:1.3em;text-align:center}
.p56{text-indent:1.3em;margin-bottom:.72em}
.p57{text-indent:0;margin-left:0;margin-right:0;text-align:center;margin-bottom:.24em}
.p58{text-indent:1.3em;margin-bottom:.61em}
.p59{text-indent:0;margin-left:0;margin-right:0;text-align:center;margin-bottom:.086em}
.p60{text-indent:1.3em;margin-bottom:.55em}
.p61{text-indent:1.3em;margin-left:0;margin-right:0;margin-bottom:.47em}
.p62{text-indent:0;margin-left:0;margin-right:0;text-align:center;margin-bottom:.37em}
.p63{text-indent:1.3em;margin-left:0;margin-right:0;margin-bottom:2.2em}
.p64{text-indent:1.3em;margin-left:0;margin-right:0}
.p65{text-indent:1.4em;margin-left:0;margin-right:0}
.p66{text-indent:0;margin-left:0;margin-right:0}
.p67{text-indent:0;margin-left:.91em}
.p68{text-indent:0;margin-left:.82em;margin-right:0;text-align:left}
.p69{text-indent:-.82em;margin-left:1em;margin-right:0}
.p70{text-indent:0;margin-left:1.1em;margin-right:14em;text-align:left}
.p71{text-indent:1.2em;margin-left:.091em;margin-right:0}
.p72{text-indent:0;margin-left:1em}
.p73{text-indent:0;margin-left:1em;margin-right:0}
.p74{text-indent:0;margin-left:.91em;margin-right:0;text-align:left}
.p75{text-indent:1.4em;margin-left:.091em;margin-bottom:2.7em}
.p76{text-indent:1.2em;margin-left:.091em}
.p77{text-indent:0;margin-left:.73em;margin-right:0}
.p78{text-indent:-.64em;margin-left:.64em;margin-right:.27em}
.p79{text-indent:-.64em;margin-left:.64em}
.p80{text-indent:-.91em;margin-left:1.1em;margin-right:0}
.p81{text-indent:-.91em;margin-left:.91em}
.p82{text-indent:0;margin-left:1em;margin-right:8.5em;text-align:left}
.p83{text-indent:0;margin-left:.64em}
.p84{text-indent:-.91em;margin-left:1em;margin-right:0;text-align:left}
.p85{text-indent:0;margin-left:1em;margin-right:0;text-align:left}
.p86{text-indent:1.4em;margin-left:.091em;margin-right:.64em}
.p87{text-indent:0;margin-left:.91em;margin-right:.64em}
.p88{text-indent:0;margin-left:.091em;margin-right:.64em}
.p89{text-indent:1.3em;margin-left:.18em;margin-right:0}
.p90{text-indent:0;margin-left:.18em;margin-right:0}
.p91{text-indent:1.3em;margin-right:.18em}
.p92{text-indent:0;margin-left:.27em;margin-right:0;text-align:left}
.p93{text-indent:7.3em;margin-left:1.4em;margin-right:4em;text-align:left}
.p94{text-indent:-.91em;margin-left:1.1em}
.p95{text-indent:0;margin-left:.91em;margin-right:0}
.p96{text-indent:-.91em;margin-left:1.2em;margin-right:0}
.p97{text-indent:1.4em;margin-left:.091em;margin-right:0;text-align:left}
.p98{text-indent:.91em;margin-left:.091em}
.p99{text-indent:-.91em;margin-left:.91em;text-align:left}
.p100{text-indent:-.91em;margin-left:.91em;margin-right:0;text-align:left}
.p101{text-indent:0;margin-left:.18em;margin-right:.18em}
.p102{text-indent:1.4em;margin-left:.18em;margin-right:.18em}
.p103{text-indent:0;margin-left:.091em;margin-right:.18em}
.p104{text-indent:0;margin-left:1.4em}
.p105{text-indent:0;margin-left:1.5em;margin-right:0}
.p106{text-indent:-1.1em;margin-left:1.4em}
.p107{text-indent:1.3em;margin-left:.18em;margin-right:.18em}
.p108{text-indent:-.55em;margin-left:1.5em}
.p109{text-indent:-.64em;margin-left:1.3em}
.p110{text-indent:0;margin-left:1.3em}
.p111{text-indent:-.64em;margin-left:.64em;margin-right:.82em}
.p112{text-indent:0;margin-left:.091em;margin-right:.82em}
.p113{text-indent:1.4em;margin-left:.18em}
.p114{text-indent:1.4em;margin-left:.091em;margin-bottom:.58em}
.p115{text-indent:0;margin-left:1.5em;margin-right:4.4em;text-align:left;margin-bottom:.55em}
.p116{text-indent:0;margin-left:1.5em;margin-right:4.4em;text-align:left}
.p117{text-indent:0;margin-left:1.5em;margin-right:6.4em;text-align:left}
.p118{text-indent:0;margin-left:1.4em;margin-right:2.7em;text-align:left}
.p119{text-indent:0;margin-left:1.4em;text-align:left;margin-bottom:.27em}
.p120{text-indent:0;margin-left:1.4em;text-align:left}
.p121{text-indent:0;margin-left:1.4em;margin-right:0;text-align:left}
.p122{text-indent:0;margin-left:1.4em;margin-right:0;text-align:left;margin-bottom:.22em}
.p123{text-indent:1.3em;margin-left:0;margin-bottom:.27em}
.p124{text-indent:0;margin-left:1.2em}
.p125{text-indent:-1.3em;margin-left:1.3em;text-align:left}
.p126{text-indent:0;margin-left:0;margin-right:1.2em;text-align:left}
.p127{text-indent:0;margin-left:.73em;margin-right:1.2em;text-align:left}
.p128{text-indent:-1.3em;margin-left:1.6em;margin-right:0}
.p129{text-indent:-1.3em;margin-left:1.5em;margin-right:0}
.p130{text-indent:0;margin-left:1.5em;margin-right:0}
.p131{text-indent:0;margin-left:.091em;margin-bottom:.31em}
.p132{text-indent:1.3em;margin-right:0;margin-bottom:.22em}
.p133{text-indent:0;margin-left:1.3em;margin-right:0;text-align:left}
.p134{text-indent:1.3em;margin-right:.64em}
.p135{text-indent:0;margin-left:1.4em;margin-right:0}
.p136{text-indent:-.55em;margin-left:1.3em}
.p137{text-indent:-1.3em;margin-left:1.5em;margin-right:0;text-align:left}
.p138{text-indent:0;margin-left:.73em;margin-right:.55em}
.p139{text-indent:0;margin-left:0;margin-right:0;text-align:left;margin-bottom:.36em}
.p140{text-indent:0}
h1{text-indent:0;margin-left:0;line-height:150%;margin-right:0;text-align:center;page-break-after:avoid;margin-top:.5em;margin-bottom:1.5em;font-size:109%;font-weight:bold;color:#c00000}
.h11{text-indent:0}
.t1{letter-spacing:0}
.t2{letter-spacing:.014em}
.t3{font-weight:bold;letter-spacing:.014em}
.t4{letter-spacing:.15em}
.t5{font-size:.82em;line-height:140%;letter-spacing:.18em}
.t6{letter-spacing:-.014em}
.t7{letter-spacing:.1em}
.t8{letter-spacing:-.0091em}
.t9{color:#c0d3eb;letter-spacing:-.0091em;text-decoration:underline}
.t10{font-weight:bold;letter-spacing:-.0091em}
.t11{font-weight:bold;letter-spacing:.17em}
.t12{letter-spacing:.086em}
.t13{font-weight:bold}
.t14{font-weight:bold;font-style:italic;letter-spacing:-.032em}
.t15{font-weight:bold;letter-spacing:.16em}
.t17{font-style:italic;letter-spacing:-.0045em}
.t18{font-size:.91em;line-height:130%;letter-spacing:0}
.t19{font-style:italic;letter-spacing:.0091em}
.t20{font-style:italic;letter-spacing:.014em}
.t21{letter-spacing:.0091em}
.t22{font-style:italic;letter-spacing:.018em}
.t23{letter-spacing:0}
.t24{letter-spacing:-.0045em}
.t25{font-size:.65em;line-height:140%;vertical-align:super;letter-spacing:-.0071em}
.t26{font-style:italic;letter-spacing:0}
.t27{font-style:italic;letter-spacing:.023em}
.t28{letter-spacing:.12em}
.t29{font-weight:bold;letter-spacing:0}
.t30{font-style:italic;letter-spacing:-.0091em}
.t31{font-size:.65em;line-height:140%;vertical-align:super}
.t32{font-size:.65em;line-height:140%;font-style:italic;vertical-align:super;letter-spacing:-.014em}
.t33{letter-spacing:-.036em}
.t34{font-size:.65em;line-height:140%;vertical-align:super;letter-spacing:-.057em}
.t35{font-weight:bold;letter-spacing:.05em}
.t36{font-weight:bold;letter-spacing:-.064em}
.t37{letter-spacing:-.073em}
.t38{font-style:italic}
.t39{font-size:.65em;line-height:140%;vertical-align:super;letter-spacing:0}
.t40{font-style:italic;letter-spacing:-.018em}
.t41{letter-spacing:-.018em}
.t42{letter-spacing:0;text-decoration:underline}
.t43{font-size:.65em;line-height:140%;font-style:italic;vertical-align:super;letter-spacing:.014em}
.t44{letter-spacing:.13em}
.t45{font-style:italic;letter-spacing:.064em}
.t46{font-weight:bold;font-style:italic;letter-spacing:.064em}
.t47{font-size:.65em;line-height:140%;font-style:italic;vertical-align:super;letter-spacing:.029em}
.t48{font-size:.65em;line-height:140%;font-style:italic;vertical-align:super;letter-spacing:-.0071em}
.t49{letter-spacing:-.05em}
.t50{font-size:.65em;line-height:140%;vertical-align:super;letter-spacing:-.079em}
.th12{letter-spacing:.16em}
.th13{letter-spacing:.079em}
.th14{letter-spacing:.12em}