.calibre {
    display: block;
    font-family: "LiberationSerif", serif;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    margin: 1em 0
    }
.calibre2 {
    font-style: italic;
    font-weight: bold
    }
.calibre3 {
    font-style: italic
    }
.calibre4 {
    font-weight: bold
    }
.calibre5 {
    display: block
    }
.calibre6 {
    height: 190pt;
    width: 192pt
    }
.calibre7 {
    height: 370pt;
    width: 288pt
    }
.calibre8 {
    height: 355pt;
    width: 287pt
    }
.calibre9 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre10 {
    height: 278pt;
    width: 287pt
    }
.calibre11 {
    height: 430pt;
    width: 287pt
    }
.calibre12 {
    height: 418pt;
    width: 305pt
    }
.calibre13 {
    height: 373pt;
    width: 285pt
    }
.calibre14 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre15 {
    display: list-item
    }
.calibre16 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: sub
    }
.calibre17 {
    height: 424pt;
    width: 287pt
    }
.calibre18 {
    height: 369pt;
    width: 289pt
    }
.calibre19 {
    height: 369pt;
    width: 266pt
    }
.calibre20 {
    height: 446pt;
    width: 287pt
    }
.calibre21 {
    height: 238pt;
    width: 287pt
    }
.calibre22 {
    height: 411pt;
    width: 293pt
    }
