@font-face {  font-family: "TR GALLERIA";  font-weight: normal;  font-style: normal;  src: url("../Fonts/TR GALLERIA.TTF");}

@font-face {  font-family: "TR GALLERIA";  font-weight: bold;  font-style: normal;  src: url("../Fonts/TR GALLERIA.TTF");}

@font-face {  font-family: "ARIALN";  font-weight: normal;  font-style: normal;  src: url("../Fonts/ARIALN.TTF");}

@font-face {  font-family: "ARIALN";  font-weight: bold;  font-style: normal;  src: url("../Fonts/ARIALN.TTF");}

@font-face {  font-family: "cour";  font-weight: normal;  font-style: normal;  src: url("../Fonts/cour.ttf");}

@font-face {  font-family: "carbontype";  font-weight: normal;  font-style: normal;  src: url("../Fonts/carbontype.ttf");}


/* ==================== Headings ===================== */


h1
	{margin-top:5em;margin-bottom:2em;text-align:center;font-size:1.6em;font-weight:bold;color:black;letter-spacing: 3px;}

h2
	{margin-top:2em;margin-bottom:2em;text-align:center;font-size:1.3em;font-weight:bold;font-family:Times New Roman;}

h3
	{margin-top:1em;margin-bottom:1em;font-weight:normal;text-align:center;	font-size:normal;text-indent:0em;}

h4
	{margin-top:0;margin-bottom:0em;font-weight:normal;text-align:left;font-size:1.0em;text-indent:0em;text-indent:1em;font-family:"ARIALN";	}




/* ==================== Paragraflar ===================== */

p	{
	font: normal 1.0em/1.3em "Times New Roman"; 
	text-align:justify;	
	text-indent:1.5em;
	margin: 5px;
	orphans:2;widows:2;
	}

.nonindent {
  	text-indent: 0;	
	font: normal 1.0em/1.3em "Times New Roman"; 
	margin:0;	
	text-align:justify;
	orphans:2;widows:2;
	}

.pnot {
  	text-indent: 1.5; 	
	font: normal 0.85em/1.1em "Times New Roman";  
	margin: 1em 3em 1em 0em; 	
	text-align:justify;
	orphans:2;widows:2;
	}

.pma {
  	text-indent: 0; 	
	font: normal 1.0em/1.3em "Times New Roman";  
	margin: 1em 3em 1em 3em; 	
	text-align:justify;	
	font-style:italic;
	orphans:2;widows:2;
	}

.orta {
  	text-indent: 0;	
	text-align:center;
	}

.kunye	{
	text-align:left; 
	text-indent:0em;
	margin-top:0em;
	margin-left:1em;
	margin-bottom:0em;	
	font-size: 0.8em;
	}


.pi	{
	text-indent: 0; 	
	font: normal 1.0em/1.3em "Times New Roman";  
	margin: 0em 3em 5px 3em; 	
	text-align:justify;
	}

.ilkharf
	{
	text-align:justify;
	text-indent:0em;
	margin-top:0.0em;
	font-size:2.5em;
	font-weight: bold;	
	font-family:TR Galleria;	
	}

hr {
	width:70%; 
	margin-left:15%; 
	margin-bottom:1em; 
	margin-top:1em; 
	size: 10px;}

.bosluk { 
	margin-top:1em; 
}

img {
  max-height: 100%;
  max-width: 100%;
}

.yildiz
	{
	font-size:1em;
	margin-top:1em;
	margin-bottom:1em;
	text-align:center;
	}

p:first-of-type:first-line {
    color: #000000;
    font-variant: initial;
}

/* ==================== Değişik Fontlar ===================== */

.font1 {	
	font: bold 1.0em/1.3em "Times New Roman"; 
	text-align:justify;	
	text-indent:1.5em;
	margin: 5px;
 	}

.font2 { 
	font-size:medium; 
	font-family: "courier", Monospace; 
	}

.font3 { 
	font-size:small; 
	text-indent:3.0em; 
	font-family: "Times New Roman"; 
	}


/* ==================== Başlıklar ===================== */

.baslik
	{
	text-align:center;	
	font-weight:bold;	
	text-indent:0em;	
	font-size:3.0em;	
	Font-Family:"Times New Roman";
	}

.baslik2
	{
	text-align:center;	
	font-weight:bold;	
	font-size:1.5em;	
	text-indent:0em;	
	margin-top:4em;	
	margin-bottom:2em;
	}

.baslik3
	{
	text-align:center;	
	font-style:italic;	
	text-indent:1em;	
	font-size:1em; 	
	margin-top:1em;	
	margin-bottom:1em;
	}

.baslik4
	{
	font-weight:bold;	
	text-align:center;	
	font-size:1em;	
	text-indent:0em;	
	margin-top:1em;	
	margin-bottom:1em;
	}





/* ==================== Dipnotlar  ===================== */

a {text-decoration:none;color:#000000}


.footnote-line {
  display: block;
  border-bottom: 1px solid black;
  width: 35%;
  margin-top: 1.5em;
  margin-left: 2em;
  margin-bottom: 0.5em;
}


.footnote {
  font-size: 0.8em;
  line-height: 1.6;
  text-indent: 1em;
}

.dipnot
	{
	text-align:align-left;	
	text-indent:2em; 
	margin-top:1em;	
	margin-bottom:1em;	
	margin-left:2em;	
	font-family:Times New Roman;	
	page-break-after: always;	
	font-size: small;
	}

.dipnot1 {
	text-align:left;
	text-indent:2em;
	margin-top:1em;	
	margin-bottom:1em;
	page-break-before: always;	
	margin-left:2em;
	}

sub, sup { 
	font-size: 75%;	
	line-height: 0; 	
	position: relative; 	
	vertical-align: baseline;
	top: -0.5em; bottom: -0.25em; 
	}

