.calibre {
  display: block;
  font-size: 1.29167em;
  line-height: 1.2;
  padding-left: 0;
  padding-right: 0;
  margin: 0 5pt;
}
.calibre1 {
  display: block;
  margin: 1em 0;
}
.calibre2 {
  display: block;
  text-align: center;
  margin: 1em 0;
}
.calibre3 {
  font-weight: bold;
}
.calibre4 {
  display: block;
}
.calibre5 {
  display: block;
  font-size: 1.41935em;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  margin: 0.83em 0;
}
.calibre6 {
  height: 249pt;
  width: 278pt;
}
.calibre7 {
  height: 135pt;
  width: 323pt;
}
.calibre8 {
  height: 281pt;
  width: 275pt;
}
.calibre9 {
  height: 326pt;
  width: 231pt;
}
.calibre10 {
  display: block;
  text-align: right;
  margin: 1em 0;
}
.calibre11 {
  height: 186pt;
  width: 299pt;
}
.calibre12 {
  height: 187pt;
  width: 195pt;
}
.calibre13 {
  height: 186pt;
  width: 198pt;
}
.calibre14 {
  height: 174pt;
  width: 141pt;
}
.calibre15 {
  height: 281pt;
  width: 212pt;
}
.calibre16 {
  line-height: 1.2;
}
.calibre17 {
  height: 229pt;
  width: 164pt;
}
.calibre18 {
  height: 188pt;
  width: 230pt;
}
.calibre19 {
  height: 150pt;
  width: 224pt;
}
.calibre20 {
  height: 238pt;
  width: 194pt;
}
.calibre21 {
  font-size: 0.75em;
  line-height: 1.2;
  vertical-align: super;
}
.calibre22 {
  height: 165pt;
  width: 220pt;
}
.calibre23 {
  height: 287pt;
  width: 179pt;
}
.calibre24 {
  height: 130pt;
  width: 249pt;
}
.calibre25 {
  height: 174pt;
  width: 216pt;
}
.calibre26 {
  height: 185pt;
  width: 218pt;
}
.calibre27 {
  height: 206pt;
  width: 270pt;
}
.calibre28 {
  font-size: 1em;
  line-height: 1.2;
  vertical-align: super;
}
.calibre29 {
  height: 141pt;
  width: 202pt;
}
.calibre30 {
  height: 154pt;
  width: 210pt;
}
.calibre31 {
  height: 161pt;
  width: 188pt;
}
.calibre32 {
  height: 192pt;
  width: 241pt;
}
.calibre33 {
  height: 192pt;
  width: 239pt;
}
.calibre34 {
  height: 192pt;
  width: 238pt;
}
.calibre35 {
  height: 177pt;
  width: 322pt;
}
.calibre36 {
  font-size: 0.58065em;
}
.calibre37 {
  height: 203pt;
  width: 249pt;
}
.calibre38 {
  height: 192pt;
  width: 277pt;
}
.calibre39 {
  height: 191pt;
  width: 277pt;
}
.calibre40 {
  height: 235pt;
  width: 153pt;
}
.calibre41 {
  height: 130pt;
  width: 188pt;
}
.calibre42 {
  height: 293pt;
  width: 219pt;
}
.calibre43 {
  height: 239pt;
  width: 161pt;
}
.calibre44 {
  height: 202pt;
  width: 147pt;
}
.calibre45 {
  height: 153pt;
  width: 219pt;
}
.calibre46 {
  height: 194pt;
  width: 194pt;
}
.calibre47 {
  height: 222pt;
  width: 176pt;
}
.calibre48 {
  height: 232pt;
  width: 209pt;
}
.calibre49 {
  height: 139pt;
  width: 210pt;
}
.calibre50 {
  height: 196pt;
  width: 214pt;
}
.calibre51 {
  height: 237pt;
  width: 280pt;
}
.calibre52 {
  height: 275pt;
  width: 211pt;
}
.calibre53 {
  height: 159pt;
  width: 221pt;
}
.calibre54 {
  height: 229pt;
  width: 248pt;
}
.calibre55 {
  height: 196pt;
  width: 274pt;
}
.calibre56 {
  height: 143pt;
  width: 244pt;
}
.calibre57 {
  height: 174pt;
  width: 227pt;
}
.calibre58 {
  height: 204pt;
  width: 275pt;
}
.calibre59 {
  height: 195pt;
  width: 275pt;
}
.calibre60 {
  height: 490pt;
  width: 334pt;
}
.calibre61 {
  height: 487pt;
  width: 327pt;
}
.calibre62 {
  height: 464pt;
  width: 254pt;
}
.calibre63 {
  display: block;
  font-size: 1.29032em;
  font-weight: bold;
  line-height: 1.2;
  margin: 1em 0;
}
.calibre64 {
  font-weight: bold;
  line-height: 1.2;
}
.calibre65 {
  display: block;
  line-height: 1.2;
}
.calibre66 {
  height: 334pt;
  width: 233pt;
}
.calibre67 {
  height: 202pt;
  width: 153pt;
}
.calibre68 {
  height: 144pt;
  width: 141pt;
}
.font {
  font-size: 0.77419em;
}
.font1 {
  font-size: 0.77419em;
  font-style: italic;
}
.font2 {
  font-size: 1em;
  font-weight: bold;
  line-height: 1.2;
}
.font3 {
  font-size: 1.29032em;
  font-weight: bold;
  line-height: 1.2;
}
.font4 {
  font-size: 0.70455em;
  font-weight: bold;
  line-height: 1.2;
}
.font5 {
  font-size: 0.77419em;
  font-variant: small-caps;
}
.font6 {
  font-size: 0.58065em;
  font-weight: bold;
}
.font7 {
  font-size: 0.58065em;
}
.font8 {
  font-size: 0.6em;
}
.font9 {
  font-size: 0.54545em;
}
