p{font-family:Cambria,serif;font-size:100%}
.p0{text-indent:0;margin-left:0;line-height:130%;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:.55em}
.p1{text-indent:0;margin-left:0;line-height:130%;margin-right:0;text-align:center;widows:1;orphans:1;margin-top:0;margin-bottom:.55em}
.p2{text-indent:0;margin-left:0;margin-right:0;text-align:center;widows:1;orphans:1;margin-top:0;margin-bottom:0}
.p3{text-indent:0;margin-left:0;line-height:130%;margin-right:0;text-align:right;widows:1;orphans:1;margin-top:0;margin-bottom:.55em}
.p4{text-indent:0;margin-left:0;line-height:130%;margin-right:0;widows:1;orphans:1;margin-top:0;margin-bottom:.55em}
.p5{text-indent:0;margin-left:3.4em;line-height:130%;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:.55em}
.p6{text-indent:-1.9em;margin-left:1.9em;line-height:130%;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:.55em}
.p7{text-indent:-1.3em;margin-left:1.3em;margin-right:0;text-align:justify;widows:1;orphans:1;margin-top:0;margin-bottom:.27em}
h1{font-family:Cambria,serif;font-size:182%;font-weight:bold}
.h10{text-indent:0;margin-left:0;margin-right:0;text-align:center;page-break-after:avoid;widows:1;orphans:1;margin-top:0;margin-bottom:3em}
h2{font-family:Cambria,serif;font-size:145%;font-weight:bold}
.h20{text-indent:0;margin-left:0;margin-right:0;text-align:center;page-break-after:avoid;widows:1;orphans:1;margin-top:0;margin-bottom:2.6em}
h3{font-family:Cambria,serif;font-size:118%;font-weight:bold}
.h30{text-indent:0;margin-left:0;line-height:130%;margin-right:0;page-break-after:avoid;page-break-inside:avoid;widows:1;orphans:1;margin-top:2.3em;margin-bottom:.46em}
.t1{font-size:2em;line-height:130%}
.t2{font-family:"Book Antiqua",serif;font-size:.36em;line-height:130%}
.t3{font-family:"Book Antiqua",serif;font-size:.45em;line-height:100%;font-weight:bold}
.t4{font-family:"Book Antiqua",serif;font-size:2.3em;line-height:100%;font-weight:bold}
.t5{font-family:"Cambria Math",serif;font-size:1.4em;line-height:100%;font-weight:bold;font-style:italic}
.t6{font-family:"Cambria Math",serif;font-size:3.3em;line-height:100%;font-weight:bold}
.t7{font-size:1.3em;line-height:100%;font-weight:bold}
.t10{font-size:.82em;line-height:130%}
.t11{font-weight:bold}
.t12{font-style:italic}
.t13{font-size:.65em;line-height:130%;vertical-align:super}
.t14{font-size:.95em;line-height:130%}
.t15{font-size:.62em;line-height:130%;vertical-align:super}
.t16{font-weight:bold;font-style:italic}
.t17{font-size:.95em;line-height:130%;font-style:italic}
.t18{font-size:.53em;line-height:100%;vertical-align:super}
.t19{font-size:.82em;line-height:100%}
.t20{font-size:.82em;line-height:100%;font-style:italic}