<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistName</key>
	<string>John Gray</string>
	<key>book-info</key>
	<dict>
		<key>cover-image-hash</key>
		<string>AB70034837F2EFF2843922491A6113FB</string>
		<key>cover-image-path</key>
		<string>cover.jpeg</string>
		<key>package-file-hash</key>
		<string>C235407A35682E963D162315463591FF</string>
		<key>publisher-unique-id</key>
		<string>20637ae8-d1fd-42e8-9c17-2ea08ec5dcc1</string>
		<key>unique-id</key>
		<integer>-7757305719087432641</integer>
	</dict>
	<key>genre</key>
	<string>Interpersonal relations</string>
	<key>itemName</key>
	<string>Erkekler Mars'tan, kadınlar Venüs'ten: iletişimi geliştirmek ve ilişkilerinizde istediğinizi elde etmek için pratik bir yolgösterici</string>
	<key>playlistName</key>
	<string>Erkekler Mars'tan, kadınlar Venüs'ten: iletişimi geliştirmek ve ilişkilerinizde istediğinizi elde etmek için pratik bir yolgösterici</string>
	<key>releaseDate</key>
	<string>1996-07-15 00:00:00+03:00</string>
	<key>sort-artist</key>
	<string>Mutlu, Yasar</string>
	<key>sort-artist-status</key>
	<integer>3</integer>
</dict>
</plist>
