<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistName</key>
	<string>Bilinmeyen</string>
	<key>book-info</key>
	<dict>
		<key>cover-image-hash</key>
		<string>643C7F3F16D2AEE9C1FA5EA31972FD07</string>
		<key>cover-image-path</key>
		<string>cover.jpeg</string>
		<key>package-file-hash</key>
		<string>8A8CFB93D38DAD1001638E769A23F44F</string>
		<key>publisher-unique-id</key>
		<string>6837b391-92bb-442f-b345-ccda4c6ac4eb</string>
		<key>unique-id</key>
		<integer>8508194212673373382</integer>
	</dict>
	<key>itemName</key>
	<string>Mustafa-armagan-ufuklarin-sulta</string>
	<key>playlistName</key>
	<string>Mustafa-armagan-ufuklarin-sulta</string>
	<key>releaseDate</key>
	<string>2011-07-21T20:54:29+00:00</string>
</dict>
</plist>
