<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistName</key>
	<string>Ahmet Ümit</string>
	<key>book-info</key>
	<dict>
		<key>cover-image-hash</key>
		<string>EBC18073BBC0CEE08B6558658A39F8DB</string>
		<key>cover-image-path</key>
		<string>cover.jpeg</string>
		<key>package-file-hash</key>
		<string>D841F78197CACC0E6C8388D068317654</string>
		<key>publisher-unique-id</key>
		<string>5450d3e8-87bf-4d74-a22f-0a801319c2eb</string>
		<key>unique-id</key>
		<integer>5950002509630722384</integer>
	</dict>
	<key>itemName</key>
	<string>Ninattanın Bileziği</string>
	<key>playlistName</key>
	<string>Ninattanın Bileziği</string>
	<key>releaseDate</key>
	<string>2011-03-17T19:20:41+00:00</string>
	<key>sort-artist</key>
	<string>Ümit, Ahmet</string>
	<key>sort-artist-status</key>
	<integer>3</integer>
</dict>
</plist>
