p{text-indent:0;margin-left:0;line-height:120%;margin-right:0;text-align:justify;margin-top:0;margin-bottom:.6em;font-family:Cambria,serif;font-size:91%}
.p0{text-indent:0;line-height:100%;text-align:center;margin-bottom:0}
.p1{text-indent:0;line-height:100%;margin-bottom:0}
.p2{text-indent:0;text-align:center}
.p3{text-indent:0;line-height:115%;text-align:center;margin-bottom:1em}
.p4{text-indent:0;line-height:115%;text-align:left;margin-bottom:1em}
.p5{text-indent:0;text-align:center;margin-bottom:0}
.p6{text-indent:0;margin-bottom:0}
.p7{text-indent:0;line-height:115%;text-align:left;page-break-after:avoid;margin-top:2.4em;margin-bottom:0}
.p8{text-indent:0;line-height:100%;text-align:center}
.p10{text-indent:0;text-align:right}
.p11{text-indent:0;line-height:115%;margin-right:1.4em;margin-bottom:0}
.p12{text-indent:-3.5em;margin-left:3.5em}
.p13{text-indent:-.99em;margin-left:.99em;line-height:100%;margin-bottom:.2em}
.p14{text-indent:0}
h1{text-indent:0;margin-left:0;margin-right:0;page-break-after:avoid;margin-top:.6em;margin-bottom:.6em;font-family:Calibri,sans-serif;font-size:182%;font-weight:normal}
.h11{text-indent:0}
.t1{font-family:BookAntiqua-Bold;font-size:2.6em;line-height:100%;font-weight:bold}
.t2{font-family:"Bookman Old Style",serif;font-size:4.8em;line-height:100%;font-weight:bold}
.t3{font-family:"Bookman Old Style",serif;font-size:3.6em;line-height:100%;font-weight:bold}
.t4{font-size:2em;line-height:120%;font-weight:bold}
.t5{font-size:4.8em;line-height:115%}
.t6{font-size:2em;line-height:115%;font-weight:bold}
.t7{font-family:Sylfaen,Bold;font-size:2em;line-height:115%;font-weight:bold}
.t8{font-size:.9em;line-height:120%;font-weight:bold}
.t9{font-size:.9em;line-height:120%}
.t10{font-size:.95em;line-height:120%}
.t12{font-family:Calibri,sans-serif;font-size:1.4em;line-height:115%;color:#365f91}
.t14{font-family:Calibri,sans-serif}
.t16{font-size:1.6em;line-height:115%;font-weight:bold}
.t17{font-size:.65em;line-height:120%;vertical-align:super}
.t18{font-style:italic}
.t19{font-size:.65em;line-height:120%;font-style:italic;vertical-align:super}
.t20{font-weight:bold}
.t21{letter-spacing:-.01em}
.t22{font-style:italic;letter-spacing:-.01em}
.t23{font-style:italic}
.t24{letter-spacing:-.02em}
.t25{font-size:.65em;line-height:120%;vertical-align:super;letter-spacing:-.015em}
.t26{font-style:italic;letter-spacing:-.02em}
.t27{font-size:.65em;line-height:120%;font-style:italic;vertical-align:super;letter-spacing:-.015em}
.t28{font-size:2.5em;line-height:120%;color:white;background:black}
.t29{font-family:Calibri,sans-serif;font-size:2.5em;line-height:120%;color:white;background:black}
.t30{font-family:Calibri,sans-serif;font-size:2.5em;line-height:120%;background:black}
.t31{font-family:Calibri,sans-serif;font-size:2.5em;line-height:120%;color:white}
.t32{font-family:"Adobe Arabic",serif}
.t33{font-size:.52em;line-height:100%;vertical-align:super}
.t34{font-size:.8em;line-height:100%}
.t35{font-size:.8em;line-height:100%;letter-spacing:-.013em}
.t36{font-size:.8em;line-height:100%;letter-spacing:-.025em}
.t37{font-size:.8em;line-height:100%;font-style:italic}
.th12{font-size:.65em;line-height:100%;vertical-align:super}