.MsoHyperlink {
    color: blue;
    text-decoration: underline
    }
.MsoNormal {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center
    }
.MsoToc {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
    tab-stops: right dotted 453.1pt;
    text-align: center
    }
.WordSection {
    border-bottom: 0;
    border-top: 0;
    display: block;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
    page: WordSection1;
    text-indent: 1.5em
    }
.WordSection1 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
    page: WordSection2;
    text-indent: 1.5em
    }
.WordSection2 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
    page: WordSection3;
    text-indent: 1.5em
    }
.calibre {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 5.65pt
    }
.calibre10 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    padding-bottom: 0.5em;
    padding-top: 0;
    text-align: justify;
    text-indent: 1em
    }
.calibre11 {
    font-size: 1.66667em;
    line-height: 1.2
    }
.calibre12 {
    font-size: 0.83333em
    }
.calibre13 {
    text-decoration: underline
    }
.calibre14 {
    display: block;
    line-height: 1.2;
    page-break-before: auto
    }
.calibre15 {
    }
.calibre16 {
    color: blue;
    font-size: 1em
    }
.calibre17 {
    display: block
    }
.calibre18 {
    height: 115px;
    width: 586px
    }
.calibre19 {
    font-size: 0.83333em
    }
.calibre2 {
    font-weight: bold
    }
.calibre20 {
    font-size: 1.29167em;
    line-height: 1.2
    }
.calibre21 {
    font-size: 2em;
    line-height: 1.2
    }
.calibre22 {
    display: block
    }
.calibre23 {
    height: 739px;
    line-height: 1.2;
    width: 509px
    }
.calibre3 {
    font-size: 1.29167em;
    line-height: 1.2
    }
.calibre4 {
    display: block;
    line-height: 1.2
    }
.calibre5 {
    }
.calibre6 {
    height: 293px;
    width: 293px
    }
.calibre7 {
    font-size: 1.29167em;
    line-height: 1.2
    }
.calibre8 {
    line-height: 1.2
    }
.calibre9 {
    font-style: italic
    }
.font {
    }
.font1 {
    }
.font2 {
    }
.pcalibre:visited {
    color: purple;
    text-decoration: underline
    }
.pcalibre1:link {
    color: blue;
    text-decoration: underline
    }
