p{text-indent:0;margin-left:0;line-height:130%;margin-right:0;text-align:justify;margin-top:0;margin-bottom:.55em;font-family:Cambria,serif;font-size:100%}
.p1{text-indent:0;text-align:center}
.p2{text-indent:0;line-height:100%;text-align:center;margin-bottom:0}
.p3{text-indent:0;text-align:center;margin-bottom:0}
.p4{text-indent:0;line-height:120%}
.p5{text-indent:0;text-align:right}
.p6{text-indent:0;margin-left:2.6em}
.p7{text-indent:0;text-align:left}
.p8{text-indent:-3.2em;margin-left:3.2em}
.p9{text-indent:-1.3em;margin-left:1.3em;line-height:100%;margin-bottom:.27em}
.p10{text-indent:0;margin-left:1.3em;line-height:100%;margin-bottom:.27em}
.p11{text-indent:-1.3em;margin-left:1.3em;line-height:100%;text-align:center;margin-bottom:.27em}
.p12{text-indent:0}
h1{text-indent:0;margin-left:0;margin-right:0;text-align:center;page-break-after:avoid;margin-top:0;margin-bottom:3.8em;font-family:Cambria,serif;font-size:145%;font-weight:bold}
.h11{text-indent:0}
h3{text-indent:0;margin-left:0;line-height:130%;margin-right:0;text-align:center;page-break-after:avoid;margin-top:1.5em;margin-bottom:1.5em;font-family:Cambria,serif;font-size:109%;font-weight:bold;font-style:italic}
.h31{text-indent:0}
.t1{font-size:2em;line-height:130%}
.t2{font-family:"Book Antiqua",serif;font-size:.36em;line-height:130%}
.t3{font-family:"Book Antiqua",serif;font-size:.45em;line-height:100%;font-weight:bold}
.t4{font-family:"Book Antiqua",serif;font-size:1.8em;line-height:100%;font-weight:bold}
.t5{font-family:"Cambria Math",serif;font-size:2.7em;line-height:100%;font-weight:bold;font-style:italic}
.t6{font-family:"Cambria Math",serif;font-size:4.5em;line-height:100%;font-weight:bold}
.t7{font-family:"Cambria Math",serif;font-size:1.8em;line-height:100%;font-weight:bold}
.t8{font-family:"Cambria Math",serif;font-size:1.5em;line-height:100%}
.t9{font-family:"Cambria Math",serif;font-size:1.5em;line-height:100%;font-weight:bold}
.t10{font-size:1.2em;line-height:130%}
.t11{font-family:"Book Antiqua",serif;font-size:1.1em;line-height:130%}
.t13{font-weight:bold}
.t15{font-style:italic}
.t16{color:#0066cc;text-decoration:underline}
.t17{font-style:italic}
.t18{font-weight:bold;font-style:italic}
.t19{font-size:.95em;line-height:130%}
.t20{font-weight:bold}
.t21{font-size:.95em;line-height:130%;font-style:italic}
.t22{font-size:.83em;line-height:130%;font-weight:bold;vertical-align:super}
.t23{text-decoration:underline}
.t24{font-size:.83em;line-height:130%;font-weight:bold;font-style:italic;vertical-align:super}
.t25{font-size:.83em;line-height:100%;font-weight:bold;vertical-align:super}
.t26{font-size:.82em;line-height:100%}
.t27{font-size:.82em;line-height:100%;font-style:italic}
.t28{font-size:.82em;line-height:100%;letter-spacing:-.022em}
.t29{font-size:.82em;line-height:100%;letter-spacing:-.011em}