p{text-indent:1em;margin-left:0;margin-right:0;text-align:justify;margin-top:.5em;margin-bottom:.5em;}
.p0{text-indent:1.7em;line-height:130%;text-align:center;margin-top:0;margin-bottom:0}
.p1{text-indent:1.7em;line-height:130%;text-align:center}
.p3{text-indent:1.7em;text-align:center}
.p4{text-indent:0}
h1{text-indent:0;margin-left:0;margin-right:0;text-align:center;page-break-after:avoid;margin-top:3em;margin-bottom:3em;font-size:127%;font-weight:bold}
.h11{text-indent:0}
.t1{font-size:.92em;line-height:130%}
.t3{font-size:1.3em;line-height:110%;font-weight:bold}