
	body{
font-family: LiberationSerif;  
           }

@page {
	margin : 0.5em;
}
tbody, thead, tfoot, tr, td, th {
	border-style : inherit;
	border-width : inherit;
	border-color : inherit;
}
.leftFloat {
	float : left;
}
.rightFloat {
	float : right;
}
span.bold {
	font-weight : bold;
	font-style : normal;
}
span.dipnotno {
	font-family :LiberationSerif, serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.58em;
	text-decoration : none;
	font-variant : normal;
	vertical-align : super;
	color : #000000;
	writing-mode : horizontal-tb;
	line-height : 1;
}
p.e-paragraf {
	font-family :LiberationSerif, serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.79em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.47;
	text-align : justify;
	color : #000000;
	text-indent : 14px;
	margin : 3px 0px 0px 0px;
}
p.e-jenerikbaslik- {
	font-family :LiberationSerif, serif;
	font-weight : bold;
	font-style : normal;
	font-size : 1.08em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.69;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 40px 0px 0px 0px;
}
p.e-1-baslik {
	font-family :LiberationSerif, serif;
	font-weight : bold;
	font-style : normal;
	font-size : 0.92em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.91;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 28px 0px 0px 0px;
}
p.e-jenerik {
	font-family :LiberationSerif, serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.71em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.29;
	text-align : left;
	color : #000000;
	text-indent : 0px;
	margin : 3px 0px 0px 0px;
}
p.e-perde {
	font-family :LiberationSerif, serif;
	font-weight : bold;
	font-style : normal;
	font-size : 0.92em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1.64;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 28px 0px;
}
p.e-yildiz {
	font-family :LiberationSerif, serif;
	font-weight : normal;
	font-style : normal;
	font-size : 1.17em;
	text-decoration : none;
	font-variant : normal;
	line-height : 1;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 9px 0px;
}
p.e-parcala {
font-family :LiberationSerif, serif;
	font-weight : normal;
	font-style : normal;
	font-size : 0.01em;
	text-decoration : none;
	font-variant : normal;
	line-height : 145;
	text-align : center;
	color : #000000;
	text-indent : 0px;
	margin : 28px 0px;
}
p.para-style-override-1 {
	text-align : left;
	margin-top : 0em;
	margin-bottom : 0em;
	page-break-after : always;
}
p.para-style-override-2 {
	text-align : center;
	margin-top : 0em;
	margin-bottom : 0em;
	page-break-after : always;
}
div.Basic-Text-Frame {
}
